[2015-09-22 16:53] ScottDowne commented on #333
@valianttry @adamlofting @lovegushwa

Good catch on the alignment, I'll fix.

Yeah, the current background is the default.

The default amount being raised to 20 is a good point. I'll make the default selected configurable. Right now the amounts are configurable, but the default is always the left most amount.

What was the decision thought to adding a fourth amount button?

[2015-09-22 17:34] ScottDowne commented on #333
@lovegushwa The alignment issue is due to the amounts being 21px and the donate now being 20px.

What happens is the browser centers these in the spaces, which depending if it's retina or not, we get different results. For me, they are aligned. I suggest we make them the same size, thus the browser is going to center them the same.

[2015-09-22 18:01] ScottDowne commented on #333
K, updated. The button alignment should be fixed, and I set it to preselect 10 eur instead of 20, but we can configure it (or even run tests at some point).

[2015-09-22 20:33] lovegushwa commented on #333
Hey @ScottDowne please see a link to the svg and button hex values.

SVG:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlveGxjR1FmeGVKaHc/view?usp=sharing

Button gradient color values (darker color is hover):

![snippet-button-colors](https://cloud.githubusercontent.com/assets/12228435/10030643/a33603bc-612d-11e5-939d-980ec3d04f07.jpg)

I think @sabrinang suggestion of moving the check

[2015-09-22 20:34] ScottDowne opened #431 "Snippet string that may need to be translated"
Been working on http://scottdowne.github.io/eoy-snippets/2015-snippet/

and wanted to insert the german text, and I cannot find it. Did it get missed?

I also wanted to double check that it's the correct up to date copy?

[2015-09-22 20:35] ScottDowne commented on #431
@valianttry @adamlofting @edrushka thoughts? Am I missing something or can we get this translated?

[2015-09-22 22:42] valianttry commented on #430
George Roter and Rosana Ardila in the Participation Team love the idea! Also note Rosana's additional thoughts on sharing more about individual contributors, too:

I'm in total support! Great idea.

G
On Sep 22, 2015 3:57 AM, "Rosana Ardila" <rardila@mozilla.com> wrote:

    Hi Andrea,

    this is a great idea, I'm sure a lot of people would love this! Production costs are dramatically down since

[2015-09-22 23:09] lovegushwa commented on #333
@adamlofting @ScottDowne @valianttry
Hi folks, here are some options for the placement of the opt out button. Top right makes the most UX sense. However placing the button further down the page (next to or under the donate button) gives the user a bit more of a chance to soak in the copy and may make the choice to donate or opt out feel more deliberate.

What should be do?

1.
![screen shot 2015-0

[2015-09-23 00:08] ScottDowne commented on #333
I kinda like it floating in the outside of the main container, like it is in the third comp, but maybe floating next to the main text, but not inside. So a mix of 1 and 3?

[2015-09-23 14:48] jbuck commented on #61
Yep

[2015-09-23 14:49] adamlofting commented on #397
Can we setup a couple of currencies in the demo strip account as a proof of concept before the real account is live?

[2015-09-23 15:14] #414 closed

[2015-09-23 17:25] ScottDowne commented on #431
The strings that need to be translated are:

`<b>Hello there:</b> We know you love Firefox, but did you know a non-profit called Mozilla built Firefox? Thanks to donations, Mozilla does a lot more than build this awesome browser. We teach people to code, fight for online privacy, and protect this amazing thing called the Web for future generations. Just a few times a year Mozilla asks for donation

[2015-09-23 17:35] alicoding commented on #431
Please also note that when I got the final document for copy that needs to be translated for the snippet this was the text:

[code]

[2015-09-23 17:37] ScottDowne commented on #431
Yeah, that's another point on process, at some point the english was changed, but nothing went into motion to get the translated text changed.

@alicoding Think if we just drop this text into donate.mozilla.org pontoon can have it translated in a few days?

[2015-09-23 17:39] alicoding commented on #431
@ScottDowne we might or we might not, but either way we need to update that on Pontoon/our repo anyway. These updated strings can't live on a design page if it will ever goes to production.

[2015-09-23 18:56] valianttry commented on #348
Contract for Kontextor is underway in this Bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1205044

[2015-09-23 18:57] valianttry commented on #343
Creative Brief draft is here:
https://docs.google.com/presentation/d/1Tpkf6CUX9xcoPU-m-5otdJTvrU7PeHX9JJCU8raJwFw/edit#slide=id.ga39cad493_0_10

[2015-09-23 18:59] #343 closed

[2015-09-23 19:33] ScottDowne commented on #362
Hm, thinking about where to put this...

Right now we have this: https://wiki.mozilla.org/Donate#How_do_I_cancel_or_change_my_recurring_donation.3F

But, it's in English, and we need special instructions just for people that donated via this campaign.

I think maybe this problem is solved via an email we send to Stripe recurring donations saying email whatever@mozilla.org to change or cancel your

[2015-09-23 21:39] ScottDowne commented on #362
We need to get the receipt that is sent to have cancel instructions in the proper locale.

[2015-09-23 21:48] lovegushwa opened #436 "Build revised donation form UI"
@ScottDowne @adamlofting @valianttry @edrushka
Hi Scott, can you  please build out the new donation form UI, detailed UI for each page including markup coming shortly. I will create a separate ticket for the thank you page (2nd email opt in and social share)

![screen shot 2015-09-23 at 2 43 54 pm](https://cloud.githubusercontent.com/assets/12228435/10059734/913ae022-6201-11e5-9743-675ac9aaf8b0.pn

[2015-09-23 22:41] ScottDowne commented on #362
Sending a receipt on each billing period with instructions on who to email to cancel a subscription would be pretty good.

I pinged in freenode#stripe asking two questions.

1. Are receipts English only.
2. And are they sent on each billing period.

Answers are:

1. English only.
2. Each billing period.

English only is a huge concern, but they do have a webhook event for charge.succeeded which al

[2015-09-23 22:44] ScottDowne opened #437 "Localize FAQs"
We link to https://wiki.mozilla.org/Donate which is in all English in the German form.

I don't really think this is super great. Are we aware and OK with this? Do we have options?

[2015-09-23 23:14] ScottDowne commented on #375
Is this a P1?

I question this because snippet is only for desktop, right?

[2015-09-23 23:15] ScottDowne commented on #360
It can, and it's easy, but it's in English only...

[2015-09-23 23:18] ScottDowne commented on #272
I do understand the new opt out, and have a patch.

I think moving conversation to my pull request and closing this to reduce noise is helpful for me.

[2015-09-23 23:18] #272 closed

[2015-09-23 23:27] ScottDowne commented on #228
I think we can close this now. Snippet is designed and developed like this: http://scottdowne.github.io/eoy-snippets/2015-snippet/

No icon needed.

[2015-09-23 23:27] #228 closed

[2015-09-23 23:34] alicoding commented on #375
@ScottDowne Actually there is a snippet for mobile too, but I don't know if we are getting the snippet enable for that one or not, and if we do then we have another problem I think? Copy is not ready for that? OR we have them in the doc?

[2015-09-23 23:55] ScottDowne commented on #397
I setup a eur and usd plan on the test stripe account. Then made a pull request.

https://github.com/mozilla/donate.mozilla.org/pull/438

[2015-09-23 23:57] ScottDowne commented on #397
It errors now for a currency that doesn't have a plan(test cad). A bit brittle this way though, but not sure if we have another option.

Just need to make sure we add a plan for each currency to our main stripe account once we have it.

[2015-09-24 00:05] lovegushwa commented on #436
@cassiemc @vazquez
R? ... I folded in today's critique feedback and Germaniaifyd the text. In addition you will see a super subtle light color in the fields that help make them pop a bit (rather then being filled with white.)

Once these are good to go i'll do markup for @ScottDowne hopefully early tomorrow morning.

One thing to note, on slide 3, we don't have a translation for "We want to includ

[2015-09-24 00:13] lovegushwa commented on #436
I just noticed on my mac screen I might need to add a bit more color inside the fields.

[2015-09-24 01:25] cassiemc commented on #436
R+. The only things I'd consider are possibly making the "Weiter" button about 30% wider on the first and second screens, because with the handwritten type it seems a bit lower in the hierarchy. But it's not a deal-breaker. Last consideration might be the make the icons in the fields more subtle, but again not a deal-breaker. The color of the fields imo is fine, nice and subtle.

[2015-09-24 02:51] #304 closed

[2015-09-24 11:50] adamlofting opened #439 "Stripe Error messages not fed back to the user"
Walking through my first QA scenario, I was unable to complete a donation on staging.

* $20 (first button selected)
* Credit Card
* Using Stripe test creds
* Final screen appears to pass validation

<img width="477" alt="screenshot 2015-09-24 12 47 33" src="https://cloud.githubusercontent.com/assets/1901816/10072572/a969b2ae-62ba-11e5-9bf3-7de4066c56c8.png">

[2015-09-24 11:56] adamlofting commented on #439
Investigating further, I had set the CC expiry date to 1/15.

In this case I suspect we are receiving an error message from Stripe, but we need to surface that message, or convert it into something meaningful for the user. E.g. 'Your payment was not accepted, please double check your card details and try again'.

Is there a known list of Stripe error messages we should be trying to handle in this

[2015-09-24 12:03] adamlofting opened #440 "We should only show decimal places, if they are non-zero"
<img width="490" alt="screenshot 2015-09-24 13 00 18" src="https://cloud.githubusercontent.com/assets/1901816/10072808/69231de6-62bc-11e5-93f6-e1693c8c1a6a.png">

In the 'amount' that we show throughout the flow (2 examples highlighted in the screenshot) we should only include the decimal places if the user has explicitly entered a donation amount with decimals via the 'other amount' box.

Showing

[2015-09-24 12:05] adamlofting commented on #439
Same issue occurs if a donation is above our maximum amount.

[2015-09-24 12:11] adamlofting commented on #439
- https://stripe.com/docs/testing

[2015-09-24 12:49] adamlofting opened #441 "Issue submitting one-page form"
After submitting the `/one-page/` form, the word 'Forbidden' briefly appears on screen in the top-left, then dissapears.

The form then fails to open the Stripe checkout flow.

<img width="951" alt="screenshot 2015-09-24 13 47 02" src="https://cloud.githubusercontent.com/assets/1901816/10073714/cdfe4d98-62c2-11e5-84ab-f351e54bdf26.png">

[2015-09-24 13:04] adamlofting opened #442 "Page isn't visible to Facebook"
Is there somthing about the way we rended this page that would prevent other sites / bots from being able to scrape the content?

Using this example of the [Facebook Linter](https://developers.facebook.com/tools/debug/og/object/), they can't pick up basic things like the HTML title tag.

<img width="978" alt="screenshot 2015-09-24 14 03 06" src="https://cloud.githubusercontent.com/assets/1901816/1

[2015-09-24 13:06] adamlofting opened #443 "Localize HTML title tag"
For example, on the DE version of the form, we should localize the current title tag text `Give to Mozilla Today`

<img width="867" alt="screenshot 2015-09-24 14 05 23" src="https://cloud.githubusercontent.com/assets/1901816/10074054/5bade994-62c5-11e5-9a6b-443cd4d7615e.png">

[2015-09-24 15:00] ScottDowne commented on #360
We're going with English for now as a P1 solution.

Later we'll listen to Stripe's webhook and send out our own localized email with info on how to update a subscription..

[2015-09-24 17:38] adamlofting commented on #431
Screenshot of best performing DE snippet text from last year is included in this blog post: https://fundraising.mozilla.org/when-testing-meets-localization/

[2015-09-24 17:39] jbuck commented on #431
These are the snippet translations from last year:

;Mozilla, the maker of Firefox, is a non-profit and we rely on donations. If everyone reading this gave $3, we would only have to fundraise 1 day a year. Donate today.
Mozilla, die Entwickler von Firefox, sind gemeinnützig und auf Spenden angewiesen. Wenn jeder, der das liest, 3&nbsp;$ spenden würde, müssten wir nur an einem Tag pro Jahr Spenden

[2015-09-24 18:04] ScottDowne commented on #431
The german copy in the blog post doesn't match any of the copy jbuck found.

[2015-09-24 18:20] ScottDowne commented on #360
I set this up in the test account, but it only actually does anything for real Stripe accounts, so this is blocked but I have a good idea how to do this.

The setting works for both recurring (each billing) and one time.

Keeping this open to test once we have a real Stripe account.

[2015-09-24 18:21] lovegushwa commented on #431
@ScottDowne @jbuck here is the copy from the blog post.

Mozilla, die gemeinnützige Organisation hinter Firefox, ist auf Spenden von Leuten wie Ihnen angewiesen. Falls jade Person, die das liest, ein paar Dollar spendet, so wäre unsere Finanzierung für das nächste Jahr gesichert.

Copy highlight starts at "Falls jade Person, ..."

[2015-09-24 18:32] valianttry commented on #431
Except it says "dollar" and should say "euro" -- we need someone to confirm the translation once the currency name is changed.

[2015-09-24 18:34] ScottDowne commented on #394
@lovegushwa Is changing the font size dynamically like that a common solution? I feel like it's solving the symptom for now, but not really solving the issue which is our buttons are rigid and don't really work all that well with different values.

[2015-09-24 18:37] valianttry commented on #216
Confirmed: Go Live is likely October 4 at earliest, possibly October 5.

The First snippet will be the highest performing from 2014 campaign in order to collect ~1000 donations and establish a baseline of data.

[2015-09-24 18:39] #332 closed

[2015-09-24 20:03] lovegushwa commented on #333
@ScottDowne @valianttry

Hi all, here is the final DE snippet. The copy is taken from @adamlofting post on the last years best performing DE text. My preference would be a bit longer paragraph and "Make my donation monthly" ranther than "Monthly." I think we should go with an opt out on the top right, aligned to the right edge of the search button.

![final-german-snippet](https://cloud.githubuser

[2015-09-24 20:10] lovegushwa commented on #436
@cassiemc thank you! ... I did make the icons a bit lighter (they were black) but I will punch down a bit more. Good call on the "Weiter" button :)

[2015-09-24 20:11] lovegushwa commented on #431
@valianttry ... got it, will update the design.

[2015-09-24 20:24] lovegushwa commented on #431
@valianttry @ScottDowne @jbuck
Please see the updated DE snippet. https://github.com/mozilla/donate.mozilla.org/issues/333 @valianttry can show this to MOCO. The translation needs to be confirmed, it's lifted exactly from last years snippet (besides changing dollar to euro).

[2015-09-24 20:33] alicoding commented on #442
I just tested my local site using ngrok to tunnel it and Facebook able to scrape the info with no problem. I don't know what's wrong with our staging env, but will investigate further.

[2015-09-24 20:36] lovegushwa commented on #430
@valianttry I love this idea as well. I think we could start by making a few of our own (I can make one with the design team, I'm going to be hanging out with most of them in Vancover next week.) ... I can also check with @LauraReynal @secretrobotron about making a few with community in Indonesia if they have time. We should talk about this tomorrow when we discus the social share design things.

[2015-09-24 22:36] lovegushwa commented on #168
@valianttry the last image show DE copy.

1,3,5 are currently being used on twitter ... https://twitter.com/mozilla?ref_src=twsrc^google|twcamp^serp|twgr^author
5 had the most one time retweets

1
![eoy_facebook_01](https://cloud.githubusercontent.com/assets/12228435/10088516/44ce32a0-62d0-11e5-80a0-feeb714d2287.jpg)

2
![eoy_facebook_02](https://cloud.githubusercontent.com/assets/12228435/1008852

[2015-09-25 14:44] alicoding commented on #391
Can you link me to the page where IE users donated from the old form? I checked all of our old forms and it is not usable/can't donate at all.

[2015-09-25 14:48] alicoding commented on #375
@valianttry can you confirm if we are going to get any mobile snippet at all?

[2015-09-25 15:09] ScottDowne commented on #440
So, I'm actually thinking we close this.

My reasoning is both Stripe and Paypal display the .00

We could test this, but, kinda feel like doing what Paypal and Stripe do makes this a very very low priority even as a test.

[2015-09-25 15:22] ScottDowne opened #448 "Maximum amount"
Stripe fails on an amount more than 999,999.00 which is probably way to high for us anyway. We display a generic error in this case. Stripe doesn't give an error code for this, just a generic error with a error message.

We should handle this better, with a maximum amount, translated.

Our old form would just reject this as fraud via Kount, but it would seemingly go through on the webpage.

- [ ]

[2015-09-25 15:25] ScottDowne opened #449 "Stripe cvc and zip code validation"
There is an option in Stripe to decline or accept failed cvc or zip codes.

It is optional, so we can decide we don't need these inputs or decide we do.

I see them increasing our fraud but also our conversion rate, so need to test what works best.

[2015-09-25 15:42] ScottDowne commented on #449
In here: https://support.stripe.com/questions/avoiding-fraud-and-disputes

Stripe mentions "Edit account settings to automatically decline charges that fail either AVS or CVC verification. However, even good charges may fail one or more of these checks—investigate which transactions will be blocked before turning on these settings. (These settings aren’t enabled by default and you’ll need to turn

[2015-09-25 15:49] ScottDowne commented on #40
Also probably good info to track in this bug: https://support.stripe.com/questions/how-does-stripe-handle-chargebacks

[2015-09-25 15:52] ScottDowne opened #451 "Save a recurring user's locale in the matadata"
This is probably good to have from the start so we know what language to communicate with them in.

[2015-09-25 16:37] jbuck commented on #449
We already capture the CVC and zip code in our form, so wouldn't it be best
to turn on those checks?

On Fri, Sep 25, 2015 at 11:42 AM, ScottDowne <notifications@github.com>
wrote:

[2015-09-25 16:56] ScottDowne commented on #449
@jbuck that's the likely option (we need the stripe account to do this) that's the easy first step.

I think the next step would be to actually question (and test) if we need one or both?

[2015-09-25 17:35] #443 closed

[2015-09-25 17:45] alicoding commented on #437
I guess the bigger question here would be can we make/translate it in different languages? Is there any legal related stuff, USA only content?

[2015-09-25 18:03] jbuck commented on #437
I think we should add the FAQ to donate.mozilla.org so that we can translate it. Thoughts?

[2015-09-25 18:47] #451 closed

[2015-09-25 18:52] alicoding commented on #437
@jbuck I remember a discussion with @edrushka and @valianttry about adding a FAQ, but can't remember exactly why this is not going to happen for German's campaign, but we were thinking of adding it for sure.

[2015-09-25 19:30] #441 closed

[2015-09-25 19:53] jbuck commented on #437
@alicoding doesn't mean we still shouldn't do it!

[2015-09-25 20:21] alicoding commented on #437
@jbuck no, I totally agree on doing it, but I just can't remember why we agreed on not doing it on this campaign.

[2015-09-25 20:52] lovegushwa commented on #168
Yay! This will work for the DE campaign. Calling this closed.

[2015-09-25 20:52] #168 closed

[2015-09-28 11:01] adamlofting commented on #440
It might seem small, but this is one of the places where the psychology gets really interesting.

* http://www.nickkolenda.com/psychological-pricing-strategies/

And there's a reason fundraising appeals typically avoid the decimal, unless it's needed for precision:

* http://www.oxfam.org.uk/donate
* http://donate.unhcr.org/gbr/general/

By the time the user gets to Paypal flow, they have made the

[2015-09-28 11:14] adamlofting commented on #391
I'm not sure who managed the build of those pages (and what level of browser support we offered) but here's the GA data showing users of IE who made donations and their landing pages:

<img width="1048" alt="screenshot 2015-09-28 12 13 53" src="https://cloud.githubusercontent.com/assets/1901816/10134021/687cf33c-65da-11e5-9423-c330b8afd145.png">

[2015-09-28 11:19] alicoding commented on #391
Yeah, I've tested it on the old form and IE8 was totally broken and now we have better support for IE on this new form.. IE9 - Edge

[2015-09-28 11:22] alicoding commented on #391
I'm closing this issue unless we want IE8 fix as well.

[2015-09-28 11:36] adamlofting commented on #391
We do want to solve for IE8, and if we have to we can redirect these users to a simple one-page form. We can take it out of this milestone though.

[2015-09-28 11:44] alicoding commented on #391
I got IE8 to the point where it also works with react router but there is a
problem that I couldn't figure out since it doesn't respond to any of the
click or sometimes it will throw an error.

The least I can do here is to create a new page with one field and a button
to donate through PayPal to make it really work for ie8. One-page
definitely doesn't work here.

What do you think?
On Sep 28, 201

[2015-09-28 14:25] ScottDowne commented on #397
We still need to setup the plans on the new stripe account, so keeping this open I guess, but back end wise something landed.

We assume for now the plans are named after each currency, so "cad", "usd", "twd" are plan names. It's not hard to update this to have better names and I'm not picky about the names of the plans.

[2015-09-28 14:38] jbuck commented on #82
https://wiki.mozilla.org/WebAppSec/Secure_Coding_Guidelines

[2015-09-28 14:45] #439 closed

[2015-09-28 14:45] ScottDowne commented on #439
Fixed in: https://github.com/mozilla/donate.mozilla.org/commit/4e82eda9a5918f3b1d74edd7a734714694e2b4a1

[2015-09-28 14:47] jbuck commented on #431
https://pontoon.mozilla.org/de/fundraising/Snippets/

[2015-09-28 14:55] alicoding commented on #375
We should consider switching from using the external api to npm package of this polyfill service instead.

[2015-09-28 14:59] jbuck commented on #40
Relevant: https://github.com/mozilla/donate.mozilla.org/issues/449

[2015-09-28 21:04] valianttry commented on #348
Contract countersigned -- confirmed.

[2015-09-28 21:04] #348 closed

[2015-09-28 21:12] valianttry commented on #431
Looks like the first (shorter) snippet copy was translated. Yay!

in the 2nd paragraph -- there is still "dollar" vs. "euro". @alicoding and/or @jbuck can you make sure "euro" replaces "Dollar" in the translation request?:

![pontoon](https://cloud.githubusercontent.com/assets/9830371/10148875/eb06b40e-65ea-11e5-906b-2282ca6f1068.png)

[2015-09-28 21:16] valianttry commented on #375
@alicoding Firefox for Android = <500 donations for all of 2014 campaign. DE is no doubt tiny % -- Please focus on other P1s and bump this to P2 at highest prioritization.

[2015-09-28 21:20] valianttry commented on #360
@ScottDowne we actually do have DE translated version of this email auto-reply. Is there a reason we won't send an automated receipt in DE for donors who give through the DE form? See Pontoon here: https://pontoon.mozilla.org/de/fundraising/Emails/

[2015-09-28 21:25] alicoding commented on #431
Actually we have a longer one translated by Grigorios this morning as well
but just waiting to be committed to the repo and we can use longer version
instead if we want.
On Sep 28, 2015 5:14 PM, "Andrea Wood" <notifications@github.com> wrote:

[2015-09-28 21:25] valianttry commented on #239
@jbuck is there a next step on this? Moved to next milestone.

cc @adamlofting

[2015-09-28 21:26] valianttry commented on #146
@adamlofting how is this going? Anything I can do to be helpful with legal stuff?

[2015-09-28 21:29] valianttry commented on #82
@ScottDowne @jbuck can you pick a date to aim for first pass review (or if that's already passed, can you note it here)? This is something we can't forget :ribbon:

[2015-09-28 21:39] jbuck commented on #82
@valianttry We'll do it tomorrow! (Sept 29)

[2015-09-28 21:39] valianttry commented on #449
Thought our friend @LRSaunders might have thoughts!

[2015-09-28 21:43] LRSaunders commented on #449
"There is an option in Stripe to decline or accept failed cvc or zip codes." - You should definitely turn on that option. That said ensure you are tracking the decline rate against your normal decline rate. It the rate is noticeably higher, you will need to adjust.
I would also only ask for CVV and zip instead of the entire address (not sure what you decided to do there)

[2015-09-28 21:46] valianttry commented on #437
@jbuck  and @alicoding The reason we did not P1 this is because it is localized to EN US audience right now, and it has a lot of legal / policy language that would need to be reviewed, vetted for a DE audience, and edits made (some of which might need legal review and approval). Also much of the content relates to BSD UI -- so that would also need to be reviewed, updated. In short, this is agreed

[2015-09-28 21:46] jbuck commented on #239
@valianttry I think on my part I should ensure that I have SSL certificates for donate.mozilla.org and sendto.mozilla.org and file bugs for MoCo IT to prepare for DNS transition. On @adamlofting's part I think we need to have some sort of a timeline of work. We discussed using client-side redirects to redirect specific pages from sendto.m.o on the call today, bit we should get a ticket open for wh

[2015-09-28 21:49] jbuck opened #453 "Obtain SSL certificate for donate.mozilla.org & sendto.mozilla.org"
I need to obtain an SSL certificate for donate.mozilla.org and sendto.mozilla.org so that we can host our copy of it and do redirects as necessary.

[2015-09-28 21:49] jbuck commented on #360
@valianttry I think it was a question of implementation time, mostly.

[2015-09-28 23:38] ScottDowne commented on #360
@valianttry @jbuck yeah, so using Stripe to send out the email is the easy solution, but it only gets us English which is not great.

If we setup our own email sending thing, and linked that with Stripe, we could send out whatever email in whatever language, but would require more work. jbuck would have a better idea for how long that would take as I have never done something like that.

I would n

[2015-09-29 15:56] jbuck commented on #82
**Notes**:
- We're not using any cookies for data storage
- All of our pages are served over HTTPS, have HTTP-to-HTTPS redirects, and we use HSTS to force HTTPS
- We have no authentication on donate.m.o
- We have no sessions on donate.m.o that we control (GA and Optimizely)
- We have no access control on donate.m.o in the sense that there are only anonymous users
- We implement X-Frame-Options on

[2015-09-29 16:46] ScottDowne opened #454 "Some currencies don't accept decimals"
Just reading this: https://developer.paypal.com/docs/classic/api/currency_codes/

Turns out some currencies don't allow decimals in their amount, an example is jpy.

We should handle this.

[2015-09-29 16:47] ScottDowne commented on #454
PayPal gives a generic error on their site.

[2015-09-29 17:13] ScottDowne opened #455 "possible missing currencies from our supported paypal currencies"
Looking here: https://developer.paypal.com/docs/classic/api/currency_codes/

Compared against our list of currencies, I noticed we are missing singapore dollar, not sure why. Looks like we are free to use it.

I also noticed we are missing Malaysian Ringgit and Turkish Lira but they both have a disclaimer saying "This currency is supported as a payment currency and a currency balance for in-countr

[2015-09-29 17:22] ScottDowne opened #456 "compare supported stripe currencies and paypal currencies"
If there is anywhere they don't match, consider disabling the paypal or stripe button, depending.

PayPal: https://developer.paypal.com/docs/classic/api/currency_codes/

PayPal supported currencies, we already accept most of these.

We are already pretty much using this list.

Stripe: https://support.stripe.com/questions/which-currencies-does-stripe-support

From there, US can accept Group 1 and G

[2015-09-29 17:26] ScottDowne commented on #456
Eh, just went through the list, and stripe supports PayPal and more, so we have no bugs, just missing currencies.

However, I consider this a P2 as I don't see it being a huge deal to our current or upcoming campaigns.

[2015-09-29 17:30] ScottDowne commented on #454
Here is Stripes zero decimal currencies. https://support.stripe.com/questions/which-zero-decimal-currencies-does-stripe-support

This is also a bit more complex as Stripe accepts decimal currencies in their lowest common currency unit, so, we convert 1$ to 100cents for decimal currencies. We need to make sure we don't do this calculation to yen, as an example.

[2015-09-29 17:32] ScottDowne opened #457 "Create tests for server side api endpoints"
Not sure what we use for this, but jbuck has some examples we could start from.

[2015-09-29 17:38] ScottDowne commented on #454
This is a P1 as yen for stripe isn't just throwing an error, but it's actually converting it by 100 as if it was cents... inflating the donation by 100.

[2015-09-29 17:39] valianttry commented on #82
:cla

[2015-09-29 17:39] valianttry commented on #82
:clap:

[2015-09-30 15:41] lovegushwa commented on #333
@valianttry if this is good to go @ScottDowne can implement.

You can download the updated .svg here:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvQmZKYzI5TG5NSE0/view?usp=sharing

<img width="1031" alt="screen shot 2015-09-30 at 8 32 58 am" src="https://cloud.githubusercontent.com/assets/12228435/10197826/43c994da-674e-11e5-9e6e-3db116d966f0.png">

[2015-09-30 16:09] valianttry commented on #430
@lovegushwa asking @LauraReynal and @secretrobotron to do a quick Thank You video is a tremendous idea! Can you reach out to them or ping them about this ticket? :smile:

[2015-09-30 17:21] lovegushwa commented on #430
@valianttry thanks for the reminder. @LauraReynal and @secretrobotron
Can you make  a few of these with contributors? ... https://vimeo.com/76472500
It would be nice to try a few larger groups, and maybe a few solo people.

I'll contact you on Whatsapp!

[2015-09-30 17:42] ScottDowne commented on #454
Fixed: https://github.com/mozilla/donate.mozilla.org/commit/74a99775872b8a7b23d4036481246c2dc6a5b1f2

[2015-09-30 17:42] #454 closed

[2015-09-30 17:44] ScottDowne commented on #449
@LRSaunders Yeah, I'm not sure about the historical reasoning for the entire address, but it's a good question, it likely has no good reason to be there anymore. Filing that.

[2015-09-30 17:45] ScottDowne opened #462 "How much of the address do we need to ask for"
For fraud reasons, how much of a user's address do we need?

Can we get away with just asking for zip and card cvc?

From discussion #449

[2015-09-30 20:04] adamlofting opened #464 "Add ourselves to the HSTS preload list"
Action from #82

[2015-09-30 20:06] adamlofting opened #465 "Add user data validation for query parameters, headers, and payload body"
Action from #82

- Applied to all user controlled data
 - [x] Form data
 - [x] URL parameters
 - [x] Hidden fields
 - [x] Cookie data
 - [x] HTTP Headers
 - [x] Essentially anything in the HTTP request
- Define the type of data (String, Number, etc)
- Define the minimum & maximum length of the data
- Must be done client-side and server-side

[2015-09-30 20:07] adamlofting opened #466 "Decide if anything can be done with paypal info/email passed into query string"
Action from #82

[2015-09-30 20:18] adamlofting opened #467 "Output validation on the server-side"
Action from #82

@jbuck @ScottDowne can you elaborate on this task? I'm not sure what that means.

[2015-09-30 20:19] adamlofting opened #468 "Implement CSRF protection"
CSRF protection needs to be implemented to protect against evilsite.com initiating a paypal/stripe donation or email signup

Action from #82

[2015-09-30 20:20] adamlofting opened #469 "Ensure any third-party scripts that are used are hosted locally and not dynamically referenced from a third party site"
Action from #82

GA and Optimizely are exceptions to this, as we have contracts in place to manage the protection of data shared with those providers.

[2015-09-30 20:21] adamlofting opened #470 "Implement subresource integrity where possible"
Ref: https://srihash.org/

Action from #82

[2015-09-30 20:23] adamlofting opened #471 "Ensure opt-in consent to any social share scripts"
Action from #82

[2015-09-30 20:23] adamlofting opened #472 "Ensure Content Security Policy is up to date and has the minimum amount of whitelisted sites"
Action from #82

[2015-09-30 20:24] adamlofting opened #473 "Ensure that server logs are being stored somewhere we control"
Action from #82

[2015-09-30 20:24] adamlofting opened #474 "Ensure we only allow certain content types to be uploaded"
Action from #82

[2015-09-30 20:24] adamlofting opened #475 "Ensure we have a maximum payload size we allow"
Action from #82

[2015-09-30 20:25] adamlofting opened #476 "Verify that error handling doesn't leak sensitive information to user"
Action from #82

[2015-09-30 20:25] adamlofting opened #477 "Verify that API secrets are only used in one place"
Action from #82

[2015-09-30 21:11] ScottDowne commented on #467
From my understanding (and it's new to me) you need to do validation on input values again when it reaches the server. Output from client to server, and keep validating it every time it goes to your server again.

@jbuck does that sound mostly right?

[2015-09-30 21:13] valianttry commented on #462
@ScottDowne the answer to this Q may be different for Kount vs. Stripe's built-in fraud protection.

A separate Q is usefulness of this data for email address optin -- We may request postal code and/or country so that we can do geo-targeting for advocacy and fundraising email in the future. cc @adamlofting to get his opinion on whether we should ask for country and/or zip for email record keeping

[2015-09-30 21:14] valianttry commented on #449
I am absolutely in favor or eliminating full address for donation. However, we may want to ask for (if not require) postal code and / or country at minimum for email optins.

[2015-09-30 21:25] ScottDowne opened #478 "double opt in"
Do we need double opt in with exact target?

cc @valianttry @adamlofting

[2015-09-30 21:26] ScottDowne commented on #478
Making as a P1 as a get an answer to this question, the actual work, depending on that answer, might make this a P2.

[2015-09-30 23:11] lovegushwa commented on #333
@ScottDowne just saw the note saying it's ok to make the opt out button smaller. It should be 20x20px.

[2015-09-30 23:15] lovegushwa commented on #333
Jean commented on redpen the translation for remove is "Entfernen"

[2015-09-30 23:23] ScottDowne commented on #333
K, I'll add the remove bit tomorrow, should still be time.

[2015-10-01 07:28] lovegushwa commented on #436
@ScottDowne here is the first markup page of the new funnel. I'll keep them coming tomorrow but this should give you enough to get building. You can download assets below:

Das hilft uns wirklich weiter!
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvTHc5YzBPX3Judjg/view?usp=sharing

Red arrow
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlva3lTd0Z6ZThyVFk/view?usp=sharing

[2015-10-01 09:02] adamlofting commented on #358
We've solved for this recently in petitions.m.o https://github.com/mozilla/petitions.mozilla.org/tree/master/lib

[2015-10-01 09:04] adamlofting commented on #478
Donors will be opting into the same MoFo email list (de language version) as we did for the petition.

The double-opt in will be handled in ExactTarget.

#358 is the ticket to track this work.

[2015-10-01 09:04] #478 closed

[2015-10-01 09:23] adamlofting commented on #146
Stripe account / legal paperwork is still back and forth between the two orgs.

This ticket is to review the text we use to inform the user that their data will be handled by Stripe as part of the process. I've filed that bug to check with legal. https://bugzilla.mozilla.org/show_bug.cgi?id=1210332

[2015-10-01 13:03] ScottDowne commented on #358
Ah, it's a P2, which is why I couldn't find it.

Wouldn't this need to be a P1? When I made it a P2 previously, I figured BSD would be fine for Germany. Is that still the case?

[2015-10-01 13:09] adamlofting commented on #358
It's a weird P2.

We could ship without any email opt-in (as is the case with currently live de form) which is what made it a P2.

But we can't ship with BSD form because de needs the double opt-in.

[2015-10-01 13:20] ScottDowne commented on #358
https://donate.mofostaging.net/de/thank-you/

It's currently using BSD, so I would say yes, it needs to be a P1 now.

Either we remove BSD or add exact target. Removing BSD is an option and the easy solution. I suspect Exact target is doable, but def not as easy as removing BSD.

[2015-10-01 16:58] lovegushwa commented on #333
@ScottDowne ... updated png.
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvS08tMXU0RDRlRG8/view?usp=sharing

[2015-10-01 18:05] jbuck opened #480 "Google Analytics Dashboard for German Campaign"
Hey @adamlofting, I bet we can just reuse the one you made last year. Got a link handy to pop in this bug?

[2015-10-01 18:24] jbuck opened #481 "Revive the totalizer API"
Wouldn't it be great to have the totalizer for the German campaign up and running again?

[2015-10-01 19:33] ScottDowne commented on #431
This is now done.

[2015-10-01 19:33] #431 closed

[2015-10-01 19:36] ScottDowne commented on #457
Doing this right now, but really, this is a P2.

I'm making this initially as Karma tests, actually. Just going to test my module vs testing the api endpoints. If we want to do tests for that, it def doesn't need to be a P1.

[2015-10-01 23:23] valianttry commented on #146
Looks like Legal approved the language you proposed @adamlofting :clap: :clap:

https://bugzilla.mozilla.org/show_bug.cgi?id=1210332

[2015-10-02 00:08] valianttry opened #483 "Need giving amount spread in preparation for renegotiating PayPal fees"
@jbuck I need some information to use as ammo for negotiating with PayPal. I'm hoping you can help (also ccing @adamlofting in case Adam already has this data at hand)

I want to see if they'll give us better terms for "micropayments" of below $10, since those are most of our donors.

I need the spread of donation amounts; e.g. how many people gave <$3? How many gave $4 - $5? How many gave $10? I

[2015-10-02 00:10] valianttry commented on #483
reference: https://github.com/MozillaFoundation/2015-fundraising/issues/41

[2015-10-02 08:59] adamlofting commented on #146
:tada:

[2015-10-02 08:59] #146 closed

[2015-10-02 09:56] adamlofting commented on #480
GA dashboards for:

The existing BSD forms (aka sendto.m.o):
* https://www.google.com/analytics/web/?hl=en#dashboard/Pvut_X9rREKMSQK2M9Mgqg/a35433268w64184110p65898710/

The new MoFo hosted forms (production filter so no data yet):
* https://www.google.com/analytics/web/?authuser=0#dashboard/x2x17FAsShuixRj2bK-YpQ/a49796218w101806119p105783219/

Note: once live, our new pages will have significant

[2015-10-02 09:56] #480 closed

[2015-10-02 13:22] adamlofting commented on #483
Here are 2014 Transactions for PayPal

![transactions2014](https://cloud.githubusercontent.com/assets/1901816/10247361/7b6383a6-6910-11e5-85bd-abf7de4b6e27.jpg)

It's worth noting that those buckets are 'up to and including' the max value. E.g. the row 5-10 includes all $10 gifts. In fact, most of that bucket is $10 gifts because of the default button values:

<img width="807" alt="screenshot 2015

[2015-10-02 14:01] adamlofting commented on #471
We're not using any JS widgets that call code from Facebook or Twitter.

We are simply linking out to the relevant share URLs on each of these sites:
https://github.com/mozilla/donate.mozilla.org/blob/master/components/social.jsx#L6-L7

Closing this as no further action needed.

[2015-10-02 14:01] #471 closed

[2015-10-02 14:23] #483 closed

[2015-10-02 14:26] adamlofting commented on #470
This is an enhancement rather than a requirement right now.

[2015-10-02 14:33] jbuck commented on #467
Take a look at "response - validation rules for the outgoing response payload (response body). Can only validate object response:" in the [hapi api](http://hapijs.com/api)

[2015-10-02 14:33] jbuck commented on #468
This would only affect the beginning of the Paypal transaction flow, so I think we can P2 this

[2015-10-02 14:33] #82 closed

[2015-10-02 14:56] adamlofting commented on #239
This is how I see us shipping the new forms:
- [ ] 1. Close P1s and setup Stripe Account (All)
- [ ] 2. Deploy project to donate.mofoprod.net (Any Engineer)
- [ ] 3. Test live donations via Stripe and Paypal (Fundraising Team QA)
- [ ] 4. Update DNS for donate.mozilla.org to point to new server (@jbuck)
- [ ] 5. Setup / Update all server monitoring (@jbuck)
- [ ] 6. BSD forms continue to operate a

[2015-10-02 15:51] ScottDowne opened #485 "Some better error messages for client side validation"
Right now our server side validation is fairly clear, sending decent messages to the user with the input in question highlighted in red.

However, some of our client side validation just highlights the input as red, as if it was required.

We should go over our error messages.

I also think it would be useful to document all possible error messages and how to trigger them and what to expect.

[2015-10-02 15:52] jbuck commented on #239
@adamlofting This sounds good to me!

[2015-10-02 15:58] ScottDowne commented on #485
Something to look into:

1. I enter an exp month as 01
2. I enter an exp year as 16
3. this should fail as an expired card, and flags the month as the issue.
4. however, it's only a guess that month is the issue, could actually be 01/17, couldn't it? Are we sure it's month? Stripe can probably knows if this is correct if the card is actually expired ("expired_card") in that case we already flag th

[2015-10-02 16:31] ScottDowne commented on #476
I can confirm it doesn't leak. Stripe does handle this, but I did make a change that would be good just in case.

We only pass the code and type to the client, not the whole error object.

[2015-10-02 16:58] valianttry commented on #216
Upcoming DE campaigns by Foundation:

now - Oct 1: Data retention campaign
(Oct 1 - Data retention campaign comes down)

October 5: Fundraising begins (launch Snippet #1)
October 5 - 7:

    Running last year's best performer to get ~1000 donations for benchmarking
    Monitoring social media for any negative reaction (humanitarian crisis reaction)

October 8: Launch test Snippet #2 with new back-

[2015-10-02 16:58] #216 closed

[2015-10-02 17:04] valianttry commented on #480
adding @bniolet1 so he can join in the bookmarking fun :smile:

[2015-10-02 18:53] ScottDowne commented on #358
Seemed to be easy enough to implement by copying petitions.

https://github.com/mozilla/donate.mozilla.org/pull/487

However, I cannot seem to get it to send an email test to me locally. It doesn't give me an error.

[2015-10-02 20:38] #465 closed

[2015-10-03 02:40] alicoding commented on #472
Done :)

[2015-10-03 02:40] #472 closed

[2015-10-03 03:26] ScottDowne commented on #476
https://github.com/mozilla/donate.mozilla.org/commit/4d0a3fa5343165a534d8006da5b777f6457c51a5

[2015-10-03 03:26] #476 closed

[2015-10-03 21:28] ScottDowne commented on #358
So, in order to try to verify if my patch was working, but I'm just not getting local signups, or if it's busted, I tried petitions locally (which we know works) and I still didn't get an email, so that's a good sign.

I then tried on petitions.mozilla.org, and also didn't get an email... So that was a bit worrying. I have no way to confirm, but the likely explanation is it works, and local and du

[2015-10-04 16:35] ScottDowne opened #491 "turn on a bunch of languages"
We have a bunch of languages in varying degrees of translated, some I would bet are as complete as our main 5. I'm not sure how to confirm the completeness, though, so I'm just guessing :P

We have a list in our repo to say "we allow these x languages" anything else redirects to en-us, which is pretty obnoxious. Especially if you're a translator working on one of those unsupported but finished lan

[2015-10-04 16:51] alicoding commented on #491
I would say lets make this dynamic based on what's in locale directory. Also, we could name it to be an env where we can control for prod.

[2015-10-05 13:28] adamlofting opened #492 "Ship it"
A ticket to document and track the steps (and order) of tasks for shipping the new donation pages.

- [x] Setup Stripe Account (All)
- [x] Setup / Update all environment variables on production hosting (@jbuck)
- [x] Deploy project to donate.mofoprod.net (Any Engineer)
- [x] [Close P1s](https://github.com/mozilla/donate.mozilla.org/milestones/New%20Fundraising%20Platform%20Launch)
- [x] Run throug

[2015-10-05 13:28] adamlofting commented on #239
Converted into #492

[2015-10-05 13:28] #239 closed

[2015-10-05 13:29] adamlofting commented on #358
That sounds correct to me... subscribers only have to double-opt-in when they are new to the list. After that, attempting to sign-up again won't ask them to double-opt-in again.

[2015-10-05 15:06] #469 closed

[2015-10-05 18:15] ScottDowne commented on #358
This landed, we can close!

[2015-10-05 18:15] #358 closed

[2015-10-05 18:22] ScottDowne opened #496 "Optimize css for above the fold"
What this means is css that isn't used in our initial display, can be loaded later and not block the page.

CSS that is required for the initial page, we should load inline(or something else, require?) as blocking.

I'm guessing that any components or css that's use in the page we link to in the snippet is considered above the fold, the rest we can load later.

[2015-10-05 18:25] ScottDowne commented on #496
From the technical point of view, this might be quite easy.

We already want to chop up our css as a set of component based less files.

Then, we have two less files, one is above the fold, which we require in, one is below, which we link to.

These files would just be importing the components as they need them. So header.less, footer.less, the main page, and any component less files needed for pa

[2015-10-05 20:00] ScottDowne opened #497 "Decide on when and how to load open sans"
Just something I'm looking at, and I think there is enough open questions here to file something to explore further.

Open Sans can at the very least be skipped (not loaded) if we're in a non latin based locale. It defaults to system font anyway.

The extended latin fonts are also kinda large, might be worth skipping that one too.

It would also be worth looking into a test to see if system font +

[2015-10-05 21:43] valianttry commented on #492
@adamlofting can you provide details about what we need to communicate to MoCo about the donation forms and URLs? I anticipate they'll want to know what the UX will be like, for what locales, and what exactly we're changing.

[2015-10-05 21:52] lovegushwa commented on #436
<img width="997" alt="screen shot 2015-10-05 at 2 49 31 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294669/9bd1f2f0-6b70-11e5-84fe-b61b9e6c1181.png">
<img width="993" alt="screen shot 2015-10-05 at 2 49 11 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294671/a0801d54-6b70-11e5-87aa-1bafd9ed7611.png">
<img width="994" alt="screen shot 2015-10-05 at 2 49 45 pm" sr

[2015-10-05 21:55] lovegushwa commented on #436
<img width="996" alt="screen shot 2015-10-05 at 2 53 08 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294729/f9a72abc-6b70-11e5-93b5-613e731ab297.png">
<img width="995" alt="screen shot 2015-10-05 at 2 53 32 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294737/fdc0ca36-6b70-11e5-8bde-3604bb385fbb.png">
<img width="995" alt="screen shot 2015-10-05 at 2 53 49 pm" sr

[2015-10-05 21:57] lovegushwa commented on #436
<img width="997" alt="screen shot 2015-10-05 at 2 55 28 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294783/417e8db2-6b71-11e5-8535-5bf91268bb56.png">
<img width="998" alt="screen shot 2015-10-05 at 2 55 46 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294790/4a7b18d6-6b71-11e5-8cb2-ab54bf05835b.png">
<img width="997" alt="screen shot 2015-10-05 at 2 56 05 pm" sr

[2015-10-05 21:58] lovegushwa commented on #436
<img width="997" alt="screen shot 2015-10-05 at 2 57 51 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294844/938a39d0-6b71-11e5-9fd7-7f06e9189beb.png">
<img width="997" alt="screen shot 2015-10-05 at 2 58 08 pm" src="https://cloud.githubusercontent.com/assets/12228435/10294846/970e8bc4-6b71-11e5-9664-86b6cc8b0a7c.png">
<img width="997" alt="screen shot 2015-10-05 at 2 58 25 pm" sr

[2015-10-06 15:14] ScottDowne commented on #466
It's pretty safe, but even so, I made it so stripe also now only passes to the client what we know we need, and is not sensitive. If it's not sensitive and they don't need it, we still don't send it back.

[2015-10-06 15:14] #466 closed

[2015-10-06 16:59] valianttry opened #499 "Qs about the BSD Google Analytics report at start of the DE campaign"
Hi @adamlofting  I'm looking at the report here and have a few Qs about what I'm seeing:
https://www.google.com/analytics/web/?hl=en#dashboard/Pvut_X9rREKMSQK2M9Mgqg/a35433268w64184110p65898710/%3F_u.date00%3D20151004%26_u.date01%3D20151006/

-- Under "source / medium" why is such a large % of revenue listed under bing / referral? Seems the largest % of revenue should be "desktop-snippet" based on

[2015-10-06 17:34] edrushka commented on #430
ccing myself

[2015-10-06 17:41] lovegushwa commented on #436
@ScottDowne you can find any image you need to build the form's here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvTWY3OHFBMlQwUHM&usp=sharing

[2015-10-06 18:13] lovegushwa commented on #430
Just an update. @LauraReynal shot some students cheering in Indonesia this last week. Looking forward to seeing the footage :)

CC @valianttry @edrushka

[2015-10-06 20:02] adamlofting commented on #499
There were several 'major gifts' in GA in recent days where the donor was referred via Bing, but you'll have to validate if those are legit donations in BSD/PayPal. This was before the DE campaign started and seems unrelated to the snippet launch.

I think the `PayPal+Donation` is just and issue with parsing the string on our old forms' conversion tracking - I would treat those as a typo. We didn'

[2015-10-06 22:19] edrushka commented on #480
@adamlofting can you please give me GA access to this? Turns out I don't have it. Thanks!

[2015-10-07 13:45] ScottDowne commented on #477
I can take this one if you have not started.

[2015-10-07 14:28] jbuck commented on #477
Go for it

On Wed, Oct 7, 2015 at 9:45 AM, ScottDowne <notifications@github.com> wrote:

[2015-10-07 14:40] ScottDowne commented on #467
https://github.com/mozilla/donate.mozilla.org/pull/501

[2015-10-07 14:40] #467 closed

[2015-10-07 17:33] ScottDowne commented on #477
This is secure, for now...

All of our public envs need to go through webpack in a fairly explicit way before the client can use it. We only do this for the envs we know the client needs, and not just because it's public.

We don't pass around secret keys, we just wait until we need them then use them once.

Maybe we can make it more mistake proof, but I'm not sure how yet.

What I'm thinking is s

[2015-10-07 18:50] edrushka opened #506 "Create Stripe account"
When the Stripe contact is finalized, we'll need Ops (Alex) to input our account details.

- [x] Abigail will inform Adam & Erika when contract is signed
- [x] @jbuck will create a Stripe account and give Alex account login info
- [x] Alex will input banking details and tell Jbuck and @ScottDowne when that's complete
- [ ] Scott will begin QA

Are there other steps to finalize the account set-up?

[2015-10-07 19:06] edrushka commented on #430
Anyone have the link to Laura's vids?

[2015-10-07 19:10] edrushka opened #507 "Write "we want to include you in our work" variants"
We need a selection of copy variants to try to increase conversion on the emails signups (pls ignore mixed English and German in graphic below).

![265b11d8-6214-11e5-9165-072c9c39fd66](https://cloud.githubusercontent.com/assets/4515662/10348087/e0134c44-6ceb-11e5-8862-a899bed64a91.png)

@valianttry @KevZawacki

[2015-10-07 19:44] ScottDowne commented on #506
We, probably me needs to:
- [ ] Create monthly subscription plans for each currency.

[2015-10-07 21:03] LauraReynal commented on #430
Upload is not complete yet.
I paused my drive because of the limited bandwidth.  This weekend it will
be good. Will ping you.

Sent from a mobile device.
On Oct 8, 2015 2:06 AM, "Erika Drushka" <notifications@github.com> wrote:

[2015-10-07 23:07] edrushka opened #508 "Identify DE testing opportunities with redesigned form UI"
Now that @lovegushwa has redesigned the form UI (#436), there are numerous potential tests to run. Let's figure out what we want to learn, and triage the list of tests for the German campaign.

@adamlofting I defer to you for the final decision, but I might suggest:

1) "This really helps us" note for monthly donations on Page 1 of form  (multiple copy variables to try, if having text improves con

[2015-10-08 12:04] KevZawacki commented on #507
@edrushka Perhaps:

- Stay posted on Mozilla and the open Web
- Learn how your donation is making a difference
- Join the conversation
- Join our community

[2015-10-08 15:39] ScottDowne opened #515 "take another pass at the qa checklist"
Initially I'm just going to do a brain dump of all the things we need tested.

Yes, all, I want this complete. Every possible thing donate can do and all the fringe cases.

[2015-10-08 15:54] ScottDowne commented on #515
Paypal
- variables: frequency, locale, currency, and amount.
- test creds: send-donation@test.com:testtest
 - [ ] check that the log in page has the correct amount and currency, try different variations.
 - [ ] if monthly, ensure it's stated on the log in page.
 - [ ] log in page should match your locale (this likely needs to be done in a private tab, or it'll be in the locale that you last logged

[2015-10-08 16:05] ScottDowne commented on #515
Query string
- todo

[2015-10-08 16:06] ScottDowne commented on #515
stripe
- todo

[2015-10-08 16:06] ScottDowne commented on #515
locales
- todo

[2015-10-08 16:06] ScottDowne commented on #515
signup
- todo

[2015-10-08 16:45] ScottDowne commented on #515
components
- todo

[2015-10-08 17:12] ScottDowne commented on #515
currency
- todo

[2015-10-08 17:16] jbuck commented on #506
My only question is: Once I create the account, is there anything we need to do to get it associated with the contract we signed?

[2015-10-08 17:33] ScottDowne opened #517 "translate footer content"
Right now it's always english...

[2015-10-08 17:34] ScottDowne opened #518 "Confirm if donation arrays are correct per locale"
right now our initial amounts might not be great for all currencies.

we can insert any values here for defaults unique to currencies.

[2015-10-08 17:36] ScottDowne opened #519 "preselect a value"
Right now we don't preselect anything if no value is passed in.

I see little harm in preselecting the lowest or second lowest or even picking one that's unique per currency.

[2015-10-08 18:02] jbuck opened #520 "Currency always defaults to USD"
Currently we always default to USD for every locale. I'd argue that we should default to a specific currency for each locale, if possible. For example, German should default to EUR.

[2015-10-08 18:08] ScottDowne commented on #515
stripe errors
- todo

[2015-10-08 18:31] ScottDowne opened #523 "optimizely is a page blocking script"
We don't render anything until optimizely script is ready.

This is because if a test is loaded, there is a noticeable flash of the baseline.

I want to open up brainstorming ideas on how to optimize this without having a noticeable flash of the baseline.

Also consider if this is worth optimizing. The script in question is roughly 170KB.

[2015-10-08 18:43] simonwex commented on #523
The optimizely script is 170KB?

[2015-10-08 18:43] simonwex commented on #523
How much effort would it be to run similar tests that you're running now using server-side variations and evaluating the results in GA?

[2015-10-08 18:50] ScottDowne commented on #515
metrics
- todo

[2015-10-08 18:55] ScottDowne commented on #523
@simonwex here is the script I was able to find: https://cdn.optimizely.com/js/206878104.js

I'm actually not able to give a great estimate on how much work, because I don't actually know what it would look like to do it server side. Too many unknowns, let me think through it first.

cc @adamlofting

[2015-10-08 18:58] ScottDowne commented on #515
available pages
- todo

[2015-10-08 19:09] ScottDowne commented on #515
share
- todo

[2015-10-08 20:02] ScottDowne opened #524 "facebook share link is not translated"
Go to donate.mofostaging.net/de/share
Click facebook
Expected: share facebook link should be in german
Actual: in English

[2015-10-08 20:29] ScottDowne commented on #515
redirects
- todo

[2015-10-08 22:17] valianttry commented on #430
Sara had a good idea: providing a free "just to say thanks, here's a free Fox! Please print, fold, take a selfie, and tweet it at #lovetheweb" like this Kumi here: https://stuff.webmaker.org/teach.mozilla.org/KUMI-Papertoy-blank-tees.pdf

[2015-10-08 23:49] edrushka commented on #508
Another test that requires very little dev work is testing the social share message. Ticket (for English version) here: #353

[2015-10-09 13:51] adamlofting opened #525 "Discuss Tests we could run on the existing BSD form with limited development investment"
* New form is currently blocked on Stripe, and may not be live in time for us to learn much this campaign.
* The old form isn't going to have much life going forward so we want to limit the amount of time we invest in working on it.
* However, at this point in the campaign we have enough traffic to run a couple of small tests and learn things that are useful for our fundraising in the future. Deve

[2015-10-09 13:59] adamlofting commented on #508
Sorry, I think I've duplicated this ticket in #525

But that might be a better ticket to work from as it focuses on the BSD form. I think we could start with the "this really helps us" test, and maybe some variations of the snippet .

If I recall correctly, the social share and email sign-up asks don't exist on the BSD flow for DE. These were new features we were building in to the new form.

[2015-10-09 14:15] adamlofting commented on #523
For options, we can also run [content experiments via GA](https://developers.google.com/analytics/solutions/experiments) but this has the same requirement to wait for a 3rd party. We can compare load times if we want to though.

Content Experimiments is a more developer intensive way to setup tests though, so slows down the testing cycle.

Before tools like Optimizely made this stuff easy, I used

[2015-10-09 14:33] ScottDowne commented on #457
I'm going to close this, for now.

So far everything we've needed to do has been doable with karma.

[2015-10-09 14:33] #457 closed

[2015-10-09 14:38] adamlofting commented on #515
Quick note from conversation on our call just now.

When QA'ing analytics. I check the donation thank you page for requests made to Optimizely and GA in the network view of the developer tools. The donation amounts / product names etc should be passed as query parameters.

I'll also use the GA real-time report to look at the 'Staging' filter for donate.mofostaging.net to check the correct transact

[2015-10-09 15:12] ScottDowne commented on #523
They have a rest api, but it looks more like starting stopping managing tests seeing results, more dashboard stuff. Not sure how it could help us.

I was looking for a way to retrieve and render the test without optimizely being available, and without code needing to be landed to setup a test.

[2015-10-09 15:26] edrushka commented on #508
Closing this ticket, since #525 has pictures!

[2015-10-09 15:26] #508 closed

[2015-10-09 16:00] adamlofting commented on #525
Notes from discussion with @valianttry and @edrushka just now:

We have decided to start by running tests in the existing snippet template so that no extra development work is required. Engineering work can continue to focus on closing the P1s for the new donation form.

[2015-10-09 16:05] ScottDowne commented on #525
I'm pretty sure a "this really helps us" arrow in the form, could but done all in optimizely.

Because of the way BSD lands code changes, it's actually easier and less risky doing it in optimizely...

[2015-10-09 16:06] adamlofting opened #526 "Run initial tests on DE snippet"
For context, see earlier discussion in #525

In order to avoid distracting from the current engineering work, our initial tests will be setup using the existing capabilities of the snippet template.

We will setup:
* Existing snippet acts as the control
* New copy of the snippet with different price prompt buttons
* New copy of the snippet with longer copy

cc @valianttry

[2015-10-09 16:08] adamlofting commented on #525
I forgot to note, we decided not to push too heavily on the monthly giving on BSD form because we don't have a nice way to transfer regular donors out of BSD... :crying_cat_face:

[2015-10-09 16:10] ScottDowne commented on #525
Ahhh, makes sense.

[2015-10-09 16:30] adamlofting commented on #477
Shall we close this now?

[2015-10-09 16:40] ScottDowne commented on #477
Yeah, I wanted to but wanted to give others a chance to add any more ideas for things we can do.

I feel like that's happened, so closing.

[2015-10-09 16:40] #477 closed

[2015-10-09 17:37] ScottDowne commented on #411
This got fixed.

[2015-10-09 17:37] #411 closed

[2015-10-09 17:40] ScottDowne commented on #333
Code to do this is in their snippet servie.

https://github.com/mozilla/snippets/commit/57f65829a7545b368493b68bf7eed6d2f87efa4d

I'm not closing, because we have not run the test, but the dev is done. So I'm unassigning me.

[2015-10-09 17:45] ScottDowne commented on #139
We're at the point where getting everything translated or building the forms is easy enough to do for all.

Before we had legacy forms for multiple languages, but not for the primary language to handle currencies we could only use with paypal. Now all our forms can handle all currencies, so there is not really a point to not have all pages in all languages.

Until we have a use case where a locale

[2015-10-09 17:45] #139 closed

[2015-10-09 17:46] ScottDowne commented on #110
I'm actually thinking we close this.

I think the main goal of selenium at this point is manual tests being easy to run.

Because these tests depend on third party services being up, let's not run them in travis.

Closing until we have a need to run a test via travis that we cannot run via karma.

[2015-10-09 17:46] #110 closed

[2015-10-09 17:55] ScottDowne commented on #318
This just doesn't seem to be creating any confusion.

Closing.

[2015-10-09 17:55] #318 closed

[2015-10-09 17:58] ScottDowne commented on #448
@adamlofting do you have any thoughts on a good starter amount fo max amount per currency?

[2015-10-09 18:00] ScottDowne commented on #442
Seems to be working now.

[2015-10-09 18:26] ScottDowne commented on #385
Looking at their rest api, I think we can do this dynamically server side.

Detect if there is a test to run, if so, script is included, otherwise, script is not.

We could then have an env to override this where we can turn it off or on regardless if there is a test or not. (for testing and debugging purposes)

Thoughts?

[2015-10-09 20:20] ScottDowne commented on #436
I'm struggling on where to start with this, probably questions for @adamlofting.

We could split it up, and test some of it. Some things seem obvious or simple enough that a test wouldn't be all that useful? I'm also concerned with splitting it up because some changes and made to go with others, so splitting it might not give it a fair chance.

I could do this all in one patch, and we can test it

[2015-10-09 20:48] valianttry opened #529 "ExactTarget for email: Transition planning and timelines"
@adamlofting this might be the wrong repo for this, please let me know if so and I'll fix.

Questions are starting to come up as we approach heavy fundraising and email season :rotating_light:

General questions:
* When will we be able to launch emails from ExactTarget?
* What audience segmentation will be possible immediately? (e.g. just major interest groups, or will we be able to send email bas

[2015-10-09 22:43] edrushka opened #531 "Share updated graphics with MoCo"
Let's loop MoCo into where we're at with design.

@lovegushwa, when you're done with board stuff, can you put together a couple images showing the new graphic work (friendly nudge text, updated share and email signup pages on the form). I don't expect any issues, but just want to make sure they're kept in the loop, as we promised.

cc @valianttry

[2015-10-10 00:28] edrushka commented on #531
@valianttry the Moco team (Jean, Jessica, MJ, Michaela and Ben) were invited by email on Sept 28 to take a look at [this Redpen] (https://redpen.io/foca6e5677782f60b1) and the [funnel designs] (https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvR3Q4WWdyRmZuQms/view?usp=sharing).

Do we need further looping in at this time?

[2015-10-10 21:20] ScottDowne commented on #436
Thinking about this a bit more, and I think I'm putting together a plan.

A log of these changes are css only, so we can do a thing where the two versions of the page are toggled on and off. Would actually be pretty cool.

The changes that are not css.
- this really helps up arrow
- a signup checkbox on the final step
- removal of any input on the third step

Would be done via alternate components

[2015-10-13 09:33] adamlofting commented on #448
This is a question for @valianttry

[2015-10-13 10:53] adamlofting commented on #436
Here's my view (but final decision will be for @valianttry )

Run one UI test:

* I suggest we test all of the UI changes in one go using our [existing workflow for running a significant test](https://github.com/mozilla/donate.mozilla.org/blob/master/docs/Metrics.md#how-to-setup-a-new-ab-test-for-a-significantly-different-page-or-form).
* This would include all color, spacing, gradient, imagery ch

[2015-10-13 11:13] adamlofting commented on #529
This repo is fine for this :+1:

* *Technically*, right now. Email templates are setup, and our 1.6 million subscribers are imported.
* *Practically*, in the next couple of weeks. I need to arrange training, update the teams who send email, and setup a final piece of middleware to keep BSD in sync.

* Immediately, there is limited segmentation in ExactTarget until we have full integration with Sal

[2015-10-13 12:32] adamlofting commented on #385
Sorry, my original ticket title was misleading. I've updated this now.

Example use case is that I log into heroku and set `OPTIMIZELY_ACTIVE` config var to 'no'. How do I then rebuild the site from the existing latest version of the repo? Normally the site is built when a PR is merged.

Agreed.

[2015-10-13 12:34] adamlofting commented on #385
As an aside: re this idea about Optimizely...

...the optimizely tag has to be present in the live site in order to setup a new experiment via the editor. So there are times for this to be enabled when there are currently no active tests.

[2015-10-13 12:38] adamlofting commented on #139
:+1:

[2015-10-13 14:10] adamlofting commented on #492
The short version is that anywhere we're currently linking to a BSD form from a MoCo managed property, we'll want to update the link to point to the equivilent page on our new forms. The UX will be equivilent to the existing BSD flow, but hosted on our new pages.

Is there an existing list from when we've setup these links in the past?

[2015-10-13 23:03] valianttry commented on #531
Hi @edrushka, No -- as long as their suggestions were addressed -- they seemed really minor and looks like Jordan responded to all of them. (We didn't ask for input on the funnel, just the snippet -- they're not really going to be engaged in our form design other than possibly the thank you/impact content TBD.)

One question: Have we landed on a treatment for the [x] opt out? That was one thing th

[2015-10-13 23:10] valianttry commented on #492
@adamlofting we met with the mozilla.org team incl. @bniolet1, Jen Bertsch, and Jenny Douglas and they are ready to receive those links when we have them ready. It does take some time to update all of them, so ideally we would get them to Jen soon -- in the next week or 10 days possible? I will ask Jen if there is an existing list -- or I'll look up past bugs we filed to update links. We are also

[2015-10-14 08:53] adamlofting commented on #492
That's great :+1:

This task doesn't need to happen until we've worked through the rest, and it's not a problem if it takes 10+ days after that. We'll have 'front-end' redirects on the old forms anyway, but this is a good excercise in cleaning up the links before we switch off BSD.

[2015-10-14 20:07] valianttry opened #545 "Generate New URLs for "Donate" links on mozilla.org"
After meeting with the mozilla.org product management team at MoCo, we have a list of locales for which we'll need to generate new URLs after switching to our Stripe donation form platform and retiring our BSD forms.

**Tier 1
English
German
French
Spanish
Polish
PT-BR
Russian
Italian
Hungarian
Japanese
Dutch
Greek
Indonesian
Czech
zh-TW
zh-CN

**Tier 2
Romanian
Vietnamese
Bulgarian
Norwegian
Slov

[2015-10-14 20:09] valianttry commented on #492
I created https://github.com/mozilla/donate.mozilla.org/issues/545 to manage the new URL task.

[2015-10-14 20:28] valianttry commented on #545
cc @alicoding
There will be three different links to click on the homepage that will take you to a donation form:

1. A large promo block that is yet to be designed;

2: Topline Navigation

3. Footer

![nous_oeuvrons_a_ameliorer_internet_ _mozilla](https://cloud.githubusercontent.com/assets/9830371/10496808/4f2f1b9a-7277-11e5-8fe2-b201f246f983.png)
![we re_building_a_better_internet_ _mozilla](htt

[2015-10-14 20:49] alicoding commented on #545
Once we have donate.mozilla.org point to our new form basically it will work based on the language that was set to the browser's preferences. It looks like we have a lot of locales that we do support in common, but anything that we don't support it will be redirect back to en-US at the moment. I can help coordinate on this once we are ready.

[2015-10-14 23:10] valianttry commented on #430
@LauraReynal did you upload the video? Waiting with baited breath!

[2015-10-15 00:00] valianttry commented on #529
@adamlofting all ^ sounds absolutely fantastic. I presume the work will pay for itself and then some. :hand:

[2015-10-15 17:55] edrushka opened #550 "Design ‘Additional Info’ form variant"
We need a variation of the form for users arriving at it without the context of snippet, social or email copy. A prime example is Tiles, where we don’t have the space to prime the user with copy before they land on the form.

@lovegushwa has already wireframed this here: https://redpen.io/fva93a5fe9f6116da8

This ticket is to finish the design.

cc @valianttry @ScottDowne @adamlofting

[2015-10-15 18:05] lovegushwa commented on #531
@valianttry @edrushka I believe @ScottDowne was in direct contact with Moco on the opt our button. Let me dig into this a bit today.

[2015-10-15 18:42] valianttry opened #553 "Mail completed Thank You cards to donors e.g. "Ship It""
cc @edrushka

Let's mail these 250 - 300 handwritten thank you cards to donors! To do:

- [ ] Order correct sized envelopes (cards are a standard size, not hard)
- [x] Identify a vendor to hand-address and stamp the cards (Andrea suggests TaskRabbit and has asked Michael to OK using them for this task on an ongoing basis)
- [ ] @edrushka to determine the universe that will receive the cards (month

[2015-10-15 19:39] edrushka commented on #553
AFAIK we only have about 90 completed cards. Did more come in?

[2015-10-15 21:02] #517 closed

[2015-10-15 21:32] edrushka commented on #553
Card details as of Aug 6 from this [duplicate ticket] (https://github.com/MozillaFoundation/2015-fundraising/issues/29)

    Total signed cards = 80
    Total useable cards = 77
    Cards with no signature = 2
    Cards in other languages = 2 (Japanese, Indonesian)
    Dated cards = 2
    Cards with hard to use addressee ('Hey guys', 'Dear Dorthy' 'Hi There Insert name' = 3
    Mofo cards = 45

[2015-10-15 22:33] edrushka opened #557 "Write EOY snippet variants for 2015"
In addition to the best performers from 2014, let's draft some new EOY snippet variants this year. Although these will be localized, our biggest EOY contributions come from English locales, so these variants should be written with native English audiences in mind.

For reference:
- here's [2014 EOY snippet copy ideas] (https://old.etherpad-mozilla.org/eoy-snippet-text-variations)
- and the [five v

[2015-10-15 22:39] edrushka commented on #557
Assigning this to the Nov 6 milestone, but we'll likely have to work on asynchronously due to Andrea's PTO and MozFest travel.

[2015-10-15 22:51] edrushka opened #558 "Design EOY homepage takeover"
During the final stretch of our EOY campaign, we get to take over mozilla.org :tada::tada:

Here's what last year's design looked like:
![skitch](https://cloud.githubusercontent.com/assets/4515662/10529572/f97da7ec-7353-11e5-9634-7e63d8ee3c62.png)

We'll need to do something similar this year. Our MoCo contact on this is Jen Bertch, who will hopefully be on Github shortly.

[2015-10-15 22:55] valianttry commented on #436
I am +1 for learning as much as we can about what converts in the shortest amount of time -- that way we can turn on the winning combination as soon as possible.

@adamlofting or @ScottDowne  are there downsides I'm missing? If not.... LET'S ROLL.

[2015-10-15 23:08] edrushka opened #559 "Design EOY directory tile(s)"
Happily, we'll get lots of Tiles exposure this year!

#### A few things to note for 2015:
- Fatigue is an issue - need a few designs to swap in
- Tiles will be localized in top 6-8 tile locales
- Tiles must be PNGs. There's no interactive functionality yet, so we can't try integrating parts of the form right on the tile. However, Tile team is willing to test a specific amount (average for locale)

[2015-10-15 23:58] valianttry commented on #559
One notable thing is that the Tile team noticed a big lift when the wordmark is prominent, so we should just design every one with a prominent "mozilla" wordmark in the static version, and possibly on rollover as well. And, they said "go bold so it pops".... i suspect @lovegushwa will have fun with that :stuck_out_tongue:

Here are some copy variants to try on Tile designs (please hack, or add, or

[2015-10-16 00:02] valianttry commented on #559
cc @bniolet1

[2015-10-16 00:27] valianttry commented on #559
@KevZawacki Jean just mentioned these might be too long. Want to try coming up with some variations that are shorter? We could also repurpose for social maybe....

[2015-10-16 02:34] valianttry commented on #550
@lovegushwa i left some comments on the Redpen.

[2015-10-16 03:21] valianttry commented on #559
FYI Jean and MJ are working on copy here that's shorter:
https://docs.google.com/document/d/1GrV5AECse92F--4btS24GIdyu7mUq6nAGCtHUveZrRM/edit

Kevin if you want to rif or hack some copy too that would be good, i would edit theirs directly but add.

[2015-10-16 04:41] valianttry opened #560 "Design "Spectacular Snippet" for last critical days of the campaign."
Every year we reserve the last few days of the year for a snippet that users can't ignore, and it has paid off for us. For last year's Spectacular Snippet we switched the Firefox background color to a shade of yellow and used the highest performing text and that snippet yielded over $277,000 in 3.5 days (avg $6 / 1000 impressions). Here's what it looked like:

![about_home_snippet_preview](https:/

[2015-10-16 06:02] ScottDowne opened #561 "configurable default value for country"
For locales, we could consider the country drop down to no be United States as a default.

[2015-10-16 15:57] valianttry commented on #560
cc @cassiemc this is ripe for crowdsourcing ideas somehow... and potentially will raise up to $350 - $500,000. :smiley_cat:

[2015-10-16 16:14] cassiemc commented on #560
This would be a good opportunity to get all the designers together for a brainstorm. I'll set that up. What are the timelines? @valianttry

[2015-10-16 16:36] valianttry commented on #560
@edrushka can you help think through the timeline and logistics? We would want to do the same type of strategy as last year: Come up with a few ideas, build 1 - 3 for testing to be completed by December 25, then turn ON the winning snippet for the l last few days of December.

[2015-10-16 17:45] edrushka commented on #560
@ScottDowne - we want to limit dev work on this (equivalent to the work needed to do the yellow snippet). Can you provide some guidelines for design?

[2015-10-16 18:56] ScottDowne commented on #560
@edrushka Pretty much as much we can leverage of the existing snippets would be best for dev.

We have two right now, and we don't actually know which one is going to be the best non disruptive snippet yet.
- simple: http://scottdowne.github.io/eoy-snippets/simple-snippet/
- updated: http://scottdowne.github.io/eoy-snippets/2015-snippet/
- or another variant if we get time

Being able to modify on

[2015-10-16 19:12] ScottDowne commented on #436
Landed the bulk of the changes:

https://donate.mofostaging.net/en-US/?test=new-flow-test
Test credit card number is: 4242424242424242 01/16 123

Old page still exists here: https://donate.mofostaging.net/en-US/

Things that have not happened yet:
- [ ] updated currency dropdown style.
- [ ] switch single and monthly, and add arrow. (can already preselect monthly)
- [ ] updated style on https://do

[2015-10-16 19:25] edrushka commented on #436
Really exciting to see this starting to come together! What a great way to wrap up the week.

[2015-10-16 20:07] edrushka opened #567 "Clarify design of snippet opt-out button"
@lovegushwa can you report here when you have the design specs for this? Thanks.

[2015-10-16 20:07] edrushka commented on #531
Closing this. Created a specific opt out ticket here: #567

[2015-10-16 20:07] #531 closed

[2015-10-16 20:13] valianttry commented on #553
oy i overestimated. Nick took a stack of maybe 125 to MTV for people to fill out... but right now sitting in my office is what you accounted for ya.

[2015-10-16 20:16] edrushka commented on #567
FYI here's the dev ticket: https://github.com/mozilla/donate.mozilla.org/issues/272

[2015-10-16 20:16] edrushka commented on #553
May I suggest we wait until post mozFest and post Nick delivery? Then we'll have a nice stack :)

[2015-10-16 20:21] valianttry opened #568 "Add more friends to this Repo who are helping with EOY planning"
More MoCo friends are joining the party:

Jen Bertsch: she says her Github handle is "jbertsch"
Jenny Douglas:  jdouglas@mozilla.com

cc @simonwex

[2015-10-16 20:26] valianttry commented on #553
Mozfest should send from London vs. shipping here

[2015-10-16 20:34] edrushka commented on #553
I like the idea of mailing locally (not so much to save money, but to show our global presence).

We'll need to "identify the universe" so we can shortlist our UK donors.

Also, who will address the MozFest cards? The fact that this uses private info means it's not really suitable for MozFest attendees (plus, I think it would be next to impossible to find people to do that in the chaos of the fest

[2015-10-16 20:52] cassiemc commented on #559
@natalieworth can probably help with this stuff. We'll need to brief her.

[2015-10-16 21:01] edrushka commented on #559
Awesome! I'll book a meeting for next week and we can get her started.

[2015-10-16 21:31] edrushka opened #570 "Write November impact email series"
In mid-November, we'll send our big list a series of two emails to outline the impact of our work in 2014. In addition to updating our supporters about our work, it primes them for the EOY asks that will roll out in December.

This will be sent on Exact Target using our standard, mobile-ready template.

MVP is text only. Nice-to-haves are photos or graphic callouts.

#### Email 1: All the Things!

[2015-10-16 21:33] edrushka commented on #570
Assigning this to @valianttry to write, but would love @KevZawacki's review. Accordingly, I've made the deadline Oct 30 so Kevin has time to look it over before MozFest.

[2015-10-16 22:30] edrushka opened #572 "Design video variant for confirmation page"
We'd like to try a short, fun thank you video (#430) on the confirmation/thank you page.

This will only be used alongside the version of the form that has the [email signup on the 3rd step] (https://redpen.io/fz258ecb756f017acd).

@adamlofting can you confirm that we're going to test this version of the form? ^ If not, we should look for other opportunities to integrate the video.

[2015-10-16 22:34] edrushka commented on #430
Chatted about this with Scott, Ali & Jordan. Seems like most effective (we think) and easiest-to-implement idea would be to create one video with multiple people saying hello in their language (similar to what we did here in the [MozFest video] (https://github.com/mozilla/donate.mozilla.org/issues/430)).

I am investigating ways to get this shot at MozFest (benefits of this are lots of people from

[2015-10-16 23:25] valianttry commented on #570
Actually, if @KevZawacki wants to take a crack while i'm out next week please do! Otherwise i'll try to get to this asap when i come back.

[2015-10-16 23:26] valianttry commented on #553
@edrushka do you think the London office manager or Ops person there might help identify a task company or temp agency? Like taskrabbit in the UK?

[2015-10-16 23:44] valianttry commented on #448
Looking at the giving level data @adamlofting provided for https://github.com/mozilla/donate.mozilla.org/issues/483 I think we can safely prompt donors who give over $3000 US or equivalent to please contact us directly. We just need to set up that email alert so it is treated like an "emergency" email for direct donor attention and quick response.

[2015-10-17 00:21] valianttry commented on #570
I'm going to dig out a few good examples of these kinds of emails to drop here in the ticket (we haven't done a really good one, honestly, since I've been here). Here's one from Fair Agenda, a great org out of Australia:

Andrea,

A little over a year ago, Fair Agenda did not even exist.

Today, thanks to your support, it's now a (still small) but mighty force of passionate volunteers and one part

[2015-10-17 00:25] valianttry commented on #570
MomsRising kept theirs short, but linked to a blog post (http://www.momsrising.org/blog/26-inspiring-victories-you-made-possible-in-2014 -- A blog post like this would be easy to do):

![the_good_you ve_done_in_2014_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/10555850/c0dade00-742a-11e5-9348-26f93d154bc9.png)

[2015-10-17 00:26] valianttry commented on #570
Plan International USA's effort looks dated, and is a newsletter, but the content ideas are pretty good. I particularly like "your impact in 11 photos":

![a_few_ways_we_impacted_children_s_lives_in_2014_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/10555869/03648d0c-742b-11e5-8af9-21d0d6db598f.png)

[2015-10-17 00:32] valianttry commented on #570
Claire McCaskill sends good emails for a Missouri Senator:

![look_at_all_we_ve_accomplished_-_andrealw_gmail_com_-_gmail_and_inbox__8_687__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/10555933/ee3f1ea0-742b-11e5-9612-674791d594a3.png)

[2015-10-17 15:55] ScottDowne commented on #448
Currencies and locales are the first things that comes to mind.

Should we consider a special amount for other currencies? Or just a converted amount close to 3000? Example: 350000 yen?

Ask all locales to contact us directly?

[2015-10-19 10:26] adamlofting opened #582 "Tweak to Stripe Privacy Policy text"
[Tiny task :smile: ]

In the footer, can we please change the text from...

To...

And link to https://stripe.com/privacy

(Stripe handles the locale redirects on their end)

[2015-10-19 10:30] adamlofting commented on #582
@alicoding I've submitted a [PR](https://github.com/mozilla/donate.mozilla.org/pull/583) to update this in en-US - do I need to do anything to flag this String for update in other locales?

[2015-10-19 14:43] KevZawacki commented on #570
@edrushka @valianttry I can add to my to-do list, but with MozFest and the annual report, I likely won't be able to create that first draft. However, happy to review and revise as needed!

[2015-10-19 14:46] ScottDowne opened #584 "config prod envs"
I also think this might be a good time to get and test prod paypal creds?

[2015-10-19 15:20] edrushka commented on #570
Thanks @KevZawacki - I forgot about the annual report! I may be able to take an initial crack at it as well.

[2015-10-19 15:23] alicoding commented on #13
I think I'm okay closing this ticket now. Now that we have 100% coverage, but I feel like we did most of the component test now, but will file few other tickets to make sure we have few extra selenium tests to run.

[2015-10-19 15:23] #13 closed

[2015-10-19 15:27] alicoding commented on #582
@adamlofting they will eventually see that the string is not translated, but if we want to make sure it gets translate on time we will need to send an email to the dev-l10n list to let them know there are updates to the project.

[2015-10-19 15:33] jbuck commented on #582
@adamlofting @alicoding what if you defined it as a new string instead? That way they'll see a new string that needs to be translated

[2015-10-19 15:34] adamlofting commented on #13
:+1: Great work on this Ali.

[2015-10-19 15:58] alicoding commented on #474
The default that we allow right now are the following:

[code]
@jbuck should we take off `application/octet-stream` & `text/*`?

[2015-10-19 16:17] jbuck commented on #474
@alicoding What content types do our forms and paypal callbacks send us right now? We should just limit it to that

[2015-10-19 18:15] #375 closed

[2015-10-19 20:13] #474 closed

[2015-10-19 20:13] #475 closed

[2015-10-19 20:59] edrushka commented on #185
Closing this. Detailed ticket here: https://github.com/mozilla/donate.mozilla.org/issues/570

[2015-10-19 20:59] #185 closed

[2015-10-19 21:00] edrushka commented on #181
Closing this. Doing a video instead: https://github.com/mozilla/donate.mozilla.org/issues/572

[2015-10-19 21:00] #181 closed

[2015-10-19 21:00] edrushka commented on #171
Closing. Out of scope for 2015.

[2015-10-19 21:00] #171 closed

[2015-10-19 21:12] ScottDowne commented on #436
@lovegushwa not sure what the new copy is in English, which I need to do this.

For now I'll use the old page's copy, and see how close I can make it match.

[2015-10-19 21:32] ScottDowne commented on #436
Not a huge issue, but the "Wir bei Mozilla sagen vielen Dank, {name}!" bit doesn't have the bolded syntax in the source string, so the translation doesn't retain where to keep things bolded.

It also won't know where to newline it.

The English currently looks like "From all of us at Mozilla, thank you {name}!"

In comparison, Chinese formats it like this "我们 Mozilla 的所有人都非常感谢您，{name}！"

And Itali

[2015-10-19 22:11] edrushka opened #593 "Write a blog for FMO"
Write a blog for FMO about your work so far in fundraising.

Bonus points for pictures or screenshots.

On your mark, get set, WRITE! :pencil2::pencil::pencil2::pencil::pencil2:

Nov 6 Milestone. No excuses! ;)

[2015-10-19 23:21] edrushka commented on #568
@jbertsch has been added :bowtie:

[2015-10-20 15:06] jbuck commented on #61
Done!

[2015-10-20 15:06] #61 closed

[2015-10-20 17:52] alicoding opened #600 "TypeError: setting a property that has only a getter"
If we are using latest version of Karma we will get this error because it uses a version of socket.io with broken dependency.

Workaround that we are doing currently is in webpack.config.js we are doing this:

[code]

and require a known version of buffer

[code]

We should update this once it has been fixed upstream.

[2015-10-20 21:38] lovegushwa commented on #436
@ScottDowne @edrushka Redpen QA comments here:
https://redpen.io/p/wae7651ddf284d3216

[2015-10-20 21:41] ScottDowne commented on #436
Tests for share and thank-you are done:
https://donate.mofostaging.net/de/thank-you/?test=new-flow-test
https://donate.mofostaging.net/de/share/?test=new-flow-test

[2015-10-20 22:58] alicoding opened #604 "Footer needs to use formattedHTML"
[code]

We need to use formattedHTML so that HTML can be parsed correctly here.

[2015-10-20 22:59] alicoding commented on #604
![screen shot 2015-10-20 at 18 58 57](https://cloud.githubusercontent.com/assets/4368149/10623390/a072af64-775c-11e5-8da9-d42d71798384.png)

[2015-10-21 12:52] LauraReynal commented on #430
Apologies for the silence. I have been on 0 emails.
Still need to triage all the media and upload the other half of the videos I have.

I dont have people saying thank you, but just cheering and saying "Indonesia"

Here is one video I could find so far : https://drive.google.com/open?id=0B0X05aIHuAbeWUxLYXVUS0ZQS2M
And maybe this one too https://drive.google.com/open?id=0B0X05aIHuAbebTFGQzJVcmdkZT

[2015-10-21 15:58] jbuck commented on #473
We'll use one of the Heroku logging add-ons that has a "archive-to-S3" feature so we can do our own analysis.

[2015-10-21 16:02] jbuck commented on #464
We need to upgrade to the latest version of Hapi (v11) before I can do the code for this feature

[2015-10-21 16:43] jbuck commented on #453
I've generated CSRs and now it's just waiting in Digicert for approval

[2015-10-21 20:02] edrushka commented on #570
@KevZawacki can you please share State of Mozilla draft points when they are ready? This will be useful for Email 1.

[2015-10-21 20:14] jbuck commented on #453
I have the :zap:

[2015-10-21 20:14] #453 closed

[2015-10-21 23:44] edrushka commented on #430
hey @LauraReynal - no, you haven't delayed! Don't worry! And thanks for posting the vids. Can you please give us view access?

An update on the video project: Rainer and Spencer from Moco might be able to get us some thank you footage from Mozfest. See details in #283. No confirmation they can edit this footage, though.

[2015-10-22 14:44] adamlofting commented on #9
Let's screenshot results of the latest tests against staging and then close this ticket.

[2015-10-22 16:40] ScottDowne commented on #9
We need to screenshot from prod, or a local tunnel that is configured like prod, which is what I have been doing.

![screen shot 2015-10-22 at 12 38 20](https://cloud.githubusercontent.com/assets/197334/10671676/f6109cfc-78b9-11e5-827b-7ea303f51bed.png)
![screen shot 2015-10-22 at 12 38 03](https://cloud.githubusercontent.com/assets/197334/10671677/f7ff4162-78b9-11e5-93af-71373ab66a15.png)

[2015-10-22 16:52] ScottDowne commented on #604
https://github.com/mozilla/donate.mozilla.org/pull/609 r?

[2015-10-22 17:00] ScottDowne commented on #593
I'm thinking a post on how to implement an AB test inside react.

[2015-10-22 17:08] jbuck opened #610 "Do SAQ A-EP assessment"
Blocked on creating the Stripe account, but we'll need to do a SAQ A-EP assessment to prove we're not being stupid with cardholder data.

[2015-10-22 19:18] edrushka commented on #593
Nice! Will you profile a specific test? Would be cool if you could, and we could share results, which will make the blog relevant to both testing nerds as well as react users.

[2015-10-22 23:41] jbuck opened #614 "Fix babel-core peerDependency for npm@3"
[code]

[2015-10-23 00:07] jbuck commented on #600
I redid the PR in #615 to see if we can fix this...

[2015-10-23 00:10] #614 closed

[2015-10-23 00:16] jbuck commented on #600
There aren't many changes between the two versions of [buffer](https://github.com/feross/buffer/compare/v3.4.3...v3.5.1)

[2015-10-23 00:24] jbuck commented on #600
an even smaller change in [3.4.3...3.5.0](https://github.com/feross/buffer/compare/v3.4.3...v3.5.0)

[2015-10-23 01:02] jbuck commented on #600
Yeah, this is definitely related to 3.5.0 Using Uint8Array as a backing type for Buffer.

[2015-10-23 01:13] jbuck commented on #464
Support code is in #616

[2015-10-23 02:44] #604 closed

[2015-10-23 10:16] adamlofting commented on #188
Going to close this one, as Mozilla logo and branding converted best even for Firefox snippet audience last year. I think we have enough other tests likely to generate better returns than this one.

[2015-10-23 10:16] #188 closed

[2015-10-23 10:18] adamlofting commented on #187
This task is also captured in #370 - closing this as a dupe.

[2015-10-23 10:18] #187 closed

[2015-10-23 10:18] adamlofting commented on #370
Copying across sketch from duplicate ticket.

![f6bd0670-3c2f-11e5-923e-22f7cb0b2dae](https://cloud.githubusercontent.com/assets/1901816/10690147/d5503dba-7977-11e5-866b-38c894db6a4e.jpg)

[2015-10-23 10:46] adamlofting commented on #600
Am I right in assigning this as a P2 if we have a workaround in place? Feel free to change if it needs to be a P1.

[2015-10-23 10:48] alicoding commented on #600
I would say this is a p2 and I would suggest we do nothing until the next greenkeeper update for this package is available

[2015-10-23 10:50] adamlofting commented on #561
:+1:

[2015-10-23 10:55] adamlofting commented on #558
My ask would be to include the 'Other' input field and the one-off/monthly toggles on this page too to match the form on our donation flow.

Otherwise users will select an amount, and when they land on donate.m.o they will bypass the first screen and never see the option to make a montly gift, or to customise their donation amount.

<img width="383" alt="screenshot 2015-10-23 11 52 39" src="https:

[2015-10-23 10:59] adamlofting commented on #370
Design work is being tracked in #550

[2015-10-23 11:01] adamlofting commented on #545
@alicoding the other part that is needed in these URLs is the GA tracking code to identify where the referral came from.

This tool helps us build those URLs:
http://mozilla.github.io/mofo-campaignurl/

[2015-10-23 11:02] adamlofting commented on #526
3 variations of DE snippet copy have been running so far in this campaign.

Tracking is available here: https://docs.google.com/spreadsheets/d/1Inh1KSkXSh8cJiCnvwm00JOq85FsPQR5L3pzPzQBBio/edit#gid=9

[2015-10-23 11:02] #525 closed

[2015-10-23 11:05] adamlofting commented on #524
This is because Facebook is trying to scrape the meta tags from the 'live' URL donate.mozilla.org/de but that currently redirects to sendto.m.o as it's still on the BSD setup.

This should be solved once the new platform is live.

[2015-10-23 11:05] #524 closed

[2015-10-23 11:06] adamlofting commented on #520
:+1:

[2015-10-23 11:07] adamlofting commented on #520
not a hard blocker for launch, but this feels important to me so I'm adding it to the next milestone.

[2015-10-23 11:13] adamlofting commented on #519
Good point :+1:

This is a decision for @valianttry. Andrea, what do you think about this?

My view: It's typical to preselect the middle amount on donation arrays, but as we have four buttons I think we could select the middle on the top row.

E.g. for en-us it woud look like:
<img width="722" alt="screenshot 2015-10-23 12 09 39" src="https://cloud.githubusercontent.com/assets/1901816/10691162/10

[2015-10-23 11:19] adamlofting commented on #518
The current initial amounts are based on researching the typical fundraising asks by a couple global NGOs (Mostly WWF and Unicef depending on who was active in each locale).

https://docs.google.com/spreadsheets/d/14RsrZZ9V9Tx3jvYoYT5fYQYW1hETJkCRVVGxR7U65TU/edit#gid=0

But if we want to tweak any of these to reflect differing expectations for Mozilla, let's track that in this ticket.

This is the

[2015-10-23 11:20] #499 closed

[2015-10-23 11:22] adamlofting commented on #491
This sounds great - let's add a short note about this to the docs at the same time as implementing.

[2015-10-23 11:24] adamlofting commented on #481
We don't need this so much for the DE campaign, but let's get organized for EOY.

We also need to add Stripe donations into the transactions DB so these get included in the total.

[2015-10-23 11:30] adamlofting commented on #462
Sorry, I nearly missed this ticket!

WWF's approach was very different to Mozilla, and also managed on a country by country office basis. E.g. in the UK, we were only interested in donations linked to full addresses as the ROI calculations were based on lifetime engagement rather than one-off transactions (and we would be spending money on the media to put the message in front of potential donors)

[2015-10-23 11:37] adamlofting commented on #449
Just linking this ticket to the related one about testing this #163

[2015-10-23 11:42] adamlofting commented on #412
Related to #284

[2015-10-23 13:33] adamlofting commented on #160
Added this to the test plan:
https://docs.google.com/spreadsheets/d/1DCRW-zC3Uae5V0ubbHvFD2GCoIiS6nWItQOXKzCChe4/edit#gid=0

I think we can implement this test just using Optimizely (no upfront engineering work required).

[2015-10-23 13:34] jbuck commented on #600
Yes, P2. I need to create a small test case so I can report upstream and get it fixed.

[2015-10-23 13:36] adamlofting commented on #333
This ticket ended up tracking the build of the new snippet (which is great), but I'm going to file a new ticket to track the specific test around the language 'this really helps us'.

[2015-10-23 13:44] adamlofting opened #617 "Test monthly amount options and language on the Snippet"
Following on from #333

The new snippet includes a 'Monthly' option which wasn't show last year. We want to run some tests related to this.

- [ ] Test check-box versus radio button inputs
- [ ] Test placement (above and below the amount buttons)
- [ ] Test showing or removing the prompt 'This really helps us'

![snippeta](https://cloud.githubusercontent.com/assets/1901816/10694054/00f7311e-7994-1

[2015-10-23 13:46] adamlofting commented on #617
Link to the latest version of the build for reference:
http://scottdowne.github.io/eoy-snippets/2015-snippet/

[2015-10-23 13:46] #333 closed

[2015-10-23 13:50] adamlofting commented on #370
This ranks as a high priority test for EOY campaign:
https://docs.google.com/spreadsheets/d/1DCRW-zC3Uae5V0ubbHvFD2GCoIiS6nWItQOXKzCChe4/edit#gid=0

- [ ] After the design work is done we should file a follow up ticket for the engineering part of this.

[2015-10-23 13:52] adamlofting commented on #352
The email opt-in message won't be combined with the privacy policy checkbox as shown in the wireframes above, but we will run a test to try friendly nudges to encourage more people to join the Foundations mailing list.

[2015-10-23 13:54] adamlofting commented on #519
We might be able to test this in Optimizely without any up front engineering work but executing some JS to click various buttons on pageload (though only for users who haven't arrived with an amount already set via the URL such as snippet traffic)

[2015-10-23 13:57] adamlofting commented on #166
@edrushka I think the next step on this ticket would be to schedule some design time, and to get the copy we want to use into the L10N queue as early as possible.

[2015-10-23 13:59] adamlofting commented on #368
We're ready to do a first pass of this test once the new platform is live.

Staging URLs for the two variants are:
* https://donate.mofostaging.net/en-US/
* https://donate.mofostaging.net/en-US/one-page/

[2015-10-23 14:03] adamlofting commented on #353
Let's roll this ticket along to EOY testing.

We have a few variations suggested in this ticket but can we gather up a final list.

[2015-10-23 14:07] adamlofting commented on #167
As this is post-donation. I assume we evaluate the success of this message in relation to number of email opt-ins / social shares that take place on the thank you page.

[2015-10-23 14:08] adamlofting commented on #165
This feels like a dupe of #352

[2015-10-23 14:08] #165 closed

[2015-10-23 14:10] adamlofting commented on #163
P2'd as this might be superceeded by #368

[2015-10-23 14:15] adamlofting commented on #192
This would bring a form UX similar to https://donate.mofostaging.net/en-US/one-page/ directly onto the snippet.

<img width="395" alt="screenshot 2015-10-23 15 13 25" src="https://cloud.githubusercontent.com/assets/1901816/10694899/a77cd6ac-7998-11e5-9d31-7751d5a8ae2f.png">

This may be too much content and/or require a more careful design pass before we implement.

From an engineering point of vi

[2015-10-23 14:18] adamlofting commented on #194
@edrushka @valianttry

I personally love this idea. But, do you have the capacity, and does it fit in the priority list, to manage the up front creative part of this, and the engagement with dev edition team etc?

If not, we can move this ticket to the Bluesky milestone for future reference.

[2015-10-23 14:31] jbuck commented on #600
This is filed in https://github.com/feross/buffer/issues/79

[2015-10-23 14:52] adamlofting commented on #355
@lovegushwa

I'm sure you'll see this when you're working on it, but I just thought I'd note that when we remove the weekly option, it will create a UX challenge where it will be less obvious which state represents selected vs not-selected.

[2015-10-23 14:53] adamlofting commented on #189
@edrushka this is another test that needs design work up front. Is this already captured somewhere? Or should we file it as a new task?

[2015-10-23 14:56] adamlofting commented on #169
I'm thinking this ticket might not need to be a test, unless we have specific goals set for the thank you email.

@edrushka @valianttry what do you think?

I'm guessing the goal at this stage is simply to make people feel great about donating. Unless we want to set a more specific follow-up CTA like % of people who share the content.

Let me know, and I might refile this as a ticket just to ship n

[2015-10-23 14:59] adamlofting commented on #159
Next step is to work on copy (and design if required) for this test.

[2015-10-23 15:07] #9 closed

[2015-10-23 15:26] ScottDowne commented on #593
I'm also thinking about a blog post on how to setup a version of the donation form that's re branded.

@edrushka If I got the AB test post first though, it would profile a few tests, and how they fit together, mostly it would be how other tests fit with the new flow test, and where react makes it easier.

[2015-10-23 15:35] ScottDowne commented on #449
I wonder if asking for country is needed. I'm thinking just postal code (for credit card reasons).

If we want country for signup reasons, we could. We should test this though so we know what effect it has on our conversion. For whatever it's worth, singup does store locale.

[2015-10-23 15:37] ScottDowne commented on #449
Actually, we should do this in steps. First remove everything but postal code and country, that's already better than what we have.

Then we may want to run a test without country.

[2015-10-23 15:40] jbuck commented on #449
I think you need the country to validate the postal code, right?

[2015-10-23 15:40] ScottDowne commented on #519
@adamlofting can we just get optimizely to redirect to urls with the ?amount=10 query string?

Be careful doing this in other currencies. Should probably limit it to en-US.

[2015-10-23 15:51] ScottDowne commented on #449
@jbuck maybe, that's a good question, but I was under the impression that cvc is all you really need. See the stripe checkout widget. I think the rest is additional fraud checks against the credit card, and not against the address.

So stripe would check the postal code against the credit card, and not validate it in and of itself?

[2015-10-23 16:35] ScottDowne commented on #287
This got done, mostly. It's good enough.

[2015-10-23 16:35] #287 closed

[2015-10-23 18:22] ScottDowne opened #618 "Option to signup on form if paypal"
Not sure if this is a good idea... It might reduce conversion rate.

However, I wanted to get people's thoughts.

How I see this happening is after you click PayPal, instead of redirecting immediately... we display a "donate now" button, and a "sign up now" checkbox.

At the point, we still need email and privacy *only* for the signup. We don't want to present them with this until after they click

[2015-10-23 20:32] edrushka commented on #194
Definitely not in scope anytime soon.

[2015-10-23 20:34] edrushka commented on #189
This work is the Spectacular Snippet, ticketed here: https://github.com/mozilla/donate.mozilla.org/issues/560 unless you mean a background on the form itself, which is not ticketed and out of scope.

[2015-10-23 20:36] edrushka commented on #169
I think this isn't in scope unless we hire and onboard an email person in time. I think a localized thank you email should take priority.

[2015-10-23 20:37] edrushka commented on #593
ahh, gotcha. cool, that works.

[2015-10-23 21:07] jbuck commented on #397
I wrote a script to do the work for us #619 . We'll just need to run it on our production account when we get a chance!

[2015-10-23 21:49] jbuck commented on #473
We'll use Papertrail or Logentries. Not sure which one yet, but both work in the EU and US regions and archive to S3.

[2015-10-23 22:01] edrushka commented on #166
@adamlofting, I don't understand quite where this ask comes in. In a pop-up?

[2015-10-23 22:07] edrushka opened #620 "Design snippet with form directly embedded"
See details here: https://github.com/mozilla/donate.mozilla.org/issues/192#issuecomment-150585886

To Do:
- prioritize this against our other "big" tasks (this seems heavy for both dev and design).
- coordinate with MoCo on who designs and builds
- if they want us to design and build, get clear confirmation they will allow us to run this

cc @valianttry

[2015-10-23 22:08] edrushka commented on #192
Andrea and I agreed we can't currently prioritize any radical snippets, but I filed a design ticket in case that situation changes: https://github.com/mozilla/donate.mozilla.org/issues/620

[2015-10-23 22:27] lovegushwa commented on #558
cc @natalieworth

[2015-10-23 22:38] edrushka commented on #558
Last year's version in PSD form - hopefully this will indicate specs: https://www.dropbox.com/s/3pvwbwty7zz345f/MozOrg_Homepage-EOYFundraiser2014_Takeover-PromoTiles.psd?dl=0

[2015-10-23 22:50] edrushka commented on #558
Adding @jbertsch who's on Github! :ok_woman:

[2015-10-26 10:24] adamlofting commented on #166
Yes, I can't find the article @valianttry shared before the fundraising work-week, but that example was a pop-up that appeared for people making a one-time donation when they clicked the donation button.

[2015-10-26 10:29] adamlofting commented on #189
Yes, this test idea was for the form itself.

I'll move it to the Bluesky milestone and take it off the test plan for now.

[2015-10-26 10:37] adamlofting commented on #618
I think I see what you mean.

In the *PayPal scenario*, we don't ask the user for any personal details before redirecting them to Paypal:

<img width="719" alt="screenshot 2015-10-26 10 33 25" src="https://cloud.githubusercontent.com/assets/1901816/10726804/0e97b088-7bcd-11e5-8470-43fb02783391.png">

But the place we're thinking of adding the email opt-in is for the *Credit Card* flow:

<img width

[2015-10-26 10:40] adamlofting opened #621 "Test video message on thank you page"
Design work tracked in #572

Does showing a thank you message increase the % of email opt-ins and/or social shares?

[2015-10-26 14:45] adamlofting opened #622 "Donor History Data Query for Exact Target EOY Emails"
Follow up ticket to #529

In the future, donor history will be stored in Salesforce CRM, and connected to Exact Target (ET) allowing people sending emails via exact target to personalize messages based on prior activity.

However, this will not be ready in time for our EOY campaign, so instead we will be loading data directly into ET to enable the fundraising team to send more relevant and persona

[2015-10-26 14:48] adamlofting opened #623 "Add Stripe data to transactions db"
Part of #622

We currently use the API to extract PayPal donation history into a transactions database that is useful for analysis and to generate our end of year campaign totalizer.

This year, we will also be processing payments in Stripe, so will need to include these transactions in the database.

[2015-10-26 14:48] adamlofting commented on #481
Related #623

[2015-10-26 15:02] jessilyndavis commented on #622
Nice! Thanks Adam!

I'd like to get DEG into this convo as well in case they have recommendations on the easiest/best way to store this data in ET so that we can use it for all of our EOY emailing needs. Going to start a thread with them in Basecamp to see if/how they can best get in here with us.

[2015-10-26 15:34] jbuck commented on #481
@adamlofting I'm working on putting this in a Heroku Space so it's easier to manage

[2015-10-26 15:36] jbuck commented on #623
![bmhlbng](https://cloud.githubusercontent.com/assets/578466/10733550/bae3d616-7bd5-11e5-9509-de92748135d4.png)

[2015-10-26 17:51] #491 closed

[2015-10-26 18:04] edrushka commented on #166
@lovegushwa have you designed this variant already? I remember seeing some popups in one of your early redpens.

[2015-10-26 18:05] edrushka commented on #189
EOY 2016!!!

[2015-10-26 18:42] ScottDowne commented on #618
Works for me.

I'm just going to close this.

[2015-10-26 18:42] #618 closed

[2015-10-26 20:01] ScottDowne opened #627 "Can optimizely handle a multiple url test flow"
Question, likely for @adamlofting

I noticed if you're in the sequential page, optimizely is going to send you to either the new flow or the baseline, as a test.

After the donation, it'll send you to either thank-you or share page, which both also have a new flow.

Can optimizely retain this throughout a multi page flow? Or do we need to do this on our end?

Or do we want a segmented experience l

[2015-10-26 21:43] edrushka commented on #559
https://public.etherpad-mozilla.org/p/eoy_2015_tiles

[2015-10-26 23:49] edrushka commented on #550
Changing this milestone to Nov 6 although this should be done before @lovegushwa gets caught up in London activity.

[2015-10-27 00:32] ScottDowne commented on #160
You can do this with just the url query string: https://donate.mofostaging.net/en-US/?frequency=monthly

However, you can also flip the radio biuttons by adding a classname via optimizely. Classname is "flip-frequency" and you want to put it on the id="my=app" div or the first child of that div. Example of that in action is https://donate.mofostaging.net/en-US/?frequency=monthly&test=flip-frequenc

[2015-10-27 00:41] ScottDowne commented on #166
What about a single checkbox for monthly on the final step if they didn't select monthly on the first step.

They would not see it if they already selected monthly.

Seems less disruptive than a popup (it's also a bit less dev than a popup, but a popup isn't too bad to do, if it's worth it), although maybe we're going for disruptive, which is fine. Either way, there's another option.

[2015-10-27 00:44] ScottDowne commented on #180
We can do this now, using this test url: https://donate.mofostaging.net/en-US/?test=signup-test

This also works via a classname "signup-test" via optimizely.

[2015-10-27 00:49] ScottDowne commented on #113
The css for this is a bit easier in the new flow.

However, I'm pretty sure this can be done all in optimizely, although it might be worth it landing a patch to handle this too.

[2015-10-27 00:53] ScottDowne commented on #159
It's not clear to me how much work this is.

Is this just new copy on the first step?

[2015-10-27 13:37] adamlofting commented on #159
@ScottDowne yes, this is just a language / content test. If there is any development work it will be minimal and front-end.

[2015-10-27 13:38] adamlofting commented on #180
:+1:

[2015-10-27 13:41] adamlofting commented on #166
I think it's intended to be more disruptive to the flow.

[2015-10-27 14:00] adamlofting commented on #166
Just saw an example of this on the link Lynn shared:
<img width="646" alt="screenshot 2015-10-27 13 59 02" src="https://cloud.githubusercontent.com/assets/1901816/10760145/fda61d78-7cb2-11e5-86a1-4e2c9188b6bf.png">

* http://www.nptechforgood.com/2015/10/12/15-lessons-learned-from-donating-online-to-32-nonprofits/

[2015-10-27 14:06] adamlofting commented on #627
I'm not quite following the description here - what do you mean by `the baseline` and `new flow`? Is that BSD versus new form. Or new form with two style variations? (e.g. Jordan's new UI)?

If you mean the latter - we can set optimizely to match several URLs (e.g. seq and thank-you) and apply the modification (e.g. new CSS class) to all pages in the match consistently per user.

[2015-10-27 14:20] ScottDowne commented on #627
Yeah, new-flow is Jordan's designs, and baseline is the react forms with the old designs. Not BSD.

Examples (without url query strings, but using the classname modification):

https://donate.mofostaging.net/en-US/?test=new-flow-test -> https://donate.mofostaging.net/en-US/thank-you/?test=new-flow-test

https://donate.mofostaging.net/en-US/thank-you/ - > https://donate.mofostaging.net/en-US/thank-

[2015-10-27 14:32] adamlofting commented on #627
Cool, and yes, we'll be able to run this OK.

In the optimizely test we'll set a regex for which pages to apply the test to (or maybe this example actually works across all pages). And for the users who get allocated to the new variation, we apply the classname modification for all pages they view.

[2015-10-27 15:10] edrushka commented on #166
+1 it's supposed to be disruptive. Here's an example Jordan mocked up for accepting payments right on the snippet: https://redpen.io/nb59dfbb743a108d28

[2015-10-27 18:01] edrushka opened #631 "Create a mini-QA plan for MozFest"
Assuming Stripe is working (*ahem*), the MozFest [Fundraising table] (https://github.com/mozilla/2015.mozillafestival.org/issues/264) will be an opportunity to test/QA our new form a bit. I expect low traffic but if you'd like @alicoding to test anything in particular, please note it here!

cc @ScottDowne @jbuck

[2015-10-27 18:02] edrushka commented on #631
Also, please note if you have any ideas for an in-person donation experience (e.g. Hive meetups, teach-ins, Maker Parties etc.)

[2015-10-27 18:14] edrushka commented on #617
Here is the copy ticket: https://github.com/mozilla/donate.mozilla.org/issues/557

[2015-10-27 18:26] ScottDowne opened #632 "Stripe requires less personal information than bsd did and what does that mean for us"
The core of this idea is we collect the donation on step 2 as soon as we can, and step 3 is an optional, info collection step which also serves as a thank-you page.

Stripe, as a minimum, requires, cardnumber, and expiry date (MM/YY).

CVC is helpful for fraud, the rest isn't needed at all... for a donation.

![steps](https://cloud.githubusercontent.com/assets/197334/10768539/135a89c4-7cb8-11e5-8a

[2015-10-27 18:50] ScottDowne commented on #627
Great, I see no reason to keep this open.

[2015-10-27 18:50] #627 closed

[2015-10-27 21:36] edrushka commented on #632
I love this ticket because it raises some very interesting questions about what personal info we *can* collect (according to our privacy policy, the Basket api, hacky mofo solutions etc.) and what we *should* collect. I definitely feel like testing and establishing the **minimum** user data threshold is valuable. It'll be so interesting to see if minimal data = more donations. But from a donor ste

[2015-10-27 21:59] edrushka opened #633 "Write copy for "additional info" variant of form"
We're designing a version of the form for audiences (e.g. Tiles) that will land on it without additional context (such as snippet text, email copy etc). We need to add a bit of copy to the form itself, to let them know why/what we're asking for. Should be short-ish or the design will look weird.

Design ticket #550

[2015-10-27 22:00] edrushka commented on #550
Copy being written in #633

[2015-10-27 22:02] edrushka opened #634 "Write 'friendly nudge' copy for email opt-in"
Need a few variants of the 'friendly nudge' copy to test. https://github.com/mozilla/donate.mozilla.org/issues/352

[2015-10-27 22:03] edrushka commented on #352
Copy variants being tracked here #634

[2015-10-27 22:09] edrushka opened #635 "Write copy for thank you page video variant"
Write a line or two of copy for the version of the thank you page with the video (design here: 572)
Reminder that people seeing this page will have already signed up for email on Page 3 of the form.

@ScottDowne can you put the staging links on here, please? Page 3 of form with email signup and Thank You page where vid will go.

[2015-10-27 22:10] edrushka commented on #572
Copy for video variant being written here: 635

[2015-10-27 22:23] edrushka opened #636 "Write copy for Spectacular Snippet"
Not sure if Spectacular Snippet needs different copy than regular snippet, but if so, let's write it here!

Design for Spectacular Snippet: #560
Copy for normal snippet #567

[2015-10-27 22:23] edrushka commented on #560
Copy being written here #636 (if we're using something different than normal snippet copy).

[2015-10-27 22:37] edrushka opened #637 "Write 'further monthly ask' copy for popup"
One test we're running is the 'further monthly ask' pop-up window if donors choose to make one-time donation. We need to copy for the pop-up.

Test ticket: #166
Example of popup design (shows basic amount of text): https://redpen.io/nb59dfbb743a108d28

[2015-10-27 22:46] edrushka opened #638 "Design pop-up for 'further monthly ask'"
Testing a pop-up prompt asking people to who select one-time to switch to monthly actually has potentially high impact, according to [Adam's chart] (https://docs.google.com/spreadsheets/d/1DCRW-zC3Uae5V0ubbHvFD2GCoIiS6nWItQOXKzCChe4/edit#gid=0), so let's make sure we pay attention to the design.
Test ticket here: #166
Copy ticket here: #637
Basic idea of the pop-up here: https://redpen.io/nb59dfbb

[2015-10-27 22:48] edrushka commented on #166
I made a design ticket for this: #638. Given its potential impact, I'll put this high in Jordan's queue for post-MozFest. Design deadline is currently Nov 20, so the build for this will be late Nov.

[2015-10-27 22:58] edrushka opened #639 "Write copy for social share graphics"
Note, this ticket is for copy incorporated into the graphics only, not the actual tweets or FB posts. Only need a couple variants with minimal character count. I know we can't localize our official FB or Twitter, but some phrases (e.g. I love/J'aime...) are pretty recognizable if we want to do our top languages.

[2015-10-27 23:09] edrushka commented on #180
Clarifying: This test would be if the email signup is included in step 3 of the form (as in Scott's staging link above), but not checked. The thank you page would be the same as if there was no signup in step 3 -- aka the current/baseline thank you -- which prompts people to enter their email. Is this correct?

[2015-10-27 23:11] edrushka commented on #639
We can also let the designers lead on this, and only write copy if they require it.

[2015-10-27 23:25] edrushka opened #640 "Write variant copy for baseline thank you page"
One of our tests is to simply tweak the copy on our current (baseline) thank you page: #167

Please write a couple variants.

[2015-10-27 23:31] edrushka commented on #159
Clarifying: Does the copy go on page 1 of the form? So it's like the ["additional info" variant] (https://github.com/mozilla/donate.mozilla.org/issues/550) except instead of giving them context, we're thanking them?

[2015-10-28 00:15] ScottDowne commented on #180
@edrushka Yeah, so:

1. if the signup checkbox is included and not checked -> ask again in the thank you
2. if the signup checkbox is included and is checked -> don't ask again in the thank you
3. if the signup checkbox is not included and thus cannot be checked -> ask in the thank you

[2015-10-28 00:23] edrushka commented on #180
Yes. So this doesn't need any additional design, and just needs dev work to create the correct flow for each of those instances, correct? No new things need to be written, designed or built?

[2015-10-28 06:17] ScottDowne commented on #180
We just need to turn on the urls in optimizely at this point, everything looks to be good to go when it's time to test.

[2015-10-28 15:07] edrushka commented on #180
Ok. I removed the L10N needed flag from the testing spreadsheet.

[2015-10-28 15:10] jbuck commented on #632
@edrushka it's worth considering that the amount of data we get from PayPal donations is more limited compared to credit card donations. Here's what we capture for each PayPal donation:

* transaction id
* timestamp
* email
* name
* amount
* currency
* country

[2015-10-28 15:37] lovegushwa commented on #620
@edrushka I think I have a wire frame already for this as well. https://redpen.io/cwd007076485185767
<img width="724" alt="screen shot 2015-10-28 at 8 35 22 am" src="https://cloud.githubusercontent.com/assets/12228435/10793670/0ed164da-7d4f-11e5-9017-7fd6218034a8.png">

[2015-10-28 19:57] edrushka commented on #570
Here's the top line "what we did in 2014" from the draft State of Mozilla:

*In 2014, we built and improved products like the Firefox browser, Firefox OS, and our Content Services offerings. We fostered educational programs and tools like Hive Learning Networks, Mozilla Clubs, and Webmaker for Android. We brought together diverse leaders through the Mozilla Festival, Mozilla Developer Network, Moz

[2015-10-29 10:03] adamlofting opened #643 "Tweak L10N to capture other en locales (inc en-gb)"
@alicoding - what are your thoughts on this? Do we just duplicate the strings, or can we set this automatically somewhere to re-use the en-us strings? That might be easier for maintenance.

--

As a start, what can we do to setup an en-gb locale?

This thank you page sends me straight to the social share, but actually anyone who speaks an en variant (including the :crown: 's English) is a valid ca

[2015-10-29 13:47] adamlofting commented on #159
Yes, this was a more subtle test around language. I can't remember who proposed it, but I think it was as simple as testing phrases like 'thank you for supporting Mozilla' and 'thank you for donating' on the first step of the form to see if this helped with momentum.

It could be a simpler design variant such as adding text somewhere like this:
<img width="671" alt="screenshot 2015-10-29 13 41 38"

[2015-10-29 19:20] edrushka commented on #159
Sweet. I'll make a design ticket for Jordan.

[2015-10-29 21:47] alicoding commented on #643
First thing I would do here is to allow `en-*` to see the mailing list there and then create more en- locales such as en-GB where most of the strings would be default to English copy we have anyway and we can change them as we see. That way we can then start mapping currency with the locales we support.

[2015-10-29 21:54] edrushka opened #646 "Write EOY email appeal series"
These are the emails that will go out with Mozilla signatories like Mark & Mitchell, directly asking for donations. These will follow the [Impact emails] (https://github.com/mozilla/donate.mozilla.org/issues/570) set to launch in mid-November.

[2015-10-29 21:55] edrushka commented on #646
It's possible @KevZawacki might have some capacity to help post-MozFest.

[2015-10-29 22:00] jbuck commented on #481
Okay, I have the existing code running in Heroku. Now we just need to figure out the web server API bits!

[2015-10-30 17:11] valianttry opened #648 "Setup Customer Support in Desk.com for donors and email list members"
@adamlofting currently we receive email from list members who reply to askjoin@ and donate@ email addresses in an unmonitored inbox. We also receive donate@ emails from people who click the link to email us on our donation forms. This is obviously sub-optimal customer service!

* Can we use desk.com to manage our incoming customer email?
* How do we set up a system to triage, route, and resolve is

[2015-10-30 23:20] edrushka opened #650 "Identify donors for thank you cards"
@adamlofting, for this first round of cards, can we please sort by:
- have a full mailing address (so this will be CC donors via BSD)
- live in USA or UK
- have donated within past 6 months
- upper limit is $1000 USD (anything more needs personalized contact)

[2015-10-30 23:52] jbuck commented on #481
Okay, this is up and running again: https://d3gxuc3bq48qfa.cloudfront.net/eoy-2014-total

[2015-10-30 23:52] #481 closed

[2015-10-31 01:31] ScottDowne opened #651 "selenium test not running locally"
Might just be my setup, so can @alicoding try it locally to see if it's me or not?

[2015-10-31 01:32] ScottDowne commented on #651
[code]

[2015-10-31 01:33] ScottDowne commented on #651
I cleared node_modules and updated node to v0.12.7

[2015-10-31 01:35] alicoding commented on #651
Node is now version 5.0.0 I think you should update again hehe but will try locally once I get home

[2015-10-31 01:43] alicoding commented on #651
Just ran the test with no problem, but will try again after nuking my node_modules directory.

[2015-10-31 02:54] ScottDowne commented on #651
Yeah, upgrading to 5.0.0 fixed it. It runs, finishes, but also finishes with an error.

I don't know why, but the extreme jump from 0.12.x to 5.0.0 made it feel like a different feature set, one I didn't think we were using.

[2015-10-31 03:01] ScottDowne commented on #651
Scratch that, doesn't finish, hits an error, but I think this one is on us.

[2015-10-31 03:08] alicoding commented on #651
I have PR to fix the other issues
On Oct 30, 2015 11:01 PM, "ScottDowne" <notifications@github.com> wrote:

[2015-10-31 04:00] ScottDowne commented on #651
Landed and fixed.

[2015-10-31 04:00] #651 closed

[2015-11-02 03:57] valianttry commented on #557
We already began drafting snippet copy in partnership with the Community Engagement team:
https://docs.google.com/document/d/1GrV5AECse92F--4btS24GIdyu7mUq6nAGCtHUveZrRM/edit

[2015-11-02 04:55] valianttry commented on #634
@edrushka can you provide more context? Which "nudge" copy is this? Monthly giving?

[2015-11-02 06:12] valianttry commented on #639
Started some variants here:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

[2015-11-02 06:13] valianttry commented on #633
I wrote some custom copy variants for this form here:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

[2015-11-02 06:14] valianttry commented on #634
I drafted some nudge copy here:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

[2015-11-02 22:59] valianttry commented on #640
Variants are in this document:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

Matej Novak (of MoCo) reviewed and edited this copy so these should be GTG!

cc @lovegushwa @edrushka

[2015-11-02 23:00] valianttry commented on #639
Matej Novak (of MoCo) reviewed and edited the copy in the doc, so these should be GTG!

I am definitely open to more suggestions here... from cooler kids than me :smile_cat:

cc @lovegushwa @edrushka

[2015-11-02 23:01] valianttry commented on #635
Copy is here: https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

Matej Novak (of MoCo) reviewed and edited the copy in the doc, so these should be GTG!

I am definitely open to more suggestions here... from cooler kids than me :smile_cat:

cc @lovegushwa @edrushka

[2015-11-02 23:01] valianttry commented on #634
Copy is here: https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

Matej Novak (of MoCo) reviewed and edited the copy in the doc, so these should be GTG!

I am definitely open to more suggestions here... from cooler kids than me :smile_cat:

cc @lovegushwa @edrushka

[2015-11-02 23:01] valianttry commented on #633
Copy is here: https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

Matej Novak (of MoCo) reviewed and edited the copy in the doc, so these should be GTG!

I am definitely open to more suggestions here... from cooler kids than me :smile_cat:

cc @lovegushwa @edrushka

[2015-11-02 23:21] valianttry commented on #568
Jenny's handle is @JennyDouglas

Please add her @edrushka or @simonwex ?

[2015-11-03 10:49] adamlofting commented on #506
Contract has been signed! :hatched_chick:

go go go!

:shipit:

[2015-11-03 10:52] edrushka commented on #506
:racehorse::racehorse::racehorse:

[2015-11-03 14:30] ScottDowne commented on #506
:boom:

[2015-11-03 14:31] jbuck commented on #506
:tada: :tada: :tada: :tada: :tada:

[2015-11-03 16:00] ScottDowne commented on #436
We can configure the address now: https://donate.mofostaging.net/en-US/?test=address-test%20new-flow-test

Right now it's just country and postal/zip code.

[2015-11-03 16:11] ScottDowne commented on #617
@adamlofting I noticed your question late by chance going through ticket lists...

Yes, I think this should be a config if it gives us the ability to ship changes faster without being blocked by other people.

In the list at the top, Here is what's done for dev and what's not:
- [ ] config for check-box versus radio button inputs
- [ ] config for placement (above and below the amount buttons)
- [

[2015-11-03 19:10] valianttry commented on #506
Andrea sent credentials to @jbuck as an "American representative" just now.

[2015-11-03 19:26] jbuck opened #659 "Setup Stripe bank account transfer"
We need to setup an automated or manual balance transfer process for Alex

[2015-11-03 19:43] jbuck commented on #506
We have a working Stripe account! :dancer:

[2015-11-03 19:43] #506 closed

[2015-11-03 20:12] valianttry opened #661 "Set up email receipt for donors through Stripe"
We have standard language we must include in every receipt emailed to donors. Current Stripe options are very limited, and may not allow us to include this text:

*Contributions go to the Mozilla Foundation, a 501(c)(3) organization, to be used in its discretion for its charitable purposes. They are tax-deductible in the U.S. to the fullest extent permitted by law. Mozilla did not provide any good

[2015-11-03 20:13] valianttry commented on #661
@jbuck looking at the dashboard, looks like we can only update an icon -- it is possible we will need to skipe Stripe's automatic receipt altogether and just set this up in ExactTarget so we are in legal compliance.

[2015-11-04 04:09] valianttry commented on #436
@ScottDowne I did a test, everything looks really great. Two quick things:
1. There's no default amount (maybe this is solved depending upon context; e.g. if someone selects an amount on snippet it is carried onto the form)
and
2. I noticed I have to enter my email on the donation form AND re-enter it on the email signup page. Can we auto-fill email for the optin page?

[2015-11-04 06:00] ScottDowne commented on #436
@valianttry glad it works :)

1. amount is handled from a value in the url, which the snippet can adjust. It's not quite the same as a default value, but gets the same result for the moment. If we add a default amount, it would be for cases that didn't come from sources we control, like a google search, direct url typed, or a independently shared url. It is something I'm sure we'll get to at some

[2015-11-04 06:07] valianttry commented on #370
Copy ticket is in https://github.com/mozilla/donate.mozilla.org/issues/633 and the included Google doc has suggested variants ready to plug into design.

[2015-11-04 06:27] #634 closed

[2015-11-04 06:28] #640 closed

[2015-11-04 06:28] #635 closed

[2015-11-04 06:29] #633 closed

[2015-11-04 06:54] valianttry commented on #637
I drafted 2 variants (long and short) in this Google doc:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

[2015-11-04 06:57] #637 closed

[2015-11-04 11:00] adamlofting commented on #661
The work to fix this is scoped in https://github.com/mozilla/donate.mozilla.org/issues/359

We said it wasn't a blocker for launching as the 75% of donors who go through PayPal aren't currently getting this message.

If we P1 the ticket #359 I think we could get that launched in time to catch most of the EOY traffic this year.

[2015-11-04 11:21] adamlofting commented on #568
Added :+1:

[2015-11-04 11:21] #568 closed

[2015-11-04 12:04] adamlofting commented on #648
Yes, I now have admin access and have added accounts for you and @edrushka

* We'll need to setup rules and filters based on incoming email in desk.com
* This inbox is shared with Webmaker and Teach teams, but as a starting point we can auto assign labels and staff to emails that come from askjoin@ or dontate@
* I can help with the setup, but will need your requirements

* That's up to you. Who is

[2015-11-04 15:11] cassiemc commented on #648
Once this is setup, would be awesome to surface these kinds of support requests to the team at large at demos and otherwise.

[2015-11-04 16:50] jbuck commented on #659
I've switched this to a manual transfer as Alex requested.

[2015-11-04 16:50] #659 closed

[2015-11-04 16:50] jbuck commented on #584
Stripe is working, Paypal isn't.... yet.

[2015-11-04 16:53] jbuck commented on #584
Okay, I think the figured out the Paypal error. @ScottDowne wanna try again?

[2015-11-04 17:15] ScottDowne commented on #584
@jbuck http://1.bp.blogspot.com/-RpeU0Q5AmBU/VOjJv_Jc2uI/AAAAAAAAHEU/fLrQE1qoGpA/s1600/post-40618-Han-Solo-were-all-fine-here-no-2dLR.gif

[2015-11-04 18:06] #584 closed

[2015-11-04 18:14] valianttry commented on #661
3 options:

A. Crappy auto-email that doesn't provide much customization
B. Journey Builder in ExactTarget ? @jbuck will explore.
C. Something more robust like Sawmill

[2015-11-04 18:18] jbuck opened #666 "Notify us via email if large donation occurs"

[2015-11-04 18:19] jbuck commented on #397
Done in testing and prod

[2015-11-04 18:19] #397 closed

[2015-11-04 18:22] #360 closed

[2015-11-04 18:22] ScottDowne commented on #360
Duplicate of #661

[2015-11-04 18:23] jbuck commented on #464
This is blocked on DNS being setup

[2015-11-04 19:20] valianttry commented on #648
Great! @adamlofting I signed in and am looking around. Thanks!

[2015-11-04 20:53] ScottDowne opened #670 "id/share page isn't fully translated"
I know this is a fairly low priority, so instead of fixing, I filed.

https://donate.mozilla.org/id/share/ <- not translated.

Not sure if that's a bug, or if it's simply missing those translations.

[2015-11-04 21:07] valianttry opened #671 "Digit count in CVC error ignores AMEX reality"
AMEX has a four-digit CVC on the front of the card (vs. Visa and MC, which have a three-digit CVC on the back).

Could we do this to fix?
Customize the message if people use AMEX vs. Visa or MC. New text for AMEX would say: "You can find your four-digit CVC on the front of your AMEX card" and we would need a new image that shows location on an AMEX with arrow.

![donate_mozilla_org___give_to_mozil

[2015-11-04 21:10] valianttry commented on #671
Image examples:
![cvvcode](https://cloud.githubusercontent.com/assets/9830371/10952011/5d41de1e-82f5-11e5-87c6-13a81f25a103.jpg)

[2015-11-04 21:16] valianttry opened #672 "When switching between monthly/one-off maintain array selection position, rather than amount"
![untitled_presentation_-_google_slides](https://cloud.githubusercontent.com/assets/9830371/10952159/2d5b8f6e-82f6-11e5-84f1-3a0be607fa53.png)

[2015-11-04 21:23] valianttry opened #673 "Error message(s) for required fields"
Outcome:
I hit "submit donation" without filling out any fields and they required fields all turn red, but the error only mentions the privacy policy.

Expected outcome:
I hit "submit donation" and an error message says something like "please complete required fields in red"

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10952374/3aebcfbc-82f7-11e

[2015-11-04 21:27] ScottDowne commented on #672
@adamlofting

Hm, I think I agree, it's a bit weird.

The purpose of this is so we ask for less from monthly subscriptions.

However, we have the amount buttons before the frequency anyway, so it's kinda counter productive to switch it after they have made a choice.

It's still useful if it's set to monthly as a default config, but in that case, we don't need it to update as the user makes changes

[2015-11-04 21:28] jbuck commented on #671
It's possible to do client-side credit card type detection. Should we do
that and vary the text based on the type of credit card?

On Wed, Nov 4, 2015 at 4:10 PM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-04 21:30] ScottDowne commented on #671
@jbuck we are already detecting card type, so this is a fairly easy fix.

Hardest part is getting an image that works well in that space and translating the text.

[2015-11-04 21:46] valianttry opened #674 "Strange error pops up when Stripe payment tokens are reused"
![inspect_network_request_and_donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10952999/6a43642a-82fa-11e5-86be-2d2122f4df61.png)

[2015-11-04 21:48] jbuck commented on #674
https://github.com/mozilla/donate.mozilla.org/blob/d27b861dfec1381cef422670dc512b23047bf6e4/routes/index.js#L73-L76 is the relevant line of code

[2015-11-04 21:49] valianttry opened #675 "When i select "PayPal" it seems like there should be a loading bar or reassuring "loading" animation"
on
https://donate.mofoprod.net/en-US/?test=new-flow-test

If I select "PayPal" nothing happens for 1 - 2 seconds. Loading bars have proven in other testing to prevent abandonment (esp. during heavy usage periods that cause longer than average load times).

[2015-11-04 21:57] valianttry opened #676 "Changing my mind and switching to Credit Card after I just selected PayPal sends me to PP anyway"
https://donate.mofoprod.net/en-US/?test=new-flow-test

If I click "PayPal" then change my mind and click "Credit Card" i'm redirected to PayPal anyway.

Seems like if I make that quick switch it should overide the redirect to PP?

[2015-11-04 21:59] valianttry opened #677 "Some multi-letter currencies are big and off-center"
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10953309/3778c132-82fc-11e5-84cb-5457e1e6b3c7.png)

[2015-11-04 22:00] valianttry commented on #677
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10953357/7106dcc2-82fc-11e5-98c6-749475c7d477.png)

[2015-11-04 22:05] valianttry opened #678 "Step 2 is not linked if you go back to Step 1"
If i select amount (Step 1) and then go to Step 2, I should be able to go back by clicking the circle (1) . If I review my amount selected, I should then also be able to click the circle (2) if i want to return to Step 2. Instead, (2) is not a link, so I therefore can only click the red "NEXT" button to get to (2)

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/a

[2015-11-04 23:10] jbuck commented on #674
I looked at the Stripe logs, and the problem was that the payment token was getting reused.

[2015-11-04 23:13] valianttry opened #679 "Review and update the FAQ in EN"
Review this copy:
https://wiki.mozilla.org/Donate

Make any needed tweaks in English (US)

[2015-11-04 23:20] valianttry commented on #545
@JennyDouglas and @jbertsch so they are looped!

[2015-11-04 23:32] jbuck commented on #385
This also applies to staging/production public API keys for Stripe

[2015-11-04 23:36] jbuck commented on #545
Using @adamlofting's URL builder I get:

* Header - https://donate.mozilla.org/en-US/?ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=header
* Promo - https://donate.mozilla.org/en-US/?ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=promo
* Footer - https://donate.mozilla.org/en-US/?ref=EOYFR2015&utm_campaign=E

[2015-11-04 23:52] valianttry commented on #545
@jbuck we need the gift array to be higher given avg gift from homepage is around $28. So we need an array like this (what you see when you click "Donate" from mozilla.org right now):

![sendto_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10955895/02fbfa04-830c-11e5-9bf7-094d664fd663.png)

[2015-11-04 23:54] valianttry commented on #545
Also @jbuck since this link auto-redirects to sendto at the moment, why not ask @jbertsch to update them asap? Then I presume they'll show the new form once the dns switch happens?

[2015-11-05 00:15] jbuck commented on #545
Okay, updated URLs:

* Header - https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=50&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=header
* Promo - https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=50&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=promo
* Footer - https://donate.mozil

[2015-11-05 00:19] jbuck commented on #679
@valianttry What would you think of moving the FAQ directly to donate.mozilla.org at some point? Then we could get it translated!

[2015-11-05 01:22] valianttry commented on #679
@jbuck i think that works fine -- the only reason it's in wiki is because a wiki is very easy to update. How easy will it be to update, say, donate.mozilla.org/faq?

[2015-11-05 01:24] valianttry commented on #545
Hm, @jbuck i try that URL and it renders like this (note the commas between the amounts switched to percentage sign):

https://sendto.mozilla.org/page/contribute/givenow-seq?presets=100%2C50%2C25%2C15&amount=50&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=header#page-1

And it appears to default back to the smaller amounts version. Halp? :sos:

[2015-11-05 01:39] ScottDowne commented on #545
@valianttry not sure if this is your issue, but the presets-100,50,25,15 won't work in the old form (sendto).

I forget how or if we did that last year.

[2015-11-05 01:39] valianttry commented on #679
@edrushka can you review this? We should also share with Angela and Pamela.

https://docs.google.com/document/d/1YzgIahdG3q3LbQtCKHTzs0N0X8_JTQHmZn61yYmCs_8/edit#

[2015-11-05 01:41] valianttry commented on #545
oh right. it's redirecting. So there''s no current way to test the URL?

[2015-11-05 02:26] jbuck commented on #545
You can test the URL by change "donate.mozilla.org" to "donate.mofoprod.net"
(which is how I got that screenshot)

On Wed, Nov 4, 2015 at 8:41 PM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-05 02:29] jbuck commented on #679
@valianttry definitely harder to update donate. Not much harder, but definitely something we can do later

[2015-11-05 03:21] valianttry commented on #545
ok awesome! I'll share this with @jbertsch

[2015-11-05 03:36] valianttry commented on #169
+1 to holding on a test --  just getting thank you emails working with Stripe is proving tricky and time is ticking away.

[2015-11-05 03:39] valianttry commented on #449
@LRSaunders might know better, but I believe all Stripe does is validate that the zip code entered matches the one on file with the credit card company. I want to double check that we DO have a version of the form that only asks for first name, last name, CC#, mm/yy, CVC and zip? (e.g. no street, city, or country).

[2015-11-05 04:39] valianttry commented on #507
Is this ticket a duplicate? https://github.com/mozilla/donate.mozilla.org/issues/634

If yes, I wrote some alternate variants in this document:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

Suggest closing this ticket if it's a duplicate @edrushka (your call)

[2015-11-05 05:52] valianttry commented on #671
Did @sabrinang design that little card in the (?) message? This one:
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/10960921/d1bdfe06-833d-11e5-8926-6ada4278566f.png)

This is an image of where the CID is on an AMEX:
![amex-pop](https://cloud.githubusercontent.com/assets/9830371/10960958/413aa4e6-833e-11e5-9f93-d93001869706.jpg)

The language shoul

[2015-11-05 06:23] valianttry commented on #553
Confirmed: We have a Task Rabbit business account and I have the credentials. The plan will be to invite a temp to come to the SF office and hand-address envelopes once we have Nick's MTV stack (just emailed him).

[2015-11-05 09:59] adamlofting commented on #545
Spotted one small bug in the footer URL. It needs an `&` after the `amount=50`

Repeated here, with the correction:

* Header - https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=50&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=mozilla.org&utm_medium=referral&utm_content=header
* Promo - https://donate.mozilla.org/en-US/?presets=100,50,25,15&amount=50&ref=EOYFR2015&utm_campaign=EOYFR2

[2015-11-05 10:04] adamlofting commented on #677
This is a dupe of #394 - but I'll close the older bug as this has a couple of examples.

[2015-11-05 10:04] #394 closed

[2015-11-05 10:07] adamlofting commented on #675
Closing this as a dupe of #415 and completely agree we should add this.

[2015-11-05 10:07] #675 closed

[2015-11-05 10:09] adamlofting commented on #676
Marking this as related to #415 because if we immediately display the paypal loading message, this will be less confusing.

However it raises a new question, should we allow a cancel/exit icon while the paypal loading message is displayed? This would give people the option to change their mind and switch to credit card, but might unintentionally be clicked by people who are intending to donate via

[2015-11-05 10:17] adamlofting commented on #672
Yes, this was deliberate, but can be changed if we prefer. This is pretty common practice for monthly/one-off online giving and something I did a lot of testing around at WWF. The typical ask was £3 per month, but for a one-off gift this would be £40 instead.

If we want to use the same amounts for monthly and one-off, I suggest we set them to the same values for now rather than remove this functi

[2015-11-05 10:18] adamlofting commented on #518
We can also set the one-off and monthly amounts to be the same here if we don't want the array to change as user's choose between monthly and one off. See discussion in #672

[2015-11-05 10:20] adamlofting commented on #673
Related: #412 #413 #485

[2015-11-05 10:27] adamlofting commented on #661
* This isn't an option yet - MoCo haven't bought / implemented the Journey Builder functionality.

I think we've switched on the basic Stripe auto-email (#360) which gives us a minimum viable level of service, and think our next effort is best spent on Sawmill as it's proven infrastructure with localization options already in place.

[2015-11-05 10:30] adamlofting commented on #648
Yes, we had a version of this on the daily EOY stand-ups last year which was great.

Another note:

- [ ] When we're worked through the points above, we'll need to update email config settings to enable replies from desk.com to be sent out from donate@moz... (currently all replies are from help@webmaker.org)

[2015-11-05 13:31] jbuck commented on #545
@adamlofting Thanks for the catch! And the URL builder :dancer:

[2015-11-05 15:16] ScottDowne commented on #676
I'm not sure how I feel about a cancel button.

I want to experiment with making the button a link.

[2015-11-05 15:20] ScottDowne commented on #672
@adamlofting This would be less of an issue if we asked for frequency before amount. I wonder if that would be a better experience in general?

[2015-11-05 16:12] LRSaunders commented on #449
Stripe has a couple different options. They validate the address if you add it ( I think they just use the first numbers) They also validate with just the zip.

All you technically need is cvv but zip is recommended for cases of fraud.

[2015-11-05 16:27] ScottDowne commented on #449
@valianttry We do have a similar form for what you're asking, but it still asks for country. So first name, last name, CC#, mm/yy, CVC, country and zip

https://donate.mofostaging.net/en-US/?test=address-test

Initially the comp had country and no zip. I pushed a bit back on that going for zip and not country. I ended up with both because it was still better than everything.

I think there is also

[2015-11-05 16:56] jbuck commented on #385
I looked at the build times for various parts of the build on my local machine:

* build:* - 34s
* build:* --parallel - 25s
* build:l10njson - 1s
* build:js - 25s
* build:exchangerates - 1s
* build:css - 2s

Looks like I need to focus on the js build-time steps!

[2015-11-05 17:39] valianttry commented on #676
I don't think we need 'cancel'. People can always just hit "back" once PP loads, and we're talking about a smallish # of people.

[2015-11-05 17:53] valianttry opened #686 "Write copy for auto-thank you message after donation"
Building ticket is here https://github.com/mozilla/donate.mozilla.org/issues/661

[2015-11-05 18:01] jbuck commented on #610
https://support.stripe.com/questions/do-i-need-to-be-pci-compliant-what-do-i-have-to-do has the answer to this question, simply visit https://dashboard.stripe.com/account/security and get this box:

![screenshot 2015-11-05 12 57 11](https://cloud.githubusercontent.com/assets/578466/10977126/4338d162-83bd-11e5-88c3-3e4a0b572d4c.png)

@valianttry you're an executive officer right? :D

[2015-11-05 19:34] valianttry commented on #622
I would add country = US -- that data point will let us segment by those who've participated heavily in advocacy this past year (our biggest campaigns and wins with Net Neutrality and USA Freedom targeted our US list only)

[2015-11-05 19:48] ScottDowne commented on #676
After taking a quick look, canceling it is probably not worth it, when compared to having a spinner.

We agreed to close this for now.

[2015-11-05 19:48] #676 closed

[2015-11-05 19:53] jbuck opened #687 "Access to Google Analytics dashboard for donate.m.o"
@adamlofting could you give access to https://www.google.com/analytics/web/?authuser=0#dashboard/x2x17FAsShuixRj2bK-YpQ/a49796218w101806119p105783219/ for Andrea and I?

[2015-11-05 20:14] #545 closed

[2015-11-05 21:01] valianttry commented on #558
Update from @JennyDouglas on our timing -- it's TIGHT! @lovegushwa can @natalieworth move this FW while you're in Mozfest vortex? I'm getting a little worried about meeting these deadlines....

**Homepage Tile Go Live Date: November 15**
Final assets delivered by Nov 10 to MoCo to have 3 days for implementation, stakeholder review and code review.

**Homepage Takeover Go Live Date: December 1**
Fi

[2015-11-05 21:04] JennyDouglas commented on #558
One more thing :) Nov 15th is a Sunday, so it will be the 16th.

[2015-11-05 21:20] jessilyndavis commented on #622
Hey Adam!

DEG is working on scoping out the data import + creation of sending data extension so that we can use some sexy conditional content.

2 things we need:

1) Date by which you'd like to send the 1st email (including the date if you're doing an a/b test).

2) Sample data file on Brick FTP - ideally with people who exist in Master_Subscribers in ET and are subscribed to the Foundation newsl

[2015-11-05 21:25] jessilyndavis commented on #622
The plan will be to take the database from Adam with the following fields:

    email address
    is regular donor
    highest previous gift
    total number of gifts
    last donation date

and match them to subscriber data in Master_Subscribers:

    Opt-in to Foundation emails (FOUNDATION_FLG = Y)
    Email Format
    Language (Language_ISO2)
    Country
    First Name
    Last Name

Then we ca

[2015-11-05 21:29] ScottDowne commented on #413
Closing this in favour of #673 because it has a bit more info than this.

[2015-11-05 21:29] #413 closed

[2015-11-05 21:32] #385 closed

[2015-11-05 21:35] jessilyndavis commented on #622
We can segment by country - no prob. If you'd like - and if Adam can pull it into said data extraction - we can add in a field for:

     advocate

And mark with a Y if they've been recently active. Then that info can be used for segmentation too.

[2015-11-05 21:37] ScottDowne commented on #673
I have been in a case before where designers have had me add an error message to every field...

This is the project: https://petitions.mozilla.org/data-retention/

I previously had one error under email and it got nixed during QA.

The argument was adding a "fields highlighted in red are required"-ish error under email was confusing and too strongly associated with email.

I was kinda hoping a re

[2015-11-05 21:57] edrushka commented on #558
@cassiemc - your thoughts on @natalieworth taking this on? Deadline is right around the corner.

[2015-11-05 22:00] ScottDowne commented on #673
I did a bit of research on this, for fun.

It's clear error messages are not clear... Lots of opinions.

Some bits I learned that I like.

1. Put errors close to the point of input. I read this two ways, but more on that in a bit.
2. Put errors above point of input. This is because screen readers and people read top down.

Sooo, I think a fairly good solution for now is put the error above the sub

[2015-11-05 22:05] ScottDowne commented on #673
We also don't have labels, but we use placeholder text, which gives us less placement for errors, example, this method would be confusing for us: http://i.stack.imgur.com/bvd12.png

[2015-11-05 23:21] valianttry opened #691 "Form is not showing up in Safari and Safari Mobile"
This is what i see at donate.mofoprod.net on my iPhone 6s using Chrome:

![img_1242](https://cloud.githubusercontent.com/assets/9830371/10984779/cd7f1ca6-83d0-11e5-8a17-d497618ee942.PNG)

[2015-11-05 23:27] valianttry commented on #691
Note same sadness ensues when I us Chrome on iOS to see donate.mofostaging.net as well. :cry:

[2015-11-05 23:35] ScottDowne opened #692 "New flow thank you page privacy checkbox doesn't select if you click the label"
/thank-you/?test=new-flow-test privacy checkbox doesn't select the checkbox if you click the label.

No idea why, it has an id and for prop, and the same component works in other pages.

[2015-11-06 07:39] valianttry commented on #622
I created a draft appeal production schedule. There's a column for Audience Segmentation which includes my thinking about how we should personalize based on attributes. Thoughts / input welcome:
https://docs.google.com/spreadsheets/d/1ZMiRmdJhQACzlz9nZeARHBR2LCMrJZYh7MwXsgkhZQ8/edit#gid=5

[2015-11-06 07:46] valianttry commented on #646
Email production schedule is here:
https://docs.google.com/spreadsheets/d/1ZMiRmdJhQACzlz9nZeARHBR2LCMrJZYh7MwXsgkhZQ8/edit#gid=5

Launch / Draft Due
4-Dec / 19-Nov
8-Dec / 23-Nov
15-Dec / 27-Nov
23-Dec / 27-Nov
28-Dec / 27-Nov
30-Dec / 27-Nov

[2015-11-06 09:11] valianttry commented on #687
here's a full list of folks who'd probably want to see the dashboard at some point during the campaign:
me
erika
ben niolet
jean collings

not sure if you have to grant individual access but those are the folks off the top of my head who might need to see this report.

[2015-11-06 12:47] edrushka commented on #558
Due date is Nov 10.

[2015-11-06 15:22] adamlofting commented on #687
I've requested admin access to this profile today as I can't currently add users / manage settings. I'll add these people as soon as that's solved.

(+ moving this ticket out of the launch milestone as it shouldn't block go live)

[2015-11-06 15:32] adamlofting commented on #691
Just checked, and I get the same on Safari on iPhone.

[2015-11-06 15:33] jbuck commented on #691
It won't work on Safari because our Intl polyfill is not being loaded

[2015-11-06 17:19] valianttry commented on #558
Waiting for Matej's review of copy, but if you want to use it for placeholder in design here it is:

**Mozilla is proudly non-profit — donate today
Join millions around the world who are helping us continue our mission to keep the Web open and free.**

----
Last Year's copy for reference:
Your Gift Helps
People everywhere are helping us build the Internet the world needs — an Internet where the pu

[2015-11-06 17:26] valianttry commented on #558
@natalieworth Adam's comment here outlines the basics of the gift array design: https://github.com/mozilla/donate.mozilla.org/issues/558#issuecomment-150542749

Amounts should be: $100, $50, $25, $10 [other]  *one time *monthly

[2015-11-06 18:17] jbuck commented on #610
[SAQ assessment](https://github.com/mozilla/donate.mozilla.org/files/29086/document.pdf)

[2015-11-06 18:17] #610 closed

[2015-11-06 18:22] jbuck opened #697 "Donation error when donating $2.01"
https://dashboard.stripe.com/logs/req_7IqWpfuCeMiyzG

[2015-11-06 19:25] jbuck commented on #691
We're good now: https://www.dropbox.com/s/bj33cddpl9rx5ju/Screenshot%202015-11-06%2014.24.50.png?dl=0

[2015-11-06 19:25] #691 closed

[2015-11-06 19:34] valianttry commented on #686
@jbuck I wrote new copy that is solid for immediate term receipting:
https://docs.google.com/document/d/1omj4nM32eFxsXs5zVsc0ltUGRK8xv60lDxn4DDs25j4/edit

Note the potentially tricky part: "Monthly / One-time gift amount of $X.00"

If we **cannot** customize this, let's just keep general and use "Gift amount of $X.00"

[2015-11-06 19:37] valianttry commented on #661
New copy is written: https://github.com/mozilla/donate.mozilla.org/issues/686

cc @jbuck

[2015-11-06 19:37] #686 closed

[2015-11-06 19:40] jbuck commented on #18
I don't think we're going to change the base strings at this point

[2015-11-06 19:40] #18 closed

[2015-11-06 20:04] valianttry opened #700 "Margin issues using iPhone 6s"
Viewing the form on my iPhone 6s in Chrome -- the edges are off-screen:

![img_1251](https://cloud.githubusercontent.com/assets/9830371/11007398/71f4da2a-847e-11e5-8509-d16ab8f84601.PNG)

![img_1248](https://cloud.githubusercontent.com/assets/9830371/11007399/72108cb6-847e-11e5-982d-c797c5b309da.PNG)

![img_1247](https://cloud.githubusercontent.com/assets/9830371/11007402/723e621c-847e-11e5-8e5d-2

[2015-11-06 20:09] valianttry opened #701 ""Next" button shows little margin lines in iPhone 6s"
![img_1246](https://cloud.githubusercontent.com/assets/9830371/11007507/31228640-847f-11e5-9e8a-687ee9551976.PNG)

[2015-11-06 20:11] jbuck commented on #62
Unfortunately we can't use Pingdom for this kind of monitoring

[2015-11-06 20:11] #62 closed

[2015-11-06 20:31] valianttry opened #702 "Design new callouts for 2015 email fundraising appeals"
In each fundraising email, we include an image in the upper right corner of the email body that's a "callout" image. It is clickable and receives a high % of clicks in fundraising emails.

Schedule for email launch is here: https://docs.google.com/spreadsheets/d/1ZMiRmdJhQACzlz9nZeARHBR2LCMrJZYh7MwXsgkhZQ8/edit#gid=4

Callouts are needed by Nov 19 for all messages in the appeals series.

![_sample

[2015-11-06 20:33] valianttry opened #703 "Write copy for new callouts for fundraising emails"
Blocks: https://github.com/mozilla/donate.mozilla.org/issues/702

[2015-11-06 20:36] ScottDowne commented on #701
@valianttry can you check this against the new flow?

donate.mofoprod.net/?test=new-flow-test

[2015-11-06 20:38] ScottDowne commented on #697
Fixed: https://github.com/mozilla/donate.mozilla.org/commit/8d578d962b8269b77a4ef0b4530fb71b536c665c

[2015-11-06 20:38] #697 closed

[2015-11-06 21:15] #78 closed

[2015-11-06 21:15] valianttry commented on #702
cc @lovegushwa @natalieworth @cassiemc

[2015-11-06 21:24] valianttry opened #704 "Design homepage tile promo (static)"
I believe @sabrinang designed this promo for 2014 and may have some specs or redpens to share.

![we re_building_a_better_internet_ _mozilla](https://cloud.githubusercontent.com/assets/9830371/11009081/991c067c-8489-11e5-9aee-b686ecf7093e.png)

[2015-11-07 07:27] adamlofting commented on #687
I filed to bugzilla bug to get these people added:
https://bugzilla.mozilla.org/show_bug.cgi?id=1222673

[2015-11-07 18:42] valianttry commented on #704
Found out @natalieworth has already designed one of these so she's good as gold. Hazaa! :clap:

[2015-11-09 12:39] #631 closed

[2015-11-09 12:45] edrushka commented on #572
Update: Rainer and Spencer from MoCo shot a whole bunch of thank you footage at MozFest. I haven't seen it yet, so we'll have to see if it's appropriate before we proceed. I'm going to move the milestone on this design.

[2015-11-09 12:49] edrushka commented on #704
@natalieworth - @lovegushwa will post the Directory tile and homepage takeover design very soon, which should give you all the visual direction you need for this.

[2015-11-09 12:53] edrushka commented on #550
@ScottDowne or @adamlofting  can you let me know when you're hoping to run this test so I can give @lovegushwa an updated deadline? I feel like we can try the Directory Tile *without* the 'additional info' variant for a while to get a baseline. I believe Directory Tiles go live on Nov 15. Will a week or two give us a good baseline?

[2015-11-09 12:56] edrushka commented on #620
@valianttry and @adamlofting can you let me know when you'd like to try this variant so I can give @lovegushwa an updated deadline to finalize this design (I assume we're adding the monthly option baked in but will clarify when Jordan gets to work on this). It won't take him long to design, but just want to make sure it's prioritized correctly in the queue. I'll talk to @ScottDowne about how long

[2015-11-09 15:23] ScottDowne commented on #550
I'm not super sure what the deadline should be... sooner is better? When we have tile traffic?

I wonder if it could run separately from tests coming from the snippet, allowing us to run multiple non conflicting tests at the same time?

It's a trivial amount of dev work. An hour, maybe less, and I'm using the Scotty Principle here.

@adamlofting Are we going to run this test 50/50 on tile traffic?

[2015-11-09 15:35] ScottDowne commented on #620
My initial thoughts, on this Monday morning with Stripe still not on production yet.

This might be one of the larger chunks of work I'm seeing being considered.

Doing snippet work is already slow going, even for simple things. This would be the most complex snippet we have done. It's doable, but likely I would be 100% focused on this for a number of days, maybe a week. I dunno, maybe I could pul

[2015-11-09 16:20] ScottDowne commented on #163
Right now we can remove city and address, example: donate.mofostaging.net/?test=address-test

I want to leave country and postal code in for now, for fraud/signup related reasons. We can remove them later but I consider that another test we can run after we are confident in our fraud control.

[2015-11-09 18:20] lovegushwa commented on #558
Takeover and tile options, discuss on #559

![takeover-sketch_3](https://cloud.githubusercontent.com/assets/12228435/11042346/7248e45c-870e-11e5-9a56-9529655daaf5.jpg)

[2015-11-09 18:26] lovegushwa commented on #559
@natalieworth  check out some new tile and mozilla.org options based on feedback from Sean Martell. @valianttry Can you confirm these need to go to MOCO tomorrow for review?

@natalieworth please add one more option based on the grid of hearts found in:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvQlhVX0dyWFpWejA/view?usp=sharing

Mozilla.org file is here: (please use it to add a opt

[2015-11-09 19:16] valianttry commented on #559
@lovegushwa these are both dashing and fierce at the same time!! :smiley: REALLY NICE job on these!

I have very little in the way of feedback -- just some copy tweaks that are hopefully easy.

TILE A. I spoke to Tim and Jean also mentioned that it's better to make the static tile almost a "standalone" by itself that is clear about what you are asking people. "Teaser" tiles tend not to work as wel

[2015-11-09 19:24] valianttry commented on #559
Tile B suggested copy changes:
Static: ONE Internet. Give now. Help protect it.
Active: Stand with Mozilla, the nonprofit behind Firefox.  [DONATE NOW]

I kind of like associating "fight" language with the dino head -- e.g. the "fierce advocate" side of Mozilla, if that makes sense.

![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000_pixels_](https://cloud.githubusercontent.com/as

[2015-11-09 19:33] valianttry commented on #559
My preference out of these homepage takeover designs is the dino of course :dancers:

I'll suggest minor copy edits to all three , but the dino one is fairly straightforward -- we should add the deadline and update the amount arrays to reflect the average gift on mozilla.org. Let's use 100,50,25,15 with default at $50.

![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000_pixels_](h

[2015-11-09 19:36] valianttry commented on #558
I'm putting takeover input in this ticket.
My preference out of these homepage takeover designs is the dino of course :dancers:

I'll suggest minor copy edits to all three in this ticket. We should add the deadline and update the amount arrays to reflect the average gift on mozilla.org. Let's use 100,50,25,15 with default at $50.

![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000

[2015-11-09 19:40] valianttry commented on #559
I like this Tile C as-is (no edits). However, the fox is a different design than the dapper top-hat fox, are we OK having different foxes?

![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000_pixels_](https://cloud.githubusercontent.com/assets/9830371/11044408/94c32d04-86d6-11e5-8c73-5796cf909a1b.png)

[2015-11-09 19:43] valianttry commented on #558
Suggested copy change for takeover C "Proudly non-profit, thanks to supporters like you. Donate before December 31." + higher gift amounts.

![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000_pixels_](https://cloud.githubusercontent.com/assets/9830371/11044493/112cc602-86d7-11e5-8e8a-1bcd92b53550.png)

[2015-11-09 19:48] valianttry commented on #558
Takeover A: Mr. Fox
He is a little big, what do you think about reducing his size a bit? I wonder if he'll be distracting at the size he is.
Proposed copy change:
"Proudly non-profit. Donate before December 31."
New gift arrays.
![abec118e-870e-11e5-870b-9f8ae97e9765_jpg__jpeg_image__5000 x 3000_pixels_](https://cloud.githubusercontent.com/assets/9830371/11044601/c2384d40-86d7-11e5-9fc6-955d9a5d90

[2015-11-09 20:18] lovegushwa commented on #559
Hi yes two foxes are OK. These are proposed directions / could be tests so
it would be great to see what does best. Word on the street option 1 is
very popular with mofo peeps.
On Nov 9, 2015 7:43 PM, "Andrea Wood" <notifications@github.com> wrote:

[2015-11-09 20:24] lovegushwa commented on #559
@natalieworth can you incorporate copy changed from @valianttry and repost ?
On Nov 9, 2015 8:18 PM, "Jordan Gushwa" <jordan@mozillafoundation.org>
wrote:

[2015-11-09 20:40] valianttry commented on #559
@natalieworth "non-profit" should be hyphenated throughout (sorry I missed this in the Tile C and other places)

[2015-11-09 21:41] jessilyndavis commented on #622
Nice! Thanks Andrea!

Adam, do you think you can get some sample/test data on Brick FTP for DEG to play with this week?

[2015-11-09 23:32] valianttry commented on #701
@ScottDowne I used the form at mozilla.org (live form) and still see the little lines:

![img_1326_png](https://cloud.githubusercontent.com/assets/9830371/11049958/03c1a0ee-86f7-11e5-8282-46808dc068b5.png)

[2015-11-09 23:35] valianttry opened #713 "Set up a dashboard for donors to modify or stop recurring gifts via Stripe"
Here is the BSD example:
https://sendto.mozilla.org/page/recurring/

![sendto_mozilla_org](https://cloud.githubusercontent.com/assets/9830371/11050067/b259fb1a-86f7-11e5-9aa4-80ae462c4671.png)

[2015-11-09 23:47] valianttry opened #714 "Transactional emails we need to enable in the future"
Now that we are on the new Stripe platform, there are a number of transactional emails we should enable to 1) improve customer support and 2) relieve staff burden where possible.

Let's collect them here

[2015-11-10 00:14] jbuck commented on #661
This is done, pending verification of the donate@mozilla.org email address

![screaming intensifies](https://cloud.githubusercontent.com/assets/578466/11050684/175c5544-8716-11e5-977a-433ba77b213d.gif)

[2015-11-10 01:36] jbuck commented on #661
This is good to go on staging, just need to do a prod push before we enable it on production tomorrow.

[2015-11-10 01:41] valianttry commented on #661
@jbuck found a weird problem when I test -- in the receipt, there's no decimal. I selected $5.00 monthly and my receipt looks like $500 monthly:

![thank_you_for_your_gift_to_mozilla_-_andrealw_gmail_com_-_gmail](https://cloud.githubusercontent.com/assets/9830371/11051976/1b6e1742-8709-11e5-9f01-159e219e0906.png)

[2015-11-10 01:47] natalieworth commented on #559
@valianttry @lovegushwa Hey, here's the updates for the EOY takeover pages. I'm still not 100% liking the heart pattern one. I'll keep working on it tonight though and post tomorrow morning if I make better progress on it:
![takeover-sketch_5-01](https://cloud.githubusercontent.com/assets/14876567/11052101/eea0c8bc-8709-11e5-882a-d8e08eba2b67.png)

@lovegushwa For the 1st (dapper fox) one. I was k

[2015-11-10 04:37] valianttry commented on #570
I'm starting a draft here:
https://docs.google.com/document/d/153pZQZEZnQdsL2xWxxhICe-6IYLgMqAfGZ6oEu5pr60/edit

[2015-11-10 08:13] valianttry commented on #559
@natalieworth  the tiles look good -- FYI I put feedback for the homepage takeover in the ticket here: https://github.com/mozilla/donate.mozilla.org/issues/558#issuecomment-155167708

@lovegushwa is your preference not to use redpen for feedback? I find it a little more difficult to do screengrabs and mark up vs. redpen. If you've got a good reason not to use redpen don't sweat it (just wondering)

[2015-11-10 10:08] adamlofting commented on #620
We decided not to pursue this test this year because the amount of work beyond the development was likely going to take too long (and may not be viable at all).

The test idea has been moved to the Blue Sky milestone, so I suggest we close this design ticket until a future time when we want to work on that.

[2015-11-10 10:08] #620 closed

[2015-11-10 10:15] adamlofting commented on #550
As soon as (sensbibly and humanely and no need to panickly) possible :+1:

There isn't a go/no-go deadline for this piece of work as it's an enhancement and would add value even if we shipped it after the campaign launchs. But if it works well it will add cumulative value over the course of the campaign, so the sooner the better really.

@ScottDowne

Yes, we can/will target A/B tests to this audie

[2015-11-10 10:36] adamlofting commented on #672
Looking at some examples for comparison today there is one thing these do differently:

* http://www.oxfam.org.uk/donate
* https://support.wwf.org.uk/
* http://www.unicef.org.uk/donate/donate-now/

If you select the 3rd option in an array, and then switch between monthly and one-off, you get the 3rd option in each array. This gives you a new donation amount (which is the objective), rather than mo

[2015-11-10 12:11] #462 closed

[2015-11-10 12:12] edrushka commented on #550
Great. I'll put this at the top of @lovegushwa's queue. Design should be done relatively soon since he's already done a wireframe: https://redpen.io/fva93a5fe9f6116da8

[2015-11-10 15:29] jessilyndavis commented on #622
@adamlofting - just sync'ed with DEG, they need sample data on the FTP by end of day tomorrow (11th) your time to kick off the work on their end Thurs am (or even Wed afternoon).  Is this doable?

[2015-11-10 15:39] adamlofting commented on #622
Yes, I'll make this my P1 for tomorrow morning.

(excuse my slow replies on various channels, I'm still catching up after last week)

[2015-11-10 15:52] jessilyndavis commented on #622
Sweet. Thanks Adam! (And no worries! I hope you had a lovely MozFest!)

[2015-11-10 16:44] ScottDowne commented on #672
@adamlofting I agree the objective should now be to give you a new donation amount. Although I'm not seeing these links maintain the position. They all seem to revert to amount amount, which may or may not keep position. If that happens to move the position, it'll move the position.

Other things I noticed in those links that might be interesting and helpful for us.
- http://www.oxfam.org.uk/donat

[2015-11-10 17:07] jbuck commented on #661
@valianttry nice catch! I'll fix that up

[2015-11-10 17:15] ScottDowne commented on #701
I tested this on an ipad, and I saw it in the old flow, but it was gone in donate.mozilla.org/?test=new-flow-test

[2015-11-10 18:12] jbuck commented on #464
Okay, it looks like we can't preload donate.mozilla.org, you need to preload the entire mozilla.org domain. Oh well!

[2015-11-10 18:12] #464 closed

[2015-11-10 18:27] natalieworth commented on #558
Hi @valianttry , thanks for the feedback. I've put everything up on redpen too so it's easier for critiques and made some updates based on your feedback: https://redpen.io/gxec41057d237039c9

@lovegushwa I made a couple small adjustments that I've posted on redpen too if I could get your feedback on. Thanks!

[2015-11-10 18:42] jbuck opened #715 "Implement country detection via geoip lookup"
I sent an email to IT to ask if we could use geo.mozilla.org. If not, we'll need to implement our own API.

[2015-11-10 18:43] jbuck opened #716 "Add German stripe charge succeeded email to sawmill"
We have a German version of the receipt we can use. Lets implement it!

[2015-11-10 18:43] jbuck commented on #716
It lives in https://pontoon.mozilla.org/de/fundraising/Emails/

[2015-11-10 19:01] ScottDowne commented on #674
@jbuck I'm fairly convinced this was due to staging key nonsense.

I say we close until we have something else to tell us this is actually going to happen in a real life scenario.

[2015-11-10 19:03] jbuck commented on #674
Sounds like a plan, Stan.

[2015-11-10 19:03] #674 closed

[2015-11-10 19:11] ScottDowne commented on #701
Fixed, should be on staging soon.

[2015-11-10 19:11] #701 closed

[2015-11-10 19:30] jbuck opened #718 "Generate URLs for new locales & update mozilla.org/snippet"
Locales:

* de
* fr
* pt-BR
* es

[2015-11-10 20:08] jbuck commented on #661
Fixed in https://github.com/mozilla/sawmill/commit/12495118fa061ce805ff7e39293ad33806e99904

Going to push this change to production now

[2015-11-10 20:26] jbuck commented on #661
All good now. I disabled the Stripe-sent payment emails, but I'm going to leave the Stripe refund emails on until we implement our own.

[2015-11-10 20:26] #661 closed

[2015-11-10 20:42] ScottDowne commented on #593
Uhh, so I did a brain dump for everything that is new that I want to feedback down into a blog post.

https://public.etherpad-mozilla.org/p/1CjoR7nU0s

I would love for simple feedback like grammar spelling typos etc. But, I would also love for feedback like content and jargon usage.

I should probably add some images?

[2015-11-10 20:44] #40 closed

[2015-11-10 20:50] jbuck commented on #473
I've enabled Logentries on all 4 apps.

[2015-11-10 20:50] #473 closed

[2015-11-10 21:16] valianttry commented on #593
@ScottDowne did some line editing / copy editing and left a few comments.

Really great work here! And WOW it's amazing how much you've / we've accomplished!! :fist:

[2015-11-10 21:26] jbuck commented on #713
https://github.com/mozilla/donate.mozilla.org/issues/362 was the previous issue we filed on this

[2015-11-10 21:39] jbuck opened #720 "Reduce Heroku dyno boot times"
I [wrote a patch](https://github.com/mozilla/donate.mozilla.org/commit/6a2884c60a108667c260ca488da31f104020480a) to rebuild the front-end on every boot to fix an issue where [production would use the staging environment](https://github.com/mozilla/donate.mozilla.org/issues/385) built into the front-end.

The problem with my fix is that boot times frequently exceed 60 seconds which causes a boot ti

[2015-11-10 21:42] jbuck commented on #720
Ideas:

* What if the dyno boot process wrote a config json file out to disk?
* Start the server before the JS build runs
  * Downside here is that we might serve up stale/no javascript

[2015-11-10 21:59] jbuck opened #721 "Make front-end longterm cache-friendly"
We are not doing a great job of having our CDN cache take the hit for static files. I suspect this is because we're not using Cache-Control headers. What I'd like to do is put the file hash in the filename, and set a very long Cache-Control header for linked content, and a relatively short Cache-Control header for the html file(s).

[2015-11-10 22:32] valianttry commented on #718
Filed a new bug for mozilla.org URLs here: https://bugzilla.mozilla.org/show_bug.cgi?id=1223570

[2015-11-10 23:32] jbuck opened #725 "Users are not receiving charge succeeded email"
When I disabled official Stripe charge succeeded email it also had the side-effect of not setting receipt_email key by default anymore. We need to set that manually.

[2015-11-10 23:43] valianttry commented on #718
URLs were generated and added to Bugzilla bug noted above. Closing this.

[2015-11-10 23:43] #718 closed

[2015-11-10 23:43] jbuck commented on #725
@ScottDowne fixed this in #724

[2015-11-10 23:57] jbuck commented on #725
And I fixed this in https://github.com/mozilla/sawmill/commit/2a75ada2c0540c0594274e41799f74df795a65e0

[2015-11-10 23:57] #725 closed

[2015-11-10 23:57] jbuck commented on #720
Temporary fix will be to not use the Heroku promote button.

[2015-11-11 00:05] jbuck commented on #720
Temporary fix in https://github.com/mozilla/donate.mozilla.org/commit/eeee6316256e275814447551d6a3eb6e50810263

[2015-11-11 00:05] jbuck commented on #720
Another downside of this fix is that we can't change the config and have it rebuild.

[2015-11-11 01:16] jbertsch commented on #558
Hi All and @lovegushwa -

I think we are moving forward with C for the www homepage tile.  Please provide the background color and fox & heart icons here:  https://bugzilla.mozilla.org/show_bug.cgi?id=1223622#c2

Thanks!!!

[2015-11-11 01:24] natalieworth commented on #558
Hi @jbertsch, I think Jordan is possibly travelling today. I have this .ai file for the tile in the google drive: https://drive.google.com/drive/folders/0B2qu3ExKWIlvVFJDTExyRWQ2Q28 I don't have access to the bug. Let me know if these are the right specifications/ file type. If not, I can create or export anything asap. Thanks!

[2015-11-11 01:33] natalieworth commented on #558
@lovegushwa Most recent .ai file is here: https://drive.google.com/open?id=0B2qu3ExKWIlvTXZLRThsbDgwdVE

Redpen link is here: https://redpen.io/p/fq7b05b03cccce05c8

Ping/ email me tomorrow if you need help with anything. It's a Canadian holiday, but I'll just be chillin at home.

cc @valianttry

[2015-11-11 01:50] valianttry commented on #292
Hey there! I just had a great meeting with Gregg Lind and Matt Grimes in User Advocacy and they had some really awesome ideas for how we can implement a user survey using SurveyGizmo as @adamlofting suggested.

The meeting notes are here:
https://docs.google.com/document/d/1RDGpBW9s10keaSqfb6nLfhDg6LaSuc_ZI5jZQvdSJ5Y/edit

Implementing a survey is easy, we need to write the survey and indicate whe

[2015-11-11 02:01] edrushka commented on #292
Ok. I can file a copywriting ticket. Who should I assign it to? And do Gregg and Matt have a delivery date in mind?

[2015-11-11 02:10] valianttry opened #728 "Create a special Firefox Lightweight Theme for donors"
See: https://developer.mozilla.org/en-US/Add-ons/Themes/Lightweight_themes

Spoke with Gregg Linden and Matt Grimes in User Advocacy -- joined by @bniolet1 and they had the brilliant idea to give away a FREE Firefox theme to donors. What does this accomplish?

**First** -- It gives Firefox users who donate a really awesome "special gift" when they donate that we ONLY promote to donors. This will b

[2015-11-11 02:26] valianttry commented on #292
Hey @edrushka  -- You can assign copy writing to me -- i already have a head start :)

Implementation date is up to us, let's say December 10ish milestone. That gets us good traffic but also gives us a little time to finalize copy. We only need to flip this on for a while, the survey doesn't have to be shown to every donor.

[2015-11-11 04:30] valianttry commented on #728
I sent a note to Blake Winton to ask if he'd like to help out.

[2015-11-11 06:19] valianttry commented on #570
OK, given the timing, I propose we slim this Impact series from 2 emails to 1 email. I wrote a draft of an "all the things" email here: https://docs.google.com/document/d/153pZQZEZnQdsL2xWxxhICe-6IYLgMqAfGZ6oEu5pr60/edit  @edrushka do you want to take a first pass, then @KevZawacki ? Or Kevin first? Depends on who emerges from the MozFest haze first.... :smile:

A lot of the list was built this ye

[2015-11-11 09:55] adamlofting commented on #728
I absolutely love this idea. Some of Jordan's campaign visuals would make great content for a theme.

[2015-11-11 14:50] KevZawacki commented on #570
@valianttry Reviewing now!

[2015-11-11 16:24] ScottDowne commented on #715
Actually, I would be fine with doing a guess based on locale if we cannot use geo.mozilla.org.

This would be accurate for the snippets because snippets are already based on location, then we set the locale to coincide with that. So we can just reverse that.

[2015-11-11 16:51] jbuck commented on #715
@ScottDowne https://location.services.mozilla.com/v1/country is the API to use. Your idea is a good fallback detection though.

I filed a bug to request enabling CORS on that endpoint so we can use it: https://github.com/mozilla/ichnaea/issues/468

[2015-11-11 16:58] jbuck opened #731 "Exit timeout on Heroku"
I received a warning about exit timeouts on staging. I think we'll just need to add some signal handlers to the server stops properly.

[2015-11-11 17:21] adamlofting commented on #622
Just noting that this data has been transferred. Info about this shared via another channel.

[2015-11-11 17:27] adamlofting commented on #622
The query currently used is here: https://github.com/jbuck/mofo-transaction-storage/blob/master/sql/adhoc.sql#L26

We'll need to expand this once we're getting Stripe data too. But the format of the CSV file we supply to DEG should remain the same.

[2015-11-11 18:31] gregglind opened #732 "Awesomesauce Support Theme"
@valianttry I did some research

- https://addons.mozilla.org/en-US/developers/theme/submit  makes it really easy.
- https://developer.mozilla.org/en-US/Add-ons/Themes/Background more detailed.
- making it 'secret' might need some amo team help.

Bascially you need to make a header and footer image (or not), and that's it.

(I don't know if the images in the them are 'live grabbed' each startup.

[2015-11-11 18:40] valianttry commented on #732
@gregglind this is outstanding. Blake Winton already raised his hand to help or connect me to the right person... we're off to the races. :hand:

[2015-11-11 18:41] valianttry commented on #732
cc @bniolet1

[2015-11-11 19:05] MattGrimes commented on #732
Blake also mentioned the possibility of a modified version of the Whimsy
addon for donors. Whimsy is amazing:
https://addons.mozilla.org/en-us/firefox/addon/whimsycorn/

On Wed, Nov 11, 2015 at 10:41 AM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-11 19:07] valianttry commented on #732
Truth Whimsy is amazing. My only hesitation is that we know donors skew older... I'm not suggesting we need Wilford Brimley to be our spokesperson, but maybe Whimsy is for younger folk. I'm open to pushback on this (maybe older folks LOVE dreamy unicorns and i'm out of touch)

[2015-11-11 19:34] valianttry commented on #728
This is a duplicate of https://github.com/mozilla/donate.mozilla.org/issues/732, moving essentials over and closing.

[2015-11-11 19:34] #728 closed

[2015-11-11 19:35] valianttry commented on #732
Some notes and such:

See: https://developer.mozilla.org/en-US/Add-ons/Themes/Lightweight_themes

Spoke with Gregg Linden and Matt Grimes in User Advocacy -- joined by @bniolet1 and they had the brilliant idea to give away a FREE Firefox theme to donors. What does this accomplish?

**First** -- It gives Firefox users who donate a really awesome "special gift" when they donate that we ONLY promote

[2015-11-11 19:59] jbuck opened #733 "Add non-English stripe charge succeeded email to sawmill"
https://pontoon.mozilla.org/de/fundraising/Emails/

There's a bunch of locales here that someone could load into webmaker-mailroom.

[2015-11-11 20:42] valianttry commented on #687
Chris More closed the Bugzilla ticket, everyone should have access.

[2015-11-11 20:42] #687 closed

[2015-11-11 21:15] jbuck commented on #69
Easy to do with Heroku!

[2015-11-11 21:15] #69 closed

[2015-11-11 21:20] jbuck commented on #716
Done in https://github.com/mozilla/webmaker-mailroom/commit/a0d298a738ec878ad0a4a974d19ebe3f6773dd8f and https://github.com/mozilla/sawmill/commit/613eb2fbec94d706a6d971c42d5ddc00e1e83d61

Shipped to staging & production. :tada: :dancer:

[2015-11-11 21:20] #716 closed

[2015-11-11 21:31] secretrobotron opened #734 "Currency dropdown doesn't look like a button"
... it looks like a textbox. When I click on it, it's obviously a dropdown, but I wasn't really encouraged to interact with it — just got curious.

<img width="430" alt="screenshot 2015-11-11 16 30 19" src="https://cloud.githubusercontent.com/assets/403231/11103624/91e3949a-8891-11e5-949c-c4996f8ee13f.png">

[2015-11-11 21:46] valianttry commented on #734
@secretrobotron what is your browser; etc? I'm on FF on Mac and see:

![donate_mozilla_org___spenden_sie_noch_heute_an_mozilla](https://cloud.githubusercontent.com/assets/9830371/11103912/88d03dc0-887a-11e5-9019-9b6d23357bc8.png)

[2015-11-11 21:48] secretrobotron commented on #734
@valianttry Chrome!

[2015-11-11 21:49] valianttry commented on #734
@secretrobotron TRAITOR!

[2015-11-11 21:49] secretrobotron commented on #734
:boom:

[2015-11-11 21:49] valianttry commented on #734
:dancers:

[2015-11-11 21:55] secretrobotron opened #735 "Upgrade to Babel 6"
During `npm install`:
[code]
... which is probably bad.

[2015-11-11 22:01] secretrobotron commented on #734
Fixed by https://github.com/mozilla/donate.mozilla.org/pull/736
Thanks @ScottDowne

[2015-11-11 22:01] #734 closed

[2015-11-11 22:10] jbuck opened #738 "Monitor fundraising platform"
We've shipped our new fundraising platform to production and have it receiving mozilla.org home page traffic and a small amount of German snippet traffic. We should monitor it very closely over the next week during the American snippet launch using:

* [Heroku Dashboard](https://dashboard.heroku.com/apps/donate-mozilla-org-us-prod/metrics/web) (performance)
* [Google Analytics](https://www.google.

[2015-11-11 22:31] jbuck commented on #735
@k88hudson says that the upgrade to Babel 6 is annoying. But you're right, we should do it!

[2015-11-11 22:33] jbuck opened #739 "Setup front-end sendto.m.o redirects to donate.m.o"
When we're happy with the performance of donate.m.o we should add redirects from sendto.m.o to donate.m.o.

We also need to figure out what to do about BSD signups.

[2015-11-11 22:40] jbuck opened #740 "Find and terminate any sendto.m.o links"
Find and terminate any sendto.m.o links living on mozilla.org and other sites we care about

[2015-11-11 22:41] jbuck commented on #492
IT'S SHIPPED :tada: :tada: :tada:

I filed follow-up tasks in the new milestone

[2015-11-11 22:41] #492 closed

[2015-11-11 23:37] valianttry commented on #740
![arnold-schwarzenegger-the-terminator_jpg__jpeg_image__634 x 344_pixels_](https://cloud.githubusercontent.com/assets/9830371/11106332/2ac3bcc4-888a-11e5-821f-5bf5ed5a3c24.png)

[2015-11-12 04:09] valianttry opened #742 "Double check Google Analytics for the new Stripe form are working correctly"
Hey @adamlofting ! The form is GO and we're seeing donations coming in.

I've been watching the Stripe Dashboard, as well as your Google Analytics report here:
https://www.google.com/analytics/web/?authuser=0#dashboard/x2x17FAsShuixRj2bK-YpQ/a49796218w101806119p105783219/%3F_u.date00%3D20151110%26_u.date01%3D20151111/

I noticed a discrepancy in the totals, $267 in GA and $594 in Stripe. Since GA

[2015-11-12 04:24] valianttry commented on #740
I pulled a report from BSD of all sources for donations:
https://docs.google.com/a/mozilla.com/spreadsheets/d/1OzOn16eyqEXkphYWQngwLp5C7N9AHb2sa_O-hJTTy6g/edit?usp=sharing

I'm now going to whittle this big list down to a short list of page sources where we actually need to update the donate URL.

[2015-11-12 05:00] valianttry commented on #740
OK here is the list:

**Need to update "donate" links on these pages:**
* https://sendto.mozilla.org/page/contribute/givenow-seq?source=base_url
* https://www.mozilla.org/en-US/contribute/
* https://wiki.mozilla.org/Ways_to_Give
* Fundraising.mozilla.org
* http://openbadges.org/

**Also:**
* Firefox + You Newsletter: evergreen fundraising link - provide new URL to MJ or @bniolet1
* Tabzilla is sti

[2015-11-12 08:06] valianttry opened #746 "Write copy for short survey of donors (EN only)"
Scoped in https://github.com/mozilla/donate.mozilla.org/issues/292

Draft copy for a user flow and language for a brief survey to present to a segment of donors immediately after they give:
https://docs.google.com/document/d/1L_GONC8Wb4QMCxAtndVbZNzdau-AhBvdWnuYzaqqQN8/edit

cc @edrushka  cc @bniolet1

[2015-11-12 08:09] valianttry commented on #746
@gregglind @MattGrimes check out this draft copy for a survey (and where it would sit in the user flow). Are you two the right people to review this language? Who do we give it to once we've finalized?

[2015-11-12 09:41] adamlofting commented on #740
I think the two puzzles may be in-product links.

E.g. the 'About Thunderbird' may be like the 'About Firefox' window here:

<img width="637" alt="screenshot 2015-11-12 09 39 14" src="https://cloud.githubusercontent.com/assets/1901816/11115131/53ac6ea0-8921-11e5-8a16-b6749bdef1e0.png">

`getting started` might be somewhere in the first run experience for new Firefox users, but I'm guessing a bit h

[2015-11-12 09:46] adamlofting commented on #492
:hatching_chick: :hatched_chick: :baby_chick: :chicken: :money_with_wings:

[2015-11-12 12:43] adamlofting commented on #742
There is definately something amiss here. I've just compared Weds for GA and Stripe as that should be a complete day of GA data.

But... GA isn't reporting any Paypal donations yet, and is underreporting Stripe by a long way.

Let me investigate, as this was good in staging when it was written, but the site has evolved since the earlier QA.

[2015-11-12 13:15] adamlofting opened #750 "analytics.js needs to be called after `ga` is defined"
Initial look at #742

We are tracking our ecommerce transactions using this code:
https://github.com/mozilla/donate.mozilla.org/blob/master/public/js/analytics.js

However, this code is being loaded on the thank you page via this import:
https://github.com/mozilla/donate.mozilla.org/blob/master/pages/thank-you.jsx#L13

We actually need to fire the ecommernce transaction code after `ga` is defined

[2015-11-12 13:42] ScottDowne commented on #492
:heart: :tangerine: :moneybag: :four_leaf_clover: :new_moon: :crystal_ball: :hibiscus:

[2015-11-12 15:36] adamlofting commented on #750
@ScottDowne @jbuck @alicoding I'm not entirely sure of the load order for when the code in `thank-you.jsx` is called, so need your recommendation on which of these options is best:

1. Move the current loading of `ga.js` somewhere higher up in the order so this is called before `thank-you.jsx` is called.
2. Put the contents of `analytics.js` into `ga.js` which will definitely work for tracking, bu

[2015-11-12 15:38] adamlofting commented on #742
I've done some debugging and think I've identified the issue. I've asked the devs to decide on the best solution between three options in #750 and hopefully this fix can ship asap.

[2015-11-12 16:13] ScottDowne commented on #750
On thing I want to add is on this line: https://github.com/mozilla/donate.mozilla.org/blob/master/pages/thank-you.jsx#L13

Is not actually firing the function there (or is not not supposed to), it's just creating the function, we call it later inside componentDidMount  https://github.com/mozilla/donate.mozilla.org/blob/master/pages/thank-you.jsx#L18

Which happens really late in the load order, if

[2015-11-12 16:22] jbuck commented on #623
Code is in https://github.com/jbuck/mofo-transaction-storage

[2015-11-12 16:24] ScottDowne commented on #520
Fixed: https://github.com/mozilla/donate.mozilla.org/commit/892425d7cf97752c8d9c463562de76f789b76c6b

[2015-11-12 16:24] #520 closed

[2015-11-12 16:43] cadecairos opened #753 "Update requirements docs about Intl"
In the requirements section of the README, it instructs you to run `node -e "require('Intl')"` Which is incorrect, since Intl is a global object in node 4+ now.

[2015-11-12 17:02] jbuck commented on #731
Fixed in #754

[2015-11-12 17:24] #731 closed

[2015-11-12 17:49] jbuck commented on #64
Logentries already had rules for response time > 5000ms and request timeout errors. I added Pagerduty integration to the request timeout errors so we'll be paged if we start getting those.

[2015-11-12 17:49] #64 closed

[2015-11-12 17:51] jbuck commented on #65
I created a dashboard in AWS/mofo-projects: https://console.aws.amazon.com/cloudwatch/home?region=us-east-1#dashboards:name=donate-mozilla-org-Cloudfront-Stats

I also created two alarms in AWS/mofo-projects:
* donate.mozilla.org 4xx rate > 10%
* donate.mozilla.org 5xx rate > 0%

[2015-11-12 17:51] #65 closed

[2015-11-12 18:54] #197 closed

[2015-11-12 19:04] ScottDowne commented on #750
I kinda like solution 1.

https://github.com/mozilla/donate.mozilla.org/pull/756/files

We're adding ga too late imo. analytics.js is right where we want it.

[2015-11-12 19:10] ScottDowne commented on #750
We merged #756

@adamlofting I'm closing this, so feel free to take a look when you get a chance and don't hesitate to reopen or file another bug if you find something you don't like about the solution.

[2015-11-12 19:10] #750 closed

[2015-11-12 19:12] #643 closed

[2015-11-12 19:38] jbuck commented on #59
The code repository is mirrored on every developers computer & Heroku.

[2015-11-12 19:38] #59 closed

[2015-11-12 19:48] #735 closed

[2015-11-12 19:55] secretrobotron commented on #735
@alicoding why was this closed? Did an upgrade happen?

[2015-11-12 19:55] alicoding commented on #735
@secretrobotron yup! sorry forgot to link to the commit https://github.com/mozilla/donate.mozilla.org/commit/32b143fdaa56750f751a0e1620c746d0ed7120bc

[2015-11-12 19:56] secretrobotron commented on #735
:+1:

[2015-11-12 20:10] jbuck commented on #742
@adamlofting We've landed a patch, could you verify that everything is working on your end?

[2015-11-12 21:22] jbuck opened #761 "Paypal transaction stats do not take currency values into account"
@cadecairos found this bug. Basically, given the following transaction:

[code]

We're calculating totals based on the AMT, instead of the SETTLEAMT. Ooooooooooooooops

[2015-11-12 21:23] bwinton commented on #732
(As an aside, for the modified version of Whimsy, I was thinking of something almost completely pared-down, and comfortable for the target audience.  Perhaps just replacing the image in about:home with this one:
![kid and dino](https://raw.githubusercontent.com/bwinton/whimsy/master/data/dino%402x.png)
and putting some "Thanks for donating!"-type messages in the urlbar when it's empty…  I would pr

[2015-11-12 21:27] alicoding opened #762 "Move ga.js script to the bottom of the <head>"
In order to verify Webmaster Tools and also for good practices we should move ga.js to the bottom of `<head>` tag.

[2015-11-12 21:50] jbuck opened #763 "Implement autoscaling for Heroku"
Rather than paging on-call to manually scale donate.mozilla.org, we should have a computer do it.

@cadecairos Do you think Adept Scale would fit the bill here?

[2015-11-12 22:09] jbuck opened #765 "How can we improve our Intl + data polyfill?"
Currently we're using [polyfill-service](https://github.com/Financial-Times/polyfill-service) for the Intl polyfill & data for 5 locales.

I had a look at the Logentries data for our .js files and found that the polyservice-service is 10x slower on average than the static js files:

![screenshot 2015-11-12 17 04 27](https://cloud.githubusercontent.com/assets/578466/11132746/bc44e706-895f-11e5-95ab

[2015-11-12 22:57] valianttry opened #767 "Presets not working"
![donate_mozilla_org___spenden_sie_noch_heute_an_mozilla](https://cloud.githubusercontent.com/assets/9830371/11133850/6322f76a-894d-11e5-8982-1f6dc65724c2.png)

And on live US-EN
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11133890/a30f3aa0-894d-11e5-84b4-e9421a42794a.png)
form linked from mozilla.org:

[2015-11-12 23:15] adamlofting commented on #762
Replying from my phone so excuse lack of detail but please see ticket filed today about ga.js load order #750 to make sure this doesn't undo that fix.

Ga.js should be fine anywhere in the head for the purpose of webmaster tools.

[2015-11-12 23:24] jbuck opened #769 "How can improve our logging?"
Right now we have a simple logger that logs every response in https://github.com/mozilla/donate.mozilla.org/blob/6ca4669ae9d4e0ded144dc224401442ec8be10f1/server.js#L211-L222

This is useful for local development, but not very useful for running on Heroku. Heroku already shows the response logs, so I don't think we need to display that. I think it'd be useful to print errors to the logs. We should

[2015-11-12 23:25] edrushka commented on #570
I've reviewed. @valianttry I suggest you revise the web lit stuff before Mark reviews. I'm almost certain he'll want that modified.

[2015-11-12 23:34] ScottDowne commented on #767
Fixed on staging: https://donate.mofostaging.net/de/?presets=1,2,3,4

should be live in a few moments.