[2015-11-12 23:40] ScottDowne commented on #762
Yeah, bottom of head should be fine, just so long as it's before main.js.

[2015-11-12 23:59] jbuck opened #771 "Move ExactTarget signup outside of request"
We've been receiving alerts that sometimes the ExactTarget signup against basket takes up to 25s. We should do this signup after the request has finished, if possible.

[2015-11-13 00:06] ScottDowne opened #772 "there is a flash of a previous value after uery string values change"
Doing something like this: https://donate.mofostaging.net/en-US/?presets=1,2,3,4

Has a brief moment of the pre compiled data.

[2015-11-13 00:06] jbuck commented on #767
Fixed on production now too!

[2015-11-13 00:06] #767 closed

[2015-11-13 01:24] alicoding commented on #765
@jbuck I've done some research and building main.js per-locale seems to be the most common one and the most optimized one as well, so I will take a look as how to do this using webpack or better yet, just have that path to be one locale only.

[2015-11-13 01:51] alicoding opened #775 "Update page title to "Donate" or "Donate to Mozilla""
Right now our meta og:title is set to `donate.mozilla.org` which is not optimized for SEO. We should update this to `Donate` or `Donate to Mozilla`.

[2015-11-13 01:53] alicoding opened #776 "Add no-index and no-follow for thank-you page"
Add this `<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">` to `thank-you` page.

[2015-11-13 01:55] alicoding opened #777 "Add "Firefox" word somewhere in the page."
For SEO we should add `Firefox` somewhere in the page, so that when people search for **Firefox** with the word **Donate** will be searchable.

[2015-11-13 02:03] alicoding commented on #777
CC @edrushka and @valianttry help on the copy?

[2015-11-13 02:35] #762 closed

[2015-11-13 03:11] valianttry commented on #777
@alicoding does it matter where? Here's an idea:

Add a simple sentence about Mozilla's relationship to Firefox at the bottom of the footer, like this:

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11137927/3bd1cb0e-8971-11e5-9f89-705a6deb6feb.png)

[2015-11-13 03:15] valianttry commented on #746
@adamlofting what do you think about the language I've drafted here:
https://docs.google.com/document/d/1L_GONC8Wb4QMCxAtndVbZNzdau-AhBvdWnuYzaqqQN8/edit

[2015-11-13 03:33] valianttry commented on #713
closing since this is a duplicate.

[2015-11-13 03:33] #713 closed

[2015-11-13 03:37] valianttry commented on #362
@jbuck we can add this to the email copy:

"If you would like to cancel your recurring donation, send your request in an email to donate@mozilla.org."

Example self-serve interface from BSD:

![sendto_mozilla_org](https://cloud.githubusercontent.com/assets/9830371/11138216/73cb8a60-8974-11e5-9604-b015ab88b5e6.png)

[2015-11-13 05:01] jbuck opened #778 "Names are not being captured"
Looking at the most recent payments, the first name and last name are not being captured anymore: https://dashboard.stripe.com/payments/ch_176Y3rG8Mmx3htnxJiikYuI4

@ScottDowne Any ideas?

[2015-11-13 05:04] jbuck opened #779 "Update thank you email to include how to cancel your recurring donation"
@alicoding I'll need to also add this to the email translation; is it as easy as updating email.properties and Pontoon picks it up?

Copy is: "If you would like to cancel your recurring donation, send your request in an email to donate@mozilla.org."

[2015-11-13 05:08] jbuck commented on #666
Our first fraudulent charge! $1000: https://dashboard.stripe.com/payments/ch_176UuTG8Mmx3htnxsHOl34tZ

[2015-11-13 05:14] valianttry commented on #666
@jbuck let's make sure everyone knows what to do in a case like this -- e.g. do we need to click "report fraudulent charge"? Or ignore and let Stripe handle it somehow? Should we reach out to Stripe for a walkthrough? (Eric seemed happy to help us figure this early stuff out).

[2015-11-13 05:14] valianttry commented on #666
also -- are we sure it's fraudulent??

[2015-11-13 05:32] jbuck commented on #666
I wouldn't bet on it being legit, but of course we don't know for sure.

[2015-11-13 05:49] jbuck commented on #778
Fixed in https://github.com/mozilla/donate.mozilla.org/commit/c2b60594314b6d5cd95148553ea1666f0a1bb7a8

[2015-11-13 05:49] #778 closed

[2015-11-13 05:51] valianttry opened #780 "Improve the top four results on Google search for "donate mozilla" or "donation mozilla""
I did a simple Google search for "donate mozilla". Here's the screengrab of what I saw:

![donate_mozilla_-_google_search](https://cloud.githubusercontent.com/assets/9830371/11139595/56b8f572-8986-11e5-9b8a-6027695cf6a7.png)

**A.** We should replace this page with a redirect as soon as possible, it's the #1 result

**B.** Update the "Donate" URL on this page: https://www.mozilla.org/en-US/foundat

[2015-11-13 05:54] valianttry commented on #780
Related bug: https://github.com/mozilla/donate.mozilla.org/issues/740

[2015-11-13 05:55] valianttry commented on #740
@adamlofting I found a few others when i researched this bug: https://github.com/mozilla/donate.mozilla.org/issues/780

[2015-11-13 06:01] valianttry commented on #780
cc @alicoding and @jbuck

[2015-11-13 06:13] valianttry commented on #780
C is fixed, i made an all-caps link to the donation form more prominent on the donate FAQ wiki.

[2015-11-13 06:33] valianttry opened #781 "Improve search results for Yahoo search"
Searched for "donate mozilla" at yahoo.com.

This is so sad. There may be nothing we can do @alicoding .... but we are a whole screen scroll down!

![donate_mozilla_-_yahoo_search_results](https://cloud.githubusercontent.com/assets/9830371/11140232/24fe6470-898d-11e5-8dfa-2c8d7d57c427.png)

[2015-11-13 06:33] valianttry commented on #781
Here are search results on Yahoo for "donation mozilla":

![donation_mozilla_-_yahoo_search_results](https://cloud.githubusercontent.com/assets/9830371/11140256/69c19e06-898d-11e5-9758-73bd6f7c44d3.png)

[2015-11-13 06:34] valianttry commented on #781
cc @alicoding

[2015-11-13 06:36] valianttry commented on #780
a search for "donation mozilla" resulted in the exact same top results.

[2015-11-13 06:38] valianttry opened #782 "Improve search results for Bing search for "donate mozilla" or "donation mozilla""
Search on Bing had the best, most useful results! Look:

![donate_mozilla_-_bing](https://cloud.githubusercontent.com/assets/9830371/11140316/085dddea-898e-11e5-9add-9d382fd43a96.png)

[2015-11-13 13:08] alicoding commented on #721
Can you maybe list those long term cache files? By using webpack, we might be able to solve the problem for main.js and possibly for our CSS file as well, but for those assets such as images or a small internal js files we could manually add a timestamp or something ?

I've read a bit last night and it seems like we only need to do this on production anyway, so I guess this needs to be a configura

[2015-11-13 13:10] alicoding commented on #779
Yup, once you update that file, Pontoon should picks that up and if we need this to be translated very soon we should also email dev-l10n list which I think this time we should do that because we just launched the form on production and its a good idea to let them know at the same time

[2015-11-13 13:25] adamlofting commented on #746
This is great. I'm really curious to see the results.

The only other thing that might be valuable is to add a free text box for feedback/comments. It would be great to have more 'donor voice' we can learn from share with the wider team.

[2015-11-13 14:33] adamlofting opened #784 "Enable Optimizely on prod config"
I'd like to run a proof of concept test now to make sure Optimizely is ready to go for EOY-proper.

[2015-11-13 14:33] ScottDowne commented on #778
Good catch

[2015-11-13 14:38] adamlofting opened #785 "Check the target URL in new test snippet for DE"
@valianttry I think we might have an error in the URL, or we forgot to add the GA tracking params to the new snippet we're testing: `5465`. It's working fine from a user point of view, but we're not attributing the conversions to the snippet so we can't compare old form to new form precisely yet.

Who should I talk to to check this?

[2015-11-13 14:40] adamlofting commented on #761
Just checking... is this in the transaction db / totalizer API, or somewhere else?

[2015-11-13 14:43] adamlofting commented on #742
This is looking good. We're now seeing the PayPal transactions, and it looks like more Stripe transactions. On Monday I'll do a more thorough comparison of Stripe records to GA using the data over the weekend.

<img width="1168" alt="screenshot 2015-11-13 14 42 09" src="https://cloud.githubusercontent.com/assets/1901816/11148474/dc956e1c-8a14-11e5-89c8-565e252f2aec.png">
<img width="1169" alt="scr

[2015-11-13 14:46] adamlofting commented on #742
Also @valianttry a good thing to be aware of is that the monthly donation amount is now multiplied by x 12 in our GA and Optimizely reporting so that in our A/B testing, if one variant drives more monthly donors we make our decisions based on the long term value. I.e. we value $3/month more than $10 one-off.

This will help us optimize for total income in a way that we couldn't do last year.

[2015-11-13 14:48] adamlofting commented on #750
:sparkles:

[2015-11-13 15:07] jbuck commented on #784
@adamlofting make sure you change it on prod-eu and prod-us. Also might be worth testing on staging-eu/us first too!

[2015-11-13 15:08] jbuck commented on #761
both of those, yeah. fortunately it only affects a small percentage of transactions, but still good to fix!

[2015-11-13 15:15] jbuck commented on #785
@jbertsch maybe?

[2015-11-13 15:16] jbuck commented on #784
@adamlofting I'd like *you* to do the honours of enabling Optimizely!

[2015-11-13 15:20] cadecairos commented on #771
I'm going to add the ExactTarget signup as a worker in [sawmill](https://github.com/jbuck/sawmill) and have dontate use [Hatchet](https://github.com/jbuck/hatchet) to send events into the sawmill queue

[2015-11-13 15:28] jbuck commented on #721
Focusing on main.js and the CSS file makes the most sense to me

[2015-11-13 15:28] jbuck commented on #721
I also don't think it should be an option, we should do it every build

[2015-11-13 15:49] jbuck commented on #771
According to @pmclanahan the problem is that users *love* the taste of SMS download links. He has a patch ready to deploy that should also speed this up

[2015-11-13 16:24] valianttry commented on #785
Check with @ScottDowne first. We had a weird error when we launched and had to pause while he and Jean Collings sorted out some utm stuff.... so it might have gotten broken in that fix?

[2015-11-13 16:38] ScottDowne commented on #785
@adamlofting yes, this is a bug, and because snippets can take so long to land, it's been slow to fix.

We did remember to add the tracking in the url, but I wasn't aware that's how we did that, because I was up to that point working with "donate.mofostaging.net/" <- notice the no params there. So my code would add "?amount=selectedAmount&presets=etc" which worked in staging and with all my tests

[2015-11-13 16:49] adamlofting commented on #648
Note to investigate spam issues: https://support.desk.com/customer/portal/articles/1649402-how-to-handle-spam-email

[2015-11-13 16:54] bniolet1 opened #787 "Add EOY fundraising appeal to post Heartbeat landing page"
This is an attempt to keep in sync with a bug request I filed on this in Bugzilla.

The bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1224614

The text:

As we ramp up for the EOY foundation fundraising push, we'd like to add a call to action to donate to Mozilla to the landing page that appears for users who submit a 4- or 5-star rating on Heartbeat.

I will allow Andrea to chime in, but I th

[2015-11-13 16:55] bniolet1 commented on #787
@edrushka No idea if I did this right. My first github issue, so be kind.

[2015-11-13 17:13] pmclanahan commented on #771
Said patch has been deployed but was no help. According to the bug:

Understatement of the quarter nominee.

[2015-11-13 17:13] valianttry commented on #742
@adamlofting this is really great. I'll make sure people who are reporting our #s internally and externally only use the Add-on total (not the total from GA, which would be inflated with the multiplication factor).

[2015-11-13 17:16] adamlofting commented on #785
Thanks @ScottDowne. There's a tonne of value in getting this onto prod as quickly as we did. :+1:

I dug out the snippets service for reference here: https://snippets.mozilla.com/show/5465/

We can identify inbound traffic using `snippet_name` parameter to track number of clicks, but we need the GA params to assign the `source/medium` values for tracking the duration of the session. Currently GA s

[2015-11-13 17:19] valianttry commented on #746
@adamlofting I incorporated your suggestions into the Google Doc. Thanks!

@edrushka or @bniolet1 any major concerns or edits?

[2015-11-13 17:23] ScottDowne commented on #785
The URL is not hard coded, it's a config. As soon as you add query strings to that config, things break. We ended up with a url like donate.mozilla.org/de/?ref=EOYFR2015&utm_campaign=EOY2015&utm_source=desktop-snippet&utm_medium=snippet&utm_term=5465?amount=.......&frequency=.......&currency=eur&snippet_name=5465

Notice the two question marks? That's the bug. Needs to be fixed in the snippet itse

[2015-11-13 17:28] adamlofting commented on #785
Ah, I gotcha. That makes sense.

[2015-11-13 17:31] bniolet1 commented on #746
So this is great and we'd learn a lot from this form. But now allow me to poke it with a stick:

I'm obviously not a data science type, but what would be the impact of making it a "choose multiple" form? My first impression with "choose one" is that we're trying to oversimplify something that may be more complex and could unfairly skew the results. (fact is people probably have lots of reasons for

[2015-11-13 17:46] pmclanahan commented on #771
We've tweaked apache and gotten things under control. You should see better response times now. Let me know if there are further issues.

[2015-11-13 18:00] #771 closed

[2015-11-13 18:07] ScottDowne commented on #763
From our triage: Adept Scale wouldn't be good here because it only cares about average response times which is not useful to us.

[2015-11-13 18:13] ScottDowne commented on #720
From triage: can we file this with Heroku?

[2015-11-13 18:34] valianttry commented on #746
@bniolet1 true, there is nuance we'd miss with the super simple approach. Here's my thinking....and why I kept it SUPER simple....

Right now, as we've discussed we know :goat: about our Firefox donors (goat = zero zilch nada). If the hypothesis is to find out, on a high level initially, WHY people give, I err on side of a simpler approach. What we find out will inform next-level-down survey.

[2015-11-13 18:36] cadecairos commented on #763
Also from triage: we're going to try adpet scale and see how it responds to load next week.

[2015-11-13 18:43] bniolet1 commented on #746
Makes perfect sense. Go forth and measure!!

[2015-11-13 18:50] bniolet1 commented on #787
Hi team, here's the reply from Jen Bertsch from the bug:

*Thanks for riding herd on this one, Ben!

I'd definitely recommend, given the time frame, that we stick with en-US only.

What do you need from the www/creative team?  Design, copy, and coding?  Or just review for brand compliance and coding?

If just brand compliance and coding, it would be great if we could have 5 business days to turn t

[2015-11-13 18:53] cadecairos commented on #763
I've added the adept scale corvette ($36) plan to eu and us apps.

Based on data from log entries, Our average service time is under 100ms our 95th percentile falls under 300ms and our 99th percentile is 1-2 seconds. Based on this, I've set it to scale up to a max of 8 dynos, 1 dyno at a time, if the average response time goes above 1000ms.

[2015-11-13 18:53] #763 closed

[2015-11-13 18:55] jbuck commented on #733
@ScottDowne here's what you'll need to do:

1. Visit a Pontoon locale for the translated email, for example https://pontoon.mozilla.org/de/fundraising/Emails/
2. You'll need to create a json file with the new locale data. Take a look at my initial patch for what it should look like: https://github.com/mozilla/webmaker-mailroom/commit/a0d298a738ec878ad0a4a974d19ebe3f6773dd8f . The only thing you'll

[2015-11-13 19:04] edrushka commented on #746
I agree it makes sense to start with a simpler approach (I like the "other" option and comment box). You'll be able to check both (or all 3, I suppose), correct?

[2015-11-13 19:07] edrushka commented on #787
Hey @bniolet1! Would the text be in addition to what's here, or replacing it? https://www.mozilla.org/en-US/firefox/feedback?score=5

[2015-11-13 19:11] bniolet1 commented on #787
I think we're fine to replace it if that's what you want to do.

[2015-11-13 19:27] edrushka commented on #787
I'd suggest copy along the lines of:
Thank you for your feedback!
We're so glad you're happy with Firefox.
Did you know that Mozilla is the non-profit organization behind Firefox? We rely on donations to carry out our mission of keeping the web free, open and accessible to all. Will you donate to support our work?
Donate Now button.

[2015-11-13 19:28] valianttry commented on #746
@edrushka i'm suggesting we force people to choose between mozilla, firefox or other (only 1 of those 3) then they can also leave a comment. On this initial iteration of a survey, I'm interested in forcing people to answer here -- as a survey tactic it gives you a little higher quality data on a user's true choice. We may see people complain in the comments that they feel "forced to choose, but i

[2015-11-13 19:28] edrushka commented on #787
heh. Just noticed that Andrea wrote almost the identical thing in Bugzilla. Let's close this and work in Bugzilla only.

[2015-11-13 19:28] #787 closed

[2015-11-13 20:43] valianttry commented on #666
I'm alerting Erik Lasker over at Stripe to help teach us how to handle these.

[2015-11-13 21:22] edrushka commented on #746
OK, that works for me, @valianttry

If we're putting this as a pop-up after the 3rd step of the form, do we want those people to see the thank you/confirmation page as well, or just go directly to the social share page?

Also, I'm unclear on who designs this. It should visually fit into the rest of the flow. Can Gregg's team take that on, or should I look for a designer on our end?

[2015-11-13 21:28] edrushka commented on #292
I'm going to close this since the discussion has moved to #746.

[2015-11-13 21:28] #292 closed

[2015-11-13 21:48] edrushka commented on #732
Not sure if it makes sense to incorporate any of this in the theme but here's a taste of the visual direction for the EOY campaign.

**Directory Tile**(final)
![h0fzrdd6tjb6eoeatftg2o-o39hic0gmvpewp01eyx-pl8olz3m5b8v9ru25wcczhunbwg w1251-h460](https://cloud.githubusercontent.com/assets/4515662/11158101/adcb25c2-8a0a-11e5-8f3c-7697b88c0d4c.png)

**Mozilla.org homepage takeover** (*not* final -  thi

[2015-11-13 22:04] valianttry opened #791 "Setup a simple self-service way a donor can request a duplicate receipt"
One request we get in the donate@ inbox is "I can't find my receipt. Can you send me a new one for my tax preparation?"

User story:
"As a donor, I want to request a duplicate receipt be sent to me by email."
1) We should provide instructions on how to do this in PayPal; and
2) We should provide a "click here for duplicate receipt" simple interface or even just a URL we put in our FAQ and provide

[2015-11-14 05:00] ScottDowne opened #793 "Going to zh-TW/thank-you/ has some routing issues"
Not sure why yet. The seq form seems to be fine.

[2015-11-14 05:03] ScottDowne commented on #793
Never mind, turns out I was doing this in a patch, tried master, had no issues.

[2015-11-14 05:03] #793 closed

[2015-11-14 20:09] valianttry opened #799 "Make sure DE Thank You receipt is working correctly"
Hi Jbuck -- I received an email from someone with a DE address in the donate@ Inbox, but I noticed it was in English vs. German. I just want to make sure the DE email receipt / auto-reply is working properly.
![re__thank_you_so_much_for_your_gift_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11165604/a6fce640-8ac8-11e5-902c-cfb6800368b1.png)

[2015-11-14 20:21] jbuck commented on #721
#790 is a work in progress

[2015-11-14 20:21] jbuck commented on #761
Patch in https://github.com/mozilla/mofo-transaction-storage/pull/3, needs review

[2015-11-14 21:19] valianttry commented on #359
Related, but probably not a duplicate: https://github.com/mozilla/donate.mozilla.org/issues/686

The email draft I wrote in #686 was a FAST bandaid action to replace the Stripe automated receipt. That's because Stripe's automated receipt was REALLY bare bones!

Worth revisiting + localizing.

[2015-11-14 21:23] valianttry commented on #714
Closing since we can open individual tickets for each transactional email.

[2015-11-14 21:23] #714 closed

[2015-11-15 03:11] jbuck commented on #799
Can you provide a link to their charge in Stripe? I suspect the reason they got the EN email is they visited donate.m.o/de/, but we can easily confirm that by look at the charge in Stripe.

[2015-11-15 04:51] valianttry commented on #799
hi @jbuck -- isn't that when a donor should get an email in german, they donate via the /DE form?

I just tried to search for her name in "customers" and it didn't turn up anyone?

Now i'm really confused.

[2015-11-15 05:03] valianttry opened #801 "NEW auto-reply for incoming email to donate@ - for setup in Desk.com"
If a donor sends an email to donate@mozilla.org, we should set up an immediate auto-reply that:

* Is warm and friendly and thanks them for their support
* Answers the most frequently asked questions directly in the auto-reply and links to an FAQ for less frequent questions, in case they can help themselves (likely in many cases).
* Says we will try to respond within 48 hours

Both this email and

[2015-11-15 13:29] jbuck commented on #799
Errrrrrrrr let me try that again

Can you provide a link to their charge in Stripe? I suspect the reason they got the EN email is they visited donate.m.o/en-US/, but we can easily confirm that by look at the charge in Stripe. Search by their email

[2015-11-15 13:37] jbuck commented on #801
I hope desk.com has the auto-responder built-in :x

On Sun, Nov 15, 2015 at 12:03 AM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-15 20:20] valianttry commented on #799
hi @jbuck -- I tried to search for her in Stripe but couldn't find her (sorry if that wasn't clear).

[2015-11-15 21:18] jbuck commented on #799
Looking at the formatting of the address (it has a `,` in it), I think this person donated via BSD. Could you search for her email in there?

[2015-11-15 21:31] jbuck commented on #799
I propose that we add the Stripe transaction id to the thank you email so it's easier to find transaction: https://github.com/mozilla/donate.mozilla.org/pull/802

[2015-11-15 21:37] valianttry commented on #799
Yup she was in BSD --

![roswitha_lasser___constituent_record](https://cloud.githubusercontent.com/assets/9830371/11171166/f4870870-8b9d-11e5-8653-eec8afb34e56.png)

[2015-11-15 21:38] valianttry commented on #799
since this is an open repo, please advise if i'm including too much information in this ticket.

[2015-11-15 21:40] jbuck commented on #799
Nah, I think you're good! That's actually one reason I want to add the transaction id to the email, so we can easily share that in the open without revealing who donated it publicly.

Filed all of the follow-ups:

* https://github.com/mozilla/donate.mozilla.org/pull/802
* https://github.com/mozilla/webmaker-mailroom/pull/47
  * Should we add the transaction id to the email before it's been transla

[2015-11-15 21:40] #799 closed

[2015-11-16 10:28] adamlofting commented on #784
@jbuck I updated the config vars on staging, but I don't know how to redeploy without committing a new change to master.

Could we add that to the docs? https://github.com/mozilla/donate.mozilla.org/blob/master/docs/Deployment.md

[2015-11-16 11:14] adamlofting commented on #650
There are 381 active recurring credit card donors with US contact addresses in BSD who would it would be great to send these thank you cards too.

@edrushka I think that's more than we have cards for, so shall we start with this as the existing set?

I can do a similar selection to send out the small batch of cards I have here in the UK.

[2015-11-16 12:04] adamlofting commented on #801
It does :+1:

@valianttry

desk.com doesn't do language detection on inbound emails. I think the options are:

* Setup email addresses for all locales we will support (adds quite a bit of setup and maintenance)
* Include locale links in the EN auto responder pointing to the localised FAQs `En français` etc.

[2015-11-16 12:42] adamlofting opened #804 "Quick check - Mozilla Branded Email Template(s)"
Hey @valianttry @shaghdoosti,

I noticed we've been doing some work on BSD email templates (Oct 2015) which I don't want us to lose in the switch to Exact Target.

When we started settting up the email template in Exact Target a few weeks back, the 'Mozilla Wordmark' was the version being used, but the latest email I can see is using the 'Mozilla Wordmark October 2015'. Should we update this in Ex

[2015-11-16 12:55] adamlofting commented on #553
Identified donors in #650

Also noting that there were a relatively small handful of Mozfest cards ~20, so I'll post these myself.

[2015-11-16 13:21] adamlofting commented on #648
@valianttry I've promoted your desk.com account to use one of our 'full time' licences rather than the 'flex licence'.

For now you'll be logged into this more than most other users so this is more cost effective, but if this repsonsibility switches to someone else just let me know and we can move around the licence allocation.

[2015-11-16 13:38] jbuck commented on #784
Sadly, you can't redeploy without pushing a new commit :(

I'd just take one of the greenkeeper PRs open and merge it

On Mon, Nov 16, 2015 at 5:28 AM, Adam Lofting <notifications@github.com>
wrote:

[2015-11-16 15:32] adamlofting commented on #648
In order to maintain the benefits of the gmail spam filtering which is currently working well (and not flood the shared inbox with unfiltered noise) I think we should use the option of forwarding the emails from gmail to our desk.com support inbox:

* https://support.desk.com/customer/portal/articles/1345743#Forward
* https://support.google.com/mail/answer/10957?hl=en

I'll work with @valianttry t

[2015-11-16 17:12] edrushka commented on #553
Awesome, Adam! Thanks for pulling those donors into a list. @valianttry Any update from Nick?

[2015-11-16 17:17] jbuck commented on #799
@valianttry I have a question for you: Should I send the email with the string "Transaction ID" untranslated, or should I wait for that to be translated?

[2015-11-16 17:22] edrushka commented on #559
These have been shipped! Final Artwork here: https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvZGJ4d1RoNVNnZkk&usp=sharing

Great job, Jordan! :rabbit2::rabbit2::rabbit2: Closing this ticket. Will create new tickets for L10N and design iterations.

[2015-11-16 17:22] #559 closed

[2015-11-16 17:24] edrushka commented on #704
Closing this as Jen's team received the assets for the tile last week.

[2015-11-16 17:24] #704 closed

[2015-11-16 17:27] jessilyndavis commented on #622
Hi Adam!

Sync'ed with Andrea and EOY team, and it looks like we're sending 6 emails from MoFo, 1 from MoCo = 7 emails, each with tests = 14 data pulls (at least).

Are you available to pull the data each time before each test and full email send? (I can share dates specifically)  OR should we explore a way to auto pull this data, post to Brick FTP, and DEG has the ExactTarget automagically pull i

[2015-11-16 17:40] edrushka commented on #702
I'm going to assign @natalieworth to this one. Gear Store promo https://github.com/MozillaFoundation/2015-fundraising/issues/51 is our first email. The rest are logged here: https://docs.google.com/spreadsheets/d/1ZMiRmdJhQACzlz9nZeARHBR2LCMrJZYh7MwXsgkhZQ8/edit#gid=4

@natalieworth would it be easier for me to create individual tickets for each email?

[2015-11-16 17:43] edrushka commented on #558
Re-assigning back to @lovegushwa . Thanks for your help with this last week Natalie!

[2015-11-16 17:56] natalieworth commented on #702
Hey @edrushka, I think this one ticket should be fine. I'll probably try and have cohesive layouts that I can just attach here for these. If it's easier on your end though, I'm good with individual tickets too. Thanks for checking :)

[2015-11-16 17:59] edrushka commented on #702
Ok, let's just keep this one for now. I created a column in the [email spreadsheet] (https://docs.google.com/spreadsheets/d/1ZMiRmdJhQACzlz9nZeARHBR2LCMrJZYh7MwXsgkhZQ8/edit#gid=4) where we can log the individual graphic files.

[2015-11-16 18:07] adamlofting commented on #784
Some other PRs landed since then but this doesn't seem to have taken.

It might be a bug in the Optimizely config, or it might be something to do with deployment, or maybe even cache? Is there somewhere I could look to check what has deployed to staging?

[2015-11-16 18:35] adamlofting commented on #784
Noting that this should have been working already even without the env vars being set:
https://github.com/mozilla/donate.mozilla.org/blob/master/components/optimizely.jsx#L3

I'll look into this again tomorrow.

[2015-11-16 22:12] edrushka opened #807 "Design Twitter graphics for EOY"
We need a selection of twitter graphic for the EOY campaign, based off the designs in#558 and #559. As we iterate on those two assets, we'll add additional twitter graphics. This ticket is just for the first set.

Assigning to @natalieworth with a deadline of EOD Friday Nov 20. Let me know if that's too tight a timeline, Natalie!

cc @lovegushwa @valianttry @cassiemc

[2015-11-16 22:13] lovegushwa commented on #558
final artwork here:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvTGlhZExDTThWYUE/view?usp=sharing

R+ from Tim and Sean

[2015-11-16 22:13] #558 closed

[2015-11-16 22:16] edrushka opened #808 "Design Facebook graphics for EOY"
We need a selection of Facebook graphic for the EOY campaign, based off the designs in#558 and #559. As we iterate on those two assets, we can create additional facebook graphics. This ticket is just for the first set.

Assigning to @natalieworth with a deadline of EOD Friday Nov 20.

cc @lovegushwa @valianttry @cassiemc

[2015-11-16 23:02] ScottDowne commented on #733
Landed: https://github.com/mozilla/webmaker-mailroom/pull/48#event-466014007

[2015-11-16 23:02] #733 closed

[2015-11-16 23:12] ScottDowne commented on #677
This is much better now, it fits and displays all the content, but it still could be made to look better.

I'm blue skying this and un assigning though.

[2015-11-16 23:13] ScottDowne commented on #561
This is happening as a consequence of how the code works in https://github.com/mozilla/donate.mozilla.org/issues/715

[2015-11-16 23:13] #561 closed

[2015-11-16 23:15] ScottDowne commented on #415
This has a spinner right in the button now.

[2015-11-16 23:15] #415 closed

[2015-11-16 23:36] edrushka commented on #677
@ScottDowne I feel like you're working on this. Are you tracking the work in #394 - can I close this?

[2015-11-16 23:40] edrushka commented on #235
Closing this and writing a proper design ticket.

[2015-11-16 23:40] #235 closed

[2015-11-16 23:44] edrushka commented on #192
Closing this, as #620 won't be tackled this year.

[2015-11-16 23:44] #192 closed

[2015-11-16 23:47] edrushka commented on #189
Closing this, but we'll pitch this big visual background as a variation of the spectacular snippet #560.

[2015-11-16 23:47] #189 closed

[2015-11-16 23:51] edrushka commented on #184
This is potentially do-able once Stephanie is on-boarded. Keeping in bluesky for now but this is something to look at for the spring.

[2015-11-16 23:53] edrushka commented on #184
#637 has more impact for EOY.

[2015-11-17 00:43] edrushka commented on #560
Would like to get this rolling when @cassiemc is back from PTO.

[2015-11-17 00:44] edrushka commented on #560
cc @natalieworth

[2015-11-17 00:48] edrushka opened #810 "Design a lovely January thank you email to donors"
Last year we sent a text-only email from Mark, and that can be our fall-back for this year, but it would be nice to add a little more flair.

@natalieworth @lovegushwa and @cassiemc would love your ideas on how we can send a really lovely thank you. Design a beautiful template? Incorporate a graphic? A video?

This might be a good project to work on in Orlando. @natalieworth would you like to take

[2015-11-17 00:50] edrushka commented on #559
Update Tiles without the period after "Dec" https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvZGJ4d1RoNVNnZkk&usp=sharing

[2015-11-17 00:52] jbuck commented on #761
This landed!

[2015-11-17 00:52] #761 closed

[2015-11-17 01:40] ScottDowne commented on #677
It is fine for now, but keeping this open as a blue sky to make it look even better.

However, I don't want any blue sky issues assigned to me.

#394 is already closed in favour of this one.

[2015-11-17 01:54] jbuck commented on #666
@valianttry Now you'll get email notifications for donations over $115 USD!

[2015-11-17 02:04] ScottDowne commented on #497
We added support for loading extended latin only when needed, the rest is off the critical path.

Going to close this.

[2015-11-17 02:04] #497 closed

[2015-11-17 02:37] #623 closed

[2015-11-17 02:53] jbuck commented on #721
https://github.com/mozilla/donate.mozilla.org/pull/806 is nearly done!

[2015-11-17 09:57] adamlofting commented on #622
Notes:

* @jbuck has been setup with access to BrickFTP to post the data
* The file location is `Root Folder/etl/deg-exacttarget/FoundationDonors`
* We're going to use the file format `donorhistory_YYYYMMDD.csv`

[2015-11-17 16:18] jessilyndavis commented on #622
Thanks Adam! I just uploaded the export from Nov 11 there.

[2015-11-17 16:57] natalieworth commented on #810
Okay @edrushka, is it similar to issue https://github.com/MozillaFoundation/Design/issues/54 ?
I think we were perhaps thinking about tying the holiday thank-you into EOY which would work well

[2015-11-17 17:38] edrushka commented on #810
Yah, there could definitely be some overlap with that ticket!

 @valianttry can you provide:
1) aprx # of people this email will be sent to
2) any design limitations you're currently aware of with Exact Target

[2015-11-17 17:47] lovegushwa commented on #810
@edrushka can you post a link to Mark's letter from last year? I think it could help set the tone / provide context.

[2015-11-17 17:49] edrushka commented on #560
Here's a spectacular iOS snippet recently designed by MoCo:
![ios](https://cloud.githubusercontent.com/assets/4515662/11219668/8045a812-8d10-11e5-9fa1-814a4625d1df.png)

[2015-11-17 17:53] lovegushwa commented on #808
@edrushka @natalieworth @valianttry  we also created new unused facebook graphics early on in the Germany campaign. #168

https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvZTljV29rek11Vnc&usp=sharing

[2015-11-17 17:55] edrushka commented on #810
![screenshot 2015-11-17 09 52 56](https://cloud.githubusercontent.com/assets/4515662/11219747/0b5cbeae-8d11-11e5-8b68-933780a4012e.png)

And here's the 2014 text: https://public.etherpad-mozilla.org/p/text_from_EOY_2014_thankyou_email

[2015-11-17 17:57] edrushka commented on #808
I totally forgot about these!!!  Could we maybe exchange the red heart for our EOY orange/yellow heart? Or are there other ways to reuse these that will visually tie in with the campaign?

[2015-11-17 18:06] edrushka commented on #810
This bug https://github.com/mozilla/donate.mozilla.org/issues/430 outlines some ideas for thank you videos and gifs. Please note that creating a new video is out of scope for this project. If Rainer's MozFest video works, we can use it but if not, the most we can do is a staff cheer (maybe at Orlando?)

[2015-11-17 20:03] edrushka opened #812 "Localize a design asset on Pontoon"
Let's use Directory Tiles as the first experiment on localizing design assets.

@lovegushwa can you link to the files here with a quick description of what you've done.

cc @alicoding

[2015-11-17 20:04] edrushka commented on #812
Priority locales for this experiment:
Germany-DE
France-FR
Latin America-ES
Brazil-PTBR
Italy-IT
Russia-RU
India-IN
Indonesia-ID

[2015-11-17 21:17] edrushka opened #815 "Localize "this really helps us""
We need this line of text localized for the snippet and the funnel tests:

This really helps us!

@lovegushwa will throw up a design to provide context. @alicoding can you please put on Pontoon?

cc @ScottDowne

[2015-11-17 21:22] ScottDowne opened #816 "Opening up IT as a locale"
In order to do this, we have some UI issues.

![snippet17](https://cloud.githubusercontent.com/assets/197334/11225221/05367e94-8d47-11e5-867d-1a8802fe1ff1.png)

The currency dropdown falls to the next line, and the text is pretty long.
![snippet18](https://cloud.githubusercontent.com/assets/197334/11225252/2c4657f2-8d47-11e5-8f89-3bb57f91a1aa.png)

The secure bit is too close to the text.
![snippe

[2015-11-17 21:23] ScottDowne commented on #816
Looking at it now, it might be confusing, because I cropped it... The issue in question is not the cut off edges.

[2015-11-17 22:00] jbuck commented on #721
And it's landed

[2015-11-17 22:00] #721 closed

[2015-11-17 22:01] jbuck commented on #765
@alicoding did some nice improvements here: https://github.com/mozilla/donate.mozilla.org/pull/813

Lets do some more measurements after this is on production

[2015-11-17 22:05] jbuck commented on #468
We don't need to implement this

[2015-11-17 22:05] #468 closed

[2015-11-17 22:22] natalieworth commented on #808
Hey @edrushka, for this issue do we need similar graphics to those in the issue @lovegushwa listed above? Are they just images with the Mozilla logo or is there any content that we should include on these? Thanks

[2015-11-17 22:23] lovegushwa commented on #816
@ScottDowne @alicoding @edrushka I think these are not UI issues, they are translation issues.
All the translated copy that ends up running to long. Kontextor?

[2015-11-17 22:27] lovegushwa commented on #816
@ScottDowne problems 2 and 3 could be fixed with a forced line break.

[2015-11-17 22:28] natalieworth commented on #702
@lovegushwa Could you link me to the final files of your EOY designs, thanks! :)

[2015-11-17 22:33] lovegushwa commented on #816
problem 4 could simple be "registro" (register) or possibly "presentare regitration" (submit registration.)

[2015-11-17 22:42] lovegushwa commented on #816
@ScottDowne @alicoding @edrushka we need some way verifying good translations before design bugs get issued. Let's discuss how to do this at the Thursday meeting if possible.

problem 1 could be "Dona ora" (donate now)
<img width="1195" alt="screen shot 2015-11-17 at 2 38 17 pm" src="https://cloud.githubusercontent.com/assets/12228435/11227110/faddbaec-8d38-11e5-9569-587af3d70eeb.png">

[2015-11-17 22:50] jbuck opened #817 "Add Cache-Control headers for all static files"
Right now our main.js and style.css files have Cache-Control headers, but nothing else does.

I propose that we add a public 5 minute Cache-Control header for all static files as a first pass at it.

[2015-11-17 22:51] edrushka commented on #816
Agree that these are localizing issues, and not design. We can help by providing max char counts, though.

[2015-11-17 22:53] ScottDowne commented on #816
@lovegushwa That's fine, I'm not super concerned with how to fix it yet. UI was just a guess, I was more concerned with having it filed.

[2015-11-17 22:57] jbuck opened #818 "Should we be loading stripe.js and stripe checkout?"
My understanding is that we're using stripe.js for the sequential donation form and stripe checkout for the one page donation form. Would it be possible to only load one or the other based on what page is being rendered?

[2015-11-17 23:01] edrushka commented on #815
Additional priority locales:
Germany-DE
Italy-IT
Russia-RU
India-IN
Indonesia-ID
--

We'll probably want these eventually:
Spanish
Polish
Hungarian
Japanese
Dutch
Greek
Czech
zh-TW
zh-CN

[2015-11-17 23:03] jbuck opened #819 "Should we use React.renderToString()?"
Right now we're using [renderToStaticMarkup](https://facebook.github.io/react/docs/top-level-api.html#reactdomserver.rendertostaticmarkup). I think we'd see a minor performance improvement if we switched to using [renderToString](https://facebook.github.io/react/docs/top-level-api.html#reactdomserver.rendertostring) for the static page rendering. But we should be check the speed/size tradeoff impl

[2015-11-17 23:04] lovegushwa commented on #815
@ScottDowne @edrushka we might also need:
"Wir mochten sie auf dem laufenden halten" ... I don't remember what that says in German but I think we pulled it from a string so perhaps is already in the translation pipeline?

<img width="847" alt="screen shot 2015-11-17 at 2 58 59 pm" src="https://cloud.githubusercontent.com/assets/12228435/11227646/04bbc88a-8d3c-11e5-8770-02b95cfb6ada.png">

[2015-11-17 23:07] ScottDowne commented on #815
@edrushka yeah, been seeing a lot of talk today about other locales.

Today I have heard "it, ru, pl, in, id"

So we should file off some tickets to investigate any issue we may have with new locales we want to start pushing.

@lovegushwa "Wir mochten sie auf dem laufenden halten" is not in the repo, so it's not translated afaik.

[2015-11-17 23:07] lovegushwa commented on #815
@ScottDowne @alicoding @edrushka
These are the languages we are creating payment funnels for according to Ali:
 es, pt-br, en-us, it, id, de, fr

@edrushka did we agree today not to worry about languages were not already localizing the funnel for?

[2015-11-17 23:09] edrushka commented on #815
You're right, sorry.

So all we need then is
it
id
de

[2015-11-17 23:11] ScottDowne commented on #815
fr: Cela nous aide vraiment !
es: ¡Nos ayuda mucho!
pt-BR: Isso realmente nos ajuda!
de: Das hilft uns wirklich weiter!
it: La tua donazione ci è davvero di grande aiuto!

We don't have id.

[2015-11-17 23:16] lovegushwa commented on #815
@ScottDowne @edrushka regarding the other string "Wir mochten sie auf dem laufenden halten"
it was something like "We want to include you in our work." on the email signup page. We need to finalize copy for this in EN-US and then translate.

<img width="647" alt="screen shot 2015-11-17 at 3 14 52 pm" src="https://cloud.githubusercontent.com/assets/12228435/11227926/00011dd4-8d3e-11e5-8294-d1fa56e0

[2015-11-17 23:17] edrushka commented on #815
I'll create another ticket for that. Otherwise things are going to get even more chaotic! ;)

[2015-11-17 23:21] edrushka opened #821 "Localize "We want to include you in our work!""
Need this line "We want to include you in our work!" in the following locales:
es
pt-br
it
id
fr

<img width="647" alt="00011dd4-8d3e-11e5-8294-d1fa56e0bd0a" src="https://cloud.githubusercontent.com/assets/4515662/11227997/9ba13238-8d3e-11e5-9e00-620ef7a8fd1c.png">

cc @lovegushwa @ScottDowne

[2015-11-17 23:21] edrushka opened #822 "Localize Directory Tile copy"
The Directory Tile translation is actually our Pontoon test case #812  but I'm creating this ticket to keep on track of the individual assets.

[2015-11-17 23:40] edrushka commented on #812
Will you pls let me know when this is up on Pontoon, @alicoding - I need to report to other teams. Thanks!

[2015-11-17 23:53] jbuck opened #823 "Could we include the Google Fonts OpenSans CSS on our own CDN?"
I don't know if it's practical, but I'd love to know the difference between the Google CDN and our own CDN for the OpenSans CSS/fonts.

[2015-11-17 23:54] jbuck opened #824 "Could we include the Font Awesome CSS on our own CDN?"
Same the Open Sans font, could we do it locally? Maybe even strip out icons we're not using?

[2015-11-17 23:58] jbuck opened #825 "Could we combine some JS files?"
Would it be possible to combine some JS files?

* analytics.js
* ga.js
* main.js

Maybe roll the two into main.js?

[2015-11-18 00:01] jbuck opened #826 "IE conditional comments are not written correctly, loading extra JS"
We have an IE conditional comment for jquery and placeholder plugin to add support for input placeholders on IE < 10. However I see in Firefox that these two files are being loaded, so I guess this is not working.

[2015-11-18 00:03] jbuck opened #827 "Shrink main.js"
Currently main.js is 121KB gzipped over the wire, and 522KB once decompressed on the client. Is it possible to shrink main.js by removing dependencies, splitting code, different minification, or anything else that might help?

[2015-11-18 00:06] jbuck opened #828 "Polyfill service always seems to be loading all polyfills"
I think I may have configured the polyfill service incorrectly, because now it's always serving up the full 50KB payload instead of a 0KB payload.

[2015-11-18 00:07] jbuck opened #829 "Could we reduce the number of fonts we use?"
Right now we're loading 4 fonts: 1 Font Awesome & 3 Open Sans. Is it possible to reduce this?

[2015-11-18 00:09] jbuck opened #830 "Could we reduce the size of the payment logos image?"
It's not incredibly large, but I wonder if there are any additional optimizations we can apply.

[2015-11-18 00:10] jbuck opened #831 "Add hashes to all static files"
This would make it easier to update assets without running a CDN invalidation. Plus we can increase the Cache-Control period!

[2015-11-18 00:11] jbuck opened #832 "Add async attribute to some script tags"
Could we add the async attribute to any script tags so we could load the page more quickly?

[2015-11-18 00:57] ScottDowne commented on #815
We should use this for just the string in id? Looks like we have the rest.

[2015-11-18 00:59] ScottDowne commented on #815
Actually, we could also just get it done in a bunch of languages just in case.

[2015-11-18 01:05] lovegushwa commented on #567
@ScottDowne anything need to be done here still or can I close this ticket?

[2015-11-18 01:07] ScottDowne commented on #567
Yeah, I think we can close this. This exists, so any new tickets should be improve a specific area or task.

[2015-11-18 01:07] #567 closed

[2015-11-18 01:13] #821 closed

[2015-11-18 01:29] edrushka commented on #808
I found some "official" copy you can use if it works:

Variant A
I 💜 the Web.
I gave to Mozilla.
You should too.

Variant B
💜 the Web? Give Mozilla some 💜.

Variant C
I just donated. So should you.

Variant D
I gave to Mozilla b/c I 💜 the Web.

Variant E
💜 Mozilla? Give $!

Variant F
💜 the Web? Give Mozilla some $ like I just did.

[2015-11-18 01:31] edrushka commented on #808
Note that the emoji hearts are intentional (although they don't have to be purple).

[2015-11-18 01:31] edrushka commented on #807
I found some "official" copy you can use if it works:

Variant A
I :purple_heart: the Web.
I gave to Mozilla.
You should too.

Variant B
:purple_heart: the Web? Give Mozilla some :purple_heart:.

Variant C
I just donated. So should you.

Variant D
I gave to Mozilla b/c I :purple_heart: the Web.

Variant E
:purple_heart: Mozilla? Give $!

Variant F
:purple_heart: the Web? Give Mozilla some $ like I

[2015-11-18 01:33] edrushka commented on #815
There are some variants of this string we'll need when we run this test #352

“Get important news and updates”
“Please allow us to keep in touch”
“We want you to stay informed”
“This helps us reach you”
“This means we can reach you”
“Don’t miss updates”

Might want to localize these variants now, so we're not in a rush for them later if the testing in EN US proves conclusive.

[2015-11-18 01:34] alicoding commented on #815
@edrushka do we need another ticket for adding all those?

[2015-11-18 01:35] lovegushwa commented on #550
@edrushka @ScottDowne @valianttry @adamlofting

V1 is the baseline, and I think the most direct approach. I'm going to create another version or two as well:
https://redpen.io/p/kqf242b8a048db367e

[2015-11-18 01:35] edrushka commented on #815
You tell me! Whatever is easiest for you.

[2015-11-18 01:36] alicoding commented on #815
let's have another ticket to track the work for adding those then.

[2015-11-18 01:37] alicoding commented on #815
Also, what else is left to do in this ticket?

[2015-11-18 01:37] edrushka commented on #815
ok. We'll leave this one open until we get Id.

[2015-11-18 01:39] alicoding commented on #815
@edrushka I think it is a good idea to send an email to the list again about our change to the form that way we can get their attention.

[2015-11-18 01:39] edrushka commented on #815
ok - can you do that? I'm confused about when we email them, when Flod emails them....

[2015-11-18 01:41] edrushka opened #835 "Localize variants of "this really helps us""
These are the variants:
Get important news and updates
Please allow us to keep in touch
We want you to stay informed
This helps us reach you
This means we can reach you
Don’t miss updates

Need these in:
es, pt-br, it, id, de, fr

[2015-11-18 01:41] alicoding commented on #815
@edrushka sure can do. Actually, the emailing part should always be us doing it in term of project prospective.

[2015-11-18 01:43] edrushka commented on #815
Great! I'm just aware that we're going to be adding a lot of strings in the next two weeks or so.

[2015-11-18 01:45] alicoding commented on #835
@edrushka I will send an email to the list once this gets merged.

[2015-11-18 03:58] jbuck opened #837 "Add Stripe dollars to totalizer"
We need to include the Stripe dollars in the totalizer count.

[2015-11-18 05:43] ScottDowne commented on #673
This landed today, it is on staging.

[2015-11-18 05:43] #673 closed

[2015-11-18 11:08] adamlofting commented on #825
Just double checking, do you mean [`analytics.js`](https://github.com/mozilla/donate.mozilla.org/blob/master/public/js/ga.js#L4) as served from google-analytics.com? We also have a file [`analytics.js`](https://github.com/mozilla/donate.mozilla.org/blob/master/public/js/analytics.js) which is compiled into `main.js`.

AFAIK, the reason `ga.js` is a seperate file is to avoide the CSP issue of inlin

[2015-11-18 15:31] jbuck commented on #825
Oops, you're totally right about analytics.js. Sorry!

I'll see what we can do about ga.js then

[2015-11-18 15:32] jbuck commented on #622
@jessilyndavis Could you share the dates here? I think I'm going to spend some time automating this.

[2015-11-18 16:12] jessilyndavis commented on #622
@valianttry - can you add in all of the test and full send dates here? (ie every time we'll need to pull the latest donation information before we can launch.)

[2015-11-18 16:54] natalieworth commented on #807
Awesome, this is helpful! Thanks @edrushka

[2015-11-18 17:44] jbuck commented on #622
I did some scripting in https://github.com/mozilla/mofo-transaction-storage/pull/5 . If I add the automation to have Heroku run that script, it'll keep the file updated without our intervention.

[2015-11-18 17:49] jessilyndavis commented on #622
Nice! Will Heroku generate a new file with the proper date naming convention?

donorhistory_YYYYMMDD.csv

That way we know what file to bring in (and what file we've recently brought in in the past).

[2015-11-18 17:49] alicoding commented on #830
We probably want to run image optimization for all of our images as well.

[2015-11-18 17:52] jbuck commented on #622
@jessilyndavis I had to modify the date format to include the timestamp because BrickFTP wasn't allowing me to modify the file after it's been uploaded. I changed it to: `donorhistory_YYYY-MM-DDTHH:MM:SSZ.csv`

Will that work?

[2015-11-18 18:05] jbuck commented on #828
The problem is that we weren't forwarding the User-Agent header to the polyfill service so we always received the full polyfill

[2015-11-18 18:07] alicoding opened #846 "investigate why npm-run-all fail on version 1.3.0"
[code]

[2015-11-18 18:12] edrushka commented on #807
Some further details on how we'll localize these:
1) try to keep most of the designs free of copy. we'll add the text in the tweet itself.
2) We can do a localized variant of  "I :purple_heart: the Web" in our top locales:
es
pt-br
it
id
de
fr

[2015-11-18 18:13] edrushka commented on #807
":purple_heart: Mozilla? Give $!" could also work for those locales if we add the correct currency

[2015-11-18 18:14] jessilyndavis commented on #622
Will ask DEG to confirm that naming convention will work with ExactTarget's import settings (I'm not sure if the system allows us to get that specific - but they will know!)

[2015-11-18 18:15] edrushka commented on #808
If you're doing any graphic-based designs (i.e. no photo), here's the details for how we'll localize:

Some further details on how we'll localize these:
1) try to keep most of the designs free of copy. we'll add the text in the fb post itself.
2) We can do a localized variant of "I :purple_heart: the Web" and
":purple_heart: Mozilla? Give $!" (with correct currency sign) in our top locales:
es
pt-

[2015-11-18 18:20] jessilyndavis commented on #622
Just heard word from DEG: " that shouldn't be a problem at all"  \o/

[2015-11-18 18:22] jbuck commented on #622
:tada:

[2015-11-18 18:24] jessilyndavis commented on #622
Quick question: How often will the script run to post a new file?

[2015-11-18 18:26] jbuck commented on #622
@jessilyndavis At minimum, once a day. But the way the script is written and works with Heroku, it is possible to upload multiple times a day.

[2015-11-18 18:31] jessilyndavis commented on #622
Sweet.

DEG is giving us the drafted blueprint for the import automation this week. When we review the doc, we can work out the details of when the Heroku script should run to make things as seamless as possible.

Sound good?

[2015-11-18 18:33] jbuck commented on #846
This was fixed in #847

[2015-11-18 18:36] jbuck commented on #622
@jessilyndavis works for me!

To be clear, we could easily make it run every hour if we wanted it to, but it might run more than once in a hour, due to how I wrote the script and how that runtime interacts with Heroku

[2015-11-18 18:43] alicoding commented on #846
Sadly this is still a problem :(

[2015-11-18 19:16] natalieworth commented on #807
Okay awesome thanks!

[2015-11-18 19:19] ScottDowne commented on #846
Leaving this open until it's fixed upstream.

[2015-11-18 19:20] jbuck commented on #846
https://github.com/mysticatea/npm-run-all/issues/14 is the upstream issue

[2015-11-18 19:22] ScottDowne commented on #826
@jbuck thinks the react renderer is removing these comments.

[2015-11-18 19:49] jbuck opened #850 "Internet Explorer is not loading donate because of events"
@ScottDowne knows what's up and is going to fix

[2015-11-18 19:53] jbuck opened #851 "Root page redirect is not loading some localized resources"
Since the root page doesn't have a locale defined, it won't load the polyfill correctly

[2015-11-18 19:58] jbuck commented on #700
This is happening because the iPhone zooms in when you click on a dropdown, the currency selector dropdown in this case. I don't think we should disallow zooming here, so closing

[2015-11-18 19:58] #700 closed

[2015-11-18 20:05] jbuck commented on #715
Ali, Scott, and I decided to not do this because the country detection via locale that we're doing now is sufficient for EOY.

[2015-11-18 20:05] #715 closed

[2015-11-18 20:16] jbuck commented on #826
Our two highest visited Internet Explorer browsers are IE 11 and IE 8.

[2015-11-18 20:17] valianttry opened #852 "Donation URLs for localized FF&Y Lead Story"
@bniolet1 needs links for: ES, PL, FR, DE, RU, ID, PT-BR

FF&Y December Lead Story links:

EN-US:
https://donate.mozilla.org/en-US/?&currency=USD&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=newsletter-moco&utm_medium=email&utm_content=FFY_lead

FR:
https://donate.mozilla.org/fr/?&currency=eur&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=newsletter-moco&utm_medium=email&utm_content=FFY_lead

[2015-11-18 20:21] #832 closed

[2015-11-18 20:22] jbuck commented on #825
We need to do some more research here, but we should consider putting ga.js code back into the head, since Optimizely requires that same CSP rules to be relaxed.

[2015-11-18 20:23] jbuck commented on #818
Scott agrees that we should fix this, but isn't sure how best to do this selective loading. My gut instinct is that we could do it based on the page URL

[2015-11-18 20:37] jbuck commented on #852
@valianttry r+ !

[2015-11-18 20:46] bniolet1 commented on #852
Perfect! Thanks!

[2015-11-18 22:00] jbuck commented on #779
I've landed the patch, now I need to wait for translations to start rolling in.

[2015-11-18 22:01] alicoding commented on #815
I feel like `id` is not very super active on Pontoon or we need to reach out to the community somewhere to get their attention to let them know that we are launching and we need their help here. Or, maybe it is time for us to start thinking about getting Kontextor to help with this language if we are in a tight deadline here.

[2015-11-18 22:04] #817 closed

[2015-11-18 22:21] jbuck commented on #784
The problem is that the script tags are being turned into noscript tags

[2015-11-18 22:35] jbuck commented on #784
This should be fixed on @cadecairos lands his patch to loosen up CSP

[2015-11-18 22:37] cadecairos opened #860 "update CSP directive frame-src to child-src"
`Content Security Policy: Directive 'frame-src' has been deprecated. Please use directive 'child-src' instead.`

https://github.com/mozilla/donate.mozilla.org/blob/39faade3fcacc8371b766dd25bc1906ee7914579/server.js#L232

[2015-11-18 22:51] #825 closed

[2015-11-18 22:58] cadecairos commented on #784
@jbuck @adamlofting has this been fixed?

[2015-11-18 23:04] jbuck commented on #784
@adamlofting this is working on staging & production now

[2015-11-18 23:04] #784 closed

[2015-11-18 23:12] edrushka commented on #807
cc @HPaulJohnson @KevZawacki

[2015-11-18 23:12] edrushka commented on #808
cc @KevZawacki @HPaulJohnson

[2015-11-18 23:28] lovegushwa commented on #550
@edrushka @ScottDowne @valianttry @adamlofting
Versions 1 - 5 of the ‘Additional Info’ form variant now available for discussion!
https://redpen.io/p/kqf242b8a048db367e

Let's decide what to move ahead with, or if we should make additional options.

[2015-11-18 23:53] edrushka commented on #550
Just a note on feedback. Please use the redpen for clarifying questions or *specific design feedback*. If you'd like to open something up for discussion, let's do that in one of our standups. Redpen isn't a great place for open-ended thoughts and musings as it's too difficult to translate the comment strings into specific design changes. @valianttry and @adamlofting - please indicate in this bug w

[2015-11-19 00:13] lovegushwa commented on #812
note to self: https://donate.mofostaging.net/fr/directory-tiles/  ... change "fr" to other languages to access tile copy.

[2015-11-19 00:17] edrushka commented on #812
Germany-DE: https://donate.mofostaging.net/de/directory-tiles/
France-FR: https://donate.mofostaging.net/fr/directory-tiles/
Latin America-ES: https://donate.mofostaging.net/es/directory-tiles/
Italy-IT: https://donate.mofostaging.net/it/directory-tiles/

Russia-RU: not done yet
India-IN: not done yet
Indonesia-ID: not done yet
Brazil-PTBR: not done yet

[2015-11-19 00:34] natalieworth commented on #702
Hey @edrushka @valianttry here are the first iterations for call-outs. Also wondering if there is copy that is required for these? Or is that coming tomorrow? Google drive says Nov. 19 for finalized copy, but wasn't sure if issue #703 was for these? (Also do we need over 6?) Thanks
https://redpen.io/p/hs67f7f34951ab9c54

cc @lovegushwa

[2015-11-19 00:37] natalieworth commented on #808
Hi @edrushka here are the first iterations. I did a bunch hoping that we could refine maybe 6 depending on how many we need? Let me know if I'm on the right track with the emoji you suggested too above.
https://redpen.io/p/hs67f7f34951ab9c54
Thanks!

cc @valianttry @lovegushwa @HPaulJohnson

[2015-11-19 00:38] edrushka commented on #812
I'm just going to raise a glass here :cocktail: to the fact that this worked. This is actually really cool!

[2015-11-19 00:55] edrushka commented on #702
The 19th is the date for final email copy, not graphics copy. Like the social share stuff, I think we should minimize copy in the actual graphic. I'll let @valianttry be the final decision-maker on what, if any, copy we need in the graphic.

[2015-11-19 01:09] edrushka commented on #560
Some of Jordan's ideas for #550 could be modified into a great spectacular snippet design. I'm thinking [branded fox/heart] (https://redpen.io/ave485e6ac3bb9bf6c) idea and the [photo background] (https://redpen.io/oa288e50f46de6dda5) idea.

[2015-11-19 03:45] valianttry commented on #570
I think it would be a real slog to try to send a 2nd email. In addition -- the calendar is getting crowded with the MLN newsletter and the Gear Store email. I say scrap #2.

The first email got shipped today to Erica Sagrans.  Here is the final copy after Mark's edits and another copy edit review from Kevin:
https://docs.google.com/document/d/153pZQZEZnQdsL2xWxxhICe-6IYLgMqAfGZ6oEu5pr60/edit

I am

[2015-11-19 03:47] #570 closed

[2015-11-19 05:15] valianttry opened #868 "Cross-reference localized channels with localized donation experience"
@jbuck @alicoding @edrushka

There may be remaining translations that we need to ask L10N / Kontextor for ASAP and this bug will help us get a handle on what our needs are exactly.
I am having a lot of difficulty keeping track of what languages are available in which channels, and which languages we have translations+currencies for. These data points are scattered across Pontoon, Github, Stripe, a

[2015-11-19 05:37] #852 closed

[2015-11-19 06:15] valianttry commented on #703
CALLOUT 1:
Help protect the open Web
[DONATE NOW]
Give before Dec 31.

CALLOUT 2:
Your support makes Mozilla's
important work possible.
[DONATE NOW]
Give before Dec 31.

CALLOUT 3:
Love the Web?
Help protect it for generations.
[DONATE NOW]
Give before Dec 31.

CALLOUT 4:
[DONATE NOW]
Only days left to donate.
Deadline: Dec 31

CALLOUT 4:
[DONATE NOW]
Only hours left.
Deadline: Dec 31

[2015-11-19 06:16] valianttry commented on #702
@natalieworth I only see the social share graphics when I click the redpen in your last comment. The callouts are square orientation -- did i miss them? I updated the copy ticket with actual copy for you!
https://github.com/mozilla/donate.mozilla.org/issues/703#issuecomment-157961974

Let me know if you have questions! Thank you!! :dancers:

[2015-11-19 06:47] valianttry commented on #815
Just noting that there are two "nudges" discussed in this bug, not just one:

**"Monthly nudge"** = "this really helps us" and a few more nudge variants we want to test to see if we increase the proportion of donors that choose monthly with the goal of increasing net revenue;

**"Optin nudge"** = "get important news and updates" and a few more variants to see if we can improve our optin percentage

[2015-11-19 10:00] adamlofting commented on #550
I'd vote for buildin `V3` first of all, and if we had time later in the campaign to test `V4 branded funnel` (dapper fox!) because it looks amazing.

[2015-11-19 10:03] adamlofting commented on #784
:octopus: :tada:

[2015-11-19 13:04] ScottDowne commented on #815
@valianttry omg good call.

This was my fault, I requested the images in another bug in our primary languages, looking too far ahead and not seeing what's right in front.

I say let's leave this open, but not P1 it.

[2015-11-19 14:03] #776 closed

[2015-11-19 14:15] alicoding commented on #868
Right now we don't have translation for `ru`, `pl`, and `in`? I don't know what we are trying to focus for `in` here? There are many languages spoken in India, but the most popular one would be Hindi, Bengali, Gujarati, Panjabi and Telugu. We need to decide where one is the most popular one based on our GA and focus on one or two here.

For `id` there are few strings left to be translated on thank

[2015-11-19 15:20] bniolet1 commented on #868
I've got cells updated for moco social and email. I'll get Snippet and Tile teams to look at it when the sun comes up in their time zones.

[2015-11-19 15:33] bniolet1 commented on #868
In product checked in. MoCo languages are all correctly represented on the sheet.

[2015-11-19 16:02] KevZawacki commented on #807
@edrushka I like the variations with the :purple_heart:

Is "Internet" more globally recognizable than "Web"?

[2015-11-19 16:11] jbuck commented on #868
I've got cells updated for Auto-Reply Email Receipt Localized

[2015-11-19 16:19] lewiscowper commented on #846
For first aid, the breaking change has been reverted and published as version `1.3.1`.

[2015-11-19 16:46] valianttry commented on #868
Great, this is helpful. Ali ru and in are P2. I know IN is complex, but we
get requests from IN donors. If we can't offer either that's fine. PL came
up because as you can see a few MoCo channels serve PL. I am trying to see
where we can send donation ask right now vs later vs not  at all.

On Thursday, November 19, 2015, Jon Buckley <notifications@github.com>
wrote:

--
Sent from a phone

[2015-11-19 17:00] edrushka commented on #807
MoCo is shifting towards using "Internet" over "Web". Most of our EOY stuff was written before that was known. I don't mind using Internet on these social assets, but I realize character counts are pretty limited, so Web is fine too if it works better design-wise.

[2015-11-19 17:16] natalieworth commented on #702
Hi @valianttry sorry I forgot to add the other link: https://redpen.io/p/npc29dacd3ad00ee8e
I'll update too with the new copy from #703 Thanks!

[2015-11-19 17:31] jbuck commented on #846
@lewiscowper great, thank you!

[2015-11-19 17:32] KevZawacki commented on #807
@edrushka Ah, gotcha. Maybe sticking with "Web" is best, then.

[2015-11-19 17:39] jbuck opened #870 "Setup Paypal micropayments account"
I volunteered as tribute to figure out the process of creating a new Paypal account with our micropayments fee structure.

[2015-11-19 17:42] jbuck commented on #846
Fixed in https://github.com/mozilla/donate.mozilla.org/pull/863

[2015-11-19 17:42] #846 closed

[2015-11-19 17:59] alicoding commented on #815
This ticket is actually done :)

https://github.com/mozilla/donate.mozilla.org/search?utf8=%E2%9C%93&q=%3Dthis_really_help_us

[2015-11-19 17:59] #815 closed

[2015-11-19 18:42] valianttry opened #871 "Create fundraising FAQ for PR team, social media teams, SUMO; etc"
During the course of our EOY fundraising campaign, people across the org sometimes have to field questions about our campaign, and how fundraising fits into our organizational structure / plan.

We already have probably 75% of an FAQ done, here: https://wiki.mozilla.org/Donate

We may need to add a few questions like:
*How long has Mozilla been fundraising?
*What % of Mozilla's donation revenue go

[2015-11-19 19:38] valianttry commented on #732
@bwinton do you think you could create a light theme using dapper fox?

[2015-11-19 19:47] bwinton commented on #732
No, my drawing skills are really not that good.  :grinning:
Perhaps @shorlander could whip something out, though…

[2015-11-19 19:55] valianttry commented on #732
ha! @bwinton the design is done, just need to take the assets to make a theme that is fun for the whole family! :balloon: We would absolutely LOVE help with this, our designers are really at capacity at the moment. This would be a big help. If @shorlander can help, awesome. Thanks so much!

[2015-11-19 20:11] edrushka opened #873 "Update f.m.o with 2015 design style"
MVP - change the banner
@alicoding can I assign this to you? If you provide specs for the banner, I'll put a designer on it. Thanks!

cc @valianttry

[2015-11-19 20:39] valianttry opened #874 "Donor reports a non-descript error when trying to donate"
I searched for him in Stripe, and nothing came up.

![error_at_your_web_site_for_donation_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11283627/7cf85b4a-8eba-11e5-9688-074d56604fdd.png)

[2015-11-19 20:49] alicoding opened #875 "Remove signup for other locales than the 2 we have"
We currently only have `de` and `en-US` that we can accept for mailing list, but it seems like other locales being enable for this which it shouldn't be.

[2015-11-19 20:58] #875 closed

[2015-11-19 21:19] valianttry commented on #648
@adamlofting any update on this? I expect the emails to start flooding in Friday.....

[2015-11-19 21:46] jbuck commented on #874
I haven't been able to find him either :/

[2015-11-19 21:47] edrushka commented on #732
Here are all the Dapper Fox assets in an AI file: https://www.dropbox.com/s/5g8778rzbfoxb6b/Fundrasing-DAPPER-FOX.ai?dl=0

[2015-11-19 21:49] edrushka commented on #732
Also, to clarify, Dapper Fox is what the fundraising team has named the little fox wearing a hat in the graphics above :)

[2015-11-19 22:51] lovegushwa commented on #835
@edrushka @alicoding @ScottDowne Hey all. Please take a look and confirm this is what we need to build, I don't want to make all these PNGs twice! :)

![screen shot 2015-11-19 at 2 44 39 pm](https://cloud.githubusercontent.com/assets/12228435/11286823/1b6df314-8ecc-11e5-9996-f6d646254fdd.png)

For context:
![screen shot 2015-11-19 at 2 47 32 pm](https://cloud.githubusercontent.com/assets/12228435/

[2015-11-19 22:52] valianttry commented on #871
cc @edrushka

[2015-11-19 22:58] jbuck commented on #870
Current status: We've created a Paypal account and we're waiting for Ann @ Paypal to link it to our existing account. Once that's done we'll be able to generate credentials that our platform can use.

We need to implement logic in our platform to use either account depending on the total transaction cost.

[2015-11-19 23:09] valianttry opened #879 "Donation URLs needed for localized Directory Tiles"
FR:
https://donate.mozilla.org/fr/?currency=eur&amount=5&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=directory-tiles&utm_medium=tiles&utm_content=dapper_v1_fr

DE:
https://donate.mozilla.org/de/?currency=eur&amount=5&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=directory-tiles&utm_medium=tiles&utm_content=dapper_v1_de

PTBR:
https://donate.mozilla.org/pt-BR/?currency=BRL&amount=25&ref=EOYFR

[2015-11-19 23:13] jbuck commented on #879
@valianttry At the beginning of the URL, you just want `?currency`, not `?&currency`

[2015-11-19 23:20] jbuck commented on #622
Just waiting on Matthew to open up the IP whitelist for our automation to work

[2015-11-19 23:29] edrushka opened #880 "Design more directory tile variants"
We've delivered two (beautiful!) tiles: #559

We need to deliver 2-4 more. Perhaps we can do two more variations of the first set with @kristinashu's flower fox and chubby dino (maybe against a different background colour/heart)?

If that's too heavy a design lift, I'm open to other suggestions. I can't 100% guarantee these will be used (these additional designs are to counter fatigue) so let's no

[2015-11-19 23:37] edrushka commented on #835
flagging @valianttry to take a look in case any of these can be cut. That's a lot of variants in a lot of languages!

[2015-11-19 23:50] lovegushwa commented on #835
@edrushka @valianttry

@ScottDowne suggested testing the email signup ask in EN - US  first and then localizing the one that performs best for all other languages. ... We could also just localize one ... like "Don't miss updates" until the test runs.

[2015-11-19 23:51] valianttry commented on #835
Yes, we will be doing all our testing in EN. It's just easier that way. No localizing these until our test is complete, and we'll use Kontextor for that.

[2015-11-19 23:59] edrushka commented on #835
ok. that's fine. In this morning's meeting were got on the "let's translate all the things in one go!" train (which is the L10N community's preference) but if we're using Kontextor, then localizing these only when we need them works for me.

[2015-11-20 00:08] edrushka commented on #835
I think we can close this again. Will re-open if/when we localize these strings.

[2015-11-20 00:08] #835 closed

[2015-11-20 00:09] natalieworth commented on #808
Was just going to post that the V2 designs, but I see everyone is already in the redpen already! :D
https://redpen.io/p/hs67f7f34951ab9c54
cc @valianttry @lovegushwa @edrushka  @HPaulJohnson
Just working on finishing the V2 for the EOY call-outs and will post soon.

[2015-11-20 01:19] natalieworth commented on #703
Updates/ V2 for these are up on redpen with the new copy from Andrea added:
https://redpen.io/p/npc29dacd3ad00ee8e
cc @valianttry @lovegushwa @edrushka @HPaulJohnson @cassiemc

[2015-11-20 09:33] adamlofting commented on #648
Chasing down our internal owner of the email config now, but until this is live we still have access to the inbox and can reply directly.

[2015-11-20 12:49] adamlofting opened #881 "Content of thank you email doesn't show up on iPhone"
![iphone_email](https://cloud.githubusercontent.com/assets/1901816/11300188/020cdb74-8f85-11e5-8ce7-e77ed607c70a.jpg)

[2015-11-20 12:51] adamlofting commented on #881
It renders in gmail desktop, but this was the only email not rendering on my phone. The email text was showing up in inbox preview, so I had downloaded the content. It just wasn't rendering. Maybe some mark-up has gone awry.

[2015-11-20 13:54] jbuck commented on #648
@adamlofting you'll want to talk to https://phonebook.mozilla.org/#search/limed

[2015-11-20 13:56] jbuck commented on #881
Confirmed. Woah, this is weird

[2015-11-20 13:57] jbuck commented on #881
All of the text is white on a white background. Wha...?

On Fri, Nov 20, 2015 at 7:51 AM, Adam Lofting <notifications@github.com>
wrote:

[2015-11-20 14:46] jbuck commented on #881
I fixed it with https://github.com/mozilla/webmaker-mailroom/commit/869b54f893c0980f5cae81831cc3cd3e7df0b8b3

Nice catch @adamlofting !

[2015-11-20 14:46] #881 closed

[2015-11-20 15:02] KevZawacki commented on #871
cc @HPaulJohnson

Thanks for the background, @valianttry. Below are suggested additions to the FAQ. I've tagged you in parts that need fact-checking / more information. Also: do you envision we simply add these to the wiki and then circulate among relevant folks?

FYI, I also have an email in to Justin to see if he has suggestions/additions.

**Don't Mozilla products, like Firefox, earn income?**

[2015-11-20 15:47] KevZawacki commented on #871
Update: Justin has approved.

[2015-11-20 16:12] valianttry opened #882 "Twitter Social Share is cutoff"
This is a really weird image:
![facebook](https://cloud.githubusercontent.com/assets/9830371/11304787/6b8aedf6-8f5e-11e5-9ead-86cccd7de4ce.png)

The sentence is cutoff here:
![share_a_link_on_twitter](https://cloud.githubusercontent.com/assets/9830371/11304766/58ed7402-8f5e-11e5-8f3d-820a4a4dd861.png)

[2015-11-20 16:24] #775 closed

[2015-11-20 16:27] alicoding commented on #882
Dup of https://github.com/mozilla/donate.mozilla.org/issues/442

[2015-11-20 16:28] alicoding commented on #442
Just want to update that @cadecairos @jbuck and I have been working on this and trying to see what's really happening here...

[2015-11-20 17:02] lovegushwa commented on #880
@edrushka sounds like a plan, using the same copy helps us ship by Wednesday without localizing.

[2015-11-20 17:29] #812 closed

[2015-11-20 17:31] lovegushwa commented on #550
@edrushka @valianttry are we good to convert this to a build ticket for V3 and V4?
@ScottDowne when do you think you will have time to build V3?

[2015-11-20 17:48] ScottDowne commented on #874
I cannot find it either, I found one that was close, but it ended up being this morning, which means after this email.

That error comes when we cannot make a connection to stripe, so maybe there was something blocking stripe from the network? Just a guess.

[2015-11-20 17:48] jbuck commented on #442
Looks like we need to add the og:image property

[2015-11-20 17:50] alicoding commented on #442
So, for some reason the problem that @cadecairos and I were seeing disappear and I would assume that it was Facebook's bug and they've fixed it. Now, the only thing left for us to do here is to add `og:image` property so that it can display a nicer image for social share.

[2015-11-20 18:02] jbuck commented on #874
Scott and I looked at the possible Stripe errors and we found that there are some communication errors we're not handling yet. Scott is going to add error messages for those.

[2015-11-20 18:13] ScottDowne opened #884 "Stripe client side api offers validation functions"
Found this looking for error codes I might be missing.

https://stripe.com/docs/stripe.js?

Bits of interest are:

[code]

[2015-11-20 18:20] jbuck commented on #884
Oh cool! Yes, this would be great to do before they go to the next page.

[2015-11-20 18:20] ScottDowne commented on #874
It's most likely a "api_connection_error 	Failure to connect to Stripe's API."

I'm thinking we can display a message for that, but I don't want to use that message...

We can also do something like: "Something seems to have gone wrong. Please try again later. [api_connection_error]"

This way if stripe sends us an unknown error and the user screen shots it, we can have a bit more info to debug.

[2015-11-20 18:25] jbuck commented on #874
@ScottDowne Maybe ask the user if they have any blocking scripts running or something?

[2015-11-20 18:27] ScottDowne commented on #884
Right now we're doing this ourselves, so we're mostly getting easier to maintain code and stability from this. We'll get a small win from our exp check too.

[2015-11-20 18:28] ScottDowne commented on #874
@jbuck or under a public network?

[2015-11-20 18:40] ScottDowne commented on #874
I'm thinking we need a specific message for connection error.

Something like "Sorry there was a connection error. Please try again later."

Thoughts?

[2015-11-20 18:46] edrushka commented on #638
Copy

#### Variant A “Short”
Before we process your donation, will you consider stretching your contribution by converting it to a monthly gift of $##?

[Yes! Convert my one-time gift to an automatic monthly donation of $##]

[No thanks — please continue with my one-time gift of $##]

#### Variant B “Long”
Thank you for your support!

Before we process your donation, will you consider stretching y

[2015-11-20 19:05] jbuck commented on #882
I'm going to turn this issue into fixing the twitter share

[2015-11-20 19:06] valianttry commented on #882
Twitter text should be:

I donated to @mozilla today because I #lovetheweb. Join me and help build + protect the Web forever: https://donate.mozilla.org

[2015-11-20 19:27] edrushka commented on #550
@valianttry can you please confirm you're good for us to build V3 and then V4?

[2015-11-20 19:41] jbuck commented on #882
@valianttry working on staging: https://donate.mofostaging.net/en-CA/share/

[2015-11-20 20:10] jbuck commented on #882
Confirmed fixed on production: https://donate.mozilla.org/en-CA/share/

[2015-11-20 20:10] #882 closed

[2015-11-20 20:14] #879 closed

[2015-11-20 20:19] jbuck commented on #742
@adamlofting I think this is working, but would love a confirmation from you :)

And if it is working, could you close this ticket? Thanks!

[2015-11-20 20:52] cadecairos opened #890 "Update "Donate now" button on fundraising.mozilla.org"
https://github.com/mozilla/eoy-fundraising

The "Donate now" button links to sendto, and should probably now link to donate.mozilla.org

[2015-11-20 20:59] ScottDowne commented on #890
We probably want to update it to "https://donate.mozilla.org/en-US/?amount=50&presets=100%2C50%2C25%2C15&source=FMO&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=FMO&utm_medium=referral&utm_content=FMO_redbutton"

[2015-11-20 21:02] #582 closed

[2015-11-20 21:03] jbuck commented on #442
We're generating a new facebook share image, since it doesn't support SVG

[2015-11-20 21:04] #526 closed

[2015-11-20 21:13] jbuck opened #892 "Figure out why Paypal transactions timed out instead of returning 4xx/5xx error"
When we messed up the test/production credentials on production earlier today we found that Paypal transactions timed out instead of immediately returning a 4xx/5xx error. Lets find out why!

[2015-11-20 21:14] jbuck opened #893 "Change staging config to match production config"
We had a short outage earlier today when running a pipeline deploy to prod instead of a git deploy to prod. We should change the staging config to match production so if this happens again it won't break production.

[2015-11-20 21:15] jbuck commented on #785
@ScottDowne Fixed this

[2015-11-20 21:15] #785 closed

[2015-11-20 21:18] jbuck opened #894 "Enable dedicated IP's for Cloudfront"
Right now we're using SNI-only Cloudfront. We should switch to dedicated IP Cloudfront for the duration of the campaign!

[2015-11-20 21:28] valianttry commented on #874
"Something seems to have gone wrong. Please try again later. [api_connection_error]"
Would be my preference, since "connection error" could signal they need to plug their ethernet cord in or something.

[2015-11-20 21:45] edrushka opened #897 "Ensure graphs on f.m.o are pulling 2015 data"
We've currently got 2 graphs on http://fundraising.mozilla.org/ : donors by country and donors by source.

@ScottDowne can you outline what needs to happen to pull in 2015 data? Let me know if there's someone else I should assign this to.

cc @valianttry

[2015-11-20 22:01] ScottDowne commented on #897
Blarg, I don't know where to begin yet.

[2015-11-20 22:14] lovegushwa commented on #638
@edrushka @adamlofting @valianttry @ScottDowne check out pop-up for 'further monthly ask' options here:
https://redpen.io/p/vba9a7e9b3946c38c3

[2015-11-20 22:21] edrushka opened #898 "Add totalizer to f.m.o."
@valianttry confirming you still want to do this before I assign dev and design.

[2015-11-20 22:24] edrushka commented on #873
@natalieworth might you have time to take this on next week? We'll need the banner at the top of fundraising.mozilla.org to be updated with this year's visual design. Might add a rolling dollar amount, too (see #898). @alicoding will provide banner specs.

[2015-11-20 22:41] edrushka opened #899 "Write EN posts/tweets for social"
Write the English copy for our @mozilla fb posts and tweets (accompanying graphics can be found in #807 and #808) and create a basic schedule for posting.

Reminder: Gear Store can have a bit more space until Dec 14.

Thanks @KevZawacki!!

[2015-11-20 22:41] edrushka commented on #899
Notes from our meeting: https://public.etherpad-mozilla.org/p/Social-FR2015

[2015-11-20 23:09] natalieworth commented on #873
@edrushka Yes! Next week sounds good for updating this. I'll have time.
cc @alicoding

[2015-11-20 23:31] natalieworth commented on #807
@lovegushwa @valianttry Updates for the EOY tiles are here too for you guys to view on redpen: https://redpen.io/p/npc29dacd3ad00ee8e

[2015-11-21 00:41] jbuck commented on #779
Substantially done in https://github.com/mozilla/webmaker-mailroom/commit/c20136b58c04551cae35d13879b67dc5c355391b and https://github.com/mozilla/sawmill/commit/a18a9998ce5f40957b71f5766b9311f9b68c689d

I'll continue to update these locales as we receive translations.

[2015-11-21 00:41] #779 closed

[2015-11-21 01:14] lovegushwa commented on #638
@edrushka @adamlofting  @ScottDowne updated 'further monthly ask' options here:
@valianttry decided we should convert the monthly ask to amount to $5 as a baseline for testing.

https://redpen.io/p/fa731213a5e7e68a97

[2015-11-21 01:52] valianttry opened #902 "Singapore postal code problem"
**Sent to donate@:**

Hi
Tried to donate but won't process because it won't recognize Singapore's postal code.   It's the correct postal code given but it kept saying it's invalid postal code.

Just to let you know perhaps others might experience the same issues and you would have lesser donation if this issue is not resolved.
Best regards

[2015-11-21 02:14] lovegushwa commented on #808
@ScottDowne @alicoding @jbuck

You can download v1 of the facebook share here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvNGVlNE1NcmZ4dGM&usp=sharing
Same text as mockup below but change the address to DONATE.MOZILLA.ORG

![-1](https://cloud.githubusercontent.com/assets/12228435/11316053/7c015edc-8fb2-11e5-9238-fdd56e13d6cb.jpg)

[2015-11-21 03:08] ScottDowne commented on #902
I just tried a Singapore postal code after googling what it looked like, and it worked on our end, but sounds like Stripe rejected it for whatever reason. Not sure what to do with this yet.

[2015-11-21 03:14] jbuck commented on #902
@valianttry Can you find their attempted charge in Stripe? I see there are other charges from Singapore in Stripe, so it must be something else that failed

[2015-11-21 04:15] valianttry commented on #902
I searched for her email and her name in Stripe dashboard and didn't find her. Am I searching in the right area?

[2015-11-21 04:27] valianttry opened #903 "Receipt email is not translated in French"
ID: ch_179RqDG8Mmx3htnxCqj6zT8a

The donor writes: "write in French please .

Cordially."

![donate_post_from_provence132000_yahoo_fr_requires_approval_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11316664/06b976a6-8fc5-11e5-89de-3ead96179f09.png)

[2015-11-21 04:50] valianttry opened #904 "An Indian donor can't use PayPal, suggests Payza or Neteller"
I believe he is in India.

https://www.payza.com/
https://www.neteller.com/

Worth researching for the future.
![donation_to_mozilla_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11316740/42678302-8fc8-11e5-9296-72f972e53d3f.png)

[2015-11-21 05:20] ScottDowne commented on #902
It's probably an error in the logs, but it wouldn't be a customer or charge, so I don't think it would come up on a search. It's also likely a failure in creating the token.

@jbuck we're probably going to need to figure out a way to search these error logs if we want them to be useful.

[2015-11-21 05:40] valianttry commented on #666
Hey @jbuck, i see a few donations that are larger than 115 but I only have 1 alert ... i searched my inbox. Whzup?

[2015-11-21 05:44] jbuck commented on #903
The locale here is listed as fr, I wonder why it didn't translate... https://dashboard.stripe.com/payments/ch_179RqDG8Mmx3htnxCqj6zT8a

[2015-11-21 05:55] valianttry commented on #890
@cadecairos this is a duplicate of https://github.com/mozilla/donate.mozilla.org/issues/740#issuecomment-155998791

closing this one, but prioritizing the link updates for next week.

[2015-11-21 12:22] cadecairos commented on #666
@jbuck Did we forget to add the oxr API key to sawmill?

[2015-11-21 13:10] alicoding commented on #890
I can give @cadecairos access or I can do it

[2015-11-21 13:50] jbuck commented on #666
Nah it's there.... not sure what's up

On Sat, Nov 21, 2015 at 7:22 AM, Christopher De Cairos <
notifications@github.com> wrote:

[2015-11-21 18:42] valianttry commented on #666
I seem to be getting them now. Not sure what was up?

![donate_mozilla_org_-_a_large_stripe_charge_was_generated_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11319897/92d67284-903c-11e5-816a-767c096061fe.png)

[2015-11-21 18:55] valianttry commented on #903
Received email from a second French donor who did not receive a translated Thank You email:

ch_179eXQG8Mmx3htnxNOBEnuSD

[2015-11-21 19:30] valianttry commented on #898
Yes please! We should update the totalizer and make sure the charts work with the new data from Stripe (referring to: #897 and #873 )

[2015-11-21 19:34] jbuck commented on #903
Gah, programmer error. Fixed in https://github.com/mozilla/sawmill/commit/fdadcaa32982894310ec3d6f967846c3ee821878

[2015-11-21 19:34] #903 closed

[2015-11-21 20:53] simonwex opened #906 "It feels strange when the standard amounts are wildly different depending on currency"
In the test I was in, the donation defaulted to USD:
![image](https://cloud.githubusercontent.com/assets/25260/11320498/b4ccc64c-904e-11e5-91cc-b4df78a14103.png)

After switching to CAD, the amounts are much, much higher:
![image](https://cloud.githubusercontent.com/assets/25260/11320494/990652ac-904e-11e5-87f9-b10c31941913.png)

This was both surprising and off-putting as a donor.

[2015-11-21 21:01] simonwex opened #907 "We should default country to the likely one given currency selected"
![image](https://cloud.githubusercontent.com/assets/25260/11320532/e42fd338-904f-11e5-9daf-8a94b20d7647.png)

[2015-11-21 21:18] valianttry opened #908 "Add a very simple "leave a comment" box after donation"
This is the second donor@ email I've received with this request:

**I just contributed. Wish there was a place to add a comment at time of giving money.
Consider adding a comment/feedback space. Would have added to pleasure of giving $ to say a nice comment.
For me, somehow such feedback solidifies/full-circle for contribution process. Kind-of like thanking the person ringing bell at Salvation Arm

[2015-11-21 21:33] valianttry commented on #906
Note: This is for monthly donation. Just checked and the average Canada gift size is just under $10. Let's match the CA monthly gift array to the US gift array:

10,5,3,2

[2015-11-21 23:01] KasperChristensen commented on #678
Haven't worked with React before, so having a little problem finding where this happens.
But insted of just checking for class complete for making a menu point active, my idea was:

Check if current div.page-breadcrumb is empty, it not empty make current index + 1 clickable.

[2015-11-22 00:35] valianttry opened #910 "Comma not allowed for BRL "other" amount field"
ID:
    card_179iwTG8Mmx3htnxufSiIYkF

* I have given him a full refund for the 300 Real.
* I also realize he accessed the FAQ and clicked on the link to "manage my recurring donation" -- which still points to the BSD page. I just edited the FAQ telling donors to contact donate@ instead of linking to the BSD form (since we don't yet have #791 )
* He said he had trouble understanding the "comma" vs

[2015-11-22 00:57] ScottDowne commented on #678
Hey @KasperChristensen and welcome :)

I haven't really thought about this one too much, just enough to know it's a little tricky.

You're on the right path. Somehow we need to check if the current navigation page is valid or not, which is what you're trying to do by checking div.page-breadcrumb. Then make the next clickable or not.

However, I pictured clicking on the navigation buttons when thin

[2015-11-22 01:16] valianttry opened #911 "Mexico conversion is very low, but traffic is high. Default correct currency?"
We are getting a LOT of traffic from Mexico, but conversion is low. Is it possible to default to MXN if we detect that locale? They are seeing Euro default because our ES form is ES-ES (Spain). But we're actually seeing a lot more traffic from Mexico than Spain!

![location_-_google_analytics](https://cloud.githubusercontent.com/assets/9830371/11321411/7e68dbfc-9073-11e5-885f-55a6bf45b644.png)

[2015-11-22 01:23] valianttry opened #912 "Reduce default amount on snippet >> donation form for BRL"
The PTBR form has a relatively low conversion rate of 7 - 8% compared to other locales. I suggest we reduce the default selected amount on the snippet and donation form to R$25 (about $6 USD). Right now it's R$50 - or about $14 USD.

![about_home_snippet_preview](https://cloud.githubusercontent.com/assets/9830371/11321448/96dd8b3c-9074-11e5-841a-4c54edc0b53e.png)

![donate_mozilla_org___doe_a_mozi

[2015-11-22 02:03] valianttry commented on #912
closing this, Jean made the change so it is now: 50, 25*, 15, 10

[2015-11-22 02:03] #912 closed

[2015-11-22 03:11] ScottDowne commented on #912
Actually, we just changed which was selected, we didn't update the presets themseelves. So it's now 100, 50, 25*, 10.

https://snippets.mozilla.com/show/5487/

[2015-11-22 03:15] jbuck commented on #911
Hrm, I think this will be tricky because we don't have an es-MX locale to
set data for. I think we'll need to think about how best to do per-locale
overrides when we don't have a locale available.

On Sat, Nov 21, 2015 at 8:16 PM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-22 03:32] ScottDowne commented on #910
It gets tricky quickly when we consider all the currencies. Worth investigating how complex it is, but if we do it just for BRL, maybe it's not so bad? Maybe it's not so bad for eur either.

We didn't do this initially because we thought it wasn't critical, but, sounds like people care.

[2015-11-22 03:41] valianttry commented on #910
@ScottDowne it is just 1 person so far... can we explore options and then discuss before investing too much time?

[2015-11-22 03:42] ScottDowne commented on #907
It picked US because you were in en-US, if you go to https://donate.mozilla.org/en-CA/ it does set canada for the country.

I know, not super helpful, because nothing actually links to en-CA...

The current implementation is mostly for more specific locales, en-CA is a bit of an oddity because most Canadians are used to en-US anyway.

[2015-11-22 03:44] ScottDowne commented on #910
Monday I'll invest time to see how hard it would be, I won't go into actually doing it. It'll be a few minutes of work.

[2015-11-22 03:47] ScottDowne commented on #911
We have en-CA and en-GB.

Setting up an es-MX wouldn't be any more work, and should remove a lot of the tricky ness, right?

[2015-11-22 03:48] ScottDowne commented on #908
Reminds me of the feedback section from call congress. We can even use google forms for the data storage again if we want.

[2015-11-22 03:54] ScottDowne commented on #902
After thinking about this, I'm fairly convinced this is stripe rejecting the postal code because it wasn't the right postal code, and not because it was an invalid formatted postal code.

The only error we have for that field is triggered by stripe, we do nothing else there and accept all characters.

[2015-11-22 04:28] valianttry opened #914 "Difficulty with Canadian postal code"
I searched for him in Stripe, no luck.

**I tried to donate to you but your system says my Canadian postal code is not valid.  It IS valid.**

I replied, asked him to confirm he was entering the correct postal code associated with the card. He replied:
**Yes it is. It is L6K 0A4 I tried it with a space and without a space (Between the K and the 0)**

I just want to make sure it is indeed user erro

[2015-11-22 04:53] valianttry commented on #914
I mean, plenty of Canadians tested this form :maple_leaf:

[2015-11-22 05:54] valianttry opened #915 "Delete PayPal for IDR and INR form - CC only"
We're seeing a large amount of India traffic (13% of all traffic during the India daytime). For INR, Wikipedia removes payment processor options, limits it to credit card only on their form (see screengrabs below). Can we produce an /in/ form that removes PP alltogether and just show the CC option since Stripe accepts INR?

![make_your_donation_now_-_donate](https://cloud.githubusercontent.com/ass

[2015-11-22 05:57] valianttry commented on #915
NOTE: I think as an initial hack we could just keep the EN language, but default to INR currency. I believe the traffic is from Indians using EN locale anyway. We just can't accept INR / rupee so they are abandoning. (This is my current theory.)

[2015-11-22 15:30] alicoding commented on #442
![screen shot 2015-11-22 at 10 29 44 am](https://cloud.githubusercontent.com/assets/4368149/11324597/1c7db17e-9104-11e5-91d1-2621975b527d.png)

[2015-11-22 15:30] #442 closed

[2015-11-22 20:01] valianttry opened #916 "Change "Credit card" to "Credit / debit card" in our form design?"
I just received an email from a donor that asked if we accept Visa debit card. Wikipedia's CC button says "Debit/credit card" but ours only says "Credit card":

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11325958/a20dae96-9110-11e5-81cc-209bfb48ad0b.png)
Wondering if it's worth it to add "/debit" to make that clearer? Or would it hurt conversio

[2015-11-22 21:59] jbuck commented on #916
Yep, we can get that data from Stripe

[2015-11-22 22:36] ScottDowne commented on #915
I would say let's have this trigger not on /in/ but instead trigger removing the paypal option when the currency is INR (or any other not paypal accepted paymet)

I see this as a seamless switch of two slightly different step 2 pages, new one with credit card info expanded, and no paypal button, and have the amex/visa/mastercard logos make good use of the leftover space.

Once we have a finished /

[2015-11-22 22:50] ScottDowne commented on #914
TLDR We should update the postal code error message.

Could be a valid postal code, in that he lived there, maybe moved, or otherwise not the postal code verified with the card? I think this is also the case with https://github.com/mozilla/donate.mozilla.org/issues/902

I took a closer look at the error message, and it's not great. We show them "Invalid zip/postal code", The Stripe description for

[2015-11-22 23:46] ScottDowne commented on #449
This is currently on, closing.

[2015-11-22 23:46] #449 closed

[2015-11-22 23:48] ScottDowne commented on #914
Maybe something like "Zip/postal code check failed" maybe also add in a bit along the lines of "Are you sure this is your current zip/postal code?"

[2015-11-23 00:00] ScottDowne commented on #772
Should be fixed now.

[2015-11-23 00:00] #772 closed

[2015-11-23 00:21] ScottDowne commented on #915
@valianttry

For INR presets, what values do we want to start with?

I'm thinking:

[code]

As rough conversions from our USD values.

[2015-11-23 04:22] valianttry commented on #915
@thecount that seems like a good set.

[2015-11-23 09:43] adamlofting commented on #912
See also #518

[2015-11-23 09:44] adamlofting commented on #906
@valianttry there's an open ticket here to check all the locale amounts: #518

[2015-11-23 09:51] adamlofting commented on #897
Adding some notes.

Donors by country polls the totalizer API. Probably needs some updates to group the Stripe and Paypal data together: https://github.com/mozilla/mofo-transaction-storage/blob/master/server.js

Donors by source is GA data. This is currently serving a saved static snapshot from the end of last year, but now might need to combine the ga account for sendto and donate... https://gith

[2015-11-23 09:52] adamlofting opened #918 "Update GA donations by source summary API"
https://github.com/adamlofting/transformtogeckoboard/

[2015-11-23 10:06] adamlofting commented on #742
Just crossed checked the data over the weekend, and this is looking good now. GA does report less than the actual totals in Stripe, but that is to be expected given tracking protections options etc.

[2015-11-23 10:06] #742 closed

[2015-11-23 11:40] adamlofting commented on #550
Just adding some data to this bug to share in the call notes for today.

Comparing the conversion rate for snippet and directly tiles (row 1 and 2) below is what we hope this design variant will help with.

<img width="1017" alt="screenshot 2015-11-23 11 34 44" src="https://cloud.githubusercontent.com/assets/1901816/11335717/a8fed722-91d6-11e5-99f4-874664d9ea18.png">

I encourage us to get V3 live

[2015-11-23 13:05] adamlofting commented on #916
I can't imagine this hurting conversion (it might even increase it given that donor feedback) but we could always A/B test this later if we want to double check.

[2015-11-23 15:35] cadecairos commented on #892
@jbuck I have a hunch this is the [request](https://github.com/request/request) module not aborting the HTTP request to paypal before the Heroku router closes its' connection to the dyno. The deploy/change in env vars could have had something to do with it?

[2015-11-23 16:02] edrushka commented on #898
Will assign this after today's call. I'm not sure which dev should work on f.m.o.

[2015-11-23 16:05] edrushka commented on #908
I agree it would be awesome to have this - the written input we get is very valuable. My instinct is to put this on the the thank you confirmation/email signup page. To me, it strengthens the ask for their email address by signaling we're interested in a 2-way dialogue.

[2015-11-23 17:10] cadecairos commented on #666
Should we call this resolved? SES does sometimes appear to lag every now and then.

[2015-11-23 17:31] #666 closed

[2015-11-23 17:39] natalieworth commented on #702
Hey @valianttry @edrushka @lovegushwa updates on these are up on redpen. I've included variations of the buttons, but I could do less of the 'Give before Dec 31' if we are going to be testing them? Thanks :) https://redpen.io/p/npc29dacd3ad00ee8e

cc @cassiemc

[2015-11-23 17:40] ScottDowne commented on #908
I'm also curious if we can ask for feedback in cases where we display errors. If we just ask for it on the thank you page, we're going to get mostly positive responses.

[2015-11-23 17:42] jbuck commented on #892
Might have something to do with this not-great error handling: https://github.com/mozilla/donate.mozilla.org/blob/086142987b44e40b9bfd46c4f7d274012a4bc890/routes/index.js#L131

[2015-11-23 17:43] ScottDowne commented on #916
@adamlofting I would be willing to test this after the fact.

We don't have time to test this given other possible high value tests, but I'm fine with good guesses now, and tests later.

Is this something we can do if warranted?

[2015-11-23 18:16] cadecairos commented on #892
hahaha yup.

[2015-11-23 18:42] ScottDowne commented on #902
I'm going to close this as I'm sure enough it's the same as #914

[2015-11-23 18:42] #902 closed

[2015-11-23 19:02] lovegushwa commented on #436
@ScottDowne
Please get the snippet and funnel "this really helps us" monthly donation ask, and email signup funnel graphics here (will localize email ask for page 3 of the funnel after EN test runs):
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvakhPY05aamRqUjQ&usp=sharing

![screen shot 2015-11-23 at 10 58 54 am](https://cloud.githubusercontent.com/assets/12228435/11346409/60b

[2015-11-23 19:27] natalieworth commented on #810
@cassiemc Could I tie this in with issue https://github.com/MozillaFoundation/Design/issues/54? Not sure if they should be independent or if they are for the same thing?

[2015-11-23 20:07] edrushka commented on #560
Update: @natalieworth and @lovegushwa are going to produce 3 sketches this this week to run past @adamlofting. Natalie and @cassiemc will continue to refine next week with the goal of showing MoCo team sooner rather than later.

[2015-11-23 20:10] jbuck commented on #892
We had this happen again. We should:

* Audit and fix error handling
* Add our own HTTP request timeouts (25s?)
* Add our own good heroku reporter
* Add request id that heroku sends to our logging
* Add logging to external API requests

[2015-11-23 20:13] cassiemc commented on #560
Yes, this works. The directions we discussed were 1) simple color change as per wikipedia's examples above 2) a graphic example, as per https://redpen.io/ave485e6ac3bb9bf6c if I'm not mistaken 3) and a last one with a photo as the main element. New ideas might pop up in the interim.

[2015-11-23 21:43] edrushka commented on #915
ccing myself

[2015-11-23 22:15] edrushka commented on #740
Mike Alexis is going to file bugzilla bugs with appropriate teams for some of these. I'll try to cross-reference those back here once that's done.

[2015-11-23 22:19] natalieworth commented on #430
Hey @edrushka, I don't mind editing the thank-you footage and interviews from MozFest if no one is able/ already doing it. Should have time later this week and next. Could also be something that I could work on while everyone is away at Mozlando?

[2015-11-23 22:58] edrushka commented on #430
MoCo just delivered a first draft today: https://www.youtube.com/watch?v=znS5PL7DbJA

[2015-11-23 23:02] lovegushwa commented on #430
@HPaulJohnson your feedback on the above video would be great.

[2015-11-23 23:07] edrushka commented on #873
![screenshot 2015-11-23 14 59 45](https://cloud.githubusercontent.com/assets/4515662/11352733/ff3c6d40-91f2-11e5-813b-efe5919151f5.png)

^ Here's the current banner on fundraising.mozilla.org
According to ali, it's made up of 3 elements: yellow background, the crowd image and the text overlay. We need to:
- update the background colour and image to align with this year's design
- keep the donate b

[2015-11-23 23:25] ScottDowne commented on #915
I have a WIP patch for this, I wanted to get to it today, but didn't get a chance.

[2015-11-24 06:19] valianttry commented on #915
For further motivation (this is one of several emails we've gotten like this to donate@):

![indian_rupee_is_not_available_in_the_list_of_currencies_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11359372/4850fce8-9230-11e5-9a09-4cc1a5f7eca6.png)

[2015-11-24 06:29] valianttry opened #925 "erm... apparently there are no postal codes in Bolivia?"
More of an "FYI" as we have received $0 from Bolivia (but maybe this is part of the reason why?)

![i_tried_to_donate__10u_s__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11359533/c74dfafe-9231-11e5-9778-ce627e1a7aa9.png)

[2015-11-24 13:08] jbuck commented on #925
I think this will actually be pretty easy to fix. There's a [list of countries postal codes](https://en.wikipedia.org/wiki/List_of_postal_codes) so we just need to make it an optional field or not based on the selected country.

[2015-11-24 14:52] alicoding opened #927 "Locale negotiation"
Our current UX/design for displaying the locale is like this:

1. If the user visit the URL without locale in it e.g. [https://donate.mozilla.org/share/](https://donate.mozilla.org/share/)
  We will check their locale in `navigator.language` and if we support that language we will redirect them to that locale and replace the URL with the new one e.g. `navigator.language='de'` then the URL will now

[2015-11-24 14:54] alicoding commented on #927
@jbuck @ScottDowne @edrushka @valianttry

This is a P1 in my opinion, but I don't know what you all think here? Maybe @adamlofting can tell us how many people will visit the URL without locale here?

[2015-11-24 15:25] ScottDowne commented on #927
This is important, can get us more money, and very much should be worked on.

However, I don't think p1 is about importance. It's about emergency. I want a drop everything and work on this bug Label. If that's not p1, I don't know what is.

The more p1s we have, the less important they become.

[2015-11-24 15:33] alicoding commented on #927
@ScottDowne the reason I asked if this is a P1 because I don't know our data not because I don't know how important is p1 label. We might be getting 1% of our traffic on no-locale URL or it could be more. But, knowing the number will tell us if this bug is a drop everything you're working on and do this now or not.

[2015-11-24 15:45] alicoding opened #928 "list of sendto.mozilla.org on fundraising.mozilla.org"
* https://sendto.mozilla.org/page/s/sign-up-for-mozilla/
* https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&source=FMO&ref=EOYFR2014&utm_campaign=EOYFR2014&utm_source=FMO&utm_medium=referral&utm_content=FMO_donateTXT
* https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&source=FMO&ref=EOYFR2014&utm_campaign=EOYFR2014&utm_source=FMO&utm_medium=referral&utm_content=FMO_red

[2015-11-24 16:43] ScottDowne commented on #928
I think the seq pages are easy, they just need to retain or update their ga queries, and the the presets need to be updated to match whatever preset=2 used to do.

I don't know about the other links at a glance.

[2015-11-24 16:56] valianttry commented on #928
#740 addresses a couple of these

The links that go to an optin or signup form are not fundraising related and we haven't implemented. We don't need to update them right now. URL builder is here: http://mozilla.github.io/mofo-campaignurl/

[2015-11-24 16:59] valianttry commented on #908
+1 to adding it to the Thank you... can the "submit" button work for either/or inputs? e.g. if people want to leave a comment but not sign up for email they can hit "submit" after typing their comment; and vice versa.

[2015-11-24 17:15] ScottDowne commented on #908
@valianttry Yup, can add it to thank you separately from signup, but in the same page.

I don't know if we'll get to this though, feels very bluesky.

[2015-11-24 17:17] natalieworth commented on #873
@edrushka @alicoding Is there copy for this or are we using the same from last year?

[2015-11-24 17:52] adamlofting commented on #928
As Andrea said, the email sign-up form isn't urgent, but when we do get to it we'll want to switch the sign-up to talk to Basket rather than BSD. The API and list is setup and ready for when we have a minute to make this update.

[2015-11-24 18:02] edrushka commented on #873
@natalieworth same as last year should work (except for removing that line of copy under the totalizer talking about our final $ goal. we're not making that so public this year).

[2015-11-24 18:40] lovegushwa commented on #808
@cassiemc @sabrinang R?
Can you review Twitter, Facebook and Email visual design for EOY?
We need to ship by end of day. (including all production work)

@natalieworth did great work getting these moving. We met with @valianttry on Friday and made a selection from the huge amount of options, then made final tweaks.

https://redpen.io/p/wq572fdb24204d8f68

[2015-11-24 18:49] cassiemc commented on #808
these are rad @lovegushwa and @natalieworth!

[2015-11-24 19:13] valianttry commented on #915
Another, this person includes some interesting intel:

**Hi Mozilla team, xxx here, i would love to pitch in but i live in India and i didn't see an option for the Indian Rupee and an option for a debit card (most of us Indians abhor the use of a credit card [ well atleast the sensible ones, i mean why pay in credits when you have cash in the first place, right?]), so please bring those two above

[2015-11-24 19:16] sabrinang commented on #808
super fun social graphics! great work :+1:

[2015-11-24 19:21] lovegushwa commented on #808
Thank you @cassiemc @sabrinang
I'll dig through redpen comments, fix and ship!

[2015-11-24 20:56] valianttry commented on #871
There were over 380,000 donors in 2014 (not 200K) I wouldn't include specific breakdown of our financials. I would just say "for more information, you can view our financials here" and link to our 990 or whatever we have on the web. We can also create a short link to this detailed blog post about our revenue generation activities Denelle and Mark worked on last year: https://blog.mozilla.org/blog/

[2015-11-24 21:47] lovegushwa commented on #560
@cassiemc @edrushka we also have this silly gold mine from the August work week:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvdjRuREtnYXZNblE&usp=sharing

[2015-11-24 21:54] edrushka commented on #560
![img_20150805_142647](https://cloud.githubusercontent.com/assets/4515662/11381771/d82432d6-92b2-11e5-8857-7c414044b302.jpg)
Yes! I forgot about these. IMO, this one ^ is ready to ship!

[2015-11-24 21:56] valianttry commented on #560
@edrushka i approve! We can just skip Tim and Sean..... :stuck_out_tongue_winking_eye:

[2015-11-24 21:56] lovegushwa commented on #560
lol, (that's what dinosaurs actually looked like.)

[2015-11-24 21:59] edrushka commented on #557
Closing, as this done.

[2015-11-24 21:59] #557 closed

[2015-11-24 21:59] edrushka commented on #639
Closing. This is done :+1:

[2015-11-24 21:59] #639 closed

[2015-11-24 22:02] edrushka commented on #646
We're slipping behind on this. @KevZawacki can help after Dec 7 but that's well past the deadline. Do you want me to try to take a pass, @valianttry or is there someone else we can call in? Matej? MJ?  Annoying reminder: it takes forever to get exec signoff on these.

[2015-11-24 22:08] ScottDowne commented on #915
@valianttry The way I have this working, can unlock ANY stripe currency that paypal doesn't support.

Here is the list we now have access to: https://support.stripe.com/questions/which-currencies-does-stripe-support#currencygroup1

^^ Anything under group 1 and group 2.

I don't think we should enable all of those, it'll make an unwieldy confusing dropdown that's impossible to find what you want,

[2015-11-24 22:18] edrushka commented on #899
@KevZawacki is a hero! https://docs.google.com/document/d/1zDvy0bhm3O8hHbT-dC35XI4S5yGROkD7BHNvv4wHq4E/edit

Closing this.

[2015-11-24 22:18] #899 closed

[2015-11-24 22:19] edrushka commented on #703
Closing this as copy is done and graphics are about to ship: https://redpen.io/hk2f4a932f26891663

[2015-11-24 22:19] #703 closed

[2015-11-24 22:20] edrushka commented on #636
Closing this. Let's use copy from regular snippet unless design requires otherwise (in which case we can re-open this ticket).

[2015-11-24 22:20] #636 closed

[2015-11-24 22:30] edrushka commented on #868
@alicoding any updates on this? I feel like work might be happening in other tickets? If so, can you cross-reference them here so I can see the progress? This one's a P1 so I want to make sure we're moving on it. Thanks!

[2015-11-24 22:51] alicoding commented on #868
I'm not sure what I have to do in this ticket ?

[2015-11-24 23:31] lovegushwa commented on #550
@ScottDowne this should give you what you need to build v3
( @edrushka is this the right place this or do we need a build ticket assigned to @ScottDowne ? )

Download the heart SVG:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvN0VydkR2RF9FZDg/view?usp=sharing

<img width="993" alt="screen shot 2015-11-24 at 3 18 06 pm" src="https://cloud.githubusercontent.com/assets/12228435/11383775

[2015-11-24 23:38] valianttry commented on #915
WHOA

This is rad. This is how Wikipedia tackles this problem:

https://wikimediafoundation.org/wiki/Ways_to_Give

Notice they group by continent >> country >> localized currency form

I would focus on our Firefox usage stats as a guide, those are:

**Tier 1
English
German
French
Spanish (es-mx, es-es)
Polish
PT-BR
Russian
Italian
Hungarian
Japanese
Dutch
Greek
Indonesian
Czech
zh-TW
zh-CN

**Tier

[2015-11-24 23:42] edrushka commented on #868
Oops, my mistake. I thought there was more to do regarding IN. I'm going to close this now, since that spreadsheet is all filled in.

[2015-11-24 23:42] #868 closed

[2015-11-24 23:46] valianttry commented on #915
NOTE: I would P1 MXN and INR based on direct donor feedback... the above is P2 IMHO, but it would be good to get this up and running for as many locales as possible before mid-december? Possible?

[2015-11-25 00:41] valianttry commented on #915
@lovegushwa YES v 3 and 4 are the Ones! We've tested an image before and it didn't work very well....

[2015-11-25 00:43] valianttry commented on #550
@lovegushwa YES v 3 and 4 are the Ones! We've tested an image before and it didn't work very well....

Please note the copy in the example is not approved copy. There are variants written and approved by MoCo here:
https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#heading=h.tixwdvnqq127

[2015-11-25 01:09] shorlander commented on #732
![dapper-fox](https://cloud.githubusercontent.com/assets/684427/11385468/23905630-92e7-11e5-804d-188e6c2d9d49.png)
Two options. Mostly differing positioning of Dapper Fox.

[2015-11-25 01:27] valianttry commented on #732
@shorlander this is amazing.

[2015-11-25 01:29] valianttry commented on #732
It is perfect in every way. Q: Would it be cheezie / unseemly to have Dapper saying something or acknowledge the donor somehow? E.g. "Thanks for your gift!" or "Your donation keeps Mozilla awesome" or ... something less lame than what I just suggested....

[2015-11-25 03:13] valianttry commented on #808
srsly these are so awesome! :clap: @lovegushwa and @natalieworth !!

[2015-11-25 03:15] valianttry commented on #908
@ScottDowne no problem, i'll bluesky it. We're getting a nice flow from the donate@ inbox, and we'll get more from the other survey we're working on.

[2015-11-25 03:19] valianttry commented on #622
hi @jbuck just checking in on this -- we'll be doing setup and testing of emails next week. Are we close?

[2015-11-25 03:20] valianttry commented on #553
I have a small stack of additional cards from Nick, maybe 10 or so. We're ready to pull addresses I suppose @edrushka ?

[2015-11-25 03:30] valianttry commented on #928
@alicoding Here are two new URLs for the donate form:

Red Button in header:
https://donate.mozilla.org/?ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=fundraising.mozilla.org&utm_medium=referral&utm_content=FMO_redbutton

https://donate.mozilla.org/?ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=fundraising.mozilla.org&utm_medium=referral&utm_content=FMO_textlink

[2015-11-25 04:12] lovegushwa commented on #808
@edrushka @valianttry @KevZawacki

You can download the final facebook share images here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvU3o0dzV4cGhIMVk&usp=sharing

[2015-11-25 04:14] lovegushwa commented on #807
@edrushka @valianttry @KevZawacki @natalieworth

You can download the final twitter share images here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvOXVBaFJFN3dYU0k&usp=sharing

This issue is ready to close.

[2015-11-25 04:17] lovegushwa commented on #702
@edrushka @valianttry @KevZawacki @natalieworth

You can download the final email callout images here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvYjBKbmJCVHlwRjg&usp=sharing

this issue is ready to close.

[2015-11-25 04:22] lovegushwa commented on #638
@valianttry @edrushka any other thoughts on this? Can we create a build ticket and close?

[2015-11-25 05:37] valianttry commented on #638
@lovegushwa this looks good to me. I'd love @adamlofting to give his OK but I don't think he is a blocker -- this is def. good enough for a test I think.

[2015-11-25 06:34] valianttry commented on #518
@adamlofting @ScottDowne I did some work on this -- I created a spreadsheet for defaults starting with the cost of a loaf of bread (based on some research online):
https://docs.google.com/spreadsheets/d/14ZWYtGF2xC459SXUT-otxGXzlM5peLp-HqFgPSjf2eM/edit#gid=0&vpid=A1

I think these amounts work as defaults for both one-time and monthly gifts for the snippet traffic. What do you think?

[2015-11-25 06:55] valianttry commented on #518
@adamlofting looking at the spreadsheet you shared earlier that includes WWF / UNICEF numbers -- our average gift is so much lower for the majority of our donors. I started with a "slightly higher than a loaf of bread" amount based on our average... but would like to hear your thoughts on this.

[2015-11-25 09:31] adamlofting commented on #518
Nice.

* The comparison to the cost of bread is a good indicator
* We should make sure that the lowest amount per currency shouldn't end up being less than our lowest accepted amount in USD - I think minimums per currency are already specified in the code
* Round numbers make more sense to me, and feel more localised rather than we're presenting a US ask converted into that currency - I think all

[2015-11-25 09:33] adamlofting commented on #638
This looks great. In the build ticket it would help to give some rules about who this is shown too, and how much the ask is for. Ie if someone is donating $3 asking for $5/month seems a bit much.

[2015-11-25 09:37] adamlofting commented on #553
Addresses are ready in a Google Doc that's been shared with restricted access. I'll resend the link by email.

[2015-11-25 12:53] jbuck commented on #622
Yeah, this is working great when I run it manually in the office. I need to
get Matthew P to whitelist IP addresses for the Heroku automation to do it
automatically for us though

On Tue, Nov 24, 2015 at 10:19 PM, Andrea Wood <notifications@github.com>
wrote:

[2015-11-25 14:38] KevZawacki commented on #871
@valianttry Thanks! I've just updated our new questions and ported them into the FAQ wiki. I'll share these updates with Michaela and team, too.

Closing.

[2015-11-25 14:38] #871 closed

[2015-11-25 14:45] KevZawacki commented on #899
@edrushka [I prefer "legend" to "hero."](https://www.youtube.com/watch?v=ix8s_TUYVW8)

[2015-11-25 15:11] cadecairos commented on #892
This might require some front-end work to give us a place to redirect the user-agent to when something goes wrong

I'll take this on next

These three handled in #920

[2015-11-25 15:21] alicoding opened #930 "preserve a query on a redirect"
right now if you visit an unknown locale like this

https://donate.mozilla.org/th/?currency=thb

it will redirect you to https://donate.mozilla.org/en-US/ because `th` is not supported, but we lost the query for that which we want in this case since `thb` is a supported currency.

[2015-11-25 15:28] ScottDowne commented on #916
There are a few areas where we say credit card, which we should consider as well, but can fix in a separate patch:

placeholder:
![cc](https://cloud.githubusercontent.com/assets/197334/11401107/ef1331ca-935e-11e5-99e1-df2b34d848d4.png)
cvc info:
![cc1](https://cloud.githubusercontent.com/assets/197334/11401110/f4558764-935e-11e5-964a-2d4f76f0e90a.png)
stripe notice:
![cc2](https://cloud.githubuser

[2015-11-25 16:28] ScottDowne commented on #916
I have a pull request for this: https://github.com/mozilla/donate.mozilla.org/pull/932

[2015-11-25 16:51] ScottDowne commented on #916
Merged it for just the button.

[2015-11-25 16:58] ScottDowne commented on #927
@alicoding this should enable es-MX to preselect MXN and Mexico for currency and country?

[2015-11-25 16:58] jessilyndavis commented on #622
Excellent. Had a quick sync with Adam and Andrea, and want to follow up in this thread:

The plan is that the import process, and generation of the particular audiences for sending, will be done by clicking a manual button within ExactTarget (this process will be ready to roll by EOD today/Monday, and training with the team on Tuesday, 12/1). The idea is that this import & filtering process would

[2015-11-25 17:00] ScottDowne commented on #518
@valianttry This looks ready for dev. Should I start?

[2015-11-25 17:01] ScottDowne commented on #518
I agree with @adamlofting we should make sure they are rounded numbers.

Also we're going to need to define varients for one time and monthly, and a single min amount.

[2015-11-25 17:22] edrushka commented on #808
Excellent job, y'all. These are lovely. Thank you!

[2015-11-25 17:22] #808 closed

[2015-11-25 17:23] edrushka commented on #807
Fantastic! I especially love the playful peeking Dapper Fox, and of course, the introduction of Flower Fox! Thanks @natalieworth @lovegushwa!

[2015-11-25 17:23] #807 closed

[2015-11-25 17:24] edrushka commented on #702
Dapper Fox looks very handsome in square format. Excellent job. Thank you!

[2015-11-25 17:27] edrushka commented on #553
I will bring the leftover cards to Orlando on the off-chance we'll get a few more signed. That shouldn't stop us from getting started with TaskRabbit before Orlando if you have the bandwidth, @valianttry

[2015-11-25 17:28] edrushka commented on #899
Legends never die!!!

[2015-11-25 17:32] alicoding commented on #927
Wasn't planning to but I think we can teach either client to do that or server can just handle that.

[2015-11-25 17:47] ScottDowne commented on #927
@alicoding We just need to do with es-MX what we do with en-CA, it's not different, so it should do that.

[2015-11-25 17:49] alicoding commented on #927
Then I guess no extra work here except adding that locale on the directory.

On Wed, Nov 25, 2015, 12:47 PM ScottDowne <notifications@github.com> wrote:

[2015-11-25 19:33] valianttry opened #935 "Use Exact Target to send receipt emails"
I'm getting a few emails like below from ISPs because our Thank You emails are triggering some "spam" warnings... we run the risk of being blacklisted -- worst case scenario: Our donors no longer receive receipts.

What are options for mitigation? @adamlofting @jbuck

![email_feedback_report_for_ip_54_240_8_18_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/asset

[2015-11-25 19:43] jbuck commented on #935
This probably stems from our use of AWS SES. @simonwex do you know of any other transactional email vendors we could use here? Mostly I'm worried about vendor review.

[2015-11-25 19:51] ScottDowne opened #936 "other amount currency symbol is no longer centered"
![other-symbol](https://cloud.githubusercontent.com/assets/197334/11407960/fd07e8dc-9383-11e5-8133-ab71230a1e30.png)

Has this always been like this, or did we break something?

[2015-11-25 19:52] jbuck commented on #935
The obvious question to ask is "Why not use Exact Target?" The answer is that the use of transactional email with Exact Target is not as straight forward as every other transactional email provider.

With ET we'll need to rebuild the email template within ET, possibly per-locale. Then for each receipt we'll need to run an API call to add the users transaction data to a data extension somewhere, an

[2015-11-25 19:53] jbuck commented on #935
I did some more looking at their API and we may actually have a solution: https://help.exacttarget.com/en/documentation/exacttarget/interactions/triggered_emails/sending_exacttarget_emails_via_smtp_relay/

If all that's required is to give us credentials for SMTP, this would be a breeze to integrate!

[2015-11-25 20:08] jessilyndavis commented on #935
3 options:

1) ET SMTP - email help@exacttarget.com and cc me. I'm unsure what needs to happen to give you credentials for SMTP (or if our current account setup allows for it?)

2) SocketLabs - email Wil Clouser for more info

3) Amazon web services - Cloud Services (FxAccounts) uses this for their transactional email sends. Email  - Ryan Feeley might know more about who has the keys.

[2015-11-25 20:19] valianttry commented on #927
@alicoding thanks so much for the research, and that explanation actually helped me a lot.

I can see in Google Analytics that we have locale for 100% of donors (or close to 100% -- i can't find any category that has no locale?) probably because most donors are from Firefox and I assume locale is set automatically somehow?

![language_-_google_analytics](https://cloud.githubusercontent.com/assets/

[2015-11-25 20:30] simonwex commented on #935
@pmclanahan do you know if we have SMTP access to ET already set up?

[2015-11-25 20:48] jessilyndavis commented on #935
SMTP access is there:
https://help.exacttarget.com/en-US/documentation/exacttarget/interactions/triggered_emails/sending_exacttarget_emails_via_smtp_relay/

There are a few ways you can set it up - including passing through all of the HTML you want to send.

[2015-11-25 20:49] jessilyndavis commented on #935
I don't know if/how basket API would be used for this - @pmclanahan  can chime in - or if you'd configure your calls to go directly to ExactTarget.

[2015-11-25 21:01] jessilyndavis commented on #935
Okay! I've set up a sample text-only, no tracking, trigger in ExactTarget Production.

The external ID:  donation_receipt

You should be able to use ExactTarget's API (either by calling it directly with your username + Password of someone who has API access - or potentially using some code from Basket?) to replace the content of this email with what you want it to say (complete with individualized

[2015-11-25 21:03] jessilyndavis commented on #935
@simonwex , @jbuck  - your ET logins are enabled with API access in case you want to give calling ET's API directly a try.  You can reset your password with your username and email address here:

https://members.exacttarget.com/Login.aspx

[2015-11-25 22:07] alicoding commented on #927
@valianttry actually what we want to see in the GA would be a url that they've visit the page to know exactly if they have locale in the URL or not.

[2015-11-25 22:54] ScottDowne commented on #910
This landed, so I think closing this.

Now what it does is if you're in a comma based system, it does not allow a decimal, and if you're in a decimal based system, it does not allow a comma.

[2015-11-25 22:54] #910 closed

[2015-11-26 00:51] valianttry commented on #518
hi @ScottDowne so here is my attempt:

https://docs.google.com/spreadsheets/d/14ZWYtGF2xC459SXUT-otxGXzlM5peLp-HqFgPSjf2eM/edit#gid=1351196652&vpid=A1

* I am not sure if there are different minimum amounts for specific currencies. I built this using a minimum conversion of $2 USD. Please double check this, because they will get an error if the minimum is actually higher than the lowest amount in

[2015-11-26 01:08] edrushka commented on #930
Can I assign this to you ali? I want to make sure all P1 bugs are assigned.

[2015-11-26 01:10] alicoding commented on #930
Sure thing. But I'm not sure I'll get this done soon since there are other one that I really want to make sure I get to it first.

[2015-11-26 01:18] edrushka commented on #911
Changing this to P2 since a few other issues (INR and currency defaults) are more pressing.

[2015-11-26 01:24] edrushka commented on #874
Just noting that when I had my "rotating cog forever" problem, it was also using Mastercard.

[2015-11-26 02:31] lovegushwa commented on #880
@natalieworth I got a bit of a start here this afternoon, so glad you can jump in on these!
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvLUdxa29yTGlwd0k/view?usp=sharing

- Jump in and work with @edrushka to finish up some more options.

- Once the new directions are approved you can localize with @alicoding by giving him tile images with no copy like this:https://drive.google.com/a/

[2015-11-26 02:33] lovegushwa commented on #550
@edrushka can you turn this into a build ticket for @ScottDowne ?

[2015-11-26 02:57] ScottDowne commented on #911
Question about this, are we shipping an es-MX snippet too?

Our conversion is high because we have some es-MX space, but, if we default to MXN we'll need to match that with a snippet to MXN.

This just occurred to me...

[2015-11-26 05:39] valianttry commented on #353
We also now have a nice selection of graphic share images! We should test and try at least one if possible.

[2015-11-26 08:10] valianttry opened #938 "Trouble with PayPal 2-factor auth with monthly gift"
We received the email below from a donor. @jbuck can you just double check that we are getting monthly donations through PayPal? I just did a test and it seemed to work fine, but I don't have 2-factor auth turned on. (I have no idea what % of PP users have 2-factor turned on... it might not be a large number)

![can_t_do_monthly_donation_with_paypal__-_andrea_mozillafoundation_org_-_mozilla_mail](

[2015-11-26 09:07] valianttry commented on #915
Here is what my inbox looks like re: INR requests :moneybag:

![search_results_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11419110/1d8b43b4-93da-11e5-8b39-9b84712010f9.png)

[2015-11-26 09:53] adamlofting commented on #930
@alicoding is this just the redirect that happens on the root?

If so, I think we can P2 this. I had a look in GA at the langauges used by people who are hitting the root URL, and it's mostly en-US and other locales we do have setup:

<img width="1307" alt="screenshot 2015-11-26 09 51 33" src="https://cloud.githubusercontent.com/assets/1901816/11420031/5297e42e-9423-11e5-858b-3456287b3342.png">

[2015-11-26 10:32] adamlofting commented on #927
Sorry for my slow reply here. I've taken a look at the numbers and recommend this is a P2. There are other tasks which will potentially raise much more money in the next 30 days.

Here is my analysis.

This issue affects users who land on the site without a locale in the string. This is 8% of users, which seems like a lot.
<img width="209" alt="screenshot 2015-11-26 10 24 44" src="https://cloud.gi

[2015-11-26 11:04] adamlofting commented on #911
I've gone round in a few circles thinking about this...

Here's an equivilent scenario.

Here in the UK I see the en-US snippet, and it takes me to the en-US form.
<img width="832" alt="screenshot 2015-11-26 10 50 04" src="https://cloud.githubusercontent.com/assets/1901816/11421299/cdb940a0-942b-11e5-8803-b9e55c99f795.png">

The trouble with auto-switching to GBP for me is I may have already made

[2015-11-26 14:38] ScottDowne commented on #915
INR is coming first, I suspect we can ship it today, and keep an eye on it.

I'll ping you when it's on staging and production.

[2015-11-26 14:48] ScottDowne commented on #911
@adamlofting adding currency symbols might help, and it's a really easy patch, but I'm thinking an en-MX snippet would pay off more. We could create less friction.

[2015-11-26 16:08] #830 closed

[2015-11-26 16:12] alicoding commented on #831
closed by https://github.com/mozilla/donate.mozilla.org/commit/a57d4f4de778731925146e48bb4a24c0923786f5

[2015-11-26 16:12] #831 closed

[2015-11-26 17:06] jbuck commented on #212
* http://www.nateberkopec.com/2015/11/05/page-weight-doesnt-matter.html
* http://www.nateberkopec.com/2015/10/21/hacking-head-tags-for-speed-and-profit.html
* http://www.nateberkopec.com/2015/10/07/frontend-performance-chrome-timeline.html
* https://www.igvita.com/2014/05/20/script-injected-async-scripts-considered-harmful/

[2015-11-26 17:19] jbuck commented on #935
Apparently AWS SES got added to a DNS blacklist: https://www.reddit.com/r/aws/comments/3u7i4a/amazon_ses_ips_listed_in_dnsbls/

[2015-11-26 17:23] ScottDowne commented on #916
@valianttry I added the space in the string, so "Credit/debit card" is now "Credit / debit card".

I think we can close this now.

[2015-11-26 17:23] #916 closed

[2015-11-26 18:07] #874 closed

[2015-11-26 18:24] ScottDowne commented on #76
This is fine with what the browser does, and nothing we can do that can be better than that.

If it's down or not there, the browser just ignores it and keeps going. If it's slow, it times out and keeps going.

We could do the same thing, time out for slow or skip if not there.

Closing.

[2015-11-26 18:24] #76 closed

[2015-11-26 18:28] ScottDowne commented on #818
I differ from jbuck here, I think we should use something that loads the script inside the components that use stripe, and not in the index based on the url. I just think checking the url is going to be hard to get right for all cases, and hard to maintain.

[2015-11-26 18:34] edrushka opened #941 "Build 'additional info' variant"
#### Design
@lovegushwa has completed design in #550.

#### Copy
Copy has been finalized in #633. We'll use (approved) Copy Variant A “non-corporate” to start:
Mozilla is proudly non-profit, non-corporate and non-compromised. Thousands of people like you help us stand up for an open Web for all. We rely on donations to carry out our mission to keep the Web open and free. Will you give today?

####

[2015-11-26 18:35] edrushka commented on #550
Build ticket is #941. Thanks for your work on this Jordan!

[2015-11-26 18:35] #550 closed

[2015-11-26 18:38] ScottDowne opened #942 "add selenium or karma tests for all stripe errors"
There are a bunch of Stripe test cards that produce errors.

We should create some Karma or Selenium tests for all of these, to ensure the right error and right page is displayed.

https://stripe.com/docs/testing

I'm thinking it should be Selenium because Selenium is usually what we use for tests that use third party services, and our integration with them.

Karma needs to be stable, so we only t

[2015-11-26 18:40] ScottDowne commented on #915
I just merged INR, should be on staging very soon. IDR and the rest can be another patch.

[2015-11-26 18:42] edrushka opened #943 "Design Dapper Fox sticker for Orlando"
The people have spoken: they demand Dapper Fox in sticker format! Strong sticker opinions were expressed during EOY stand-up call. Assigning @natalieworth to the difficult task of appeasing MoFo sticker aficionados ;)

Natalie, I'm labeling this as a P1 so we can get the stickers printed without paying rush fees but hopefully this won't take too much time. Let me know if you need help prioritizing

[2015-11-26 18:44] valianttry commented on #943
Just confirming this is NOT the exclusive team sticker? This is a public sticker?

[2015-11-26 18:45] edrushka commented on #943
Yup. Public sticker for the masses. They :heart: Dapper Fox!

[2015-11-26 18:46] edrushka commented on #943
FYI, I got our Top Secret Project printing costs reduced, so we should still be on budget, even with the stickers.

[2015-11-26 18:47] ScottDowne commented on #678
@KasperChristensen Just a quick check in, to see if I can answer any questions you might have or help in any way :)

[2015-11-26 19:45] edrushka opened #944 "Build 'Further Monthly Ask' popup"
#### Design
@lovegushwa created 2 variants in #638
[Variant A "short"] (https://redpen.io/cm9a658825a369335d)
[Variant B "long"] (https://redpen.io/yxdac62db58e998649)

#### Copy
Copy was finalized in #637
##### Variant A “short”
Before we process your donation, will you consider stretching your contribution by converting it to a monthly gift of $##?
[Yes! Convert my one-time gift to an automatic

[2015-11-26 19:49] edrushka commented on #638
Closing this as design is done. Build ticket is #944. Thanks Jordan!

[2015-11-26 19:49] #638 closed

[2015-11-26 19:52] edrushka commented on #732
These are super! I think I prefer the first one (less hat) but I defer to the designers! Please let me know when it's ready to share so we can put the link on social.

[2015-11-26 19:56] edrushka commented on #353
Final share images here:
[Facebook] (https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvU3o0dzV4cGhIMVk&usp=sharing)
[Twitter] (https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvOXVBaFJFN3dYU0k&usp=sharing)

@adamlofting do you need me to create an build/implementation ticket?

[2015-11-26 19:58] #507 closed

[2015-11-26 20:04] edrushka commented on #679
@KevZawacki wrote some updates to the FAQ in this ticket #871 and ported the changes to the wiki. Closing this one as it became a duplicate.

[2015-11-26 20:04] #679 closed

[2015-11-26 20:13] cadecairos commented on #925
@ScottDowne I have literally no idea how to implement this

[2015-11-26 20:14] edrushka commented on #159
Oops. I don't think I ever made this ticket. Sorry! :flushed:
@adamlofting is this still a test we want to run?

[2015-11-26 20:18] jbuck commented on #818
It'd be more beneficial to load it based on the URL because then we can put the JS at the bottom of the page so it doesn't block page loading.

[2015-11-26 22:42] natalieworth commented on #873
Hi @edrushka @alicoding Just had a couple questions for this:
* Are we only implementing the 'totalizer' design this year or should I also design a version without the 'totalizer?'
* How should I build/ separate the layers for development?
* Is it required again to have a filled button, or can I do an outlined button (similar to EOY call-outs)?
* Is this priority over the homepage snippet? This sh

[2015-11-26 22:51] edrushka commented on #873
- Please design a version with *and* without the totalizer. We'll use the version without in January (and beyond) once we stop receiving money.
- I don't know how you build separate layers for development. Maybe @sabrinang can advise as she built this last year.
- Filled button isn't a requirement for design. Maybe for dev but I can't see why that would be.
- If you can finish this up fairly quick

[2015-11-26 23:11] natalieworth commented on #880
Just assigned this to myself since @lovegushwa's on PTO for a bit. Easier for me to keep track of everything! I can assign back later if that works :)

[2015-11-26 23:33] valianttry commented on #873
I love this @natalieworth ! I honestly only have minor tweaks. I really like the "donate now" outline button as it is here. Here is what I'm thinking (pardon the awful font, but you hopefully can get the gist). I think we can just have the non-campaigning version exactly the same, but without the "end of year campaign" and totalizer:

![e9c12568-944b-11e5-9eb4-5e648d7c24b1_png__png_image__2004 x 8

[2015-11-26 23:40] ScottDowne commented on #818
Doing it in the component would also not block page loading, it would be async.

[2015-11-26 23:41] jbuck commented on #873
@valianttry You're right, I think FMO could definitely use a little more Comic Sans:

![e9c12568-944b-11e5-9eb4-5e648d7c24b1](https://cloud.githubusercontent.com/assets/578466/11431785/3af2fac6-946d-11e5-8364-8b291ae0a8dd.png)

[2015-11-26 23:41] valianttry commented on #873
AHAHAHAHAHAHHA @jbuck don't freak our the designers! We need them!

[2015-11-27 00:05] ScottDowne commented on #518
@valianttry If I read this right, the raw table is for when people come here not from the snippet, and not from mozilla.org?

Also, the min amounts, and some of the presets are not nice round numbers, which might be a little weird.

In general this table is kinda confusing.

[2015-11-27 00:11] valianttry commented on #518
hi @ScottDowne

Ignore the tab labeled "raw" that's just where i dumped a bunch of data.

So the 2 tabs that matter: "Snippet defaults" can just be our "defaults" but the same ones we'll use for snippet. The "mozillaORG" tab is for ... mozilla.org or where we anticipate a higher average gift.
All the numbers in the 2 tabs that matter should be nice round numbers. I also deleted some columns that a

[2015-11-27 00:11] sabrinang commented on #873
/cc @mmmavis

[2015-11-27 00:15] ScottDowne commented on #518
@valianttry What about monthly presets being different than one time presets?

[2015-11-27 00:20] ScottDowne commented on #518
@valianttry Also did you get anywhere on min amount values per currency?

[2015-11-27 00:21] jbuck commented on #518
That's easy for Stripe:
https://support.stripe.com/questions/what-is-the-minimum-amount-i-can-charge-with-stripe

On Thu, Nov 26, 2015 at 7:20 PM, ScottDowne <notifications@github.com>
wrote:

[2015-11-27 00:23] ScottDowne commented on #518
The only place we cannot override presets is organic google searches, so part of me wants our flat defaults to be ideal for those average amounts.

Another part of me wants the defaults to make sense for the spot where we get the most traffic, which would actually be snippet.

[2015-11-27 00:23] edrushka commented on #873
oh crud @natalieworth - the link I gave you doesn't actually seem to show the totalizer in action (which is weird, I could have sworn it did???). @valianttry do you have a screen cap of what it actually looks like when it's animated?

[2015-11-27 00:30] valianttry commented on #518
@ScottDowne we might want to revisit all of these decisions next year. For now I've assumed:
-- Presets for default search = presets for snippet (this is not ideal since our search avg gift is high compared to snippet avg gift). It's find for now. We don't get that much search traffic.
-- We should talk to @adamlofting about whether we should set any defaults at all -- Wikipedia doesn't default to

[2015-11-27 00:34] valianttry commented on #873
Oh dear. ... @mmmavis or @sabrinang would have a screengrab for that I hope... I don't really have anything showing the animation. I'm open to new ideas for showing the "in motion" state of the numbers, but of course I assume it's easier to re-use our "flipping numbers" from last year.

[2015-11-27 00:38] edrushka commented on #873
If you explore different dates in the waybackmachine it will show the animation.

[2015-11-27 00:53] sabrinang commented on #873
this gif is a bit slow but it shows the animation: http://g.recordit.co/KJHFdk8Cab.gif

[2015-11-27 00:58] mmmavis opened #950 "Build emails for the Gear Store fall campaign"
for details see: https://github.com/MozillaFoundation/2015-fundraising/issues/50

design: https://github.com/MozillaFoundation/2015-fundraising/issues/50#issuecomment-159450037 (both versions need to be built)

[2015-11-27 02:59] ScottDowne commented on #518
@valianttry K, that cleared it up, and I pushed up a good start, but ended up a bit behind today so we'll put it onto production tomorrow and can do another pass if we want.

[2015-11-27 10:46] adamlofting commented on #518
I agree on this as a future test. My previous data is for a different audience/ask/flow.

[2015-11-27 10:47] adamlofting commented on #159
@edrushka yes, let's keep this in the plan. But it's not urgent as we have many other tests we can run while we do this design.

[2015-11-27 10:51] adamlofting commented on #353
In this test we're going to track whether different language affects people clicking either of the share buttons.

The share *images* will appear out in the wild on fb and twitter and we won't be able to factor them into the Optimizely test.

I think this test is simple enough to run in Optimizely without any upfront dev work.

[2015-11-27 10:54] adamlofting commented on #944
Just for clarity :gem:

This should only go to *one time* donors who enter $5 or more.

[2015-11-27 10:55] adamlofting commented on #941
:+1:

[2015-11-27 10:58] adamlofting commented on #911
@ScottDowne agreed *if* people in MX have their locale set to es-MX. I don't know if people do that, or they just use any version in the right language (my browsers are a mix of en-GB and en-US).

[2015-11-27 12:04] adamlofting opened #952 "Improve copy and logo in Stripe checkout flow"
Our Stripe checkout flow currently looks a little drab without a logo, and with the text chopped off.

<img width="642" alt="screenshot 2015-11-27 11 59 09" src="https://cloud.githubusercontent.com/assets/1901816/11440895/593398d8-94fe-11e5-8a91-d2d9974b4c22.png">

It's possible to add a logo, and tweak the text to look nicer like this:
<img width="623" alt="screenshot 2015-11-27 12 02 52" src="ht

[2015-11-27 12:05] adamlofting commented on #952
This is a pretty small task, but flagging so it can be assigned the right priority :smile:

[2015-11-27 12:06] KasperChristensen commented on #678
This seems to work.

I would have liked to add the amount validation to step 3 aswell insted of:
[code]
But i couldnt get that to work a the same time with ["cardNumber", "cvc", "expMonth", "expYear"]. And since ["cardNumber", "cvc", "expMonth", "expYear"] is not on the first page the validation fails and you could go directly to step 3.

[2015-11-27 12:23] adamlofting opened #953 "Make One-page flow the new default"
@valianttry @edrushka @ScottDowne @alicoding @jbuck @cadecairos

We've concluded our first A/B of 2015! :boom:

https://fundraising.mozilla.org/ab-test-three-page-vs-one-page-donation-flow/

This didn't have any impact on revenue (it performs the same as our sequential flow) but it has significant impacts on our code. By switching to the Stripe checkout flow we can dramatically reduce the amount o

[2015-11-27 12:56] cassiemc commented on #732
@edrushka I like the 'less hat' version too, less tension between the face and the url bar.Thanks @shorlander!

[2015-11-27 13:02] alicoding commented on #953
For code maintenance this will be a huge win and huge lift to our existing super complex codebase because of the 3 pages flow. Will be nice to see how can we further improve the one page flow here.

[2015-11-27 13:10] adamlofting commented on #368
https://fundraising.mozilla.org/ab-test-three-page-vs-one-page-donation-flow/ :sparkles:

[2015-11-27 13:10] #368 closed

[2015-11-27 13:12] adamlofting opened #954 "Test: New UI"
We plan to roll out our new UI, but we want to A/B test this to understand / double-check if it has an impact on conversion rate.

Design and build tracked in #436

[2015-11-27 13:13] adamlofting commented on #436
My bad... I'd forgotten to file a testing ticket for this. I'd not forgotten the new UI though :+1:

[2015-11-27 13:17] adamlofting commented on #519
Just noting that most traffic is arriving from the Snippet and we have preselected $10 on the snippet. So this test will only affect a small % of traffic. Going to lower the priority of this test for EOY.

[2015-11-27 13:35] adamlofting opened #955 "Add app.optimizely to CSP rules"
I'll open a PR now

[2015-11-27 14:13] KasperChristensen commented on #936
https://github.com/mozilla/donate.mozilla.org/commit/937652fd5b3d1df61109dd265f1d1ad360348d3f#diff-c5786860e11375aed83e0b24e313690e

It changed here:
in less/shared.less padding: 6px 12px; is changed to padding: 6px 0;

[2015-11-27 14:35] alicoding opened #957 "Consider using Google AdWords to optimize our SEO"
Just had a quick conversation with Growth and Analytics expert from MoCo here at the kitchen in Toronto and I captured few great ideas from him regarding ways to get more donors through other channels.

1. Blog post with specific keywords
  A lot of people know Mozilla as a creator of the great browser **Firefox**, but many people who care deeply about the web and net neutrality for some of them d

[2015-11-27 14:38] ScottDowne commented on #953
One thought, We were going to test signups in the donation flow, but with stripe checkout, I don't know if that's possible.

[2015-11-27 14:55] adamlofting opened #958 "How to track email opt-ins in exact target?"
Question for me to answer.

[2015-11-27 15:02] adamlofting commented on #957
There are some good ideas in here, but I think we should think about SEO as part of our year round fundraising strategy and not a P1 for the end of year campaign.

This will be most effective in the context of the MoFo blogging platform @HPaulJohnson is currently thinking about. That platform is likely to have much more content relating to topics like Net Neutrality and our advocacy work, and will

[2015-11-27 15:03] #955 closed

[2015-11-27 15:07] ScottDowne commented on #678
@KasperChristensen Looking good, so far I only see one small suggestion, and I think some updates have landed since you started because it looks like you're reverting some recent changes. So I think you need to rebase, but that shouldn't change much of your code. Most of the conflicts are in  pages/sequential.jsx but also some around the DisplayNavigationButton component.

[2015-11-27 15:11] adamlofting opened #959 "Create 3 x further snippets for specific locales"
This was talked about on the call, but I haven't seen a ticket and wanted to make sure it was filed.

Follow up task to #911

We have several locales we would like to serve more localised snippets. These are examples where the locales share a language, but not a currency, and we would like to serve up the fundraising ask in the most appropriate currency. These 3 locales are receiving significant l

[2015-11-27 15:15] adamlofting commented on #959
@ScottDowne This setup lives with MoCo team, but I'm assigning to you in case you know if this has been filed with them, or who needs to see it. If not, we can check with @valianttry on Monday.

[2015-11-27 15:17] adamlofting opened #960 "Add currency symbols to currency switcher"
Following the discussion in #911 it might help some users if they can see currency symbols in the currency switcher:

Filing this as a follow up task.

[2015-11-27 15:18] adamlofting commented on #911
Follow up tasks have been filed.

[2015-11-27 15:18] #911 closed

[2015-11-27 15:19] #650 closed

[2015-11-27 15:20] #529 closed

[2015-11-27 15:37] adamlofting commented on #953
@ScottDowne I think that was only valuable while we were asking for email address anyway. Let's put our energy into optimizing the thank you email sign-up form instead. I suspect we can make the same gains.

[2015-11-27 15:43] cadecairos commented on #925
We're moving do default to the one-page flow, so this is no longer going to be our issue.

[2015-11-27 16:48] ScottDowne opened #961 "Make it easy to turn off stripe or paypal in an emergency"
This might be an automatic thing, or maybe not, whatever works.

If paypal or stripe go down, let's not lose money.

[2015-11-27 16:54] ScottDowne commented on #961
Wasn't sure the priority or who to assign this to, but I made it a p1 and assigned to myself for now, until we know when we want to do this.

[2015-11-27 17:02] #84 closed

[2015-11-27 17:03] jbuck commented on #163
Switch to Stripe checkout means we can't do this test, so closing

[2015-11-27 17:03] #163 closed

[2015-11-27 17:06] adamlofting commented on #180
Doesn't apply when we switch to Stripe checkout.

[2015-11-27 17:06] #180 closed

[2015-11-27 17:06] jbuck commented on #215
Our DE-specific campaign is finished

[2015-11-27 17:06] #215 closed

[2015-11-27 17:08] #230 closed

[2015-11-27 17:08] #231 closed

[2015-11-27 17:10] ScottDowne commented on #678
@KasperChristensen I really appreciate your patch.

Unfortunately, I forgot, but we were running a test between two donation forms: https://donate.mofostaging.net/en-US/one-page/ and https://donate.mofostaging.net/en-US/ to see which produces more donations.

This morning the test finished, and they ended up being just as good, but the one page is much simpler in complexity and allows us to close

[2015-11-27 17:10] alicoding commented on #324
We do have this.

[2015-11-27 17:10] adamlofting commented on #296
Let's keep the scope of this small.

add to mofo-transactions

Stripe donations:
* last 10 mins
* last 30 mins
* last 60 mins

Paypal donations:
* last 10 mins
* last 30 mins
* last 60 mins

[2015-11-27 17:11] ScottDowne commented on #678
I'm still going to keep the sequential form in the repo, but it won't be the default form.

Still willing to merge your patch, it's just not a priority.

[2015-11-27 17:12] ScottDowne commented on #936
Interesting, that's exactly when I noticed it break too.

[2015-11-27 17:14] adamlofting commented on #359
The last comment still captures the task here:

- [ ] enabling the sawmill thank you email for PayPal donors because it's a nice message we should be sending

[2015-11-27 17:14] #412 closed

[2015-11-27 17:16] #440 closed

[2015-11-27 17:17] #485 closed

[2015-11-27 17:19] natalieworth commented on #943
Quickly put together a couple of sticker options with Dapper Fox in the redpen: https://redpen.io/uz5617888b99dd5e03

[2015-11-27 17:21] jbuck commented on #670
@edrushka Can you get Kontextor to do this page?

[2015-11-27 17:21] #671 closed

[2015-11-27 17:22] #738 closed

[2015-11-27 17:26] jbuck commented on #818
Given that we're removing the sequential form, we can simply remove stripe.js

[2015-11-27 17:27] #884 closed

[2015-11-27 17:28] jbuck commented on #906
Fixed by #949

[2015-11-27 17:28] #906 closed

[2015-11-27 17:29] #907 closed

[2015-11-27 17:29] ScottDowne commented on #907
We're moving to one page form, which does it's own country detection.

[2015-11-27 17:29] jbuck commented on #914
We rely on Stripe checkout now, so closing

[2015-11-27 17:29] #914 closed

[2015-11-27 17:31] #942 closed

[2015-11-27 17:33] jbuck commented on #952
@edrushka Do you have an idea for the charge description? Currently Mozilla Foundation Donation.

[2015-11-27 17:34] ScottDowne commented on #678
For context: https://github.com/mozilla/donate.mozilla.org/issues/953

[2015-11-27 17:35] #75 closed

[2015-11-27 17:35] jbuck commented on #75
#961

[2015-11-27 17:49] jbuck commented on #324
But there are a significant number of requests for one that isn't in the current location:

[code]

I think we should move the path of the favicon

[2015-11-27 18:49] valianttry commented on #953
Yes! This is really great news. :smile_cat:

[2015-11-27 18:51] natalieworth commented on #873
Hey @alicoding @edrushka @cassiemc , I have 3 different iterations for these. *Note that there are the V1 and V2 of each design (with and without the totalizer) in each redpen: https://redpen.io/p/jn19dd1a23e3b637f5 Thanks!

[2015-11-27 18:51] cadecairos commented on #818
Is this blocked until we switch over to the one-page flow?

[2015-11-27 18:54] alicoding commented on #324
Aha! I see the problem now. I will fix this asap.

[2015-11-27 18:54] jbuck commented on #818
Yes, I'd wait for that issue to land... @ScottDowne which issue is that?

[2015-11-27 18:54] jbuck commented on #818
It's https://github.com/mozilla/donate.mozilla.org/pull/963

[2015-11-27 18:55] jbuck commented on #324
@alicoding fwiw, it might be worth adding a file handler for /favicon.ico... I imagine there's a bunch of dumb software that expects it to exist there

[2015-11-27 18:57] cadecairos commented on #925
This is an issue in Stripe Checkout too!

I've notified their enginneering team via email and they're investigating. They are planning to update me with a timeline for a fix.

[2015-11-27 20:30] ScottDowne commented on #959
I have made an ask for en-CA and en-GB in https://bugzilla.mozilla.org/show_bug.cgi?id=1210193

es-MX has a small blocker in that prod needs to be pushed before we can request the snippet, but I noted that in the issue so they know it's coming.

[2015-11-27 20:51] ScottDowne commented on #915
We are currently missing and can enable for Stripe without paypal:

From the tier 1 list:
CNY (China)
IDR (Indonesia)

From the tier 2 list:
ROM (Romania)
VND (Vietnam)
BGN (Bulgarian)
RSD (Serbian)
KRW (Korean)

So, I guess I'll go do that.

Officially switched to EUR
Slovak
Slovenian

[2015-11-27 20:58] valianttry commented on #915
Awesome, i have about 15 emails in donate@ that I want to reply to when INR becomes available.

@ScottDowne if it is less work to just do Tier 1 (CNY and IDR) I think it's OK to forego working in Tier 2, if we have other P1 bugs. If you can just take care of all these in one swoop then ignore this -- just prioritizing what we have to do given the snippet is going up to 50% in priority locales Tues

[2015-11-27 21:00] natalieworth commented on #943
@edrushka V2 of Dapper Fox body and Dapper Fox's head are up on redpen: https://redpen.io/bf36f783db45a75145
Feel free to have our dev friends take a look again! They'll be the one's primarily using these :)
cc @flukeout @sabrinang @kristinashu @cassiemc

[2015-11-27 21:12] ScottDowne commented on #915
@valianttry it's the same amount of work to add it to the list, but getting a list of presets and min amount is where tier 2 is more work.

I'll do CNY and IDR. INR is already on staging, shipping any minute now.

[2015-11-27 21:16] #324 closed

[2015-11-27 21:16] valianttry commented on #870
I'd vote for prioritizing this in advance of our big traffic uptick expected from snippet % increase to 50% happening on Dec 1
For reference we lose about $500 - $800/day currently at 25% snippet traffic, which will double as of Dec 1

[2015-11-27 21:44] ScottDowne commented on #959
We should create an en-AU too!

[2015-11-27 21:52] valianttry commented on #959
We are getting a ton of INR traffic that happen to use en-US -- is this an opportunity to serve an en-US snippet with INR currency perchance?

[2015-11-27 21:54] ScottDowne commented on #959
@valianttry I would say new issue because it feels like a unique case.

[2015-11-27 21:56] valianttry commented on #959
Sure, and i understand it might not be possible to get country data in order to serve INR -- and the MVP for this problem is solved by simply providing INR in our drop down for currency (https://github.com/mozilla/donate.mozilla.org/issues/915). I defer to snippet team + you guys on possibility of this. :hand:

[2015-11-27 22:01] ScottDowne commented on #936
Boom fixed! closing! Thanks @KasperChristensen

Just in time for a production ship! Should be live in a few minutes.

[2015-11-27 22:01] #936 closed

[2015-11-27 22:02] valianttry commented on #959
Also @adamlofting is it pretty easy to pinpoint when these kinds of changes occur? It would be so interesting and good to report out the (presumably positive ROI) results of doing this in these high volume locales. :moneybag:

[2015-11-27 22:22] jbuck commented on #894
I looked at our stats for SSL connections and I found that there has been **1** SSLv3 connection out of 6.7 million requests:

[code]

[2015-11-27 22:22] #894 closed

[2015-11-27 22:25] valianttry commented on #936
@KasperChristensen it's so awesome to see a contributor's help with fundraising! Thank you so much! :+1:

[2015-11-27 22:34] #769 closed

[2015-11-27 22:43] ScottDowne commented on #915
CNY, INR, and IDR are all shipped now. Along with locale pages for them.

https://donate.mozilla.org/zh-CN/ https://donate.mozilla.org/id/ https://donate.mozilla.org/zh-CN/ https://donate.mozilla.org/pa-IN/

Closing this, and going to file a new one for the tier 2s just to reduce noise.

[2015-11-27 22:43] #915 closed

[2015-11-27 22:44] ScottDowne opened #970 "Enable some more currencies"
We can enable these currencies as stripe only:

ROM (Romania)
VND (Vietnam)
BGN (Bulgarian)
RSD (Serbian)
KRW (Korean)

[2015-11-27 22:45] ScottDowne commented on #915
Filed for the tier 2s https://github.com/mozilla/donate.mozilla.org/issues/970

[2015-11-27 22:46] valianttry opened #971 "Swap in a sexy new Twitter graphic for the Twitter Card"
Let's swap in the graphic that says "I <3 the Web. I gave to Mozilla" for the current Facebook one:
https://twitter.com/real7a/status/670359233783865344

Here are awesome Twitter graphics that have already shipped:

https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvOXVBaFJFN3dYU0k&usp=sharing#

copying @lovegushwa and @natalieworth just in case we need to modify the size

[2015-11-27 22:50] ScottDowne commented on #953
This is done.

[2015-11-27 22:50] #953 closed

[2015-11-27 22:52] jbuck commented on #971
For twitter we can implement one of two card types:

1. [Summary Card](https://dev.twitter.com/cards/types/summary) has a small square image that's atleast 120x120.
2. [Summary Card with Large Image](https://dev.twitter.com/cards/types/summary-large-image) has a larger 1.86:1 ratio image, with a minimum size of 280x150.

It's very easy to switch between the two types, so go with whatever looks bet

[2015-11-27 23:04] jbuck opened #972 "Locale and email metadata is not being set for recurring Stripe charges"
With the new Stripe Checkout flow, the locale and email are not being passed to Stripe. I noticed this on staging and production.

[2015-11-27 23:11] valianttry commented on #925
FYI just got similar complaint from Panama:

![donation_electronic_formula_stupidity_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11448918/11aec864-9519-11e5-892e-9362123fe11a.png)

[2015-11-27 23:11] edrushka commented on #943
Stickers have been ordered! Hurray! Thanks @natalieworth

[2015-11-27 23:11] #943 closed

[2015-11-27 23:12] edrushka commented on #943
FYI, final artwork here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0YnBqMTNWSlAyTVU

[2015-11-27 23:13] natalieworth commented on #971
@jbuck Are you needing help with design on this one? Not sure if there is already a design ticket open for this? I can definitely help if you do! Shouldn't take long.

[2015-11-27 23:13] natalieworth commented on #943
:+1:

[2015-11-27 23:25] cadecairos commented on #925
Is that also an issue with stripe checkout?

[2015-11-27 23:28] cadecairos commented on #925
I took a look just now, stripe checkout appears to handle Panama correctly

[2015-11-27 23:29] edrushka opened #973 "Design form variant with 'thank you' line before donation"
@lovegushwa this one should be pretty simple. Can you please design the variant outlined in #159

[2015-11-27 23:31] edrushka opened #974 "Write copy for thank you before donation variant"
Need a short line of copy for this variant:
<img width="671" alt="753bcef0-7e43-11e5-9565-271d0fc74ec9" src="https://cloud.githubusercontent.com/assets/4515662/11449010/c7f186e6-951b-11e5-9968-5a0c03e42a24.png">

Please add to the copy doc here: https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#

[2015-11-27 23:32] edrushka commented on #159
Copy ticket: #974
Design ticket #973

Design won't be completed until Orlando or later since Jordan's on PTO.

[2015-11-27 23:33] edrushka commented on #973
Copy being finalized in #974

[2015-11-28 00:09] jbuck commented on #972
No Stripe recurring donors received an email ever

[2015-11-28 00:10] edrushka commented on #952
I suggest "Mozilla Donation" but @valianttry should confirm.

[2015-11-28 00:11] edrushka commented on #952
@cassiemc now that we can no longer use the "m" logo, is there something square we could use to brand our Stripe checkout page. Requirements are: *A relative or absolute URL pointing to a square image of your brand or product. The recommended minimum size is 128x128px. The recommended image types are .gif, .jpeg, and .png.*

[2015-11-28 00:12] jbuck commented on #972
So we'll need to send em an email again...

[2015-11-28 00:19] jbuck opened #976 "Missing request_id in API logs, unnecessary timestring"
`request_id= stripe_charge_create_service=1299 charge_id=ch_asdasdsadadsadadad tags=request,stripe,single timestring=2015-11-28T00:16:37.197Z`

[2015-11-28 00:46] edrushka opened #977 "File a list of important dates for Pager Duty crew"
Increases in snippet traffic
Emails sent
Anything else that could impact donation volume

[2015-11-28 01:28] jbuck commented on #976
@cadecairos says we probably just need to lowercase the header. Easy enough!

[2015-11-28 01:40] jbuck commented on #976
https://github.com/mozilla/donate.mozilla.org/commit/f5e303bf33fafb5a9b9fbba0aa2fe3c455a22b1c

[2015-11-28 01:40] #976 closed

[2015-11-28 02:51] jbuck commented on #897
I made the donors by country working. Over to Adam for GA stuff!

[2015-11-28 02:52] jbuck commented on #892
We've landed all of this. Go @cadecairos !

[2015-11-28 02:52] #892 closed

[2015-11-28 02:52] jbuck commented on #851
@alicoding is fixing this in https://github.com/mozilla/donate.mozilla.org/pull/968

[2015-11-28 02:53] jbuck commented on #818
The dependent PR landed, so go forth and strip js

[2015-11-28 02:53] jbuck commented on #765
Fixing in #978

[2015-11-28 03:43] valianttry commented on #368
@adamlofting I tested the new 1-page form today and realized it does not require a Privacy Policy optin. The 3-step form did. First, I wonder if we need the option (probably a legal question). Second, do you think the results of the test still stand?

In the short term @ScottDowne added the checkbox to the 1-page form:

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.

[2015-11-28 03:48] valianttry commented on #952
I think "Mozilla Donation" or "Donation to Mozilla" are both good. Maybe we could incorporate a red heart for the logo?

[2015-11-28 06:21] jbuck commented on #971
@natalieworth If you think we should use the Summary Card with Large Image I can probably just use the existing images, but if we're going to use the square Summary Card image I think I'll need some guidance

[2015-11-28 16:31] ScottDowne commented on #368
One thing I think is weird is how the checkbox has to come before the info is entered.

For both stripe and paypal, the info is going to our server, so I'm pretty sure we need that checkbox.

Finally, we don't have the "We use Stripe for credit card processing. For more information see their Privacy Policy." on this page like we did on the sequential page.

[2015-11-28 21:54] ScottDowne opened #980 "Uncaught error: Cannot read property 'name' of undefined at /app/routes/index.js:244:40"
This is from some Heroku logs, line is https://github.com/mozilla/donate.mozilla.org/blob/master/routes/index.js#L244

[code]

[2015-11-28 21:56] alicoding commented on #980
If there is an error usually `data` will be `null` or `undefined` which means that line will throw an error, right?

[2015-11-28 22:04] ScottDowne commented on #980
In this case, `data` was an object, and `response` was undefined, so `name` failed.

[2015-11-28 22:06] alicoding commented on #980
their API is really weird...

[2015-11-28 22:09] jbuck commented on #980
I wonder if this was the request module sending a timeout error

[2015-11-28 22:42] jbuck opened #981 "On-call page: AWS CloudFront 504 Gateway Timeouts"
@ScottDowne was paged today for 6 504 Gateway Timeouts occurring within two minutes of each other. This thread will help us figure out what we can do to fix this problem now, and improve our response in the future.

* The email isn't clear on what the problem is, nor where you can look to figure out what it means
* Scott didn't have access to AWS to see the CloudWatch alarm, and more importantly s

[2015-11-28 22:56] jbuck commented on #980
@cadecairos I bet the response object isn't available at that point

[2015-11-28 23:56] cadecairos commented on #980
Lame, their docs indicated out would be. I thought we were going to test this on staging until Monday...?

[2015-11-29 03:18] jbuck commented on #980
I decided the value of the additional logging would be worth the risk of
taking it to production!

Also, I think the problem here might be the request timeout returning an
error...

On Sat, Nov 28, 2015 at 6:56 PM, Christopher De Cairos <
notifications@github.com> wrote:

[2015-11-29 08:22] valianttry commented on #702
@lovegushwa or @natalieworth I just noticed that "Web" is not capitalized in the 3rd callout variant -- mind updating? Thank you!

[2015-11-29 12:43] ScottDowne commented on #980
A few more of these today, and also some "Paypal donation failed: ETIMEDOUT"

There were 16 in total, and all clumped together between 12:14:31-12:32:19 today.

Just got another while typing this.

[2015-11-29 12:57] ScottDowne commented on #980
A bunch of "Paypal donation failed: read ECONNRESET" now.

[2015-11-29 13:04] ScottDowne commented on #980
When hitting up PayPal in  test, it took a long time to redirect to the log in page.

Found this? Looks like paypal is having issues this morning: https://www.paypal-notify.com/main_home

[2015-11-29 13:12] alicoding commented on #980
![screen shot 2015-11-29 at 8 11 19 am](https://cloud.githubusercontent.com/assets/4368149/11457205/e16272a6-9670-11e5-856e-ede76651a951.png)

[2015-11-29 13:20] ScottDowne commented on #980
Hard to log in and actually get to the alert, but eventually found this:

"Live Site Status Update
Notification: We are experiencing a system issue which may be affecting PayPal APIs and PayPal Website on the PayPal Live Site.

Users may be experiencing timeout errors while going through the PayPal checkout flow and/or accessing https://www.paypal.com. Some merchants would be noticing an increase

[2015-11-29 13:22] ScottDowne opened #984 "Paypal issues Nov 29th and 30th"
PayPal is experiencing issues, but some donations are still going through:

"Live Site Status Update
Notification: We are experiencing a system issue which may be affecting PayPal APIs and PayPal Website on the PayPal Live Site.

Users may be experiencing timeout errors while going through the PayPal checkout flow and/or accessing https://www.paypal.com. Some merchants would be noticing an increas

[2015-11-29 13:23] ScottDowne commented on #980
I'm moving paypal issues to https://github.com/mozilla/donate.mozilla.org/issues/984

[2015-11-29 13:23] alicoding commented on #980
Just have to use their search and look for today's event https://www.paypal-notify.com/eventnotification/search
<img width="660" alt="screen shot 2015-11-29 at 8 23 05 am" src="https://cloud.githubusercontent.com/assets/4368149/11457273/7c4cb7da-9672-11e5-8f06-53547af80d49.png">

[2015-11-29 15:00] ScottDowne commented on #984
Have not seen a PayPal timeout in Heroku logs for about 50 minutes.

[2015-11-29 15:01] ScottDowne commented on #984
From about 7 to about 9 we had 91 timeouts.

[2015-11-29 16:41] jbuck commented on #984
Here's the link to the downtime notification: https://www.paypal-notify.com//eventnotification/event_details?eventId=6923

[2015-11-29 19:23] edrushka commented on #984
Do we know what error message people receive when their attempt times out? I.e. does Paypal tell them there's an issue, or does it just....not work.

[2015-11-29 21:35] valianttry commented on #984
I'm seeing a couple of donate@ emails about this, here's one:

![redirect_failures_when_trying_to_make_a_donation_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11460279/ea82929e-969d-11e5-849e-0fa9d8474097.png)

[2015-11-29 21:38] valianttry commented on #984
@jbuck i'm having trouble logging in for updates, can you drop the latest here?

[2015-11-30 01:27] valianttry commented on #646
@edrushka and @KevZawacki I wrote a draft for appeal #1:
https://docs.google.com/document/d/18eaF4c0eFR-5kyMGNIAQXRhCTIzprDWooWuoXYfRQO0/edit

Would love your eyeballs on this Monday so we can use it for our ExactTarget workshop on Tuesday morning PST.

[2015-11-30 02:49] valianttry opened #988 "How do I correct a customer address in Stripe?"
evt_17CLiEG8Mmx3htnx3q9UH1sj

She accidentally selected "United Arab Emirates" not "United States" for country. How do I go in to make these kinds of edits for customers? I get them on occasion in donate@.

[2015-11-30 03:21] valianttry commented on #746
@adamlofting do we have access to SurveyGizmo so that we can set this up ourselves? I'm looping @gregglind @MattGrimes back in to ask if they can help set this up or if we should just set this up on our own in SurveyGizmo.

[2015-11-30 09:07] adamlofting commented on #746
I don't have access to Survey Gizmo, and haven't seen MoFo use it anywhere else yet, so I think we'll need support in setting up this first Survey.

I would be good to get access so that we can watch the results and feedback coming in anyway.

[2015-11-30 09:34] adamlofting commented on #988
I'm not sure if the country is being stored in Stripe (it might just be for processing the payment):

But this is where you look up a customer: https://dashboard.stripe.com/customers

[2015-11-30 09:49] adamlofting commented on #952
I think the logo always ends up in a circle like the screenshot example above.

[2015-11-30 10:11] adamlofting commented on #959
If our theory is right, we'll see good conversion on these new locales and an increase in the channels that had a more mixed audience earlier.

We should check if snippet team can identify location as well as browser locale in this case. If we can, that would be great.

[2015-11-30 10:51] adamlofting commented on #368
@valianttry

Good catch, and was happy to see Scott ship this fix so quickly :+1:

The privacy policy does apply so it's good to include this. In fact, we probably should have had this before the PayPal button on the old form anyway, now that we're looking at this more critically. Given that, I think we can say this test still applies.

Also tactically, I don't want to use another week of traffic

[2015-11-30 10:54] adamlofting opened #989 "Add Stripe Notice to one-page form"

[2015-11-30 14:18] #989 closed

[2015-11-30 14:18] adamlofting commented on #897
Donors by source is now working too.

This combines transactions on the old sendto.m.o GA with regular updated data from the new donate.m.o GA profile.

[2015-11-30 14:18] #897 closed

[2015-11-30 14:38] MattGrimes commented on #746
Hey Adam. We are happy to help. @TylerDowner is putting the survey together right now. You should be able to proof it later today.

[2015-11-30 14:51] adamlofting opened #991 "Is the redirect to 'share' done via React?"
@ScottDowne @alicoding

We're not seeing much GA traffic reported for our social share page, but I think this is to do with React affecting GA tracking.

For context:

This is thank you page views
<img width="494" alt="screenshot 2015-11-30 14 46 29" src="https://cloud.githubusercontent.com/assets/1901816/11474672/6a44fb38-9771-11e5-9d0c-173db5d064aa.png">

This is share views (according to GA)
<i

[2015-11-30 14:55] adamlofting opened #992 "How to check number of new email subscribers from EOY campaign?"
@jessilyndavis what's the best way to look up this number in Exact Target?

Does this require running a query against master subscribers?

For reference, these subscribers will have the source URL set to: `https://donate.mozilla.org/`

[2015-11-30 14:56] jbuck commented on #984
They're having more issues today: https://www.paypal-notify.com/eventnotification/event_details_popup?eventId=6925

[2015-11-30 14:56] adamlofting commented on #353
I've started setting up this test in Optimizely, but have run into a possible snag to do with how the pages are built. Need to investigate before I can finish setting up this test.

Blocker: #991

[2015-11-30 15:23] adamlofting opened #993 "How to enable new-flow-test CSS"
@ScottDowne I'm setting up this Optimizely test now, but need some help.

I can switch the experiment on/off by adding the URL parameter like so:

* https://donate.mofostaging.net/en-GB/
* https://donate.mofostaging.net/en-GB/?test=new-flow-test

I've setup Optimizely on Staging to test this out, but because this is implemented as a redirect, there is a tiny flash of the old content in the variati

[2015-11-30 15:45] jbuck commented on #984
The issues have been resolved

[2015-11-30 16:25] ScottDowne commented on #993
@adamlofting yes, you can add the new-flow-test class to the div right inside `#my-app`.

The div has a `.row` class and should be the only div inside `#my-app`

You'll need to setup this on thank-you and share, but it's the same deal for those too.

[2015-11-30 16:27] ScottDowne commented on #993
If we want we can add a more specific classname to the div we need, like `test-container` or something.

[2015-11-30 16:45] edrushka opened #995 "Design circular logo for Stripe checkout"
See issue #952

Requirements are: A relative or absolute URL pointing to a square image of your brand or product. The recommended minimum size is 128x128px. The recommended image types are .gif, .jpeg, and .png.

Even though that says square, the logo appears in a circle, which is....confusing. See #952 for examples.

[2015-11-30 16:46] edrushka commented on #952
Created a design ticket here: #995

[2015-11-30 16:47] ScottDowne commented on #991
Hm, the thank you page and share page are redirected in the exact same way.

Why one would work, and the other does not, strikes me as there is more we still don't understand about this.

[2015-11-30 16:51] edrushka commented on #560
Assigning to @natalieworth since she's pushing this forward.

[2015-11-30 16:57] adamlofting commented on #991
Most of the thank you page traffic goes out to paypal and gets referred back again, so I suspect that's triggering the pageview being recorded in GA.

[2015-11-30 17:02] jessilyndavis commented on #992
Heyo!

2 options:

1) Create a filter on Master_Subscribers to filter by SOURCE_URL, and FOUNDATION_FLG_DATE. Run that filter and it will auto-populate the data extension with results.

2) Create a SQL query on Master_Subscribers and have the data go into a new data extension that you create.

I recommend we hop on a 30 min call to walk through it (might be easier and less scary). Big thing is to

[2015-11-30 17:05] edrushka commented on #873
Let's go with Version 1 on the redpen (big heart with yellow background)

[2015-11-30 17:23] ScottDowne commented on #991
Right, so I suspect the thank-you is busted for stripe too.

[2015-11-30 17:53] natalieworth commented on #560
Updates and a few more iterations are up on redpen: https://redpen.io/p/mue49223c009a1c1d4
cc @cassiemc @lovegushwa @valianttry @edrushka

[2015-11-30 17:53] TylerDowner commented on #746
Here is the survey, https://www.surveygizmo.com/s3/2472227/Mozilla-Donor-Survey

I've left it in a plain white style, if you'd like it to look differently (like https://www.surveygizmo.com/s3/2410652/Mozlando-Pitches) I can do that.

[2015-11-30 17:57] alicoding commented on #890
https://github.com/mozilla/eoy-fundraising/pull/17

[2015-11-30 18:23] natalieworth commented on #873
Hi @alicoding @edrushka, I made updates to the preferred/ yellow version of the banners:
1. Banner: https://redpen.io/wr6493079565193a87
2. Banner with totalizer: https://redpen.io/pt50386b4ff9d4cc6d

cc @cassiemc

Thanks!

[2015-11-30 18:24] #980 closed

[2015-11-30 18:59] ScottDowne commented on #984
We've been talking about the positives and negatives of combinations of displaying a warning for paypal when it's having issues, and maybe disabling but not hiding the button or removing it completely without a warning.

I'm leaning towards displaying a message if it's slow or not working at all, but only disabling it if paypal is 100% down which is unlikely, and never hiding the button.

[2015-11-30 19:02] ScottDowne commented on #960
I suggest pushing this out a milestone or two.

[2015-11-30 19:05] ScottDowne commented on #930
Moving this up to a P1 as it'll make integrating with mozilla.org locales much easier.

[2015-11-30 19:07] ScottDowne commented on #632
At this point all that's lift might be running a test?

[2015-11-30 19:11] ScottDowne commented on #692
This went away. I did some css changes recently for error messages around the button, and I think it cleaned up some nonsense.

[2015-11-30 19:11] #692 closed

[2015-11-30 19:27] jbuck commented on #818
@cadecairos delete this line https://github.com/mozilla/donate.mozilla.org/blob/db573aad6eead39537c029653b23cde663645f51/pages/index.jsx#L67 and I think we should consider making the script below it async too, since we only need it once we click the button

[2015-11-30 19:53] jbuck commented on #977
- December 1st (tomorrow!)
  - Snippet goes from 25% to 50% rotation, so expect a doubling in traffic

[2015-11-30 20:00] jbuck commented on #765
This is as good as we're going to make it unless we include the polyfill within main.js for every browser.

[2015-11-30 20:00] #765 closed

[2015-11-30 20:22] jbuck commented on #988
@valianttry you can edit their country by searching for their customer object in Stripe, and then editing the card card details to the correct country

[2015-11-30 20:22] #988 closed

[2015-11-30 20:40] jbuck commented on #972
This was fixed in https://github.com/mozilla/sawmill/commit/a6fbbaa07d44cf9884ed9b35312d8b2f64d9c9bc

[2015-11-30 20:40] #972 closed

[2015-11-30 20:41] jbuck opened #998 "Send receipt emails to recurring donors that didn't receive one"
In https://github.com/mozilla/donate.mozilla.org/issues/972 I fixed the receipt emails so they work again, but @valianttry wants to go through the donor experience to make sure it's good with the delayed email. We should figure out:

- How many people were affected?

[2015-11-30 20:58] #518 closed

[2015-11-30 21:00] ScottDowne commented on #436
@lovegushwa Am I missing something with the above images? Are they in google drive?

Sorry if I missed them, but I have a bunch of rando things on my plate.

[2015-11-30 21:01] ScottDowne commented on #436
Lol, I see the drive link now.

[2015-11-30 21:02] ScottDowne commented on #352
This is a test ticket, not a dev ticket.

I need to finish #436 before we can use the UI test test this, but, I see no reason this is assigned to me.

[2015-11-30 21:09] #753 closed

[2015-11-30 21:19] natalieworth commented on #880
Hey @edrushka, just posted the tile (static and rollover) variants based off of the file Jordan provided: https://redpen.io/p/xs220787d8385b41c5 Let me know if these are on the right track or if the tiles/ fundraising team is wanting something a little more different. I saw above you mentioned the Kristina's dino, but I wasn't sure if this would deviate too far from the other deliverables:
https:/

[2015-11-30 22:02] shorlander commented on #732
Is there an official AMO account we are submitting the theme under?

[2015-11-30 22:37] valianttry commented on #746
@TylerDowner this is really solid. Thank you! :clap:  For "look" can you borrow font, background sandstone, and wordmark from our donation form design: https://donate.mozilla.org/en-US/

I assume we'll have the option to make this appear as a "popup" vs. a web page?

[2015-11-30 23:14] edrushka commented on #646
Added my comments in the doc.

[2015-11-30 23:19] jbuck commented on #870
Current status: I cannot create API credentials for the micro payments account because I've triggered an unpassable security check, and there's no way to add my personal phone number to the list of allowed phone numbers. Paypal recommended that I try again tomorrow and if that fails then delete the account and recreate it.

[2015-11-30 23:21] jbuck opened #1000 "Write up EOY On-call documentation"
Document something like "levers we can move"

[2015-12-01 00:23] valianttry opened #1001 "GA campaign consistency: EOY15 vs. EOYFR2015 in snippet URLs"
@adamlofting Jean mentioned today they have been using a campaign code "EOY15" for snippet URLs. E.g.:

https://donate.mozilla.org/en-US/?currency=inr&amp;utm_source=desktop-snippet&amp;utm_medium=snippet&amp;utm_term=5494&amp;utm_content=5494C&amp;utm_campaign=EOY15

Our correct campaign is "EOYFR2015" per the sheet here: https://docs.google.com/spreadsheets/d/1GIhOB5ERW9FvvNazBaLKsEX6ZFga3GYWDFd

[2015-12-01 00:34] edrushka opened #1002 "Create a 'Donations by Language' graph"
@davidascher had an interesting idea to create a Donation by ~~Currency~~ language visualization on fundraising.mozilla.org.

@jbuck would this be a lot of work? I think it could be really interesting to display this data.

[2015-12-01 00:35] edrushka commented on #1002
cc @valianttry

[2015-12-01 00:40] davidascher commented on #1002
No, donations by language.  As useful feedback to localizers.

On Mon, Nov 30, 2015 at 4:35 PM Erika Drushka <notifications@github.com>
wrote:

[2015-12-01 00:51] ScottDowne commented on #593
lol done

[2015-12-01 00:51] #593 closed

[2015-12-01 00:52] ScottDowne commented on #941
From the design ticket:

Download the heart SVG:
https://drive.google.com/a/mozilla.com/file/d/0B2qu3ExKWIlvN0VydkR2RF9FZDg/view?usp=sharing

<img width="993" alt="screen shot 2015-11-24 at 3 18 06 pm" src="https://cloud.githubusercontent.com/assets/12228435/11383775/56134522-92bf-11e5-8627-7617f389676e.png">

<img width="994" alt="screen shot 2015-11-24 at 3 18 29 pm" src="https://cloud.githubuse

[2015-12-01 01:23] natalieworth commented on #995
@edrushka Will this be a completely new logo, or should I be formatting something from fundraising/ mozilla into the circle shape? Thanks

[2015-12-01 05:17] valianttry commented on #998
Other Qs:
-- What locales? (in case we have to localize any new content)
-- Did they receive any correspondence at all from us? (e.g. did they receive a PayPal receipt or Stripe receipt?)
-- What will we send them? Just a receipt and it'll appear to be delayed? Will we send all of the owed receipts at the same time? What's the deadline -- e.g. when will they get their 2nd receipt for their 2nd mon

[2015-12-01 05:48] #678 closed

[2015-12-01 09:57] adamlofting commented on #1002
We could get pretty decent data quite quickly by matching browser language in Google Analytics to conversion tracking.

To get the most accurate data we would add the locale field to the transactions database, and include this in the Stripe and Paypal extracts. Stripe definately records locale against a transaction, but we'd need to check if Paypal has this captured too.

I'll work on the simple o

[2015-12-01 11:01] adamlofting commented on #991
I'll poke around at this this morning.

[2015-12-01 11:12] adamlofting opened #1005 "Upgrade Heroku App"
@jbuck can we upgrade https://dashboard.heroku.com/apps/transformtogeckoboard/resources to a Hobby account so it's up 24 hrs please.

It's powering the GA graphs for fundraising.m.o

[2015-12-01 11:55] adamlofting commented on #1002
Data is now available here:
http://transformtogeckoboard.herokuapp.com/eoy/transactionsbylanguage

This is in the same format as the donations by source, so should be able to use the same graph configuration pretty easily.

[2015-12-01 12:13] adamlofting commented on #991
Confirmed. Stripe thank-you page pageviews are not being captured, but the Stripe ecommerce transactions are being recorded (which is good as this is the most important part for our metrics).

<img width="1185" alt="screenshot 2015-12-01 12 11 50" src="https://cloud.githubusercontent.com/assets/1901816/11500410/deca6840-9824-11e5-8adb-d749598db4e5.png">
<img width="1183" alt="screenshot 2015-12-01

[2015-12-01 12:17] #991 closed

[2015-12-01 12:19] adamlofting commented on #991
I'm happy with the fix by @alicoding to record the page view before the `transitionTo`. I might need to add another some further js to trigger optimizely experiments too, but I'll file that as a follow up.

[2015-12-01 13:52] adamlofting commented on #993
Thanks @ScottDowne this answers my question, so I'm closing this.

[2015-12-01 13:52] #993 closed

[2015-12-01 14:28] adamlofting commented on #1001
I don't think we need to worry about this for 2015.

That 'campaign' level flag will be more useful in the future if we have multiple (different) campaigns running at the same time. It's a good practice to get into, but not an issue for us right now.

Because everything right now is EOY, we're really just looking at the source/medium level of segmentation.

[2015-12-01 14:28] #1001 closed

[2015-12-01 14:37] adamlofting commented on #646
I don't have edit rights, but can we add `regular donors` to the exclusion list.

The following is just an opinion:

* I don't like calling the web 'fragile' (given the technology is deliberately designed to be a resilient network). I'd prefer to say 'under threat'.

[2015-12-01 14:58] jbuck commented on #1005
@adamlofting absolutely!

[2015-12-01 14:58] #1005 closed

[2015-12-01 14:59] jbuck commented on #1002
@adamlofting nice!

[2015-12-01 15:01] jbuck commented on #622
We tested the automation today for the email test and it worked great! Hooray for automation.

[2015-12-01 15:08] adamlofting commented on #622
Almost... Just received this

existing delivery name = donorhistory_2015-12-01T14:29:13Z.csv
new desired name = donorhistory_2015-12-01T14-29-13Z.csv

[2015-12-01 16:46] alicoding commented on #941
FYI: The word Mozilla (hopefully not an image) might be a problem with localization here. I actually don't know if we want to localize this, too? Or, will this be tested for English users only?

I'm just worried that when we localized this the word **Mozilla** will be moved and not align with the heart image here.

[2015-12-01 17:08] edrushka commented on #1002
Thanks Adam!!!!
![eagle](https://cloud.githubusercontent.com/assets/4515662/11507915/20026fde-980b-11e5-9db9-01fd2841929f.png)

[2015-12-01 17:16] edrushka opened #1007 "Kill Tabzilla on f.m.o"
Please remove Tabzilla from fundraising.mozilla.org as it is being phased out altogether.

[2015-12-01 17:22] jbuck opened #1008 "Add "check your email for confirmation" language after signing up for email"
We've been getting some emails from some people confused by our ET double opt-in email. We should add language that tells people to expect a confirmation email in their inbox!

[2015-12-01 17:27] natalieworth commented on #873
Small updates for these are on redpen:
1. Banner: https://redpen.io/fu9f15e575a0661208
2. Totalizer Banner: https://redpen.io/tv684cf9686273a044
For the 2nd, I included some different options for the type that reads 'end of year campaign.' Thanks!
cc @cassiemc @valianttry @edrushka @alicoding

[2015-12-01 17:28] adamlofting commented on #1008
I don't think this will clash, but noting just in case.

The post email opt-in page is the 'share' page. And we're running an Optimizely test on that at the moment. https://app.optimizely.com/results2?experiment_id=4018680415&token=5bb348bb996a46d59eac#view=2

That test will likely be finished before we get to this ticket, but if not let's make sure we coordinate.

[2015-12-01 17:37] valianttry commented on #1007
Kill it dead :skull:

[2015-12-01 17:49] cassiemc commented on #873
Look great to me @natalieworth!

[2015-12-01 17:59] cassiemc commented on #971
@natalieworth @jbuck Are we going with the large summary card or do you still need design help here?

[2015-12-01 18:00] cassiemc commented on #702
Reopening, looks like one final update needed from @natalieworth

[2015-12-01 18:11] ScottDowne commented on #941
@edrushka I forget what you said about the copy during our call. Can you sum it up in this ticket?

[2015-12-01 18:13] cassiemc commented on #560
These are great @natalieworth. @edrushka what's the timeline on these for getting them built? (will help us figure out when to stop feedback).

My favorite versions in order of preference are:

1. the [black background ascii version](https://redpen.io/ne461b5267beb0d295) – I'd be thrilled if this could go in the dev version as per @valianttry's redpen comment, that'd be awesome
2. the [large heart

[2015-12-01 18:20] natalieworth commented on #702
Hi @valianttry @cassiemc Updated this with the capital 'W' and added it to Jordan's file on the drive: https://drive.google.com/drive/folders/0B2qu3ExKWIlvYjBKbmJCVHlwRjg

[2015-12-01 18:25] cassiemc commented on #995
@natalieworth There's a nice screenshot in https://github.com/mozilla/donate.mozilla.org/issues/952 for reference. We should prob just use a mozilla logo. I think the circle is big enough to be able to read the whole word at that size, but we should double check that in a comp. (we shouldn't be using just an 'm' in a circle, and we should avoid creating a new logo for this)

[2015-12-01 18:49] jbuck commented on #941
@ScottDowne the copy would be changed to include "We're " at the beginning so it'd read:

{Mozilla wordmark} We're the non-profit behind Firefox working continuously to protect the Web.

@edrushka right?

[2015-12-01 19:17] jbuck commented on #971
@cassiemc I'll let @valianttry decided!

[2015-12-01 19:17] valianttry commented on #971
large summary card is fine by me! Let's make sure the dimensions are correct so there's no resizing weirdness... and i can help QA. Let's use the version that says "I <3 the Web. I gave to Mozilla"

[2015-12-01 19:34] ScottDowne commented on #941
@jbuck no, that would be an update based on the copy in the design, which is not the copy we're actually using. I know, super confusing.

It would be based on the copy in the first comment.

[2015-12-01 19:34] ScottDowne commented on #941
As a temp value, I'm going with "We're proudly non-profit, non-corporate and non-compromised..."

[2015-12-01 19:43] edrushka commented on #873
@valianttry can you sign off so Natalie can export the assets and we can make this live?

[2015-12-01 19:46] jbuck commented on #971
Landed https://github.com/mozilla/donate.mozilla.org/commit/13a14ac2c348d2cc462850be65e747c8b585d525 and here's what it looks like:

![screenshot 2015-12-01 14 39 49](https://cloud.githubusercontent.com/assets/578466/11512035/3a8ebb62-983a-11e5-9782-948b325de9e1.png)

[2015-12-01 19:46] #971 closed

[2015-12-01 19:46] valianttry commented on #873
r+ i :heart: it let's get it live!

[2015-12-01 19:48] edrushka commented on #560
@cassiemc  We need to get MoCo feedback before we build. We don't want to put too much time into a concept the Snippet crew doesn't like, since they have the ultimate signoff. My goal is for us (MoFo) to decide on the concepts we like in Thursday's meeting, do any minor polishing on Thursday/Friday and then send them to the Snippet team for their initial feedback on Friday. Hopefully we can have s

[2015-12-01 19:49] edrushka commented on #702
Thanks @natalieworth!

[2015-12-01 19:49] cassiemc commented on #560
sounds good @edrushka!

[2015-12-01 19:51] edrushka commented on #995
Agree this shouldn't be a completely new logo. Would be good to use a known mozilla asset like the wordmark or mozilla heart. Keep in mind this logo will remain on the form after the EOY campaign, so it shouldn't be tied to our EOY visual design.

[2015-12-01 19:54] valianttry commented on #702
One last thing! Sorry forgot to mention this feedback from Jessilyn Davis who's helping us with setup and training in ExactTarget: THe images render as blurry / un-optimized when they are resized for email.

ExactTarget design for email doc here:
https://www.exacttarget.com/products/email-marketing/email-design-toolkit

I'm not sure exactly what this calls for?

[2015-12-01 20:19] edrushka commented on #941
Sorry for the delay. The final, approved copy (Variant A - [see here] (https://docs.google.com/document/d/1NXhuYivnZH4pWnNz49DieRmIiwQpwXTaO0DPqHEbFIs/edit#) is:

[Mozilla graphic] We are proudly non-profit, non-corporate and non-compromised. Thousands of people like you help us stand up for an open Web for all. We rely on donations to carry out our mission to keep the Web open and free. Will you

[2015-12-01 20:23] natalieworth commented on #702
Hey @valianttry , does Jessilyn have the resolutions needed? If it's for email, it would be great to get the exact resolution needed to accommodate retina, but if it's not availalble I could try exporting them again at double resolution in case this is the problem.

[2015-12-01 20:25] natalieworth commented on #560
@edrushka That works! Feel free to ping/ vidyo me too if it's easier for you guys while your in Orlando

[2015-12-01 20:28] natalieworth commented on #873
@alicoding Designs and the .ai file can be found here: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0Nkhub2VxLXlIc1k/view
I've separated all the layers, but let me know if you need help with exporting anything together for dev. Thanks!
cc @edrushka @cassiemc @valianttry

[2015-12-01 20:31] edrushka commented on #702
I've emailed jess to get some more details.

[2015-12-01 21:02] jbuck commented on #622
Yes, I can make this fix easily

[2015-12-01 21:06] jbuck opened #1012 "en-US directory tiles URL isn't correct I think"
Right now the URL is: https://donate.mozilla.org/?&amount=10&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=directory-tiles&utm_medium=tiles&utm_content=dapper_v1

Is the URL meant to have the en-US locale or not?

[2015-12-01 22:06] TylerDowner commented on #746
If there is someone on your team who can edit the theme, then i can give them access to edit the theme.

As for a pop-up, I'm not entirely sure what it takes to do that, again, your web-dev resources may be able to help.

[2015-12-01 22:10] alicoding commented on #873
@natalieworth Can you actually give me the image separately for the heart on the left and right + the fox? I will manually do the background, text and the button here.

[2015-12-01 22:11] alicoding commented on #873
Also if you can give me `svg` if that's possible. Thanks @natalieworth :)

[2015-12-01 22:13] natalieworth commented on #873
For sure @alicoding , for the svg's, did you want all the images exported separately?

[2015-12-01 22:17] alicoding commented on #873
@natalieworth If possible just 3 SVGs 1. Right heart, 2. Left heart (behind the fox), 3. The fox.

[2015-12-01 22:17] natalieworth commented on #873
Okay, I can do that! Thanks!

[2015-12-01 22:49] edrushka commented on #702
@natalieworth can you please do an additional export at 200x200? I think that's about the size Jess needs.

[2015-12-01 23:10] natalieworth commented on #873
Hi @alicoding: exported the svg's. I made them at the same resolution/ dimensions as the banner. Let me know if you need anything different sizes: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0Ni1yVGlzc0FicDg Thanks!