[2018-08-22 17:28] ryanleesipes commented on #2053
Thank you.

[2018-08-22 17:30] ryanleesipes opened #2057 "Requested TND (Tunisian Dinar) Currency"
Another request from potential Tunisian donors, asking for support for the dinar (TND). Is this possible?

[2018-08-22 19:00] TheoChevalier commented on #2054
Stephanie is not seeing more issues than usual, so it doesn’t seem to be a recent regression from Stripe at least. She said there are “postcode doesn't match” issues from time to time, but it can also happen with U.S addresses

[2018-08-22 19:06] TheoChevalier commented on #2057
Unfortunately neither Stripe or PayPal currently support this currency:
https://stripe.com/docs/currencies#currencygroup1
https://developer.paypal.com/docs/classic/api/currency_codes/#paypal

If one day they support it, it will be easy to add, but until then we can’t really fix this

[2018-08-22 19:06] #2057 closed

[2018-08-23 11:46] TheoChevalier commented on #2053
Fixed in https://github.com/mozilla/donate.mozilla.org/pull/2059

[2018-08-23 11:46] #2053 closed

[2018-08-23 22:29] ryanleesipes commented on #2057
Thank you for looking into this @TheoChevalier!

[2018-08-23 22:30] ryanleesipes commented on #2054
After troubleshooting I can't seem to figure out what the issue is here. I guess this can be closed.

[2018-08-23 22:30] #2054 closed

[2018-08-29 14:31] WillatMozFdn opened #2060 "Edits to donation FAQ page"
A couple small edits needed to donation FAQ page ...

1) https://donate.mozilla.org/en-US/faq#item_3 ... Current:

New: [edits in **bold**]

We understand that your privacy is very important. We ask for a minimum amount of information required to process **credit/debit** card donations, including billing addresses. This allows our payment processor to verify your identity, process your payment, an

[2018-08-29 16:31] WillatMozFdn commented on #2052
We should change Canada to match the US & EU higher amounts, for sure.  @mkmelin -- what other non-en-us ones did you find, where capacity for giving might be higher?

[2018-08-29 19:04] alanmoo commented on #2048
Can I give any information to help this?

[2018-08-29 19:37] #2060 closed

[2018-08-30 20:19] #2041 closed

[2018-09-06 15:29] WillatMozFdn opened #2066 "Edit to Donor FAQ"
In order to improve our rating with Charity Navigator (and thus potentially be able to post a four-star rating on our site if we want), we need to make a couple changes to our FAQ (to satisfy a standard from Charity Navigator that we explicitly say do not ever swap or sell donors' personal info.)

The change below has been approved by Legal team (Abigail and Alicia).

https://donate.mozilla.org/en

[2018-09-08 18:02] irahulcse opened #2067 "Currency Converter"
After changing the currency type from Dollars to Rupees or anything it should show the amount accordingly, so that donators can easily understand the amount without any time spent on doing conversion.

[2018-09-10 15:22] TheoChevalier commented on #2050
They finally updated their cert! Closing this

[2018-09-10 15:22] #2050 closed

[2018-09-10 15:35] TheoChevalier commented on #2067
Hi @irahulcse , the website should already be converting amounts when you change currency. Would you by chance have JavaScript disabled in your browser?
Which browser (+version) are you using and on which OS? I may try to reproduce the issue

[2018-09-12 02:12] irahulcse commented on #2067
I am using Firefox and Ubuntu 18.04. I also want to work on this issue and also want to became the part of your contributor group. I am learning Data Science and Machine Learning right now.

[2018-09-13 13:44] TheoChevalier commented on #2067
Thanks @irahulcse, I’ve tested the website with the default build of Firefox on Ubuntu 18.04.1, but didn’t manage to reproduce the issue. Would you mind sharing the full link you clicked on and a screenshot of what you’re seeing when changing currency to Rupees?

Thanks!

[2018-09-20 02:30] Sancus opened #2071 "Thunderbird download banner is broken, "&test=" GET conflict."
It looks like you guys started using "test" for the GET variable for an a-b-c test, unfortunately that's the one that Thunderbird was using for "tbdownload" as well. This results in the donate URL sometimes redirecting to things like `https://donate.mozilla.org/en-US/thunderbird/?utm_source=thunderbird.net&utm_medium=referral&utm_content=post_download&test=tbdownload&test=no-img` which produces a

[2018-09-20 19:17] alanmoo commented on #2071
Ah, sorry about that! Where does your testing query string get injected? We're running Traffic Cop [here](https://github.com/mozilla/donate.mozilla.org/blob/gh-2066/assets/js/ab-tests.js#L12), so I didn't think to check elsewhere for Thunderbird. (Also, @ScottDowne, who has been more familiar with the donate repo, is no longer at MoFo so apologies for the growing pains)

[2018-09-20 20:10] alanmoo commented on #2071
After some further digging, we've been running tests using that query param since [June](https://github.com/mozilla/donate.mozilla.org/commit/65843b8a8f4025499b756afb197a1a6cac4e2337). I also can't seem to easily change the name of the parameter for some reason. If it's easy enough for to do so on your side, can you resolve this with that approach for now? Next time we do a test I'll encourage nam

[2018-09-20 20:42] alanmoo opened #2072 "Traffic Cop test names are not translated to react props"
Right now we write tests in [this file](https://github.com/mozilla/donate.mozilla.org/blob/master/assets/js/ab-tests.js), defining the query parameter that Traffic Cop redirects sites visitors to. Unfortunately, the only way this works is if the test key is named `test`, because of [this line](https://github.com/mozilla/donate.mozilla.org/blob/master/src/lib/queryParser.js#L15)

Let's un-hardcode

[2018-09-20 20:43] alanmoo commented on #2071
Another update: The reason I can't change it is #2072, but I unfortunately don't have anyone to work on that right now.

[2018-09-20 22:10] Sancus commented on #2071
That's OK, it's a [1 line change for us](https://github.com/thundernest/thunderbird-website/blob/master/helper.py#L303), we just set it on download hrefs only on thunderbird.net.

In the donate code, all lines in `/src/pages/thunderbird/about.js` referencing `this.props.test` should be changed. I assume this.props is automatically populated with any get variables? Not super familiar with node/reac

[2018-09-21 06:16] mkmelin commented on #2071
How about using &source=download-page or something - so that it's extensible for other use cases?

[2018-09-21 07:27] Sancus commented on #2071
Well the variable determines whether the banner and 'thanks for downloading' text appears or not, that's all it does.. it doesn't imply anything about a source. That's covered by the utm variables, which are separate. I was preserving the name because I'm not sure if the class is used for anything. I do think we should keep "tb" in the name for name spacing reasons. I don't think we should try to

[2018-09-21 15:40] #1838 closed

[2018-09-21 18:55] #1986 closed

[2018-09-24 11:18] TheoChevalier commented on #2066
This is now live

[2018-09-24 11:18] #2066 closed

[2018-09-24 20:57] alanmoo commented on #1841
Doesn't seem like this is happening again this year. We can open another one if needed.

[2018-09-24 20:57] #1841 closed

[2018-09-25 14:10] alanmoo commented on #1856
Let's open a new issue this year if needed, based on where we are with our web properties.

[2018-09-25 14:10] #1856 closed

[2018-09-25 14:11] #1890 closed

[2018-09-25 20:09] alanmoo opened #2074 "More clearly indicate that monthly donations are monthly"
We want to make sure donors are aware that they're donating monthly. Let's add the appropriate indications when the "monthly" radio button is selected.

![image](https://user-images.githubusercontent.com/1682681/46496742-cf5a3080-c7e6-11e8-9cc6-a901f1f6052a.png)
(Add the text inside each of the fields, not just the one)

Make sure to build this such that it can be localized.

[2018-09-25 20:28] alanmoo opened #2075 "Update text on homepage"
`Your payment details will be processed by Stripe (for credit/debit cards) or Paypal, and a record of your donation will be stored by Mozilla. Monthly donations are charged each month on the same day that you donate today, and will continue until you cancel. To cancel, email us at donate@mozilla.org. Other ways to give: Wire Transfer or SEPA | Check`

adds the phrase `We are able to provide refund

[2018-09-25 20:30] alanmoo commented on #2074
Still some questions about design- this will be updated when ready.

[2018-09-25 20:46] alanmoo opened #2076 "Pass last 4 digits of credit card from Stripe to Basket"
Basket isn't actually ready to accept this yet, but we should get it queued up once it is. We eventually want to be able to use those last 4 digits in email receipts.

[2018-09-25 20:50] desiree-mofo commented on #2076
@alanmoo - pls make sure you get this on the radar for the CRM team to add the field in Salesforce as well so we can make sure this is available for receipts, which are either sent from Marketing Cloud or Salesforce directly

[2018-09-25 20:50] desiree-mofo commented on #2076
@stephaniemcv - cc:ing you on this

[2018-09-25 23:13] stephaniemcv commented on #2076
Can I add this to the project I submitted "2018 Q3 New Fields for Donation Infrastructure", that would increase the fields I requested from 4 to 5.

[2018-09-26 10:12] TheoChevalier commented on #2075
I’m going to steal this if you don’t mind, as this primarily impacts l10n and I will probably need to do some cleaning…

[2018-09-26 20:48] Sancus commented on #2071
Ya sorry I was confused and thought @alanmoo was gonna fix this on the donate side, I missed the assignment change. I have a PR up to fix this here: https://github.com/mozilla/donate.mozilla.org/pull/2078

Once it goes live on donate.mozilla.org, we can modify thunderbird.net, which will only take a few minutes to do.

[2018-09-27 18:16] alanmoo opened #2079 "Update node engine to 8.12"
Due to some changes in node/MacOS, it appears node >= 8.12 is required for this to run on a Mac.

See [this comment](https://github.com/nodejs/node-gyp/issues/569#issuecomment-423289225)

[2018-09-27 21:37] stephaniemcv opened #2081 "Need access to the donate@mozilla.org inbox"
To finish our Desk.com migration we need to start forwarding donate@ to Service Cloud from Desk.com. I had access a long time ago, but I stopped accessing due to all the email forwarding into Desk.com and now I can't remember how to get in.

[2018-09-28 13:08] cadecairos commented on #2081
The login process is pretty weird. I had to log in at https://webmaker.desk.com/login/new and then manually change the URL to https://webmaker.desk.com/agent (because after logging in it says "Access Denied"

[2018-09-28 13:08] cadecairos commented on #2081
I don't appear to have any admin rights

[2018-09-28 14:49] cadecairos commented on #2081
@stephaniemcv did you need access to desk, or to the Google Group?

[2018-09-28 15:29] stephaniemcv commented on #2081
To the Google Group. Apologies for being as clear as mud.

[2018-09-28 16:38] cadecairos commented on #2081
I don't seem to have access to that Google Group. You'll need to get in touch with the Service Desk to find out who's the admin.

[2018-09-28 16:48] Pomax commented on #2079
I hate node-gyp so very, very, very, incredibly, much. Literally the entire world wants a native JS version, and have for years. And then when people go "okay look find we've written it for you will you PLEASE start using this" they still go "hmmmmm no fu"

[2018-09-28 18:01] stephaniemcv commented on #2081
Ok, will do!

[2018-09-28 18:01] #2081 closed

[2018-09-29 18:19] #2075 closed

[2018-10-01 13:17] alanmoo opened #2082 "Ensure string is always visible"
`We are able to provide refunds up to one year after a donation is processed.` Should be visible even if the user is only donating one time, not hidden behind the monthly radio item as it currently is.

[2018-10-01 16:54] alanmoo commented on #2071
The update for this has been deployed.

[2018-10-01 16:54] #2071 closed

[2018-10-01 19:10] TheoChevalier commented on #2082
Woops, didn’t get that! This should be fixed now with https://github.com/mozilla/donate.mozilla.org/commit/bc7c494a27d183069e3053792f38034d075cab2e

[2018-10-01 19:10] #2082 closed

[2018-10-02 01:55] Sancus commented on #2071
Thanks. This is also fixed on our side.

[2018-10-03 14:12] WillatMozFdn commented on #2045
Hey team -- can we please pull image B (the "I believe in the open internet" sticker one) OUT of the rotation, and continue testing the control vs. the other image?  I ran some numbers yesterday and that one's a clear loser ... the other two are basically neck and neck.  Let me know when you get a chance, thanks!  cc @alanmoo

[2018-10-03 15:09] alanmoo commented on #2045
I can do that, but please file a new ticket and tag me in it- the request from the original comment has been met, so this ticket should remain closed.

[2018-10-03 15:09] #2045 closed

[2018-10-03 15:18] WillatMozFdn opened #2084 "Take a losing photo out of the donation landing page rotation"
The version with "image B" -- the sticker hanging on netting -- is losing in the test.

Please remove from the rotation, and reset the split to go 50-50 between the no-image control version, and image A (guy teaching kids).

Thanks!  @alanmoo

[2018-10-03 19:41] cadecairos commented on #1698
This hasn't shown up in a while. wont-fixing.

[2018-10-03 19:41] #1698 closed

[2018-10-03 19:44] gideonthomas commented on #1866
Paypal ownership is what's left -- tracked in https://github.com/MozillaFoundation/mofo-devops-private/issues/72

[2018-10-03 19:44] #1866 closed

[2018-10-03 19:45] gideonthomas commented on #1853
Not adding this now, closing

[2018-10-03 19:45] #1853 closed

[2018-10-03 19:58] alanmoo commented on #1987
Closing this as it'll be superseded by SFMC donor receipts as soon as the donation locale fields hit SalesForce, which is the next thing Chris is working on.

[2018-10-03 19:58] #1987 closed

[2018-10-03 20:12] #1840 closed

[2018-10-03 21:02] cadecairos commented on #1913
This was done in #1959

[2018-10-03 21:02] #1913 closed

[2018-10-03 21:11] cadecairos opened #2086 "Disable auto-close dispute"
Preferably via a toggle

[2018-10-04 18:48] #2084 closed

[2018-10-05 14:44] cadecairos opened #2088 "Pass donation locale to Basket"
Stripe: `charge.metadata.locale`
Paypal: `locale`

[2018-10-05 16:39] mmmavis commented on #2074
@alanmoo in terms of text alignment, do you know if we want to

1. center align `$5` with the button and align `per month` to the right of `$5`?
2. OR make `$5` and `per month` one block and center align it?

[2018-10-05 16:43] alanmoo commented on #2074
2 sounds easier/more flexible. Go with that.

[2018-10-05 17:40] cadecairos opened #2090 "pass the converted amount of a donation to Basket"
Any currency -> USD

Stripe: `charge.amount`
Paypal: `to_amount`

Field: conversion_amount

[2018-10-10 19:33] cadecairos opened #2093 "Pass Net amount captured (Paypal+Stripe)"
net = donation amount - fees (in USD)

note: This value is not available for monthly Paypal donations without an entire Webhook+database integration. This is a limitation of the Deprecated ExpressCheckout API we're using.

[2018-10-10 19:33] cadecairos opened #2094 "Pass transaction fees to Basket (Stripe+Paypal)"
Note: This value is not available for monthly Paypal donations without an entire Webhook+database integration. This is a limitation of the Deprecated ExpressCheckout API we're using.

[2018-10-10 21:02] #2076 closed

[2018-10-10 21:10] #2088 closed

[2018-10-10 21:22] ryanleesipes opened #2097 "Internet Explorer (11) Not Able to Donate"
I have seen quite a few reports of users attempting to donate with IE11 and finding that they are unable to do so.

Tested with Windows 7 and IE11 and unable to set amount or select a payment method.

If IE11 is not supported we should ensure the users know that.

[2018-10-10 23:47] alanmoo commented on #2097
We should see what kind of lift it is to get this to work. As much as it pains me to support IE11, we shouldn't leave money on the table.

@ScottDowne @cadecairos Any chance you can recall if there were other technical reasons not to support IE11?

[2018-10-11 15:37] #2086 closed

[2018-10-11 16:20] #2090 closed

[2018-10-11 16:20] #2093 closed

[2018-10-11 16:20] #2094 closed

[2018-10-12 13:57] alanmoo commented on #2074
Good question, Theo. @jessevondoom?

[2018-10-17 16:20] Anish2 opened #2100 "Deploying a custom instance of the donation platform"
How would I go about deploying a custom version of this platform for a non-profit? I need to configure the PayPal and Stripe keys in the environment variables but I'm unsure of what some of them mean.

I'm not sure what the PayPal env vars are referring to.

[code]

[2018-10-23 13:56] alanmoo commented on #2074
This landed!

[2018-10-23 13:56] #2074 closed

[2018-10-23 16:35] ryanleesipes commented on #2097
Any movement on this or clarification? I continue to get many reports on this front, as @alanmoo pointed out, we're just leaving money on the table.

[2018-10-28 11:45] WillatMozFdn opened #2102 "Subject line is completely missing for recurring donation email confirmations"
Our subject line seems to have gone completely missing when you submit a recurring donation via Stripe.  Just confirmed it with a personal donation.  Can we please fix?

![image](https://user-images.githubusercontent.com/23637882/47615454-d6ebbd00-daa6-11e8-9b6e-a728c9ab491e.png)

[2018-10-28 13:45] WillatMozFdn opened #2103 "Close out image test. New test: ordering of donation amounts"
So (see Slack fundraising channel), the img-a test (guy teaching kids at MozFest) provided a slight lift to donation conversion and average gift size; **let's standardize on this as the new control.**

Next test: **Re-order the donation buttons.**  They're currently largest to smallest; according to lading page best practices I learned at the NIO Summit, this should be reversed.  So -- let's test

[2018-10-28 13:57] WillatMozFdn commented on #2102
Thanks Alan.  Here's a sample of what our donors are saying ....

![image](https://user-images.githubusercontent.com/23637882/47616794-5edac280-dab9-11e8-89c7-fc9180ac6420.png)

[2018-10-31 16:28] WillatMozFdn commented on #2102
@cadecairos @alanmoo also now getting reports that these are landing in spam filters due to the lack of a subject line ... any updates?

[2018-10-31 18:30] WillatMozFdn commented on #2102
Thanks Alan!  @cadecairos we think this started happening on or around October 16th, not sure if that helps.

[2018-10-31 19:37] cadecairos commented on #2102
@WillatMozFdn Found the issue. when we tried to get a different subject line for recurring donations, we didn't implement it properly: https://github.com/mozilla/webmaker-mailroom/pull/70/files

[2018-10-31 21:22] cadecairos commented on #2102
@WillatMozFdn I've deployed the fixed email rendering library to production, this issue _should_ be resolved, but I'll leave it open until you can confirm.

[2018-11-01 11:56] WillatMozFdn commented on #2102
Thanks @alanmoo and @cadecairos ... recurring subject line is now showing up for Mozilla donations as intended; unfortunately a new problem has cropped up.  Thunderbird donations are now completely futzed, see below...
![image](https://user-images.githubusercontent.com/23637882/47850444-2b57ab00-ddcd-11e8-88fe-d5c320ec1dbe.png)

[2018-11-01 16:05] TheoChevalier commented on #2102
This one is likely on me — when Chris deployed sawmill and/or mailroom, my patches for localizing TB receipts got deployed as well, while they still haven’t been tested.
Two strings are correctly localized in French, likely because there are the two that got unchanged when I added TB content, so it seems only the new strings are missing.

@cadecairos Have you deployed webmaker-mailroom yesterday t

[2018-11-05 17:56] alanmoo commented on #2097
This may be a result of the A/B testing using TrafficCop. I disabled it locally and noticed that IE11 makes further progress than previously. If #2104 fixes it, we'll make sure to block IE11 from loading A/B tests in the future.

[2018-11-06 17:34] ryanleesipes commented on #2097
Thanks for the update and the PR, let's see if it works!

[2018-11-06 17:40] alanmoo commented on #2097
It seemed to work on staging! Just deployed to production.

[2018-11-07 18:04] ryanleesipes commented on #2097
Thank you!

[2018-11-07 20:01] WillatMozFdn commented on #2102
Hey team, we still have the original problem -- subject line is totally missing for recurring donation confirmation emails to Mozilla, which is very bad customer service for our recurring donors, and also some of these emails are going to spam because of it.  Can we please fix this ASAP please?  @alanmoo @cadecairos

[2018-11-09 21:36] cadecairos commented on #2102
@WillatMozFdn This should be fixed now, can you confirm?

[2018-11-09 21:43] WillatMozFdn commented on #2102
yes, I believe it is.  If we hear of any problems with T-bird or anything else, will let you know.  Thanks!!!! @cadecairos

![image](https://user-images.githubusercontent.com/23637882/48289766-95f88e80-e43e-11e8-8131-f334d016a131.png)

[2018-11-12 20:58] WillatMozFdn commented on #2102
Hey guys, unfortunately, another problem cropped up.  Thunderbird emails are now missing their subject line. @alanmoo @cadecairos ... can you investigate, please?

![image](https://user-images.githubusercontent.com/23637882/48374748-ca18bd00-e693-11e8-85d1-785024c557e5.png)

[2018-11-13 10:38] TheoChevalier commented on #2102
Damn, my bad…
Just tested with a donation, one-time donations are not affected (as I was guessing from the code), only recurring. I think I’ve found the issue, the recurring subject line copy was missing in the JS file associated to the TB email template. This should fix it, hopefully: https://github.com/mozilla/webmaker-mailroom/pull/72

[2018-11-13 23:08] WillatMozFdn commented on #2102
A couple other minor problems showing up today ... in both FR and ES ... looks like the merging of amount and transaction_id fields is failing?  These are from receipt emails sent back to us in donor care cases ... the FR one is Mozilla, the ES one, Thunderbird ...

![image](https://user-images.githubusercontent.com/23637882/48449046-f81eff80-e76e-11e8-9dbf-88b495e5e4b6.png)

![image](https://user

[2018-11-14 10:22] TheoChevalier commented on #2102
Hm, investigating, but I’m pretty sure the ES receipt is not coming from Thunderbird, but both emails are Mozilla donations.

I think this one will be hard to debug without the ability to reproduce locally, but giving it a try

[2018-11-14 11:22] TheoChevalier commented on #2102
Alright, I’ve managed to reproduce locally, and found the issue. With the amount of changes made to translations, I completely missed that variables were formatted differently than in the en-US copy exposed to localizers… Updated them all to the correct format here: https://github.com/mozilla/webmaker-mailroom/pull/73/files

Since I could test locally, I’m way more confident that everything should

[2018-11-15 15:28] ryanleesipes opened #2118 "Support WeChat as a Payment Type"
Every Email I get from a Chinese user requests that we add the ability to make donating possible via WeChat. I wanted to see if this had ever been considered.

I imagine we could get away with only showing this to people who view the donation page in the Chinese language to avoid confusion for other users.

Ideas? Concerns? Is this a reasonable idea?

[2018-11-15 16:33] cadecairos commented on #2102
I'm deploying the fix now

[2018-11-15 16:42] cadecairos commented on #2102
@WillatMozFdn @TheoChevalier It's live. can you check if things are looking fixed?

[2018-11-15 20:22] cadecairos commented on #1954
@desiree-mofo can we close this issue or is there still outstanding work to be done here?

[2018-11-18 03:53] missuniverse opened #2120 "Update HTTP to HTTPS"
Changed links to HTTPS when supported.
Pull request:
#2119

Please review the pull request.

[2018-11-20 21:37] alanmoo commented on #2103
I've removed the old test, but the re-ordering of the buttons still needs to be implemented @Pomax. Make sure to not run TrafficCop on IE11.

[2018-11-22 16:50] cadecairos commented on #1804
This is done already it seems: https://github.com/mozilla/donate.mozilla.org/blob/5eba4fdeb256b5fd772c1c097533f2c7522064dc/src/routes.js#L38

There's some code cleanup that can be done to remove unneeded references to those donations.

[2018-11-22 16:58] cadecairos commented on #1804
Some of these references might ned to stay, particularly the ones handling recurring charges from Stripe that originated from the glassroomnyc page.

[code]

[2018-11-27 16:21] alanmoo opened #2122 "Unify OG images"
The OG images that are currently being displayed on Twitter are correct. Let's make everything (Facebook, Slack, etc) use them.

cc @jessevondoom

[2018-11-27 17:13] alanmoo commented on #2102
I haven't heard any complaints, assuming this is fixed.  Re-open if it's not.

[2018-11-27 17:13] #2102 closed

[2018-11-27 17:32] mmmavis commented on #2122
@alanmoo by everything did you mean other meta/og image tags?

[2018-11-27 17:43] alanmoo commented on #2122
Yeah, sorry for the vagueness- was capturing it during a meeting.

[2018-11-27 18:38] ryanleesipes opened #2123 "Localization Issue on Russian Thunderbird Page"
The word: оставанется needs to be changed to останется on the Russian translation of the Thunderbird donate page.

How can I go about getting this changed?

Screenshot of the wrong word:
![russian-donate-word](https://user-images.githubusercontent.com/2141621/49103551-dfb3e800-f238-11e8-8ba3-1cfd186423e6.png)

[2018-11-27 18:53] TheoChevalier commented on #2123
Hi Ryan, I’ve added a suggestion here, https://pontoon.mozilla.org/ru/fundraising/messages.properties/?search=%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%B0%D0%BD%D0%B5%D1%82%D1%81%D1%8F&string=149462

Russian localizers will take it from there and review the suggestion, closing this issue here.

Thanks for passing along the feedback!

[2018-11-27 18:53] #2123 closed

[2018-11-27 19:37] ryanleesipes commented on #2118
@jessevondoom sorry to ping you, just wanted to draw someone's attention to the issue and see if this is out of scope or a reasonable issue to raise?

[2018-11-30 17:28] WillatMozFdn opened #2125 "Remove Paypal for Singaporean dollars"
Getting reports from donors in Singapore that their paypal attempts are failing.  We should just remove this option, it's apparently a conflict between PayPal and singaporean authorities.  Hopefully an easy fix, per Chris?

![image](https://user-images.githubusercontent.com/23637882/49304312-f86f0880-f499-11e8-80c8-f25c80fcc727.png)

[2018-11-30 18:46] TheoChevalier commented on #2125
Hm, I remember we were wondering if SGD had been forgotten or if there was a specific reason, seems like the latter…
It’s been added in https://github.com/mozilla/donate.mozilla.org/issues/2053 I can fix this shortly

[2018-11-30 19:35] #2125 closed

[2018-11-30 19:36] TheoChevalier commented on #2125
Should be live in a few minutes

[2018-12-12 20:05] WillatMozFdn commented on #2103
@Pomax and @alanmoo is this in place yet?

[2018-12-17 15:02] WillatMozFdn commented on #2118
@ryanleesipes unfortunately this is very low on our priorities list at the moment.  We do not currently have Chinese language localization capabilities on the MoFo side, or content about MoFo in Chinese ... very few email subscribers in China (mainland or otherwise) ... and very few donors there.  New payment systems are a very significant lift for us requiring developer time and integration with

[2018-12-17 15:10] WillatMozFdn opened #2129 "Close out donation amount ordering test. Implement copy test."
Once we're done and have a result from the donation amounts ordering test (likely Dec. 21), next test to run from Dec. 21 to Dec. 28 **(EN only)** will be copy on the left side of the page.

Current control:

**We are proudly non-profit,** non-corporate and non-compromised. Thousands of people like you help us stand up for a healthy internet for all. We rely on donations to carry out our mission t

[2018-12-17 15:41] alanmoo commented on #2129
@Pomax can you queue this up (as much as is possible before we have the ordering results)?

[2018-12-17 16:13] ryanleesipes commented on #2118
@WillatMozFdn No problem, just wanted to see if this was a possibility. Thanks for the response!

[2018-12-17 16:13] #2118 closed

[2018-12-17 18:45] Pomax commented on #2129
Can do

[2018-12-17 18:57] Pomax commented on #2129
@WillatMozFdn is it important to have a semi-colon rather than a full stop? Would **This work depends on contributions from people like you. Will you chip in today?** be acceptable?

[2018-12-17 19:10] WillatMozFdn commented on #2129
semicolon not important, full stop is fine by me -- thanks @Pomax

[2018-12-19 16:18] #1804 closed

[2018-12-30 01:06] ryanleesipes opened #2133 "Some non-US Addresses Rejected"
I have raised the issue of certain zip codes being rejected in the past. I'm sure this is related, but I have seen a few Emails come in from users that claim that their donation was rejected because of their address.

What is happening here? Is there a way to fix it? What criteria must an address meet in order for it to be accepted?

[2019-01-23 08:52] richa031 commented on #2042
please tell me the details of this one

[2019-01-23 08:54] richa031 commented on #1904
please tell me the details as i m new to open source

[2019-01-23 15:20] alanmoo commented on #2042
Sorry, we've addressed this and just forgot to close the issue. Feel free to check out [the Foundation site](https://github.com/mozilla/foundation.mozilla.org) or [Mozilla Pulse](https://github.com/mozilla/network-pulse)

[2019-01-23 15:20] #2042 closed

[2019-02-17 18:42] moz-hwine opened #2137 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/donate.mozilla.org/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defacement of publically writeable wiki

[2019-03-28 21:19] WillatMozFdn opened #2139 "Broken link on top nav on donate site (EN)."
The donate page, at least in EN, has a top nav line (triggered by clicking on the hamburger) with a dead link ... "People", that doesn't go anywhere.  Can we please remove that link and standardize the nav to the version that's on the foundation.m.o site?

[2019-03-28 21:20] WillatMozFdn commented on #2139
![image](https://user-images.githubusercontent.com/23637882/55193567-b622b300-517d-11e9-8e9d-cdcdd99c9816.png)

[2019-03-29 16:58] Mozilla-GitHub-Standards opened #2140 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 16:56] #2139 closed

[2019-04-09 19:16] WillatMozFdn opened #2143 "April 2019 updates to donate pages (timely) for where to send checks"
As of April 15th, we're changing up how we process check donations.  Checks will be sent to Merkle response management group in DC for processing and acknowledgment, so we need to change (for both Thunderbird and Mozilla) our postal address on the website.  A total of three changes -- 2 Moz and 1 T-bird (because T-bird does not have a "ways to give" page).

1) on the Mozilla ways to give page, htt

[2019-04-09 20:00] TheoChevalier commented on #2143
Those addresses are not exposed to localization (partly for that very use case), so updating English will update all locales as well :)

I can get a PR lined up, and then hit merge/deploy at the most appropriate time

[2019-04-09 21:19] TheoChevalier commented on #2143
Merged the new string "(Updated April 2019)" here, so that it’s being translated: https://github.com/mozilla/donate.mozilla.org/pull/2144

Pending PR to be merged when it’s time: https://github.com/mozilla/donate.mozilla.org/pull/2145

[2019-04-12 23:07] #2140 closed

[2019-04-12 23:08] TheoChevalier commented on #2143
This is live :)

[2019-04-12 23:08] #2143 closed

[2019-04-19 15:40] WillatMozFdn opened #2146 "Add Charity Navigator and Guidestar seals to our donate page (timely)"
We've recently earned a four-star (the highest) rating from Charity Navigator, and later today shuld have Gold from Guidestar later today (we're currently at Silver level).

I'd like to get these graphics up on our donate page (ALL languages - no localization needed) as soon as possible, but no later than Friday April 26 when we launch our big post-IHR fundraising campaign.  This will provide a cr

[2019-04-19 16:01] alanmoo commented on #2143
Thanks, Theo.

[2019-04-20 22:12] mtochi commented on #2146
Hi, I would love to work on this issue.

[2019-04-20 22:28] alanmoo commented on #2146
Hi @mtochi, thanks for the interest. You're welcome to open a PR for this over the weekend if you don't need any help, but if it's not the right approach or needs more work, someone on staff is going to have to take it over during the week since this needs to be deployed on a short timeframe.

[2019-04-22 20:33] alanmoo commented on #2146
@WillatMozFdn where are we on the gold status?

[2019-04-22 21:38] WillatMozFdn commented on #2146
Goal status is achieved.  Here's the logo we should use: https://www.guidestar.org/App_Themes/MainSite2/images/PUT_Seal_Images/put-gold2019-seal.png .

Guidestar logo should be clickable and linked -- in new window or tab -- to https://www.guidestar.org/profile/20-0097189 .

Charity Navigator four-star logo (same thing -- in new window or tab please) -- to https://www.charitynavigator.org/index.cf

[2019-04-24 19:36] mmmavis opened #2147 "`npm start` error"
This should not affect the site itself but I'm tagging @cadecairos here in case this raises a flag.

### Steps to reproduce

This can reproduce on a fresh `git clone` project as well.
[code]
<img width="1101" alt="image" src="https://user-images.githubusercontent.com/2896608/56688146-c8b0df00-668c-11e9-958c-6e69965c6c6e.png">

[2019-04-24 21:52] kristinashu commented on #2146
@mmmavis here are the two seals at size:
![seal-charity-navigator](https://user-images.githubusercontent.com/1068783/56696338-6366e900-66a0-11e9-8696-b46c88aa8e8f.png)
![seal-gold-guidestar](https://user-images.githubusercontent.com/1068783/56696339-6366e900-66a0-11e9-8ab6-083694706404.png)

The comp has been updated slightly and approved by Will in slack https://redpen.io/xj1a12801a7580aed1.

[2019-04-29 18:54] #2122 closed

[2019-04-29 23:19] #2147 closed

[2019-05-02 18:58] WillatMozFdn opened #2151 "Update to donate FAQ (EN-us only)"
Very last item in our en-US FAQ needs updating please.

OLD

I’m in the United States. Can I support Mozilla through the Amazon Smile Program?

Yes! You can direct a small portion of what you spend on Amazon.com to support Mozilla by visiting this link to choose Mozilla in the Amazon Smile program. Please remember to initiate all your purchases by starting at smile.amazon.com. (Unfortunately, this

[2019-05-02 19:00] alanmoo commented on #2151
@TheoChevalier If this is just en-US, I'm not positive what approach you might want to take here. Can you handle this one?

[2019-05-02 19:06] TheoChevalier commented on #2151
Sure! Going to add a PR soon (Pretty sure we simply hardcoded this one in the template)

[2019-05-02 21:02] #2151 closed

[2019-05-02 21:16] TheoChevalier commented on #2151
https://donate.mofostaging.net/en-US/faq#item_amazon looks good, deploying to prod

[2019-05-22 17:01] WillatMozFdn opened #2153 "Close out copy test on donate page"
Related to #2129 -- I've done the analysis at several points along the way, and there's no statistical difference between the two blocks of copy.  So, let's close out this test, and revert back to the original control copy for everyone (pasted below).

We can also turn OFF the other test - donation amount ordering -- where I believe we settled on high to low for everyone (several months ago).

Tha

[2019-06-06 19:33] #2146 closed

[2019-06-06 19:33] WillatMozFdn commented on #2146
CLOSED, WORK IS DONE, THANKS!

[2019-06-06 19:36] WillatMozFdn commented on #2133
we recently made some changes on the back end in Stripe to review instead of just rejecting these donations.  It's a lot more work on our end, but seems to be worth it, income improvements in the low four figures.  Closing for now, Ryan, please let us know if you hear of other instances of this happening.  Thanks!

[2019-06-06 19:36] #2133 closed

[2019-06-06 19:48] WillatMozFdn opened #2154 "Add request for email addresses in memo field of checks to non-US pages"
For donors in the US, on both the "Ways to give" page and the FAQ item #4, we do ask that they write their email address on the memo field of the check -- that gives us a unique identifier to add the donation to the right person in Salesforce.  This phrase after the mailing address ("... and please include your email address on the memo line.") is unfortunately NOT present in the ways to give/FAQs

[2019-06-06 19:49] alanmoo commented on #2154
@TheoChevalier think you can take care of this?

[2019-06-06 19:51] WillatMozFdn commented on #2154
also @alanmoo can we add Stephanie Lowry to this d.m.o repository?  She's ready to start submitting/handling smaller issues like this that she finds.  Thanks!!

[2019-06-06 20:07] alanmoo commented on #2154
It's a public repo, as long as she has a github account she can file issues.

[2019-06-07 09:40] TheoChevalier commented on #2154
Sure I can handle that, but note that we decided to specifically show this message to en-US and en-CA only, because they have memo lines on checks, which is not necessarily the case elsewhere (French chèques or UK checks don’t have memo lines, for instance).

@WillatMozFdn What do we want to ask people instead, when they don’t have that field? Write the email address on the back?

[2019-06-10 13:26] WillatMozFdn commented on #2154
How about, "please include a note with your email address" -- ??  Would
that be weird?

 - W

On Fri, Jun 7, 2019 at 5:40 AM Théo Chevalier <notifications@github.com>
wrote:

[2019-06-11 16:19] TheoChevalier commented on #2154
That should be fine, that’s what we are already doing for Thunderbird checks outside US/Canada:

[2019-06-11 16:21] TheoChevalier commented on #2154
(Didn’t mean to close this)

Should we also mention the payable, like for Thunderbird? We currently don’t say anything.

So, proposed string:

[2019-06-11 17:32] WillatMozFdn commented on #2154
Is there a way I can add Stephanie Lowry as a CC to this bug?  Anyone know?

[2019-06-11 19:02] alanmoo commented on #2154
@stephanielowry

CC'd :)

[2019-06-24 20:02] WillatMozFdn opened #2156 "Turn off webmaker/sawmill-mailroom receipts completely"
The SFMC journey-based receipts have been live for several months now for Paypal donations, and working well.  With a simple change I can enable them for Stripe donations as well, so we can finally retire the old system that sends receipts for Stripe transactions.

This will require careful timing - expanding the SFMC journey as we turn off the old system - so that we don't miss sending a receipt,

[2019-06-24 20:16] alanmoo commented on #2156
I know virtually nothing about this; @patjouk do you understand the scope of this?

[2019-06-24 20:16] #2153 closed

[2019-06-25 10:20] patjouk commented on #2156
I don't have more context but my guess is that we should remove the [related worker in sawmill](https://github.com/mozilla/sawmill), as [I did here](https://github.com/mozilla/sawmill/pull/89/files).

[2019-06-25 10:34] #2154 closed

[2019-06-25 20:00] WillatMozFdn commented on #2156
@patjouk let's plan on making the changeover sometime the week of July 15th.  I'm on PTO most of next week to take care of some family stuff out in Santa Barbara, and then ALL of the following week (Netroots Nation in Philadelphia, my annual volunteer commitment to progressive politics.)  Sound good?  That should give you enough time to figure out the right piece of duct tape or baling wire to yan

[2019-06-27 09:04] patjouk commented on #2156
That's sound perfect. Thanks for your patience!

On Tue, Jun 25, 2019 at 10:00 PM WillatMozFdn <notifications@github.com>
wrote:

[2019-06-28 10:07] TheoChevalier commented on #2154
This is now live, and localized in most major locales

[2019-07-03 15:04] TheoChevalier opened #2158 "Update check section on ways to give page as well"
Follow up from  #2154, I forgot to update the ways to give page

[2019-07-04 18:11] #2158 closed

[2019-07-08 13:21] patjouk commented on #2156
Ok, I think I got it. We need to:
- Delete the worker and email templates from sawmill (PR opened mozilla/sawmill#98),
- Remove the sawmill webhook from stripe staging and prod accounts.
@alanmoo Can you confirm?

[2019-07-08 15:42] alanmoo commented on #2156
This makes sense to me; I don't actually have any experience with this. If you want more concrete confirmation, you may be able to check in with Scott or JBuck.

[2019-07-17 16:11] patjouk commented on #2156
We did that Today. @WillatMozFdn can you confirm we're good and that I can delete the sawmill webhook on stripe?

[2019-07-17 16:15] WillatMozFdn commented on #2156
Yes, we're all good, donation receipts seem to be flowing normally, for both stripe and paypal now.  (And in all languages, both Moz and t-bird.)

[2019-07-17 16:16] patjouk commented on #2156
Done!

[2019-07-17 16:16] #2156 closed

[2019-08-11 14:18] Patil2099 commented on #2120
@missuniverse  can I work on this?

[2019-08-11 19:06] missuniverse commented on #2120
@Patil2099 Sure, do note that I already proposed a pull request that should fix the issue.

[2019-08-12 14:00] #2100 closed

[2019-08-12 14:00] #1985 closed

[2019-08-12 14:00] alanmoo commented on #1985
We did this a while ago

[2019-09-18 06:27] mkmelin opened #2161 "donating doesn't work (window.grecaptcha undefined)"
Got a report from a (want to be) donor that the donate by credit card button will just keep spinning, so donating can't proceed. He had attached a screenshot showing the trace for window.grecaptcha undefined.

Took a look at the code, and I see an obvious problem in executeRecaptcha.

[2019-09-19 16:16] WillatMozFdn opened #2163 "Changes to verbage on /donate page (all languages)"
Hi all, two changes we need to make to the "small print" on the right-hand side of the donate page, in all languages.  These have been cleared by Legal team (Abigail).

1) Delete the sentence "We are able to provide refunds up to one year after a donation is processed."

(Our refund policy will now be included on emailed receipts ... and perhaps, pending Abigail's research, in mailed acknowledgmen

[2019-09-19 21:52] TheoChevalier commented on #2163
![image](https://user-images.githubusercontent.com/1294206/65283865-0298eb00-db30-11e9-94f6-3d93ebd355c9.png)

Does this work for you @WillatMozFdn ?

[2019-09-19 21:56] WillatMozFdn commented on #2163
yes, perfectly.  Thank you Theo!

[2019-09-19 21:58] alanmoo commented on #2163
@TheoChevalier Are these strings going to be re-used for the new site or will we have to redo this before it launches?

[2019-09-19 22:03] TheoChevalier commented on #2163
This PR has actually no impact on localization (no need to translate/retranslate anything), we will just need to port the new formatting over to the new website.

Details here: https://github.com/mozilla/donate.mozilla.org/commit/022cddbdde8769f99eaf264d0160f1db4a57685e

[2019-09-19 22:06] WillatMozFdn commented on #2163
@alanmoo Theo is right on that one - no new strings.  These newer strings should be the version we port over to the new site ... but also, we'll need to change "Stripe" there (obvs) in all languages to Braintree ... and hoping to be adding a Bitcoin link in the "Other Ways" section sometime soon too (still pending but we're very close to executing an agreement with them.)

[2019-09-19 22:09] TheoChevalier commented on #2163
To clarify, there still **could have** been new strings here, even without a copy update. We were just lucky they were already split in a way that allowed us to just remove that sentence, and wrap the other one separately

[2019-09-20 10:20] TheoChevalier commented on #2163
Looks like PR #2164 didn’t get deployed to staging https://donate.mofostaging.net/en-US/
It works locally and the change is very simple, but promoting to prod without a last check on staging feels very wrong.

@cadecairos @patjouk Would you mind having a look?

[2019-09-30 10:47] TheoChevalier commented on #2163
Closing, as this has been deployed over the weekend

[2019-09-30 10:47] #2163 closed

[2019-10-02 20:01] WillatMozFdn opened #2167 "Delete incorrect SEPA/BACS fee information from donate Ways to Give (and, move a sentence up to reduce confusion)"
We've just found out that for quite some time that we've been very significantly over-stating fees for SEPA/BACS donations on our Ways to Give page at https://donate.mozilla.org/ways-to-give#wire .  Drats, but, easy to fix going forward.

1) We need to fully **delete** the sentence "(All the donations via wire transfer are subject to a $5 USD charge imposed by Mozilla’s bank. Therefore, please kee

[2019-10-03 08:27] TheoChevalier commented on #2167
Fixed in https://github.com/mozilla/donate.mozilla.org/pull/2168

Fix will be live in ~10 mins:
https://donate.mozilla.org/ways-to-give#wire
https://donate.mozilla.org/thunderbird/faq#item_2

[2019-10-03 08:27] #2167 closed

[2019-10-07 19:40] WillatMozFdn opened #2169 "Enable Bitcoin donations through BitPay"
We have a signed and sealed agreement with BitPay now, so let's move to the implementation stage.  Much work has already been done, but, last steps we need to accomplish:

- [ ] Final edits to hosted Bitpay page (Will)
- [x] add legalnotices@mozillafoundation.org as a user (Will or Chris) (Chris & Phia accomplished 10/10)
- [X] connect to our bank account for deposit (Will or Chris)
- [ ] test tra

[2019-10-07 19:56] TheoChevalier commented on #2169
Quick note on localization: those changes won’t be localized, as I plan to start localizing the new website tomorrow and put this one in read-only mode in Pontoon. We will need to port these changes over to the new stack, and localization will happen there instead

[2019-11-06 21:50] WillatMozFdn opened #2172 "Change address & instructions for mailing in a donation check"
1. Two places we need to change both instructions and the address:

https://donate.mozilla.org/faq#item_4
https://donate.mozilla.org/ways-to-give#check

Old instructions (please delete):
"Please send a check **including your email address on the memo line**, and payable (payee) to “Mozilla Foundation”

New instructions (please add):
"Please send a check **including your email address on the memo l

[2019-11-07 09:39] TheoChevalier commented on #2172
Thanks Will, updates are here: https://github.com/mozilla/donate.mozilla.org/pull/2173

I figured you also wanted to update `(Updated April 2019)` into `(Updated November 2019)`

I’ve disabled this project on Pontoon weeks ago, as community focus must remain on the new stack. We shouldn’t ask people to translate this for just the few hours/days it will stay online, then ask them to translate again

[2019-11-07 10:14] TheoChevalier commented on #2172
Changes are live, closing!

[2019-11-07 10:14] #2172 closed

[2019-11-07 18:22] stephaniemcv commented on #2048
part of #486 and donation stack redo

[2019-11-07 18:22] #2048 closed

[2019-11-13 22:45] TheoChevalier opened #2174 "Remove US + international wire transfer info"
We need to remove this section from the Ways to give page (for Mozilla) and FAQ page (for Thunderbird)

![Screenshot_2019-11-13 Support Mozilla](https://user-images.githubusercontent.com/1294206/68810821-101dad80-0667-11ea-8ce6-ef03776d0ec2.png)

[2019-11-13 23:08] TheoChevalier commented on #2174
And update `Other ways to give:  SEPA/BACS | check` on homepage

[2019-11-14 15:49] #2174 closed

[2019-11-14 18:25] TheoChevalier commented on #2174
Changes are live

[2019-11-21 16:27] TheoChevalier commented on #2169
We’re live, closing

[2019-11-21 16:27] #2169 closed