[2015-12-02 00:25] jbuck commented on #622
Done in https://github.com/mozilla/mofo-transaction-storage/commit/1205e03596dfefdf54bfc8bf70c095456d31ce98

[2015-12-02 00:25] #622 closed

[2015-12-02 00:37] jbuck commented on #898
The API is working great, just need to get ali to add the totalizer back

[2015-12-02 00:41] jbuck commented on #998
* All locales are already translated, thankfully enough
* They wouldn't have received any correspondence from us unless they signed up for the mailing list
* Yes, we'd just attempt to resend the email receipt. There's only one email backlog, for donations between when we started the stripe account and yesterday.
* The deadline would be... December 9th? Hrm, shit.

[2015-12-02 00:49] jbuck commented on #938
I think this is a combination of #981 and #984.

[2015-12-02 00:49] #938 closed

[2015-12-02 01:17] natalieworth commented on #702
Hi @valianttry @edrushka , I've uploaded versions at 200px with 300 dpi. They're quite high resolution for web, so they hopefully shouldn't be pixelated. If Jessilyn provides other resolutions/ sizes I can definitely export those too if it'll be easier for implementation :)
https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0QzZPdXV4RTBKU0U&usp=drive_web&ddrp=1#

[2015-12-02 03:37] ScottDowne commented on #959
Quick update for this. We have an INR snippet and an es-MX, but not en-* yet.

[2015-12-02 04:21] mmmavis commented on #950
Email has been built and sent. I'm not sure where to store the final code. This repo or do we create a separate one just for the Salesforce email module (ET)? /cc @adamlofting

[2015-12-02 05:22] valianttry opened #1015 "$100/ month donation failed - why?"
cus_7S1ZzvhhfZM0Of

Stripe says it "failed"

His email:

![strange_interaction_flow_for_monthly_donations_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11522882/814097ba-9871-11e5-91af-517628c52bc1.png)

[2015-12-02 05:56] valianttry commented on #998
According to Google Analytics we're talking about 1,622 individuals.
Plan A:
How long before we can send these donors their first receipt? If it's something we can do really soon, like before Mozlando, let's do that!
Plan B:
Q: IS it possible to combine receipts for donation #1 with the donation #2 receipt email? E.g. it would look something like:
---------
TRANSACTION RECEIPT FOR YOUR RECORDS:
Ro

[2015-12-02 05:58] valianttry commented on #998
whoa. crazy formatting glitch.

[2015-12-02 06:56] valianttry opened #1016 "We might want to do a bit more QA for Firefox for Android"
Hey @adamlofting

I was just exploring Google Analytics and noticed our mobile conversion seems better compared to last year (granted it's a smallish sample, but still). It's nearly 3%. The device breakdown suggests iPhone and iPad are converting much better than Firefox for Android, which seems counter-intuitive. Given the higher traffic from FF for Android, maybe we should do a bit more QA in FF

[2015-12-02 07:00] valianttry opened #1017 "Bounce rate has jumped by 20% - any idea why?"
This is significant, and seemed to start on Friday. What changed??
![location_-_google_analytics](https://cloud.githubusercontent.com/assets/9830371/11524484/080a6948-9880-11e5-8dfb-e23064864923.png)

@adamlofting @jbuck @edrushka @cadecairos @alicoding

[2015-12-02 07:29] flodolo opened #1018 "Inconsistent currency symbols displayed for some currencies"
Compare the currency symbols displayed in
https://donate.mozilla.org/ru/?currency=rub

With
https://donate.mozilla.org/en-US/?currency=rub

The second is the same you get by visiting the locale agnostic URL https://donate.mozilla.org/ and selecting RUB from the dropdown.

[2015-12-02 07:31] flodolo commented on #1018
It actually happens for most locales with a currency symbol (AUD, CAD, CNY, CZK, DKK, then I stopped trying).

[2015-12-02 09:10] adamlofting commented on #1017
Updated the title as this applies to all locales, and all channels. It seems to most significantly impact the Snippet.

<img width="1168" alt="screenshot 2015-12-02 09 09 12" src="https://cloud.githubusercontent.com/assets/1901816/11526726/5e947ffc-98d4-11e5-8d4f-d5ffbb7ae4b0.png">

[2015-12-02 09:36] adamlofting commented on #1017
Panic averted :sweat_smile:

This is just a stats thing and is having no impact on our fundraising (I'll explain).

**TLDR; Our conversion rate, and income are unnafected.**

**What changed?**
On the 27th we switched to the one-page form as our default.

**Why did this affect bounce rate?**
Bounce rate reflects how many people who land on a page do/don't click to another page on your site.

On the

[2015-12-02 09:36] #1017 closed

[2015-12-02 09:43] adamlofting commented on #950
Let's use the mofo-crm repo for this: https://github.com/MozillaFoundation/mofo-crm

I've just added you to that repo. It's currently empty (other than for issues) but we can setup a folder for email templates in there.

(Great work on that email by the way - it looked excellent)

[2015-12-02 10:03] adamlofting commented on #1016
We should keep an eye on QA for the most important devices, but I still think this conversion rate is a combination of context and the end-to-end user experience.

For the 'context' piece. The setting for using an iPad versus an Android phone affects your likelihood of completing a donation.

But more importantly, the conversion rate for mobile seems to reflect how much reason we've given people t

[2015-12-02 10:07] adamlofting commented on #746
I think we can setup the pop-up like this:
http://help.surveygizmo.com/help/article/link/website-popup

I'm happy to work through that if you can add me to survey gizmo (my first name @mozillafoundation.org)

In the pop-up version, we might need less extra styling work.

[2015-12-02 10:24] adamlofting commented on #1012
This might be accidental, but it works out pretty well at the moment if this tile is catching all en-* traffic.

In my case if I open that URL I get forwarded to the en-GB variant with the parameters intact. The same should apply in en-CA.

(We can't use the same rule on the snippet because the amount and currency are already applied on the snippet, but for tiles this is good)

[2015-12-02 11:42] adamlofting commented on #954
This test is live, and you can track the results here:
http://app.optimizely.com/l/yEn16U?token=1e7e0924e04bc51d51d3#view=2

@valianttry @edrushka @lovegushwa @thecount @alicoding

[2015-12-02 11:44] adamlofting commented on #353
This test is live and can be tracked here:
https://app.optimizely.com/results2?experiment_id=4018680415&token=5bb348bb996a46d59eac

* Control
* Tell the world you helped defend the Web (Variation 1)
* Let your friends know the Web needs their help (Variation 2)
* Spread the word and help Mozilla protect the Web (Variation 3)

[2015-12-02 13:16] adamlofting commented on #632
@ScottDowne do you know if this is configured in the Stripe admin interface for all transactions, or could we spin up a copy of the one-page form with different checkout requirements?

If the latter, it would be great to test this with Optimizely and know the impact for sure.

[2015-12-02 14:37] ScottDowne commented on #632
@adamlofting We can configure it in the one page.

[2015-12-02 14:53] cassiemc commented on #954
This is awesome to see, thanks @adamlofting (I'm always interested in UI or UX test results, please do loop me in anytime as well!)

[2015-12-02 15:05] jbuck commented on #1012
Okay, I just wanted to make sure this was the intended URL. Thanks @adamlofting!

[2015-12-02 15:05] #1012 closed

[2015-12-02 15:08] jbuck commented on #1017
@adamlofting is there anything we should add to the page to make the bounce rate a more accurate statistic?

[2015-12-02 15:09] alicoding commented on #1018
This is actually not design by us, but JavaScript standard for `Intl` using NumberFormat method.
[code]
[code]

[2015-12-02 15:11] alicoding commented on #1018
The thing here is that if you use your locale for your currency then you will see the currency symbol, but if you try to look at it using different locale then you will see a letter currency instead of the symbol. I know it doesn't feel right.

[2015-12-02 15:16] jbuck opened #1020 "Our first six disputed charges in Stripe!"
@valianttry https://dashboard.stripe.com/disputes/overview

I recommend that we "Accept dispute" since a refund is the only thing we can do but I wanted to flag it so we all get an idea of how to handle disputes.

[2015-12-02 15:32] jbuck commented on #1015
@ScottDowne sounds like the error handling on this page isn't working as expected

[2015-12-02 15:40] flodolo commented on #1018
Thanks for the explanation. It's quite an edge case, so it's probably a WONTFIX if fixing it requires too much code (i.e. I wish Intl would be able to spit out just the currency).

[2015-12-02 15:40] jbuck commented on #1015
@valianttry unfortunately I don't know why the donation failed, just that his bank rejected the charge.

[2015-12-02 15:42] alicoding commented on #1018
@flodolo that's actually what we wanted to do at first, but doesn't seem to be an easy, non-hacky way to do so :(

[2015-12-02 15:50] jbuck commented on #1018
I had a look at [the spec](http://www.ecma-international.org/ecma-402/1.0/#sec-11.3.2) because this was an interesting case to me, and the intended behaviour is basically "look up currency symbol in locale dictionary, if it doesn't exist then use the currency code itself" (step 6c). If you look at the Intl data for en-US you can see that it doesn't have the symbol for RUB: https://github.com/andye

[2015-12-02 15:50] #1018 closed

[2015-12-02 15:57] jbuck commented on #998
I like plan A better!

[2015-12-02 16:18] ScottDowne commented on #1015
Hm, it's this card

4100000000000019: "Charge will be declined with a card_declined code and a fraudulent reason."

But Stripe handles this one. which is similar to the above.
4000000000000002	Charge will be declined with a card_declined code.

All other cards are handled inside the Stripe widget, but for some reason that one is not. Maybe they expected us to handle it? I'll look for any error's w

[2015-12-02 16:19] ScottDowne commented on #1015
@jbuck can I steal this issue from you?

[2015-12-02 16:31] jbuck commented on #818
I backed out this patch because we were seeing "StripeCheckout is not defined" errors

[2015-12-02 16:33] jbuck opened #1022 "Can we get some sort of client-side error detection?"
#1021 reminded me that we have no way to catch/track errors in client-side JS. Is this something we could add?

[2015-12-02 16:56] alicoding commented on #930
Fixing in #968

[2015-12-02 16:56] alicoding commented on #927
Fixing in #968

[2015-12-02 16:59] ScottDowne commented on #1015
This should fix it so a fraudulent error message is displayed: https://github.com/mozilla/donate.mozilla.org/pull/1023

[2015-12-02 17:26] valianttry commented on #1017
@adamlofting thanks for investigating -- as long as we are aware of the phenomenon, i don't think fixing it is a P1 @jbuck (agree @adamlofting ?)

[2015-12-02 18:01] ScottDowne commented on #1015
Landed on staging.

[2015-12-02 18:01] #1015 closed

[2015-12-02 18:01] ScottDowne commented on #941
Landed on staging.

[2015-12-02 18:01] #941 closed

[2015-12-02 18:05] adamlofting commented on #1017
It depends on what you mean by accurate :wink: Technically, our new form bounces more users to another website. So it's 'accurate' in that sense.

I wouldn't invest any time in this right now, as the steps we're not tracking here are steps we can't influence (Stripe form and Paypal).

[2015-12-02 19:44] ScottDowne commented on #1020
Those duplicates I am pretty sure are covered now in https://github.com/mozilla/donate.mozilla.org/commit/b987bbeda3b7902b2f331cf9431f320cafc2caa8

Which landed on the same day but not quite fast enough :(

We can do more to catch this at the server too if we want, but it's not critical anymore.

[2015-12-02 21:16] natalieworth commented on #873
Hey @alicoding , svgs of the heart and fox for the totalizer are in the drive: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0Ni1yVGlzc0FicDg Just ping me if you need anything else :)

[2015-12-02 22:29] natalieworth commented on #560
Updates for the spectacular snippet are in this redpen project: https://redpen.io/p/mue49223c009a1c1d4
Here is an overview of the newest snippet designs: https://redpen.io/pk016b921fe89e0fa5
It would be great if we could choose favourites/ preferred and then start refining the 4 from there? Perhaps one of each from the different directions Jordan started these off with (photo-based, ASCII/develope

[2015-12-02 22:36] ScottDowne commented on #672
This should be on staging in a moment.

@adamlofting can you give it a spin tomorrow?

[2015-12-03 00:32] natalieworth commented on #880
Hi, @edrushka @cassiemc @lovegushwa @valianttryUpdates on redpen for the second iterations of static/ rollover directory tiles (https://redpen.io/p/xs220787d8385b41c5):
V5. https://redpen.io/ps3446c6a2ede3aa76
V6. https://redpen.io/rs17150b97464ce835
V7. https://redpen.io/cf91d6164b18a0933e
V8. https://redpen.io/qj9b9a2ee19c7e9b43
V9. https://redpen.io/qz70a88c3b0fafd6e8

[2015-12-03 00:47] natalieworth commented on #810
Hi @cassiemc @edrushka, saw the milestone for this moved up a bit. I was wanting to get a start on this (although I don't believe we have confirmed copy for it). Based on the ET email for the gear store Mavis created, I believe this design track should be feasible for a thank-you email + video for donors: https://redpen.io/yb2214e299d07ad804

[2015-12-03 00:52] edrushka opened #1026 "Write January Thank You email to donors"
Write copy for the January email. This will sent in English, with a possible German version, to anyone that donated to the end-of year campaign. Last year's copy is here: https://public.etherpad-mozilla.org/p/text_from_EOY_2014_thankyou_email

Design ticket is #810

** This should actually be written prior to Dec 18 so we have time adjust it in the template if necessary **

[2015-12-03 00:52] edrushka commented on #810
Lovely! I've written a copy ticket here #1026 and we need to decide if we are using the video or not @valianttry

[2015-12-03 05:37] valianttry opened #1027 "Are we defaulting to monthly anywhere? I'm seeing higher than usual accidental monthly gifts"
I've seen a few strange emails today all saying they "made a monthly donation by mistake". Have we rolled out a default-monthly test? Here's the Transaction ID: ch_17DERnG8Mmx3htnx6BXjJucW

Example email:
![donation_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11552732/bbe00100-993c-11e5-9ac0-3ba295428383.png)

@ScottDowne @jbuck

[2015-12-03 06:02] ScottDowne commented on #1027
Nothing intentional. Could be a bug? Pretty bad one too if so. I cannot reproduce anything like this though.

[2015-12-03 06:04] valianttry commented on #1027
Is it possible we have an accidental ?=monthly parameter somewhere?

[2015-12-03 06:25] valianttry commented on #1016
I broke out the medium / source for mobile giving and it's interesting: https://www.evernote.com/l/AMpWfz734MxPQZ3FJh2sS4ioXbp_la-8hHoB/image.png

The sample size is pretty small... but our mobile conversion is outstanding for email. I'm so interested to see the impact of our "more info" landing page....

![devices_-_google_analytics](https://cloud.githubusercontent.com/assets/9830371/11553423/6bd

[2015-12-03 06:48] valianttry opened #1028 "Omaze Star Wars fundraiser so much awesome let's do something like this!"
Thanks @davidascher for the tip:

https://www.youtube.com/watch?v=8mjYjMxZJCg

![harrison_ford_surprises_star_wars_fans_with_big_news _for_charity_-_youtube](https://cloud.githubusercontent.com/assets/9830371/11553768/d008e76e-9946-11e5-87be-c39ac924d00e.png)

[2015-12-03 06:50] valianttry commented on #1028
cc @edrushka

[2015-12-03 09:37] adamlofting commented on #1027
We've not set any tests up for default to monthly (though there is one on the plan).

We're getting traffic arriving on the ?frequency=monthly parameter, but that is also what happens if you check the monthly checkbox on the snippet. So it's hard to pinpoint any accidental cases via GA.

If this keeps happening we might want to review the UI to see if we can make the monthly / one-off options clea

[2015-12-03 13:54] adamlofting opened #1029 "Example of encouraging monthly giving"
Check out what happens when you select 'monthly' on Khan Academy's donation form:

<img width="1262" alt="screenshot 2015-12-03 13 51 16" src="https://cloud.githubusercontent.com/assets/1901816/11562290/015b1d40-99c5-11e5-9c2f-10a29113d49a.png">

<img width="1333" alt="screenshot 2015-12-03 13 50 59" src="https://cloud.githubusercontent.com/assets/1901816/11562293/0571bf06-99c5-11e5-9fef-d8a4e1efb

[2015-12-03 13:57] alicoding commented on #1029
Was going to suggest the same for using button instead of radio because it's not really getting the attention when you have a glance at the form. But that joy when you choose monthly is awesome! Maybe our dapper Fox can be there haha.

[2015-12-03 14:50] adamlofting commented on #958
I filed this twice.

[2015-12-03 14:50] #958 closed

[2015-12-03 15:04] adamlofting commented on #957
I've updated our old Adwords ads in our grant account to point to the new /about/ page, and added a couple of new text variants based on the messages that have been running in the snippet.

<img width="364" alt="screenshot 2015-12-03 15 02 38" src="https://cloud.githubusercontent.com/assets/1901816/11564076/0a0d924c-99cf-11e5-9c81-98974ceeaeb5.png">

[2015-12-03 15:04] #957 closed

[2015-12-03 15:07] adamlofting commented on #918
This is done, and showing up on fmo graphs.

[2015-12-03 15:07] #918 closed

[2015-12-03 15:24] adamlofting commented on #370
This test is live for directory-tiles and mozilla.org referrals:
http://app.optimizely.com/l/vZoWvL?token=5a73439381ec88de0297#view=2

[2015-12-03 15:38] adamlofting commented on #739
I think this is just adding a line of JavaScript into the BSD form to forward traffic to our new form?

﻿We had this much traffic still landing on sendto in the last week:
<img width="385" alt="screenshot 2015-12-03 15 33 15" src="https://cloud.githubusercontent.com/assets/1901816/11564853/4855daec-99d3-11e5-93f5-5155b12a1dcb.png">

These traffic sources fall into the 'haven't had much info' categ

[2015-12-03 15:38] adamlofting commented on #739
Suggesting this is a P1 because it delivers good impact for a tiny effort.

[2015-12-03 15:42] adamlofting commented on #186
This new form is suitable for this test, but our best data would come from testing against Firefox for Android snippet as we have baseline data from last year.

http://donate.mozilla.org/about

[2015-12-03 16:09] jbuck opened #1030 "Synchronous XHR on thank you page"
We currently use synchronous XHR to load the exchange rates json file. Lets not do this...

[2015-12-03 16:11] alicoding commented on #1030
Should we setup an API endpoint for this instead?

[2015-12-03 16:12] alicoding commented on #957
♪┏(・o･)┛♪┗ ( ･o･) ┓♪ ┗ (･o･ ) ┓♪

[2015-12-03 16:16] jbuck commented on #1030
Possibly! But I'd like to change the code to not use synchronous XHR's first, since that brings the browser to a halt until the file has loaded.

[2015-12-03 16:41] jbuck opened #1031 "Paypal error rates increase"
Just as an FYI: https://www.paypal-notify.com/eventnotification/event_details_popup?eventId=6929

[2015-12-03 16:45] cassiemc commented on #880
These all look good to me, design-wise @natalieworth, thanks!

[2015-12-03 16:48] cassiemc commented on #810
Sorry I missed the above comment awhile back. This looks great @natalieworth, thanks for jumping on it!

[2015-12-03 18:49] ScottDowne commented on #1027
I see no evidence it's a bug. Let's keep our eyes open, because if it's a bug, we'll see more.

[2015-12-03 18:51] ScottDowne commented on #1027
Any frequency param that's not monthly, is single. So even a typo would mean it ends up a single and not monthly. So we have to pretty explicitly set it as monthly.

I'll take a look at the various mozilla.org takeovers. Already checked snippets, they are fine.

[2015-12-03 18:54] ScottDowne commented on #1027
Nothing in the takeover too, seems to all work after me trying weird combinations of buttons.

[2015-12-03 19:08] valianttry commented on #1027
OK, i assume it's just people ticking a box without reading... it's not a large number of people. It does create a little extra donor management, as people are requesting help.

[2015-12-03 19:15] ScottDowne commented on #1027
Oddly enough, I think the "the really helps us" arrow test is going to reduce any accidental clicks to monthly.

[2015-12-03 19:17] #672 closed

[2015-12-03 19:25] natalieworth commented on #995
Hey @cassiemc @edrushka @valianttry  I've got 2 versions of the logo up on redpen: https://redpen.io/p/btb6fcfe826208f532 Thanks!

[2015-12-03 19:25] ScottDowne opened #1033 "A/B Test: move frequency radio buttons above amount buttons"
The following links have the frequency option before the amount buttons. This might help with array position changes and visibility with the frequency radios. It's also more intuitive to pick frequency first if we change amounts based on frequency.

http://www.unicef.org.uk/donate/donate-now/
http://www.oxfam.org.uk/donate
https://donate.wikimedia.org/
https://www.khanacademy.org/donate

These are

[2015-12-03 19:28] valianttry commented on #1033
@adamlofting seems like a good test. @ScottDowne do you know how much work it would be to set this up on the form?

[2015-12-03 19:30] ScottDowne commented on #1033
@valianttry minute or two to move it above the amounts, an hour or so to make them buttons or a dropdown. Coul be two separate tests if we wanted.

[2015-12-03 19:58] jbuck commented on #998
Charges before 2015-11-28T03:50:58Z

[2015-12-03 20:01] cassiemc commented on #560
Feedback from jean's team:

High-level initial feedback:
A) These designs are bad-ass and out of the box. Great thinking.
B) We have to be careful about some of these designs as it can look like the page was hijacked (the black screen for instance)
C) Firefox has to live somewhere
D) I really don’t think we should move the search box. It’ll be way off the typical UX experience and remember this is

[2015-12-03 20:12] lovegushwa commented on #560
Lol, potato gun. totally ... We could say "potato cannon" or maybe less
exciting "catapult."

On Thu, Dec 3, 2015 at 12:01 PM, Cassie McDaniel <notifications@github.com>
wrote:

[2015-12-03 21:09] ScottDowne commented on #944
I wasn't looking at this closely enough, and it comes to me as a surprise that this is in the snippet. That's... harder to land. I can build it though.

[2015-12-03 21:23] adamlofting commented on #944
I think we should implement this on the landing page when a user clicks the stripe or Paypal button. Especially for the first test.

[2015-12-03 21:32] natalieworth commented on #880
Thanks @edrushka @cassiemc @lovegushwa @valianttry Here's a final overview file for the tile variants on redpen: https://redpen.io/ovfa3b594168f5fbc3 (of the different exported versions).
@alicoding Jordan mentioned above that these tiles will also have to be localized. I've exported a .ai file along with .png's in this google drive folder: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0X

[2015-12-03 21:41] cassiemc commented on #560
Update from the meeting – @natalieworth is going to take a stab at these refinements:

1. update this version: https://redpen.io/wh7de28276751c0ff8 with less 'in your face' orange background. afraid it might deter folks

2. try a version of this, if we can make the photo take over less of the page. not sure it'll work with the above layout requirements but somehow we would like to test how a photo

[2015-12-03 22:09] jbuck commented on #1031
This has been resolved

[2015-12-03 22:09] #1031 closed

[2015-12-03 22:19] edrushka commented on #880
I'll connect with Jean to get her final approval and then I'll file the L10N bug.

[2015-12-03 22:21] jbuck opened #1036 "Node.js security release update"
https://nodejs.org/en/blog/vulnerability/december-2015-security-release-update/

We should update as soon as this release is put out the door tomorrow.

[2015-12-03 22:28] natalieworth commented on #995
@cassiemc @edrushka @valianttry Updated versions for the logo is here: https://redpen.io/uo61240e2139bb7d17 and the mockup here: https://redpen.io/vmc6db06ec7166348e

[2015-12-03 23:07] ScottDowne commented on #944
Perfect. I was hoping that could be the compromise :)mozilla/donate.mozilla.org wrote:I think we should implement this on the landing page when a user clicks the stripe or Paypal button. Especially for the first test.

—Reply to this email directly or view it on GitHub.

[2015-12-03 23:47] valianttry opened #1037 "Launch the "EOY totalizer" on Moz office monitors"
In past years we've displayed the EOY fundraising campaign "ticker" on office monitors. It is a running total of campaign donations. We've passed $1.2 million. I think it can be a simple website setup. It'll look something like below screengrab (numbers will increase every few minutes). Pinging @potch for helpful guidance.

![mozillafundraising_banner2015_final_ai_-_google_drive](https://cloud.git

[2015-12-03 23:53] valianttry commented on #1037
cc @alicoding since he built the new totalizer for fundraising.mozilla.org.

[2015-12-03 23:54] valianttry commented on #1037
cc @davidascher

[2015-12-04 00:07] potch commented on #1037
Does the above page exist? If so this should be pretty easy.

[2015-12-04 00:18] alicoding commented on #1037
Right now the page doesn't have totalizer on, but hopefully @jbuck can help
push that up tomorrow.

On Thu, Dec 3, 2015, 7:07 PM Potch <notifications@github.com> wrote:

[2015-12-04 00:23] valianttry commented on #1037
@potch i think we may have created a custom web page with just the totalizer on display. If you visit fundraising.mozilla.org the totalizer @alicoding is building is basically the header. Does that sound right?

[2015-12-04 01:07] edrushka commented on #880
WOOT! Approved by the tiles team! https://bugzilla.mozilla.org/show_bug.cgi?id=1224719

Closing this now. I'll file a separate bug for L10N.

Thanks @natalieworth!
:honeybee: :hibiscus: :sunflower: :hibiscus: :honeybee:

[2015-12-04 01:07] #880 closed

[2015-12-04 01:13] natalieworth commented on #880
:+1: Yay!

[2015-12-04 01:25] edrushka opened #1039 "Localize additional directory tile variants"
@natalieworth's additional directory tile designs #880 have been finished and approved by MoFo and the tiles team. :clap:

Natalie has exported the assets here: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0XzVDQnY5V1c4RGc

@alicoding can you please set this up on Pontoon like you did with #812?

[2015-12-04 02:43] valianttry opened #1040 "Twitter Card still not updated"
Would like to eliminate the old Twitter Card from being shared in favor of the red one -- do we know why this keeps happening?

![_mozilla_-_twitter_search](https://cloud.githubusercontent.com/assets/9830371/11580579/af672924-99ed-11e5-9d46-e883bebf23b6.png)

[2015-12-04 02:46] valianttry commented on #1040
Looks like it's pt-BR also:
![_mozilla_-_twitter_search](https://cloud.githubusercontent.com/assets/9830371/11580630/2d9f503c-99ee-11e5-8164-5810bf59b72b.png)

[2015-12-04 02:50] alicoding commented on #1040
The URL for the twitter card is definitely updated on production : https://donate.mozilla.org/assets/images/EOY_Twitter_v8_EN.d1bb5d2a5ce35859d038df852d9e6a0a811beaac.png

Let me check if we can do anything on twitter's side

[2015-12-04 02:53] alicoding commented on #1040
Updated

https://twitter.com/alicoding/status/672609609752821761

[2015-12-04 02:55] alicoding commented on #1040
I have also checked for `pt-BR`, `fr`, `de`, `es` and `it` to make sure they get the red image instead.

[2015-12-04 02:55] #1040 closed

[2015-12-04 02:55] alicoding commented on #1040
Closing this. If we still have an issue please reopen and I'm happy to investigate further.

[2015-12-04 02:57] valianttry commented on #1040
@alicoding what did you do to fix the problem exactly? Just so we have it documented.

[2015-12-04 02:58] alicoding commented on #1040
Sorry! I totally forgot to mention this. I used this link https://cards-dev.twitter.com/validator to hard refresh / force twitter to fetch new URL for the image now.

[2015-12-04 02:59] valianttry commented on #1040
:clap: hurray!

[2015-12-04 03:07] valianttry opened #1041 "Increase in snippet traffic 25% - 50% appears to have had no impact"
@adamlofting apparently the snippet traffic was supposed to have increased from 25% - 50% on Tuesday. I'm looking at sessions in Google Analytics since then, and there appears to be no impact, which can't be correct. Jean is checking things on her end, but can you check our analytics?:

![all_traffic_-_google_analytics](https://cloud.githubusercontent.com/assets/9830371/11580901/06729a84-99f1-11e5

[2015-12-04 04:03] valianttry opened #1043 "Possible to change a 1x gift to monthly if requested by a donor?"
Stripe ID: ch_17E5vnG8Mmx3htnxHQFWuuK3

![re_donation_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11581630/da138b9e-99f8-11e5-84b9-64be8363337c.png)

[2015-12-04 04:30] valianttry opened #1044 "Possible to offer yearly donation option?"
I'm seeing a few requests to donate "yearly" -- is this possible with Stripe? How hard would this be to do for dev?

![yearly_donation_possible_or_in_euros__-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11581888/570c76b2-99fc-11e5-803a-ad7ca6146f91.png)

Sort of like this:
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercont

[2015-12-04 04:31] valianttry commented on #1044
@adamlofting did WWF offer yearly as an option? Know anything about this practice?

[2015-12-04 04:35] valianttry commented on #1043
I'm going to try Stripe support for this one....

[2015-12-04 04:37] ScottDowne commented on #1044
I'm pretty sure Stripe makes this easy,

[2015-12-04 04:54] valianttry commented on #646
@adamlofting you do have edit rights! Especially when you have good ideas :clap:

I removed "fragile" and i think your reason is a good one not to use it further.

I will add "regular donors" to the exclusion list to make sure this is clear. Thanks!

Here's a cool eagle (following @edrushka 's theme)
![american-flag-eagle-870x400](https://cloud.githubusercontent.com/assets/9830371/11582174/02bf30d

[2015-12-04 04:58] valianttry commented on #957
Sometimes I wish Github had a like button. We'll just have to settle for this:
:clap: :+1: :santa:

[2015-12-04 04:59] valianttry commented on #957
@adamlofting can we see the ad performance in Google Analytics?

[2015-12-04 05:12] valianttry commented on #560
Update from Jean Collings: There are UX challenges with Dev Edition that make it a bad time to present this type of big change to those users. We won't be putting any fundraising in the Dev Edition snippet.

Please please hang on to these! I want to use them someday for certain.

:disappointed:

[2015-12-04 05:24] valianttry commented on #1016
Nothing to do right now

[2015-12-04 05:24] #1016 closed

[2015-12-04 05:31] valianttry commented on #992
@adamlofting this sounds a bit tricky -- how will we be able to see results when we test optin variants?

[2015-12-04 05:36] valianttry commented on #950
Closing this ticket, re-open if I'm wrong. :smiling_imp:

[2015-12-04 05:36] #950 closed

[2015-12-04 05:38] valianttry commented on #928
@alicoding I believe you've updated all the FMO links? I'm closing this but re-open if i'm wrong.

[2015-12-04 05:38] #928 closed

[2015-12-04 05:39] valianttry commented on #925
OK @jbuck or @cadecairos you think we can close this ticket? Seems like WONTFIX

[2015-12-04 05:39] #925 closed

[2015-12-04 05:47] valianttry commented on #648
@adamlofting have you found the cheese at the end of the maze? :mouse:

Also, I'd like to add Stephanie McVicker as a recipient for our emails... so if you can find the Big Cheese ask them to please add her... it's OK to set her up so she receives the Donate@ emails directly in her gmail inbox like I do. Once we move to Desk.com, Steph will need a login.

[2015-12-04 09:45] adamlofting commented on #648
We didn't get to the Roquefort Papillon of cheeses, but I've setup the sliced plastic burger cheese version of this today. (Also importantly, why is there no cheese emoji?).

Now that multiple people are looking at this a shared inbox feels like the most valuable thing.

All donate emails are now forwarding to desk.com (but without gmail spam filtering) and I've setup an account for Stephanie. I'l

[2015-12-04 09:45] #648 closed

[2015-12-04 10:31] adamlofting commented on #801
When this copy is ready I can set this up in desk.com

[2015-12-04 10:44] adamlofting commented on #1044
We didn't do yearly, but did a yearly renewal campaign each December for people who adopted an animal as a gift with a one-time purchase.

Technically it's pretty simple, but have heard some concerns about people forgetting after a year and being annoyed/confused when money comes out of their account.

* Definately worth testing if adding this to the form impacts conversion for other donors.
* Thi

[2015-12-04 10:53] adamlofting commented on #992
For the opt-in variants we can use optimizely to track conversion between the form and the thank you page.

[2015-12-04 11:11] adamlofting commented on #957
Yes, once these ads are approved and delivering traffic they should show up in GA as a new 'source / medium'

[2015-12-04 11:37] adamlofting commented on #1033
This is a great point, and we can run this as two tests.

We can test it on the form and if it helps think about how we apply the same learning to the snippet.

ps: It' interesting that wikimedia's option is a button-and-a-radio

[2015-12-04 11:47] adamlofting commented on #1041
Looking at Snippet data in this spreadsheet (column BG) the number of impressions hasn't increased significantly yet.
https://docs.google.com/spreadsheets/d/1Inh1KSkXSh8cJiCnvwm00JOq85FsPQR5L3pzPzQBBio/edit#gid=9&vpid=AW45

[2015-12-04 11:47] #1041 closed

[2015-12-04 15:54] adamlofting opened #1049 "Make the new UI the default"
I'm going to write up the test results for the blog, but the short answer is the new UI had no significant impact on conversion so we should roll it out and simplify another bit of our codebase.

<img width="1065" alt="screenshot 2015-12-04 15 50 55" src="https://cloud.githubusercontent.com/assets/1901816/11593956/1a828954-9a9f-11e5-82e4-d17d03df7936.png">

cc @ScottDowne as you know how this code

[2015-12-04 15:55] adamlofting commented on #436
This is a long ticket, and I'm not sure if there are any remaining dev tasks, but we're ready to make this New UI the default for all traffic now. I've file that in #1049 so we might be able to close this.

[2015-12-04 16:04] ScottDowne commented on #1049
I think we'll two this in two tasks.

One, we just add the classname to the code, and it becomes default.

Then we can remove the old css and clean up some things in a followup.

[2015-12-04 16:12] adamlofting commented on #954
The results are in:
https://fundraising.mozilla.org/ab-test-new-ui-no-news-is-good-news/

[2015-12-04 16:12] #954 closed

[2015-12-04 16:17] ScottDowne commented on #1049
@adamlofting Is it fine if I ship these changes to the additional info page too?

It's running a test right now, and I don't want to potentially skew results.

[2015-12-04 16:18] adamlofting commented on #1049
@ScottDowne yes, thats's fine. The people in the 'additional info' test we're also being split 50:50 into the new versus old UI at the same time.

[2015-12-04 16:21] #436 closed

[2015-12-04 16:24] ScottDowne opened #1051 "Add arrows for monthly checkbox and signup with little text"

[2015-12-04 16:24] ScottDowne opened #1052 "Add user's name to thank you page"
When we submit a donation, we have the user's name, and we can easily enough display it in the thank you page: "thank you Scott for your donation"

[2015-12-04 16:29] #873 closed

[2015-12-04 16:29] #890 closed

[2015-12-04 16:29] #898 closed

[2015-12-04 16:29] #1007 closed

[2015-12-04 16:30] alicoding commented on #873
landed https://fundraising.mozilla.org \o/

[2015-12-04 16:30] alicoding commented on #1007
landed https://fundraising.mozilla.org \o/

[2015-12-04 16:30] alicoding commented on #898
landed https://fundraising.mozilla.org \o/

[2015-12-04 16:30] alicoding commented on #890
landed https://fundraising.mozilla.org \o/

[2015-12-04 16:32] ScottDowne commented on #1049
The test in hard coded to on now, but I'll leave this open as a follow up to clean up and remove any artifacts from the old css.

[2015-12-04 17:07] natalieworth commented on #873
:+1: Thanks @alicoding!

[2015-12-04 17:16] adamlofting opened #1054 "f.m.o minor bugs"
@alicoding, the new f.m.o. looks great, I'm just seeing a couple of minor issues (definately P2):

- [ ] Blog content column got a bit squished:

<img width="1087" alt="screenshot 2015-12-04 17 13 43" src="https://cloud.githubusercontent.com/assets/1901816/11596004/75960b62-9aaa-11e5-8986-9ecfc4e27fb4.png">

- [ ] Grey text shadow on the heading in the banner is a bit weird on the red background.

[2015-12-04 17:27] natalieworth commented on #810
@edrushka @valianttry @cassiemc I'll be working on this next week and the simple thank-you webpage. Are there any requirements that you were wanting me to include for that or is it fairly open right now in terms of content and design?

[2015-12-04 18:12] #1036 closed

[2015-12-04 18:13] jbuck commented on #998
Done!

[2015-12-04 18:13] #998 closed

[2015-12-04 18:54] mmmavis commented on #873
great job team! really love the banner :heart: it's CUTEEE

[2015-12-04 18:58] valianttry commented on #1054
The numbers in the box also appear to be slightly higher than center on the vertical:

![mozilla__view_source_fundraising___we_work_in_the_open__we_fundraise_in_the_open__this_site_shows_you_how_we_work__shares_what_we_know__and_challenges_you_to_help_us_do_it_better_](https://cloud.githubusercontent.com/assets/9830371/11598304/f85040c0-9a75-11e5-9425-2da3c47180bf.png)

[2015-12-04 19:50] ScottDowne commented on #1054
@adamlofting yeah, that text shadow is weird. Kinda makes it look bold.

[2015-12-04 19:51] ScottDowne commented on #1054
Sometimes I see this.
![total](https://cloud.githubusercontent.com/assets/197334/11599739/821b8c04-9a96-11e5-9545-cc158a6acf90.png)

[2015-12-04 20:03] alicoding commented on #1037
@potch the totalizer is now up on https://fundraising.mozilla.org let me know if you need anymore info.

Thanks!

[2015-12-04 20:08] davidascher commented on #1037
I think we want a URL that isn't the whole blog just the totalizer. That's
what we add to the screens. Or ideally a fork that has the copy from the
mockup aimed at people in offices.

On Fri, Dec 4, 2015, 12:03 PM Ali Al Dallal <notifications@github.com>
wrote:

[2015-12-04 20:14] ScottDowne commented on #1054
It's also not displaying the cents zero padding.

So, $5.10 is displayed as $5.1

[2015-12-04 20:51] ScottDowne opened #1056 "minor css display issues around frequency checkbox for various locales"
![it](https://cloud.githubusercontent.com/assets/197334/11601071/bdd51794-9a9e-11e5-8244-179734f5abb0.png)
![es](https://cloud.githubusercontent.com/assets/197334/11601088/d15e7daa-9a9e-11e5-9ecc-bd0daf4023a2.png)

And possibly others.

[2015-12-04 20:59] ScottDowne commented on #1056
Fixing in https://github.com/mozilla/donate.mozilla.org/pull/1057

[2015-12-04 21:02] ScottDowne commented on #1056
Now looks like this, and including en-US to prove I'm also not breaking alignment.
![es1](https://cloud.githubusercontent.com/assets/197334/11601320/4fd37e5a-9aa0-11e5-8386-eda4b8c29828.png)
![es2](https://cloud.githubusercontent.com/assets/197334/11601325/5117cabe-9aa0-11e5-9ce6-4be3f3cfb686.png)
![es3](https://cloud.githubusercontent.com/assets/197334/11601327/525a840c-9aa0-11e5-93d7-3cb8cb96e99

[2015-12-04 21:02] ScottDowne commented on #1056
Fixed in https://github.com/mozilla/donate.mozilla.org/pull/1057

[2015-12-04 21:02] #1056 closed

[2015-12-04 21:07] ScottDowne commented on #160
We can also run a test like this now: https://donate.mozilla.org/en-US/?test=this-really-helps

[2015-12-04 21:49] ScottDowne opened #1059 "id doesn't display amount in the button"
STR:

1. go here: https://donate.mozilla.org/id/
2. click an amount
expected: button should show the amount
actual: button shows new text

This seems to be an issue with the localized text no containing the {amount} variable.

[2015-12-04 21:55] edrushka opened #1060 "Design a dev edition snippet"
As part of the Spectacular Snippet #560 design work, we came up with a couple fun options for a dev edition snippet. This is out of scope for EOY 2015, but parking it here in Bluesky in case a future opportunity arises.

** Note that everything in the 2 designs below is conceptual only. We did not polish the copy or design.**
![screenshot 2015-12-04 13 53 50](https://cloud.githubusercontent.com/as

[2015-12-04 21:56] edrushka commented on #1060
@natalieworth could you please export the AI files and link to them here in case anyone picks this up again in the future? Thank you!

[2015-12-04 21:57] edrushka commented on #1060
Also, for the archives, credit for these designs belongs to @lovegushwa and @natalieworth with input from @cassiemc  :)

[2015-12-04 21:59] edrushka commented on #560
I moved the Dev Edition designs to this ticket #1060 in Bluesky so we will not lose this great work.

[2015-12-04 22:06] edrushka commented on #648
FYI, the fact that we've been living in a **CHEESE EMOJI VACUUM** has been noticed by others on the web. Thankfully there's a workaround:
![screenshot 2015-12-04 14 02 21](https://cloud.githubusercontent.com/assets/4515662/11602550/fed38e60-9a8f-11e5-9e8e-0c279448280b.png)

[2015-12-04 22:25] natalieworth commented on #1060
@edrushka I've uploaded an .ai file for google drive of the draft versions and copy for the dev edition snippet: https://drive.google.com/drive/u/1/folders/0B20-0lpP23c0Z0ktM0ROWEVYREU It's got the process versions included too from @lovegushwa

[2015-12-04 23:26] edrushka commented on #810
Updates on this:
- confirmed with Andrea we will *not* use the video in the January thank-you email
- also determined we don't need any additional bells and whistles. This should be a "simple" thank you email from Mark. It doesn't need to have heavy EOY branding. The most important thing is that it feels heartfelt and genuine.

I met with @natalieworth on Friday to discuss this and she'll do anoth

[2015-12-04 23:46] valianttry commented on #810
I'm wondering if this ticket time is better spent updating our "general" mozilla template as seen in https://github.com/mozilla/donate.mozilla.org/issues/810#issuecomment-157452467. I know the "teach" email template got a nice update... since this is the first email of the new year, it might be time for a fresh start?

[2015-12-04 23:47] edrushka commented on #810
Ohh that could be a good idea. @cassiemc care to weigh in?

[2015-12-04 23:56] edrushka opened #1062 "Design a snippet Thank You message for 4 locales"
Jean is interested in putting the Thank You video on the snippet in January. Because it's in English only, we'll need some localized alternatives for our other main locales (FR, DE, PTBR, ES).

Visually, this should be a pretty standard snippet. It can be Dapper Fox branded, but it's not supposed to be disruptive. For example, it could be a static or gently animated Dapper Fox icon with the standa

[2015-12-04 23:57] potch commented on #1037
Just updated the existing TV totalizer here: http://moz-funds.herokuapp.com/

[2015-12-05 00:10] valianttry commented on #1037
omg @potch that's perfection! :)

How do we disseminate that this exists to the monitor monitors? E.g. how do we "make it so" :rocket:

[2015-12-05 00:18] potch commented on #1037
@valianttry done! https://github.com/mozilla/moz-corsica/commit/359d9827466d65b21cf1b4ad31dd1324381d6920 Was just waiting for sign-off :)

[2015-12-05 04:01] alicoding commented on #1054
pull request is up here https://github.com/mozilla/eoy-fundraising/pull/21

[2015-12-05 04:26] alicoding commented on #1054
https://github.com/mozilla/eoy-fundraising/pull/21 merged on the repo. Next up will wait for @jbuck to help push this up on the box.

[2015-12-06 07:24] valianttry opened #1067 "Should we replace MMYY with Expiration Date?"
Got an email from someone in NZ who said they were confused by our form because they didn't know what "mmyy" meant. I looked at Wikipedia's form, and it says "expiration date" with drop downs. I don't know that we need to do a wholesale redesign, but this is something we should consider changing (or testing?) so that field is more localization-friendly:

![make_your_donation_now_-_payments](https:

[2015-12-06 12:49] alicoding commented on #1067
In term of localization and technical side its actually easy to change to drop down and k agree with the user here that 'mmyy' is not obvious what we are asking unless they have used the same kind of forms before.

Maybe we should test to see if this could bring down the conversion rate and if not we should totally switch to it.

[2015-12-06 21:54] valianttry commented on #801
@adamlofting I have updated the email, here:
https://docs.google.com/document/d/1Nrk0f2Z64Qa0e-VlBMhVy5mdvXFoMCYIiZUD9T08hg0/edit#

I would love for @edrushka  and Stephanie to take a look before you implement this in Desk.com.

[2015-12-07 06:31] valianttry commented on #560
Just pasting a new Wikipedia banner here. I just noticed it while I was looking something up on their site:

![maroon_shining_parrot_-_wikipedia__the_free_encyclopedia](https://cloud.githubusercontent.com/assets/9830371/11620499/6d30ad28-9c68-11e5-86db-9dbe99117b66.png)

What's interesting to me:
* Reverse copy is also something we've tested and worked well
* The phrase "Only a tiny portion of rea

[2015-12-07 13:39] edrushka commented on #560
@valianttry copy for Spectacular Snippet is here: https://github.com/mozilla/donate.mozilla.org/issues/636  If you want to make changes, please do it in the doc and inform @natalieworth Thanks.

[2015-12-07 17:37] adamlofting commented on #1067
Are we still managing the expiration date, or is this in Stripe checkout now?

This would be a nice test, but I don't think we're managing this now.

[2015-12-07 17:49] adamlofting commented on #648
:smile: :+1:

[2015-12-07 18:25] jbuck commented on #1043
Okay, I've added the subscription according to Stripe support directions. Pretty easy!

@valianttry do you want to email the customer, or do you want me to?

[2015-12-07 18:26] jbuck commented on #1067
Gooooood point.

[2015-12-07 18:26] #1067 closed

[2015-12-07 18:33] jbuck commented on #1043
@valianttry also I set a trial period so they'll be billed starting on the 3rd of January

[2015-12-07 20:31] natalieworth commented on #560
Hi @valianttry @edrushka @cassiemc , working on revising the previous snippets but have the dapper fox and heart versions (excluding the photograph one) up on redpen: https://redpen.io/p/aq98e22f312df2c903 Main changes include:
* desaturating the orange/ brightness of the backgrounds
* Maintaining the search UI and Firefox logo in normal positions
* I also eliminated the majority of the red (I fel

[2015-12-07 23:13] edrushka commented on #560
These are super @natalieworth! Cassie, Andrea please let me know if we need to eliminate any before we share this with Moco. Also, Andrea - are you good with this copy? Best to get as close as possible before we share with Moco.

[2015-12-08 14:27] ScottDowne commented on #984
@jbuck there was some paypal downtime yesterday, looks to be concentrated from 4am to 6am, some exceptions, but no incidents in pagerduty.

[2015-12-08 14:30] alicoding commented on #984
Also nothing reported on PayPal's alert dashboard

[2015-12-08 20:23] kyoshino opened #1073 "donate.m.o returns blank page on Firefox for tablet"
https://donate.mozilla.org/ should be redirected to https://donate.mozilla.org/en-CA/ (or any other locale) but it just shows a blank page on the tablet version of Firefox. Tested with the Release, Beta, Aurora and Nightly builds. My tablet is Nexus 9, and the Firefox user agent string is:

[code]

Found in Mozlando.

[2015-12-08 21:45] kyoshino opened #1076 "Revisit the privacy policy checkbox copy"
I have reported the same issue on Bedrock before ([Bug 937986](https://bugzilla.mozilla.org/show_bug.cgi?id=937986), https://github.com/mozilla/bedrock/pull/1448). The current copy on the privacy policy checkbox reads "I’m okay with **you** handling this info as **you** explain in your privacy policy", while the error message reads "To submit this form **you** must agree with our privacy policy".

[2015-12-08 21:48] kyoshino commented on #1076
How are we handling l10n here?

[2015-12-08 21:59] TylerDowner commented on #746
Sorry for the delay, you now have an account.

[2015-12-08 22:20] jbuck commented on #1076
We'd need to update https://github.com/mozilla/donate.mozilla.org/blob/e2ebb60a97998bb79a3dc55b2e58730d3deaa060/locales/en-US/messages.properties#L33

[2015-12-08 22:21] kyoshino commented on #1076
Yeah, I'll send a PR.

[2015-12-08 22:21] jbuck commented on #1073
@kyoshino is it easy to see any error messages that might be on the web console? I don't have an android tablet with me at Mozlando

[2015-12-08 22:23] jbuck commented on #1076
Actually, weird I wonder why we have two copies of the Privacy Policy
language:
https://github.com/mozilla/donate.mozilla.org/blob/e2ebb60a97998bb79a3dc55b2e58730d3deaa060/locales/en-US/messages.properties#L40

On Tue, Dec 8, 2015 at 5:21 PM, Kohei Yoshino <notifications@github.com>
wrote:

[2015-12-08 22:25] kyoshino commented on #1076
Looks like `i_am_okay_with` is no longer used. Will remove it.

[2015-12-08 22:29] kyoshino commented on #1073
Will debug with the console tonight.

[2015-12-08 22:31] jbuck commented on #1073
@kyoshino thank you so much! Hopefully it'll be an easy fix...

[2015-12-09 03:09] alicoding commented on #1073
I'll also try to debug using Android studio once I get to the hotel

On Tue, Dec 8, 2015, 10:04 PM Ali Al Dallal <ali@alicoding.com> wrote:

[2015-12-09 03:49] kyoshino commented on #1073
The console says "Intl is not defined". So Firefox for Android has not implemented [`Intl`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl) yet ([Bug 1215247](https://bugzilla.mozilla.org/show_bug.cgi?id=1215247)).

/en-US/ (or /en-CA/ or whatever) raises the same error, and the amount buttons have no label.

[2015-12-09 03:54] alicoding commented on #1073
That's weird because we have polyfill `Intl` for Firefox browers. I will have to investigate further here to see what's going on. Hopefully we can land that server side locale soon to fix most of these redirect issues.

[2015-12-09 04:00] kyoshino commented on #1073
I cannot reproduce the issue on Firefox on my Nexus 5X phone. So I guess the polyfill is only offered to mobile, and not to desktop and tablet.

[2015-12-09 04:08] alicoding commented on #1073
I'm pretty sure it does on Desktop since I've tested this evening, but tablet I need to debug this.

[2015-12-09 13:15] #1076 closed

[2015-12-09 13:48] alicoding commented on #1073
I don't have Nexus 9 to test this, but I think I know that our Polyfill service only works for Desktop and Mobile. I really want to get the actual device to test because setting user-agent doesn't seem to trigger the issue here.

[2015-12-09 14:10] kyoshino commented on #1073
I can lend you my Nexus 9. Which room are you in?

[2015-12-09 14:40] alicoding commented on #1073
I actually have meetings in the morning, but maybe in the afternoon?

On Wed, Dec 9, 2015, 9:10 AM Kohei Yoshino <notifications@github.com> wrote:

[2015-12-09 14:42] kyoshino commented on #1073
:+1:

[2015-12-09 15:13] edrushka commented on #646
Update on send dates (note, there will only be 5 now)

Appeal 1: Dec 10 or 11
Appeal 2: Dec 15
Appeal 3: Dec 23
Appeal 4: Dec 28
Appeal 5: Dec 30

[2015-12-09 15:17] alicoding commented on #1073
Just filed a bug here https://github.com/Financial-Times/polyfill-service/issues/540

[2015-12-09 15:26] jbuck opened #1078 "Paypal exceptions on Dec 7"
We received 19 Paypal exceptions on Dec 7. This issue will track these errors.

[2015-12-09 15:27] adamlofting commented on #352
This test is live: :hatching_chick:
http://app.optimizely.com/l/1Jsdu3?token=44448b762d67a36a974a#view=2

<img width="764" alt="screenshot 2015-12-09 10 24 38" src="https://cloud.githubusercontent.com/assets/1901816/11689280/38c9080c-9e5f-11e5-86c9-e9e7615bdc41.png">
<img width="668" alt="screenshot 2015-12-09 10 25 16" src="https://cloud.githubusercontent.com/assets/1901816/11689281/38cd6258-9e5f

[2015-12-09 15:37] adamlofting opened #1079 "Test reduced address fields for Stripe checkout form"
This is the testing ticket.

We'll file a build ticket next.

[2015-12-09 15:38] adamlofting opened #1080 "Build version of form with reduced fields in Stripe Checkout"
Test ticket is #1079

[2015-12-10 01:42] valianttry opened #1082 "Add general Mozilla contact number to our Coinbase profile"
I forgot my login @jbuck . Can you help?

Email from Rachel, our rep:

A general number would be great. And as it turns out, I am unable to add on behalf of Mozilla. Do you have access to Mozilla's Coinbase account? If you can update there in your merchant profile, when you get back from your retreat, that would be great!

[2015-12-10 08:02] natalieworth commented on #560
Thanks for the feedback from the fundraising meeting @valianttry @edrushka. I was able to update the Redpen with the final snippets based on the feedback: https://redpen.io/p/kgb47de90492f74e6b I've added the 'x' dismissal too, I wasn't able to find the one from last year (if there was the option to dismiss the message?) so let me know if this one works. If everything's all good, I can put the .ai

[2015-12-10 13:19] edrushka commented on #560
Super!!!  @valianttry please let me know if you have any changes before I share these with Jean for her team's feedback.

@natalieworth let's hold on off exporting the .AI files until we hear back from Jean. She may have some required changes.

[2015-12-10 14:06] alicoding commented on #739
I added a `<meta>` tag to redirect the traffic as a quick workaround and it is now being redirect to donate.mozilla.org.

[2015-12-10 14:27] adamlofting commented on #739
:ghost:

[2015-12-10 15:27] adamlofting opened #1083 "Double check Paypal monthly donation flow"
Following feedback from @bniolet1 I ran through the monthly Paypal flow this morning and see the same issues.

What did happen:
* Paypal checkout flow was for the correct amount, and setup for 'pre-approved payment' mode
* The checkout completed and I ended up on the thank you page with the paypal transaction success parameters in the URL `?frequency=monthly&tx=K6GWWCLX57LQE14497599137.84&amt=2.00

[2015-12-10 15:49] adamlofting commented on #1083
Something from the Paypal docs that might be relevant:

<img width="1009" alt="screenshot 2015-12-10 10 48 24" src="https://cloud.githubusercontent.com/assets/1901816/11720058/9e818472-9f2b-11e5-91b7-59f3a51beb5c.png">
https://developer.paypal.com/docs/classic/api/merchant/CreateRecurringPaymentsProfile_API_Operation_NVP/

[2015-12-10 16:55] natalieworth commented on #560
Sounds good!

On Thu, Dec 10, 2015 at 5:19 AM, Erika Drushka <notifications@github.com>
wrote:

--
Graphic Design Intern, Vancouver
natalie@mozillafoundation.org

[2015-12-10 17:19] jbuck commented on #1083
[code]

[2015-12-10 17:21] jbuck commented on #1083
Fixed in https://github.com/mozilla/donate.mozilla.org/pull/1084

[2015-12-10 17:53] adamlofting commented on #1083
Testing since the fix, this showed up as a `Purchase`, but not a `Pre Approved Payment` in my activity feed - can we check that's expected?

<img width="939" alt="screenshot 2015-12-10 12 51 29" src="https://cloud.githubusercontent.com/assets/1901816/11723504/c1446590-9f3c-11e5-951b-bb212ccb984d.png">

`?frequency=monthly&tx=K6GWWCLX57LQE14497695635.68&amt=2.00&cc=GBP`

And it does not appear in m

[2015-12-10 18:12] bniolet1 commented on #1083
So when this is fixed, can we retroactively grab payments? Or would users like me need to re-donate?

[2015-12-10 20:11] valianttry opened #1086 "Quality Assurance for EOY Fundraising Appeal #1"
Check the text sizes for the salutation and "That’s why we need your support." The copy appears to be a smaller size text than the rest of the message in at least one variant:

![fwd___test_send__test_send__this_is_it_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11727136/23b74702-9f50-11e5-9f25-c02e87c2cbf5.png)

![fwd___test_send__test_send__th

[2015-12-10 20:15] valianttry commented on #1086
Andrea checked and found the following to be correct:
* Landing page and presets
* Tracking code: (https://donate.mozilla.org/en-US/?presets=25,15,10,5&amount=15&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=newsletter-mofo&utm_medium=email&utm_content=Appeal1_20151209)
*

[2015-12-10 20:15] valianttry commented on #1086
Use an emdash instead of double dashes:
![fwd___test_send__test_send__this_is_it_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11727259/dd596596-9f50-11e5-9999-fb4658d58777.png)

[2015-12-10 20:17] valianttry commented on #1086
Add a line break between my name "Andrea" and my full name and title

[2015-12-10 20:24] valianttry commented on #1086
NON-DONOR VERSION ONLY:
This sentence needs to be bolded: "Click here right now to make a secure online gift to Mozilla before our campaign ends December 31st."

[2015-12-10 20:31] valianttry commented on #1086
Let's use tracking codes that indicate the variants, (adding Appeal1_nondonor_20151209 for instance). e.g. instead of:
https://donate.mozilla.org/en-US/?presets=25,15,10,5&amount=15&ref=EOYFR2015&utm_campaign=EOYFR2015&utm_source=newsletter-mofo&utm_medium=email&utm_content=Appeal1_20151209

We would use:
https://donate.mozilla.org/en-US/?presets=25,15,10,5&amount=15&ref=EOYFR2015&utm_campaign=EOY

[2015-12-10 20:50] valianttry opened #1088 "Email individual donors whose monthly donation failed + ask them to re-initiate"
About 1,000 monthly donors believe they donated via PayPal between Nov 1 and December 10, but in fact their transaction was never completed, and the record of their donation is gone. Monthly donors who used a credit card via Stripe were processed normally. We do, however, have the email address of the supporters who made a failed donation. These donors are highly valued and qualified people.

**Ac

[2015-12-10 21:18] cadecairos opened #1089 "sendto.mozilla.org redirects very slowly"
Should we remove the existing HTML there and replace it with a message about a redirect?

[2015-12-10 21:26] valianttry opened #1090 "We are downgrading monthly donors auto-magically :("
My amount and the highlighted button location changes when I select an amount, then click monthly. Like this:
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11728937/9c92b1ac-9f5a-11e5-987f-67e2325faa53.png)

Then I click "monthly" and I see this:
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11728

[2015-12-10 21:52] valianttry commented on #1090
@adamlofting

[2015-12-10 22:30] adamlofting commented on #1090
This is the flipside of this earlier thread about moving the selected button: #672

I think we're actually best to work on the test ideas for moving the frequency ask to the top #1033 so that people are making that decision first, and less likely to miss a change in amount.

[2015-12-10 22:32] valianttry commented on #1090
+1, I think this is a pretty high priority given we're downgrading valuable donors -- i'll leave the test triaging to you tho @adamlofting

[2015-12-10 22:32] adamlofting commented on #1089
I'm fine with that. We need to keep the URL 'active' in BSD to keep the recurring donations happening but that doesn't mean we need a form on the front-end.

And we certainly don't want people signing up for recurring donations on the old form.

[2015-12-10 22:45] jbuck commented on #1083
This has been properly fixed now.

@bniolet1 Yes, donors will need to redo the payment process since payment tokens are only valid for 3 hours. We're going to follow up with attempted monthly donors in #1088

[2015-12-10 22:45] #1083 closed

[2015-12-10 22:48] valianttry commented on #1083
@bniolet1 this is the related bu: https://github.com/mozilla/donate.mozilla.org/issues/1088 :cry:

[2015-12-10 22:50] valianttry commented on #1088
NOTE: I updated Mark Surman on the loss and the fix. He also offered to sign these emails if we want. Worth considering.

[2015-12-10 22:55] valianttry commented on #560
I just saw a new variant on Wikipedia. Note how the arrow now points AT the 'Phrase that pays'. Can we add a variant of the "arrow" version that does this @natalieworth ? :
![peccary_-_wikipedia__the_free_encyclopedia](https://cloud.githubusercontent.com/assets/9830371/11731107/1ad81ac8-9f67-11e5-9389-a5525ccc241f.png)

[2015-12-10 23:31] natalieworth commented on #560
Hi @valianttry @edrushka I've added 3 more versions with the arrow pointing to the '$3 phrase'. Let me know if they work, or we could try something else too. Thanks! :) https://redpen.io/p/kgb47de90492f74e6b

[2015-12-11 00:17] valianttry commented on #560
@natalieworth :tada: :cake: :boom: :clap: :smiley_cat:

[2015-12-11 02:12] valianttry commented on #352
cc @bniolet1

[2015-12-11 20:25] ScottDowne commented on #1090
@adamlofting

I agree with moving it up, and we can test it, but it'll take time.

While we wait for that test, are we considering reverting https://github.com/mozilla/donate.mozilla.org/issues/672

Or keeping this as is? My 2 cents are we revert it, then test moving it to the top.

[2015-12-11 20:51] edrushka commented on #560
Yay! Jean and the snippet team have approved 3 designs for us to build! I'm going to create a separate ticket to design final comps for scott to build. Closing this. Thanks everyone for your hard work and creativity!

[2015-12-11 20:51] #560 closed

[2015-12-11 21:04] edrushka opened #1096 "Finalize design comps for Spectacular Snippet"
We have 3 designs approved by the fundraising team and the snippet team that we've got the green light to build. @lovegushwa and @natalieworth - can you please create detailed design comps for @ScottDowne to build. (Jordan, you've been great at this so far, so please work your magic!)

The final designs are 4, 6 and 7 from this set: https://redpen.io/p/kgb47de90492f74e6b

For design 6 *only* we ne

[2015-12-11 21:48] natalieworth commented on #1096
Awesome! I'll get started on these @edrushka and connect with @lovegushwa when everyone's back from Mozlando! :)

[2015-12-12 00:29] jbuck opened #1098 "Allow changing newsletter type in HTML"
@kyoshino filed in this #1087 but the newsletter parameter was not getting sent to the server correctly:

[code]

[2015-12-12 04:11] kyoshino commented on #1098
Will take a look tomorrow morning.

[2015-12-12 22:27] adamlofting commented on #1088
For the first task, this will need @jbuck to get the emails for the failed transactions from the logs

[2015-12-13 05:55] jbuck opened #1099 "Paged for 5xx error rates > 1% 2015-12-13T03:26:00"

[2015-12-13 06:02] jbuck opened #1100 "Paged for 4xx error rates > 25% 2015-12-13T03:53:00"

[2015-12-13 06:04] jbuck commented on #1099
I see one 500 error in the heroku metrics

[2015-12-13 06:08] jbuck commented on #1099
I think this might be a Hapi bug. I see a lots of requests like:

[code]

[2015-12-13 06:11] jbuck commented on #1099
https://logentries.com/app/08cedfce#/log/7dd843ae-5b0d-3963-b7aa-07473ab07241/?log_q=&f=1449977035000&t=1449977280000

[2015-12-13 06:12] jbuck commented on #1099
I think I'll try to get down the exact path used by this scrub and file an upstream bug with Hapi, since it shouldn't be throwing an error here.

[2015-12-13 06:13] alicoding commented on #1099
My understanding based on the context of the issue here is that this is not someone trying to donate and failed but looks like someone found a bug on Hapi and trying to crash the server or something?

[2015-12-13 06:19] jbuck commented on #1099
@alicoding Yeah, that sounds reasonable

[2015-12-13 22:21] jbuck commented on #1088
Unfortunately, I do not have access to the donors emails, only the PayerID
:/

On Sat, Dec 12, 2015 at 5:27 PM, Adam Lofting <notifications@github.com>
wrote:

[2015-12-14 11:48] alicoding opened #1101 "Uncaught error: Cannot read property 'zeroDecimal' of undefined"
[code]

There are 6 of them in logentries.

[2015-12-14 13:48] alicoding commented on #1101
[code]

[2015-12-14 15:47] jbuck commented on #1101
@alicoding Is this the error messages that you got paged for this morning?

[2015-12-14 15:55] ScottDowne commented on #1101
Look at those logs, I also saw a few minutes later 400-ish stripe requests in 5 or so minutes:
![stripe-wtf](https://cloud.githubusercontent.com/assets/197334/11785734/2b548336-a251-11e5-946f-383c0e5b6625.png)

Someone hitting up our endpoint directly? If they did that with undefined currency, they would receive the error @alicoding is seeing.

[2015-12-14 16:02] cassiemc commented on #810
wfm @edrushka

[2015-12-14 16:02] alicoding commented on #1101
@jbuck I didn't get page for these errors actually.

[2015-12-14 16:13] cassiemc commented on #1062
This seems very straightforward. Just an icon of dapper fox, and @edrushka said – with possible gentle animation to it, depending on other deadlines. Nothing special needed for the rest of the page design imo. cc @natalieworth

[2015-12-14 16:20] ScottDowne commented on #1089
I noticed it is now impossible to cancel previous recurring donations.

If I go here:  https://sendto.mozilla.org/page/recurring/view/ I get redirected instantly to the new form.

[2015-12-14 16:25] ScottDowne commented on #1089
Also let me know when this is fixed because I have a recurring donation I was using to test deactivating pages, that I cannot cancel...

[2015-12-14 16:49] jbuck commented on #1101
This was someone sending a currency that we don't support. We'll fix this by testing for valid currencies in the route validation.

[2015-12-14 17:03] valianttry commented on #1089
@ScottDowne you can log into BSD as an admin and cancel it.

[2015-12-14 17:15] edrushka commented on #572
Moving this to bluesky. We won't have time to finish before the holidays.

[2015-12-14 17:17] edrushka commented on #810
OK. I'm going to close this and file a new ticket for an updated "general" template. @cassiemc can you and @natalieworth figure out a good way to preserve the work Natalie did on the "lovely" template in case we want to use it in 2016 e.g. for advocacy? I don't want it to get lost in the bowels of github ;)

[2015-12-14 17:17] #810 closed

[2015-12-14 17:18] cadecairos opened #1104 "On slow connection ~250 kb/s (2G) Stripe checkout can be opened multiple times"
Stripe checkout appears to have a slight loading delay and on slow connections, you can mash the Credit/debit card button to open multiple modal dialogs.

I can see this confusing impatient donors who aren't expecting multiple dialogs.

We should disable the click action until the stripe checkout model closes (i.e. flow is cancelled)

[2015-12-14 17:18] edrushka commented on #1039
@alicoding any updates?

[2015-12-14 17:43] natalieworth commented on #810
Thanks @edrushka, I can post a link here of the source files for the previous template that we could hopefully use in future

[2015-12-14 17:50] jbuck commented on #1043
@valianttry have you emailed this donor yet? Would you like me to email them?

[2015-12-14 17:55] valianttry commented on #1043
I'll email her now!

[2015-12-14 17:55] alicoding commented on #1039
Sorry, I'm working on it right now and will update here once I have a PR up.

[2015-12-14 17:56] valianttry commented on #1043
Done!

[2015-12-14 17:57] valianttry commented on #746
@adamlofting do you think you'll have some time to set up this survey for a segment of donors?

[2015-12-14 18:00] natalieworth commented on #1096
@edrushka @valianttry @lovegushwa @cassiemc I've got the final files for the 3 approved snippets here: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0aldmeWJoNWZ4LVE/view
I can also do an animation mockup for the dapper fox animated version too.

[2015-12-14 18:13] jbuck opened #1105 "Setup automatic dispute resolution for Stripe"
Using the API we can automatically resolve disputes.

[2015-12-14 18:19] jbuck commented on #1043
:tada:

[2015-12-14 18:19] #1043 closed

[2015-12-14 18:42] lovegushwa commented on #702
Hey @edrushka @valianttry can we close this ticket?

[2015-12-14 18:44] edrushka commented on #702
I think so. The first email goes out today and I haven't heard anything from @stephaniemcv or Jess. I'll reopen this if they need something.

[2015-12-14 18:44] #702 closed

[2015-12-14 19:27] valianttry opened #1106 "Build and test a short survey for donors"
I figured we should create a bug for implementation.

The final copy is linked here:
https://github.com/mozilla/donate.mozilla.org/issues/746

@TylerDowner set up a SurveyGizmo account. @adamlofting suggested we create a simple popup survey.

@adamlofting feel free to edit labels or Milestone; etc!

[2015-12-14 19:28] #746 closed

[2015-12-14 20:35] cassiemc commented on #1096
Beautiful @natalieworth, very nice work incorporating the feedback and still offering three fantastic high-quality options! :boom:

[2015-12-14 20:54] cadecairos commented on #818
@jbuck do you have any idea how to get this error?

[2015-12-14 20:59] natalieworth commented on #995
Updates on the final logo are on Redpen:
01. Mockup: https://redpen.io/sp053bf5dcccac802b
02. Logo: https://redpen.io/fc43ff3b06ee1dd001
I removed the shadows around the 'Mozilla' logo, but have left the shadow around the blue background to fit in with the UI and button Stripe examples. If it's good to go I can link to final .ai file
cc @cassiemc @edrushka @valianttry

[2015-12-14 21:02] edrushka opened #1108 "Update standard Mozilla email template"
Our initial work on the January Thank You Email #810 led us to the decision that we should update our standard/general email template. This will be used for a variety of emails throughout 2016 including:
- January thank you email
- Advocacy emails
- Fundraising emails

This template should be fairly simple. It should be Mozilla branded. It should be able to feature a call out graphic, or not, as n

[2015-12-14 21:08] edrushka commented on #1096
Sounds like @flukeout has already animated Dapper Fox for a different project. Anything we can look at Luke?

[2015-12-14 21:10] edrushka commented on #1062
@valianttry @KevZawacki can you please finalize this copy? Thanks!

[2015-12-14 21:18] edrushka commented on #973
Holding on this until we hear from @adamlofting if we'll run this test before Dec 31.

[2015-12-14 21:29] edrushka commented on #1039
Changing this to a P1 to ensure the designers have time to add the localized strings to the designs and export the files. cc @lovegushwa @natalieworth

[2015-12-14 21:31] KevZawacki commented on #1062
@edrushka Simple seems best for a thank you. I like your suggestion: "From all of us at Mozilla, thank you to our donors."

A couple others, if we need variation:

To our donors around the world: thank you for supporting a better Internet!

Thank you to our donors — your support helps build a better Internet!

[2015-12-14 21:36] cassiemc commented on #995
Looks good, R+!

[2015-12-14 21:49] natalieworth commented on #995
@edrushka @jbuck Final files for the logo are here: https://docs.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0SGdhOVNZdjBqcW8&usp=drive_web Thanks and let me know if there is anything else I can export for this logo! :)

[2015-12-14 21:53] edrushka commented on #952
Design is done in #995. Re-assigning to @jbuck to implement.

[2015-12-14 22:05] jbuck commented on #818
@cadecairos I saw it on production myself

[2015-12-14 22:45] #1101 closed

[2015-12-14 22:45] cassiemc commented on #1096
@edrushka – @flukeout mocked up an animated fox for a design team tutorial. Not sure it is production ready, but @flukeout should be available to work with @ScottDowne on whatever needs doing.

[2015-12-14 22:46] ScottDowne commented on #632
This is covered in other tickets now.

[2015-12-14 22:46] #632 closed

[2015-12-14 22:47] alicoding commented on #1039
This is now up on Pontoon and you can see them on staging as well https://donate.mofostaging.net/directory-tiles/

[2015-12-14 23:03] edrushka commented on #1039
Yay! Did you sent an email to the L10N list?

[2015-12-14 23:17] alicoding commented on #1039
Yup :)

On Mon, Dec 14, 2015, 6:03 PM Erika Drushka <notifications@github.com>
wrote:

[2015-12-14 23:21] flukeout commented on #1096
I have a project here that can serve as a template for creating an animation here:
https://d157rqmxrxj6ey.cloudfront.net/flukeout/16745/

@ScottDowne - happy to help you implement the animation.
@natalieworth - we can design the animation together in CSS if you'd like.

[2015-12-14 23:35] yfdyh000 opened #1114 "A watermark to test transaction receipt?"
I tried a test transaction on staging site (https://donate.mofostaging.net/) with test mode (https://stripe.com/docs/testing#cards).
I has received email from "The Mozilla Team" donate@mozilla.org via amazonses.com.
I guess it's no different with the real receipts, except for the user fill in information.

I thought maybe it requires a special watermark for test transaction receipt, if it has lega

[2015-12-14 23:50] ScottDowne commented on #818
@cadecairos I just ran it, and saw it too.

[2015-12-15 00:10] ScottDowne commented on #1080
Just a heads up, with stripe checkout, there is no way to remove address and keep the name field that I can see in the docs.

https://stripe.com/docs/checkout#integration-custom

We can turn on zip code without address, and we should.

[2015-12-15 00:20] natalieworth commented on #1096
@flukeout That would be great! We may have to adjust based on the most recent design. I've got the .ai file here for the version we are hoping to animate with the hat tip: https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0TlN6cVphNkRNaVU/view I've separated the arm, fox, and hat onto separate layers.

[2015-12-15 00:21] valianttry commented on #1080
yes, zip code without address. Make it so! :rocket:

[2015-12-15 00:26] ScottDowne commented on #1080
@valianttry you only commented on the zip bit, but didn't say anything about name field also going away.

Does that mean you're fine with name being removed as part of address? We don't have a choice in the matter, but I am just making sure it's not a surprise.

[2015-12-15 00:29] valianttry commented on #1080
It is perfectly fine by me. When someone opts in to our email list right now, they do not provide their name anyway (only email address). That means we can't personalize emails, e.g. "Dear Katie,"

So name is of no use to us at the moment. I would feel better if @adamlofting agreed with me :+1:

[2015-12-15 00:31] ScottDowne commented on #1080
@valianttry OK perfect.

[2015-12-15 00:33] ScottDowne commented on #1080
It's cool, stripe checkout doesn't show the zip field until they have entered a few other fields.

It's like "surprise, you have to type more :D".

[2015-12-15 00:34] valianttry commented on #1080
We should just be sure to watch our fraud velocity on this form variant to make sure we don't get a spike, or at least one so big it becomes a drag.

[2015-12-15 00:38] ScottDowne commented on #1080
We might be able to look in Stripe to see how many have failed because of address fields and fraud to get an idea.

[2015-12-15 00:39] ScottDowne commented on #1080
But should still keep an eye open, because once a fraudster see the hole, they might target it, vs now which they would give up.

[2015-12-15 00:49] ScottDowne commented on #1080
Wasn't too hard: https://github.com/mozilla/donate.mozilla.org/pull/1115

Should be ready way before the current test finishes :D

[2015-12-15 02:37] valianttry commented on #646
Draft for appeal #2 is now in the doc:
https://docs.google.com/document/d/18eaF4c0eFR-5kyMGNIAQXRhCTIzprDWooWuoXYfRQO0/edit#

@KevZawacki  and @edrushka  -- do you both want to take a first critical read?

[2015-12-15 14:24] adamlofting commented on #973
I think we can make this a P2 as there are plenty of other bigger tests lined up, and we're getting through the month quite quickly now.

[2015-12-15 14:26] adamlofting commented on #1106
I'll work on this asap.

[2015-12-15 14:27] adamlofting commented on #746
:+1:

[2015-12-15 16:17] edrushka commented on #973
Thanks Adam. I'm actually going to Bluesky this for now. We can put in the Dec 23rd milestone if we have some extra time next week (ha!)

[2015-12-15 16:29] jbuck commented on #1080
@valianttry should I remove the "Dear {name}" customization from the email we send out?

[2015-12-15 16:29] ScottDowne commented on #1114
I thought staging was using real credentials, and thus, the test cards from stripe shouldn't work.

[2015-12-15 16:31] ScottDowne commented on #1114
Nope, I am wrong staging uses test credentials.

[2015-12-15 16:31] ScottDowne commented on #1114
Sorry, not sure what the issue is here.

[2015-12-15 16:38] jbuck commented on #1114
@ScottDowne it looks like a legitimate receipt from the Mozilla Foundation, so someone could theoretically try to get a tax refund based on our staging site.

[2015-12-15 17:11] jbuck commented on #995
:tada:

[2015-12-15 17:11] #995 closed

[2015-12-15 17:31] jbuck commented on #1114
@yfdyh000 We had a quick discussion about this on our stand up and we're going to remove the contribution footer when it's a testmode email. Thanks for filing this!

[2015-12-15 17:37] valianttry commented on #1088
@KevZawacki is going to do an initial draft.

[2015-12-15 17:41] valianttry commented on #1026
@KevZawacki is going to take an initial stab at a draft.

[2015-12-15 17:44] edrushka opened #1116 "Write long version of Spectacular Snippet copy"
Write long version snippet copy for each of these designs:
4 - [Red arrow version] (https://redpen.io/ma5f219d1fa1aa3926)
6 - [Dapper Fox on grey background, static and animated] (https://redpen.io/yt9feda34655c5b827)
7 - [Dapper Fox on orange heart background] (https://redpen.io/szb8d4d153b51acc89)

Need to get Jean's signoff as she has only ok'd text in Redpens. When that's done, please put in t

[2015-12-15 17:50] adamlofting commented on #1088
Based on @jbuck's note,  I don't think we're able to email these people :cry:

[2015-12-15 18:08] valianttry commented on #1080
Let's just use "Hello," as our salutation.

[2015-12-15 18:13] jbuck commented on #1080
@valianttry only downside to using that string is that it'd require translation, and while it was being translated users would be presented with the english string

[2015-12-15 18:27] KevZawacki commented on #1088
@valianttry Any other way to get in touch?

I have a first draft [here](https://docs.google.com/document/d/1Vr0lAPXDW-xrrfOuqrRmilNY-TM7loAN7x52MlHUUPM/edit) -- but will hold off on looping in Scott until we determine if these folks are reachable.

[2015-12-15 18:39] valianttry commented on #1080
We can omit a salutation altogether for expediency.

[2015-12-15 18:40] ScottDowne opened #1117 "Add success test for api/paypal with currency"
https://github.com/mozilla/donate.mozilla.org/pull/1113

We landed and there was one small other unit test we could create. More details in the pull request above.

[2015-12-15 18:41] jbuck commented on #1080
okay, solid

[2015-12-15 18:56] jbuck commented on #1114
I have a PR in https://github.com/mozilla/webmaker-mailroom/pull/50

[2015-12-15 18:56] jbuck commented on #952
docs are in https://stripe.com/docs/checkout#integration-custom

[2015-12-15 19:26] lovegushwa commented on #1096
@ScottDowne Build this version first:

 ![spectacular-snippet-annotation-01](https://cloud.githubusercontent.com/assets/12228435/11821452/75ba43fc-a31e-11e5-9cca-a72e6166ce39.jpg)

![spectacular-snippet-horizontal-01](https://cloud.githubusercontent.com/assets/12228435/11821483/9b04cbfa-a31e-11e5-9255-ce2ed29bf478.jpg)

![spectacular-snippet-vertical-01](https://cloud.githubusercontent.com/assets/

[2015-12-15 19:29] lovegushwa commented on #1096
@ScottDowne build these versions second (static fox, animated fox)

![spectacular-snippet-annotation-02](https://cloud.githubusercontent.com/assets/12228435/11821543/eca9994a-a31e-11e5-8511-6a6b0b455a55.jpg)

![spectacular-snippet-horizontal-02](https://cloud.githubusercontent.com/assets/12228435/11821544/f4953d6c-a31e-11e5-95bb-c2bff4c502fa.jpg)

![spectacular-snippet-vertical-02](https://cloud.g

[2015-12-15 19:30] lovegushwa commented on #1096
@ScottDowne Build this version third:

![spectacular-snippet-annotation-03](https://cloud.githubusercontent.com/assets/12228435/11821591/2ff8cb3a-a31f-11e5-8112-d9d230c3271b.jpg)

![spectacular-snippet-horizontal-03](https://cloud.githubusercontent.com/assets/12228435/11821598/34b9daec-a31f-11e5-88ff-82788b3169fa.jpg)

![spectacular-snippet-vertical-03](https://cloud.githubusercontent.com/assets/1

[2015-12-15 19:58] edrushka commented on #801
Made a few minor suggestions. Looks good!

[2015-12-15 20:11] jbuck commented on #952
PR up in https://github.com/mozilla/donate.mozilla.org/pull/1119

[2015-12-15 20:15] edrushka opened #1120 "Confirm donors are being excluded from appeal emails"
It seems like some monthly donors received the first appeal email (myself, Sean Rich) and others didn't @bniolet1

Can we confirm we're excluding monthly donors and one-time donors who sent their gift after Nov. 1?

Marking this as a P1 since we need to be sure before we send the second appeal (since we promised not to email people if they donate!)

cc @stephaniemcv @valianttry @adamlofting

[2015-12-15 20:27] jbuck commented on #1120
@adamlofting We definitely have a bug with monthly Stripe donors, we're not recording the email address...

[2015-12-15 20:35] jbuck commented on #1114
And using the updated email in https://github.com/mozilla/sawmill/pull/66

[2015-12-15 21:14] cassiemc commented on #1096
Nice annotations @lovegushwa! (and @ScottDowne if you see ways to make the annotation process better, let us know)

[2015-12-15 22:33] KevZawacki commented on #801
@valianttry Just proofed, as well. Looks good!

[2015-12-15 22:44] lovegushwa commented on #1096
@ScottDowne @edrushka @valianttry  the spectacular snippets are ready to build.
I'm converting this ticket to a build ticket.

SVG assets:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvNWlBWi05dzJHeEU&usp=sharing

CSS animation code to steal from @flukeout
https://d157rqmxrxj6ey.cloudfront.net/flukeout/16745/

@natalieworth to consult on how the animation should look / work

[2015-12-15 23:19] edrushka commented on #1096
Awesome @lovegushwa - really appreciate your detailed annotations. Re-assigning this to Scott.

[2015-12-15 23:20] natalieworth commented on #1096
@lovegushwa Are we able to export the fox arm, hat, and fox head in separate svg's for the animation? I've got time to export if you link me to the file

[2015-12-15 23:21] jbuck commented on #1088
@adamlofting could you pull this information from GA? Like get a list of all people who visited /thank-you/ or /share/?

[2015-12-15 23:26] flukeout commented on #1096
@ScottDowne, we'll want the fox split up into three separate pieces, the body, arm & hat. Don't worry about using the animation stuff referenced above, @natalieworth and I will create the animation once the markup is set up and we have a repo to check out from. Let's chat tomorrow.

[2015-12-15 23:32] stephaniemcv opened #1121 "Stripe login"
Can you create a login for me, please? :bowtie:

[2015-12-15 23:33] jbuck commented on #952
This has landed on staging

[2015-12-15 23:33] #952 closed

[2015-12-15 23:34] jbuck commented on #1114
This has landed on staging and production

[2015-12-15 23:34] #1114 closed

[2015-12-15 23:56] jbuck commented on #1121
I sent an invite to your mofo email! Please set it up and enable 2FA after
you have signed in:
https://support.stripe.com/questions/how-do-i-enable-two-step-verification

On an unrelated note, you should totally update your phonebook entry on
https://phonebook.mozilla.org

On Tue, Dec 15, 2015 at 6:52 PM, stephaniemcv <notifications@github.com>
wrote:

[2015-12-15 23:56] #1121 closed

[2015-12-15 23:56] natalieworth commented on #810
Source file for the January thank you email based on the 2015 EOY Fundraising Campaign (note that the .ai file was a draft and would have to be updated with appropriate content if used): https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0X3dmWUJxRHdPTm8/view

[2015-12-16 00:18] natalieworth commented on #1062
@edrushka @cassiemc @valianttry @lovegushwa I've got some draft snippet examples of the 'thank-you locale' designs. I've left the UI and current design of the firefox page the same in order to not be too disruptive with the thank you additions: https://redpen.io/p/sm23f4531a66a29a58

[2015-12-16 00:18] jbuck commented on #870
Okay, I've created a new Paypal account and successfully created API credentials. Ann will need to do a few approval steps on her side, but we're making progress!

[2015-12-16 00:24] lovegushwa commented on #1096
@natalieworth I separated the hat from the fox but not the hat and the arm. Maybe you can work with @flukeout to build exactly whats needed. Also we need to think about making the fox some what responsive (I provided links to a cropped fox and a full body fox based on your artwork.)

The SVG Fox assets are here:
https://drive.google.com/a/mozilla.com/folderview?id=0B2qu3ExKWIlvNWlBWi05dzJHeEU&usp=

[2015-12-16 00:36] edrushka commented on #1062
Whoooa! These are more 'spectacular' than I expected! They are great, but they still feel pretty disruptive. Some of the elements could definitely work - I'll add comments in the redpen.

Can you draft a couple "very standard" versions like this one:
![screenshot 2015-12-15 16 27 41](https://cloud.githubusercontent.com/assets/4515662/11828465/cd1730c6-a349-11e5-9b82-9107ea131a5b.png)

[2015-12-16 00:41] natalieworth commented on #1062
@edrushka For sure! I'll adjust text and images

[2015-12-16 01:21] jbuck commented on #935
I've asked ET support where I can obtain working SMTP credentials, since my ET account credentials don't seem to work.

[2015-12-16 01:22] valianttry commented on #1054
Found it! @alicoding can you get to this this week?

[2015-12-16 01:27] #1054 closed

[2015-12-16 10:13] adamlofting commented on #1088
No, we filter out any PII in GA (as per the terms). It shows us how many, but not who.

[2015-12-16 11:17] adamlofting commented on #1120
I did some digging. The monthly donor emails are recorded in Stripe, but we're not exporting them to our transaction database, so these people have not been supressed from the emails so far.

*This can be fixed before the next email send*.

**Data re Stripe donations in the transactions database**

has email:
* recurring: 0
* one-off: 68,122

missing email:
* recurring: 1,831
* one-off: 16

**Next

[2015-12-16 11:19] adamlofting opened #1123 "Add email addresses for transaction storage for monthly Stripe donors."
Implementation ticket for: #1120

I did some digging. The monthly donor emails are recorded in Stripe, but we're not exporting them to our transaction database, so these people have not been supressed from the emails so far.

*This can be fixed before the next email send*.

**Data re Stripe donations in the transactions database**

has email:
* recurring: 0
* one-off: 68,122

missing email:
* recu

[2015-12-16 11:20] adamlofting commented on #1120
Filed a separate ticket to track the implementation.

[2015-12-16 14:14] adamlofting commented on #1106
After some investigation today, SurveyGizmo's pop-up is not something we'd want to use.

Their pop-up doesn't display the survey, just a (badly styled) message that links out to the full survey page.

Screenshot:
<img width="834" alt="screenshot 2015-12-16 13 09 03" src="https://cloud.githubusercontent.com/assets/1901816/11842978/e57be930-a3fe-11e5-838d-0b44516f8cae.png">

So, in order to improve

[2015-12-16 14:30] KevZawacki opened #1125 "Collect language for Mitchell's EOY appeal"
This ticket will house 2015 quotes and quips from Mitchell that are relevant to the Foundation / fundraising. We can work this language into Mitchell's EOY email appeal — since it's already been said publicly and in her voice, it should shorten the review process.

@valianttry @edrushka @stephaniemcv @HPaulJohnson

[2015-12-16 14:31] adamlofting commented on #1106
@valianttry what are you thoughts on where we should offer the survey?

I think we have three options, which we can use on either of our thank you pages:

1. Redirect X% of people straight to the survey
2. Promote the survey with a pop-up messge to X% of people
3. Display a message / link within the content of the thank you page for X% of people

**Current thank you pages for reference:**

Initial

[2015-12-16 14:38] jessilyndavis commented on #935
Thanks @jbuck - I just saw the support request and have asked to have this featured enabled on our account. I've included you on the email thread there.

[2015-12-16 15:09] KevZawacki commented on #1125
From Mitchell's [blog on philanthropy](https://blog.lizardwrangler.com/2015/04/27/philanthropy-and-the-health-of-the-internet/):

+ "Building the Internet as an open, global public resource is a social issue in its own right, and a free and open Internet is foundational to advancing all issues."
+ "The philanthropic world has an important role to play [on the Internet]."
+ "The Internet should be

[2015-12-16 15:51] adamlofting commented on #1106
Here's the link to preview the survey on staging: https://donate.mofostaging.net/en-US/survey/

(this isn't in the donor flow right now so no one is currently seeing this)

[2015-12-16 16:11] adamlofting commented on #353
Stopping this test as it wasn't finding anything significant.

<img width="1157" alt="screenshot 2015-12-16 16 10 19" src="https://cloud.githubusercontent.com/assets/1901816/11846219/8e118464-a40f-11e5-8944-945d2e01c9de.png">

[2015-12-16 16:11] #353 closed

[2015-12-16 16:21] adamlofting commented on #1080
@ScottDowne is there a way to activate this test without adding the parameter? (Like we've done with class names in Optimizely for the other tests)

https://donate.mofostaging.net/en-GB/?billingAddress=partial

(FYI optimizely can get a bit confused by redirecting to the same URL with an added parameter because of the URL matching rules - it's not impossible to setup, but a bit fiddly)

[2015-12-16 16:29] ScottDowne commented on #1080
@adamlofting no, it's not css, it's a js param passed into stripe, it has to be a param, but there is no delay because it's not rendering anything.

[2015-12-16 16:47] jbuck commented on #1080
@ScottDowne but we could feature detect based on a CSS class right?

On Wed, Dec 16, 2015 at 11:32 AM, ScottDowne <notifications@github.com>
wrote:

[2015-12-16 16:55] ScottDowne commented on #1080
@jbuck we could and is an option but is a bit of a hack. As that is not
what classmates are for. I think I would attempt a small new page first.
Might be cleaner as the form is already a component that accepts a param
for this.

[2015-12-16 17:00] jbuck commented on #935
SMTP relay is in closed beta until December 32nd so we can't use Exact Target for sending email until it's in GA. Moving to Blue Sky

[2015-12-16 17:01] jbuck commented on #1088
Well, :hankey:

[2015-12-16 17:07] jbuck commented on #1088
@valianttry I don't think we can contact these people. Should we close this ticket?

[2015-12-16 17:11] jbuck commented on #1123
@adamlofting nice catch! I'll do up a patch today and re-run the stripe customer db

[2015-12-16 17:54] adamlofting commented on #1080
No worries, I just wanted to double check :+1:

I'll take a look at setting up the Optimizely test using the parameter first of all. If that proves problematic we can set this test up as a new URL which is identical to one-page (aka the root) except for the parameter on that componenet changing.

[2015-12-16 17:57] valianttry commented on #935
:cry:

[2015-12-16 18:13] alicoding commented on #782
We are now back to the top \o/
![screen shot 2015-12-16 at 1 13 22 pm](https://cloud.githubusercontent.com/assets/4368149/11849644/dbc246f8-a3f6-11e5-98ff-07d1d723ce09.png)

[2015-12-16 18:13] #782 closed

[2015-12-16 18:14] alicoding commented on #781
And so for yahoo \o/
![screen shot 2015-12-16 at 1 14 17 pm](https://cloud.githubusercontent.com/assets/4368149/11849666/fbc92516-a3f6-11e5-9fc7-8f88979e42df.png)

[2015-12-16 18:14] #781 closed

[2015-12-16 18:38] jbuck commented on #1123
@adamlofting https://github.com/mozilla/mofo-transaction-storage/commit/16c7fea5c4f109f9442513b6d68acf3378f8f641

I'm re-running this against the old data now

[2015-12-16 18:38] #1123 closed

[2015-12-16 18:42] #1100 closed

[2015-12-16 18:57] jbuck commented on #1082
@valianttry done!

[2015-12-16 18:57] #1082 closed

[2015-12-16 18:58] KevZawacki commented on #1026
@valianttry @edrushka @HPaulJohnson

First draft ready for review, [here](https://docs.google.com/document/d/1Q17cwH3DKoEDHsLvxCNUhIyz0P4xKL_JyEwppC6I0oM/edit#).

[2015-12-16 20:37] adamlofting commented on #1080
Setting up a duplicate page was much easier that hacking optimizely for this test, so I'm going to do it that way.

[2015-12-16 21:01] jbuck commented on #1080
@adamlofting Scott landed this in https://github.com/mozilla/donate.mozilla.org/pull/1126 I think, but we totally didn't update this bug! :fearful:

[2015-12-16 22:53] jbuck opened #1132 "Upload transaction types/amounts to CloudWatch so we can get reliable monitoring"
We should upload the type (one-time or recurring) and provider (Paypal or Stripe) and amount of each transaction into AWS CloudWatch so we can visualize, monitor, and alert on transaction volumes.

[2015-12-16 22:57] edrushka opened #1133 "Finalize and export addional directory tiles"
@natalieworth - the additional directory tiles have been localized in almost all the languages. You can see them here:
EN: https://donate.mofostaging.net/en-CA/directory-tiles/
DE: https://donate.mofostaging.net/de/directory-tiles/
ES: https://donate.mofostaging.net/es/directory-tiles/
PTBR: not done yet
IT: https://donate.mofostaging.net/it/directory-tiles/

@alicoding confirming that these strin

[2015-12-16 23:43] natalieworth commented on #1096
@flukeout was able to help us with the awesome CSS animation of Dapper Fox! He sent me a thimble link here: https://d157rqmxrxj6ey.cloudfront.net/flukeout/21102/ — Feedback would be great and any suggestions on adjustments for the animation would be helpful before sending to Scott for development into the live snippet! Luke's still working on adding some looping effects to Dapper Fox (after the in

[2015-12-16 23:48] natalieworth commented on #1133
Thanks @edrushka @alicoding! I haven't finalized localized directory tiles before. Is there any difference to when I exported the original EN tiles? Thanks!

[2015-12-16 23:55] natalieworth commented on #1096
And giggle fox https://d157rqmxrxj6ey.cloudfront.net/flukeout/21105/! @ScottDowne @lovegushwa @cassiemc @edrushka @valianttry

[2015-12-17 00:01] edrushka commented on #1133
The file format should be the same. @lovegushwa did the first set and may have advice.

[2015-12-17 00:04] lovegushwa commented on #1096
Yes! The best @ScottDowne @lovegushwa @cassiemc @edrushka @valianttry
I wonder if we could string the two together. Dapper tips his hat, and if you mouse over he giggles.
We should keep the giggle for the static snippet options since it's kind of like a easter gg.

[2015-12-17 00:08] edrushka commented on #1096
Ha! These are great! Love the giggle on mouse hover!

I just want to clarify that we should get Jean's signoff on the animated version(s) on staging before we build. One we've given feedback and done any tweaks on our end, I'll send to her for review.

[2015-12-17 00:14] flukeout commented on #1096
@lovegushwa Yeah, you nailed it! That would be ideal - animation on page load, then giggle on hover.

[2015-12-17 00:15] natalieworth commented on #1062
Sorry, forgot to post the link here for the newest (less disruptive) snippet updates from earlier today: https://redpen.io/p/sm23f4531a66a29a58 @edrushka @cassiemc @valianttry @lovegushwa

[2015-12-17 00:16] edrushka commented on #1096
@flukeout could he stop giggling after a moment? After a few seconds, it starts to feel like something is wrong with him!

[2015-12-17 00:36] natalieworth commented on #1133
@lovegushwa Is this pretty straight forward or do you have time tomorrow to quickly go over this?

[2015-12-17 00:55] jbuck commented on #1030
@alicoding will fix this in #1131

[2015-12-17 00:56] #1027 closed

[2015-12-17 00:56] #1020 closed

[2015-12-17 00:56] #1088 closed

[2015-12-17 00:57] #1080 closed

[2015-12-17 02:04] valianttry commented on #1125
@KevZawacki Can you find any phrasing or speeches where Mitchell talks about threats to the Web? Maybe about equal rating or what a closed Web would do / look like?

[2015-12-17 02:35] ScottDowne commented on #1096
First snippet http://scottdowne.github.io/eoy-snippets/2015-disruptive-snippet-en-US/

[2015-12-17 03:22] valianttry commented on #1096
These are delightful! Is it possible to make the giggle or animation happen on hover over the donate button? Also he should definitely not giggle maniacally....

[2015-12-17 03:30] alicoding commented on #1133
Anything that came back to our repo means they've been reviewed, so it is all good here :)

[2015-12-17 10:20] adamlofting commented on #1079
This test is live:
* http://app.optimizely.com/l/s3h3UY?token=850ff44f4dcb945fba28#view=2

[2015-12-17 11:36] adamlofting commented on #370
The first version of this test has been concluded and written up here:
* https://fundraising.mozilla.org/ab-test-additional-ask-for-some-channels/

We're running a follow up test with alternative language in the ask.

[2015-12-17 11:36] #370 closed

[2015-12-17 11:37] adamlofting opened #1135 "Test language on additional info page"
Following the results of the additional language page test:
https://fundraising.mozilla.org/ab-test-additional-ask-for-some-channels/

We're running a follow up test to use some high-performing snippet copy in this space.

This test has started and can be tracked here:
https://app.optimizely.com/results2?experiment_id=4245891743&token=2c2ed6619439c3457bcb

[2015-12-17 12:19] #1030 closed

[2015-12-17 12:19] alicoding commented on #1030
Landed \o/

[2015-12-17 13:32] adamlofting commented on #801
This is now live :+1:

Future tweaks to the copy can be made here: https://webmaker.desk.com/admin/channels/email/auto-acknowledgements

[2015-12-17 13:32] #801 closed

[2015-12-17 14:07] adamlofting commented on #1089
Just some notes for the history of this ticket.

* Front-end re-directs were disabled to keep the recurring donation update page working.
* I added new front-end re-directs into the individual fundraising pages on BSD (excluding the localized PayPal forms linked from the FAQ).
  * I think these re-directs are quicker than the old ones (set to 0 seconds subject to the speed of js execution)

Going

[2015-12-17 14:07] #1089 closed

[2015-12-17 15:10] KevZawacki commented on #1125
@valianttry Most definitely.

A great resource is Mitchell's [open Internet blog](https://blog.lizardwrangler.com/2014/11/10/mozilla-and-the-future-of-the-open-internet/). It's from November 2014, but has really rich language. It also appeared in re/code as an op-ed, so we'll want to rephrase a bit so it's no completely verbatim.

+ "There is still essential work to do as the Web still faces real

[2015-12-17 17:17] adamlofting commented on #519
This is a good test when we get to year round non-snippet fundraising. Moving to the backlog.

[2015-12-17 17:18] adamlofting commented on #355
I don't think we're going to do the dev work for this for EOY. Moving to Blue sky. We can test during year round fundraising campaigns in 2016.

[2015-12-17 17:20] adamlofting commented on #169
We got thank you emails working.

We should run some tests in the future.

One idea discussed this year was offering a gear store discount code in the email as a way to say thanks.

[2015-12-17 17:20] adamlofting commented on #167
low priority right now

[2015-12-17 17:21] lovegushwa commented on #1096
@edrushka he only giggles when you mouse over him ... but that's an interesting idea, what if a mouse over kicks off a animation that 4sec, pause, 2sec, pause, 1sec. So Dapper kinda builds a giggle tolerance. Until you mouse over fox again and it starts all over.

[2015-12-17 17:22] adamlofting commented on #160
This is a valuable test for next year, but doesn't map to our current snippet design where we'd have the biggest impact this year. Moving this into Blue sky, but we should test this in 2016.

[2015-12-17 17:23] adamlofting commented on #113
Low priority.

[2015-12-17 17:23] lovegushwa commented on #1133
@natalieworth yeah it's easy. I'll ping you and we can walk though the process.

[2015-12-17 17:25] edrushka commented on #1116
@valianttry this urgently needs to be finished.

[2015-12-17 17:30] adamlofting commented on #1090
This ticket feels like a bit of a distraction for the last few working days, but on reflection I wanted to note that `$2 monthly` is an *upgrade* from `$3 one-off`. Which makes me feel better about not changing this in a rush.

I'm going to P2 this for now.

[2015-12-17 17:32] jbuck commented on #739
I think @adamlofting did a fix for this!

[2015-12-17 17:32] #739 closed

[2015-12-17 17:43] adamlofting commented on #870
Given where we are in the campaign, is this switch now adding more risk that savings?

[2015-12-17 17:50] valianttry commented on #1116
Here is copy:
https://docs.google.com/document/d/1wQU-7LNZwncc4qDVPN-DHZZFDc2s5ASAbsub6DIT60M/edit

I added a "tip our hat" phrase to the version we'll use for Dapper Fox.

[2015-12-17 17:51] edrushka commented on #944
Re-assigning to Ali.

[2015-12-17 17:59] adamlofting commented on #352
MoCo engagement are running a more involved test for email opt-in on the thank-you page.

This test can move to the backlog.

[2015-12-17 18:06] ScottDowne commented on #944
@alicoding Here was how far I got before mozlando pulled me away: https://github.com/mozilla/donate.mozilla.org/pull/1137/files

[2015-12-17 18:14] #1104 closed

[2015-12-17 18:55] flodolo commented on #816
I strongly disagree, these are design issues ;-)

Each language should be able to pick the best translation possible, and there seems to be plenty of space to fit longer translations. Having said that...

## Donation form
Fixed in
https://github.com/mozilla/donate.mozilla.org/commit/8d4bd402e4b9b72f16d52422ece4377e890133ea
https://donate.mofostaging.net/it/

## Snippet
Per IRC discussion, sharing

[2015-12-17 18:59] natalieworth commented on #1096
@ScottDowne For your reference (colour updates on the arrow and 'donate now' button gradients):
<img width="1435" alt="screen shot 2015-12-17 at 10 34 28 am" src="https://cloud.githubusercontent.com/assets/14876567/11878918/40b1b524-a4ad-11e5-8a38-1f57d0a5fa91.png">
<img width="1432" alt="screen shot 2015-12-17 at 10 37 51 am" src="https://cloud.githubusercontent.com/assets/14876567/11878919/40b32

[2015-12-17 18:59] edrushka commented on #816
Thank you @flodolo :it:

[2015-12-17 19:03] flodolo commented on #816
String landed https://github.com/mozilla/donate.mozilla.org/commit/09f06700bd96061717aef88f317f204949373733

Not sure where to test the registration form, and how frequently the staging server is updated.

[2015-12-17 19:12] lovegushwa commented on #1096
@ScottDowne This is looking good. Two thoughts.
1. Type is sitting a pixel or two high in the buttons.
2. Not enough visual contrast between "Only a tiny portion of Firefox users give." and "if everyone reading this"... "Only a tiny ..." needs to look a bit lighter so the bold text stands out a bit more.

We could make the regular weight body text light.
We could make the bold a heaver weight like

[2015-12-17 19:50] jbuck opened #1138 "Make good output more configurable"
Right now we set good output settings based on the `NPM_CONFIG_PRODUCTION` flag. This is not ideal for things like tests.

[2015-12-17 20:23] valianttry commented on #1096
Just repeating this because I think it's important: **The animation should be a reward for hovering over the donate button, vs. the Fox (or at least one animation).** We want people to put their mouse right on that button. If you want a separate animation for mousing over the fox that's fine, too, but please prioritize mouseover donate button.

[2015-12-17 20:26] valianttry commented on #1096
Also FYI I'm writing custom snippet copy for the Dapper variants to include a "tip the hat" reference, for example:

Mozilla, the organization behind Firefox, is proudly non-profit, non-corporate and non-compromised. Will you help us work for a free and open Web for all? If everyone reading this chipped in XX, **we tip our hat to you** for supporting us for another year. Donate now.

[2015-12-17 20:57] lovegushwa commented on #1108
@stephaniemcv check out the new email template hot off the press for Teach via @kristinashu
The big question's are:
- can we / should we adapt this template since it's the closest thing we have to a "house style"
- what features should we add / kill to make this as flexible as possible for EOY and advocacy.
(maybe we can do a bit of on the fly wire framing if necessary.)

We can also steal ideas f

[2015-12-17 21:37] ScottDowne commented on #1090
@adamlofting For what it's worth, we can run a test for this now: https://donate.mozilla.org/en-US/?test=frequency-move-test

That's a test where the string is injected into the same div as before.

[2015-12-17 21:40] ScottDowne commented on #1096
Finished snippet 2, and updated the links:

http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-1/
http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-2/

[2015-12-17 22:52] ScottDowne commented on #1096
Last one WIP: http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-3/

It has five issues, so far.

1. The mozilla wordmark in the top right is an image, so if I change the colour, I think I need a new one with the new colour. It also has a hover state but it's just opacity, so should work for the orange too.

2. The close button is also just an image, so I'll need a white one for the

[2015-12-17 23:04] natalieworth commented on #1096
Thanks @ScottDowne
1. I'm actually okay with the grey colour of the Mozilla wordmark over the white. I think it's more subtle than the white. Alternatively I could do an orange wordmark if we want it to be even more subtle @lovegushwa @valianttry @edrushka
2. For the close button are we able to use the 'x' icon that is already there now? I'm not sure what's wrong with that one?
3. I'm okay with th

[2015-12-18 00:09] stephaniemcv commented on #1108
I think this template is great starting point of a "house style". I'm documenting some points here from our meeting with Ben N. Feel free to add anything I missed!

*Max width of email = 600px (best for scaling down to mobile)
*Hero images in templates scale and render more easily than call out images in sidebars
*Single column design is better for responsive code to render on mobile, multiple col

[2015-12-18 14:21] #927 closed

[2015-12-18 14:23] #930 closed

[2015-12-18 14:23] alicoding commented on #930
#968 landed \o/

[2015-12-18 14:23] alicoding commented on #851
#968 landed \o/

[2015-12-18 14:23] #851 closed

[2015-12-18 14:47] adamlofting commented on #1033
Note from Scott in the related bug:

[2015-12-18 14:50] adamlofting commented on #740
I'm going to P2 this. It's important for when we switch off BSD. But it's not urgent to EOY (as we have front-end redirects in place).

[2015-12-18 14:51] adamlofting commented on #212
I think many of these have been filed. Should we close this now @jbuck ?

[2015-12-18 14:52] adamlofting commented on #68
@jbuck I think this is good to close?

[2015-12-18 15:01] ScottDowne commented on #1096
The snippets got an r+ from the snippet service team this morning. That
doesn't mean we cannot iterate but I wanted to get their attention asap.
Wasn't expecting it to be that fast. Win.

[2015-12-18 16:46] jbuck commented on #68
Yeah

[2015-12-18 16:46] #68 closed

[2015-12-18 16:48] jbuck commented on #1098
PR in https://github.com/mozilla/donate.mozilla.org/pull/1103

[2015-12-18 16:50] edrushka commented on #977
Snippet goes to 100% on Monday Dec 21
Next appeal email is Dec 23

[2015-12-18 16:51] alicoding commented on #780
This one really needs to wait until we do `301` redirect for `sendto.mozilla.org` then it will be fixed by itself. I don't think we can do anything or need to do anything more here.

[2015-12-18 16:51] #780 closed

[2015-12-18 16:52] edrushka commented on #1062
@valianttry please review

[2015-12-18 16:52] jbuck commented on #893
I'd rather not do this

[2015-12-18 16:52] #893 closed

[2015-12-18 16:53] #1078 closed

[2015-12-18 16:53] edrushka commented on #1125
This is done. Closing. Thanks @KevZawacki

[2015-12-18 16:53] #1125 closed

[2015-12-18 16:54] #1086 closed

[2015-12-18 16:57] #977 closed

[2015-12-18 16:58] jbuck commented on #732
@shorlander I don't think we have an official AMO account. Is there one used for other themes/addons that Mozilla puts out?

[2015-12-18 17:03] alicoding commented on #1090
@jbuck is this suppose to be close or assign to me?

[2015-12-18 17:14] natalieworth commented on #1096
For our animation dapper fox reference:
* Calmer laugh, could disperse laugh at different times throughout hover
* Add laugh over the 'donate now' button hover
* Possibly add a subtle animation over the fox on mouse hover

[2015-12-18 17:32] jbuck commented on #1090
I just assigned it to someone, so it doesn't go away~

On Fri, Dec 18, 2015 at 12:03 PM, Ali Al Dallal <notifications@github.com>
wrote:

[2015-12-18 17:53] ScottDowne commented on #1096
@natalieworth

1. Sounds good, I'll leave it as the grey image until told otherwise.
2. We can use that 'x' button, but it's an image, so it's also not going to be what you had in the comps. We would need a new image for that.
3. Sounds good, I'll leave it as is until @lovegushwa says otherwise.
4. Same as above.
5. Updating!

Any other feedback on the third snippet implementation?

[2015-12-18 19:08] edrushka commented on #1116
This has been approved by Jean's team, Tim and Madhava. :dancer:

[2015-12-18 19:08] #1116 closed

[2015-12-18 19:21] ScottDowne commented on #1096
@lovegushwa

So for "Not enough visual contrast between "Only a tiny portion of Firefox users give." and "if everyone reading this"... "Only a tiny ..." needs to look a bit lighter so the bold text stands out a bit more."

We are not guaranteed font weights other than regular and bold. So no light font weight that I know of. basically we're stuck with system fonts from what I know about snippets.

[2015-12-18 19:22] edrushka commented on #1133
French is done: https://donate.mofostaging.net/fr/directory-tiles/

[2015-12-18 20:08] edrushka opened #1147 "Localize Spectacular Snippet Copy"
I filed this in the wrong repo! https://github.com/MozillaFoundation/plan/issues/654

Please continue discussion here.

[2015-12-18 20:10] lovegushwa commented on #1096
@ScottDowne I agree, it's try to lighten the text color. A backup plan could be to choose a different system font that has more contrast between regular and bold weights.

[2015-12-18 20:19] adamlofting commented on #1106
Discussed this with Andrea. Our intention was to send a % of donors straight to the survey on the thank you page, but then realised this would cause issues with conversion tracking for GA and Optimizely which is fired on this page.

As a second best option, I have redirected 50% of en-US traffic from the `/share/` page (after email opt-in) to the survey.

Over the course of the weekend, this will

[2015-12-18 20:30] natalieworth commented on #1133
@edrushka @lovegushwa Here are the first set of localized exported tiles: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NUdrb0VxUFJQSlU&usp=drive_web&ddrp=1#
I triple-checked each tile for spelling/ proper translation, but if anyone wants to check again @alicoding 's links are at the top of this issue to the original localized tile translations for comparison. I'll up

[2015-12-18 20:53] ScottDowne commented on #1096
Just flagging this copy: https://docs.google.com/document/d/1wQU-7LNZwncc4qDVPN-DHZZFDc2s5ASAbsub6DIT60M/edit

Is this the copy we want to use for these snippets? If so, do we want to add some bold to any of the text? If so, we need to do that before it's translated.

Here is the current pull request for it: https://github.com/mozilla/donate.mozilla.org/pull/1146/files

[2015-12-18 21:20] jbuck opened #1149 "IT directory tiles don't have correct translation"
@flodolo found that the https://drive.google.com/a/mozilla.com/folderview?id=0B20-0lpP23c0LWRhY0J5elVuUE0&usp=drive_web&ddrp=1&tid=0B20-0lpP23c0NUdrb0VxUFJQSlU graphics don't have the correct translation of "Donate now". These graphics are using "Dona ora", which is the shitty Google translation instead of the correct "Fai una donazione" or if space is at a premium "Dona subito".

[2015-12-18 21:22] jbuck commented on #1149
This ticket may be a dupe of #816

[2015-12-18 21:27] flodolo commented on #1149
In this specific case `Dona subito` is a better solution for the button label, mostly because `Fai una donazione` is also used in the string right above in at least 2 cases.

That's also why we should try to have separate string IDs for separate contexts. The string `donate_now=Fai una donazione` is also used as title and button label in the main donate form, and in that case is absolutely appropr

[2015-12-18 21:32] #1037 closed

[2015-12-18 22:16] shorlander commented on #732
@jbuck I don't think we have an offical Mozilla user on AMO. That I know of anyway.

[2015-12-18 22:21] flukeout commented on #1096
**Latest versions of animations**
* Giggle - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21105/
* Hat tip - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21430/
* Hat throw - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21102/

@ScottDowne - the markup is slightly different for each of these. Ideally we'll want the same markup and stylesheet for all of these, so once they're approved, we can

[2015-12-18 22:29] natalieworth commented on #1096
cc @valianttry @edrushka @lovegushwa @cassiemc

[2015-12-18 22:33] natalieworth commented on #1149
@jbuck @flodolo Should I update all the tile designs to the Italian translation "Dona subito"?

[2015-12-18 22:56] natalieworth commented on #1096
@ScottDowne @lovegushwa For you reference to the colours for fonts:
![snippet_finals_v3_artboard 12 copy 7](https://cloud.githubusercontent.com/assets/14876567/11909087/528fcfe8-a597-11e5-93fa-8355b5d4ace3.png)
I'm thinking we could either apply a 70% opacity to the "light" Helvetica, or we could use a similar colour—I think this could work #F5BEC4.

[2015-12-18 23:44] ScottDowne commented on #1096
@natalieworth http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-1/ <- feel right?

[2015-12-18 23:45] natalieworth commented on #1096
@ScottDowne I think that looks great! @lovegushwa what do you think?

[2015-12-19 00:32] ScottDowne commented on #1096
We can also consider this for the header copy? I remember it being intended
to be light weight.

[2015-12-19 01:02] natalieworth commented on #1133
Just going to note here that I'll still have to adjust the Italian translation based on feedback from localization, but the French (FR) versions are now exported and updated: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NUdrb0VxUFJQSlU&usp=drive_web&ddrp=1#
cc @edrushka @lovegushwa

[2015-12-19 01:12] edrushka commented on #1062
@natalieworth do you have enough clarity in the redpens to move forward? If not, let's address in Monday's circle up.

[2015-12-19 01:16] natalieworth commented on #1062
@edrushka Monday would be great to discuss! I can gather the preferred one's together and maybe we could quickly go through them?

[2015-12-19 01:18] edrushka commented on #1062
+1 we could show to Jean right after.

[2015-12-19 03:32] valianttry commented on #1149
@flodolo we don't use Google Translate for any of our assets. At least not knowingly. I am not sure where this translation came from. Thank you for flagging this!

[2015-12-19 06:45] flodolo commented on #1149
@natalieworth Yes please

@valianttry
I never implied it was Google Translate ;-)

I suppose a search was done on Google to find similar buttons, it's just that "Dona ora" is not as good as the other alternatives
https://github.com/mozilla/donate.mozilla.org/issues/816#issuecomment-157533676

[2015-12-19 23:49] alicoding commented on #1147
These 3 are completed:
https://pontoon.mozilla.org/it/fundraising/Snippets/
https://pontoon.mozilla.org/de/fundraising/Snippets/
https://pontoon.mozilla.org/fr/fundraising/Snippets/
The other 2 locales `es` and `pt-BR` still in progress, so hopefully it will get done soon.

[2015-12-20 01:32] edrushka commented on #1147
Awesome! Flod warned that those 2 locales might not happen quickly. I've already warned @valianttry to be prepared to ask Kontextor. Thanks @alicoding :dancer:

[2015-12-20 03:26] valianttry commented on #1079
I just looked at the results and reduced fields is LOSING. I'm in disbelief.

[2015-12-20 19:12] adamlofting commented on #1079
I was just checking in on this too. I've stopped the test running now.

I'd have bet on this variation winning! People are so strange :8ball:

[2015-12-20 19:25] valianttry commented on #1079
@adamlofting is there any way to enable this for mobile? Or can we check results of this test for mobile users? Jean launched the FF for Android snippet....

[2015-12-21 06:15] valianttry commented on #1147
I've got an email queued and ready to go -- it looks like PTBR is 77% and ES is now at 66%. I can ask kontextor to finish if needed.

[2015-12-21 15:30] ScottDowne commented on #1096
@valianttry

This landed this morning and is ready to go to production, all that's left is ensuring Jean gets copy with styling, and a list of locales we plan on shipping/testing.

[2015-12-21 15:54] ScottDowne commented on #944
*yoink*  :space_invader: :space_invader: :space_invader:

[2015-12-21 17:33] jbuck commented on #818
Fixed in #1145

[2015-12-21 17:33] #818 closed

[2015-12-21 17:48] edrushka commented on #1039
Closing this. Natalie has exported the files.

[2015-12-21 17:48] #1039 closed

[2015-12-21 17:52] jbuck commented on #1099
I looked at the Hapi code, and I think we can solve this with a regex that strips out non-ASCII characters.

[2015-12-21 18:16] ScottDowne commented on #1096
@edrushka Here are the animations as they are now:

* Giggle - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21105/
* Hat tip - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21430/
* Hat throw - https://d157rqmxrxj6ey.cloudfront.net/flukeout/21102/

Ping @flukeout if you have any questions, and probably want to use this ticket for future discussion about the animations.

[2015-12-21 18:35] jbuck opened #1154 "Make cloudfront access logs available to everyone"
We should have some sort of web-based UI to view the cloudfront access logs, since they're very useful for debugging purposes.

[2015-12-21 18:38] #1099 closed

[2015-12-21 19:02] edrushka opened #1155 "Write final copy for Thank You snippet"
Write final text for the January thank you snippet: https://redpen.io/pzeace74e3e3c235da

A reminder that this will be seen in FR, DE, PTBR and ES only.  EN locales will see the video.

[2015-12-21 19:33] valianttry commented on #1155
Options for consideration:

A:
To our 3xx,xxx donors from over 200 countries and territories around the world — thank you for supporting Mozilla's mission to !

B.
All of us at Mozilla would like to say "thank you" to the 3xx,xxx people from over 200 countries and territories around the world who donated this year. Your gift will help Mozilla stand up for the principles in the Mozilla Manifesto an

[2015-12-21 20:38] valianttry commented on #1106
@adamlofting seems like traffic is really low to the survey -- is it working OK?

[2015-12-21 20:45] #1059 closed

[2015-12-21 20:49] #981 closed

[2015-12-21 21:01] #212 closed

[2015-12-21 21:12] natalieworth commented on #1149
Italian (IT) versions have been updated with 'Dona Subito' button translations and for reference can be found here:
V1-V2: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvYXZqT3hjczgzVFE&usp=drive_web&ddrp=1#
V3: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NUdrb0VxUFJQSlU&usp=drive_web&ddrp=1#
cc @jbuck @valianttry @edrushka @flodolo

[2015-12-21 21:36] valianttry opened #1159 "Spreadsheet of total donations by US state in 2014"
@jbuck or @adamlofting is it possible to pull together a simple spreadsheet with these columns:

US state, total donations in 2014

Pamela in accounting needs this for legal filings per each state.

Thank you!

[2015-12-21 21:41] jbuck commented on #1159
@valianttry what do we do in the case where we don't know the state? For example, with Paypal I was easily able to calculate per-country totals, but I don't know what state it came from. Also, for sure this is 2014? Not 2015?

[2015-12-21 21:57] edrushka commented on #1155
Here's what MoCo wrote and was shipped to L10N.

Desktop: You made our year! Thanks to your generous donations, Mozilla can work even harder to ensure the Internet is a global public resource, open and accessible to all.

Mobile: Thank you for your generous donations to Mozilla. You made our year!

[2015-12-21 21:58] edrushka commented on #1155
Decision. We'll try:

- To our 3xx,xxx donors from over 200 countries and territories around the world — thank you for supporting Mozilla's mission!

- You made our year! Thanks to your generous donations, Mozilla can work even harder to ensure the Internet is a global public resource, open and accessible to all.

- Thank you for your generous donations to Mozilla. You made our year!

[2015-12-21 21:58] #1155 closed

[2015-12-21 22:00] edrushka commented on #1062
@natalieworth I have copy approved by Jean and Andrea. Please mock up your 3 designs with these 3 copy variants in a fresh redpen. Thank you!

- To our 3xx,xxx donors from over 200 countries and territories around the world — thank you for supporting Mozilla's mission!
- You made our year! Thanks to your generous donations, Mozilla can work even harder to ensure the Internet is a global public res

[2015-12-21 22:01] edrushka commented on #1096
@natalieworth @lovegushwa @flukeout @ScottDowne  we made a decision with Jean on the animation. We'll go with the giggle when you hover over donate. Thanks! We love it!!

[2015-12-21 22:02] natalieworth commented on #1062
Just noting that tile images are to be 64 x 64 to accommodate for retina display. Once copy and the possibility of the fox in a heart becoming a gif are confirmed with Jean, I can update the snippet options for locales. cc @valianttry @edrushka

[2015-12-21 22:02] natalieworth commented on #1062
@edrushka Great, thanks! Just saw this. Was there any confirmation if an animated gif would be possibly on the fox option? I can ping Jean, but wanted to double check first.

[2015-12-21 22:05] edrushka commented on #1062
Can you ping Jean? We can show her the static versions first if she wants.

[2015-12-21 22:22] valianttry commented on #1159
@jbuck 2014 only. We need state only. Each state requires us to register as a charity and need to know as closely as possible how much revenue we made in 2014. Close is good enough.

[2015-12-21 22:22] natalieworth commented on #1062
@edrushka Jean said all good to draft a 64 x 64 px gif in the thank-you snippet locales.

[2015-12-21 22:23] jbuck commented on #870
I've done some more work on this today. I found a [table of fees](https://www.paypal.com/us/webapps/mpp/ua/useragreement-full?locale.x=en_US#8) for various rates, now the only problem is figuring out a heuristic for which account to use based on the country of the donor, which I don't actually know so I need to guess...

[2015-12-21 22:31] edrushka commented on #1026
cc @stephaniemcv

[2015-12-21 22:50] edrushka commented on #1026
This is great @KevZawacki! R+

[2015-12-22 00:24] natalieworth commented on #1133
Italian (IT) versions have been updated with 'Dona Subito' button translations and for reference can be found here:
V1-V2: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B2qu3ExKWIlvYXZqT3hjczgzVFE&usp=drive_web&ddrp=1#
V3: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NUdrb0VxUFJQSlU&usp=drive_web&ddrp=1#
cc @jbuck @valianttry @edrushka @flodolo

[2015-12-22 00:30] edrushka commented on #1147
@alicoding can you please confirm this text has been localized and reviewed in:
DE, FR, ES, PT-BR and IT and attach a link to where we can find the strings? Then I can close this ticket. Thanks!

[2015-12-22 00:34] edrushka commented on #1149
Thank you @natalieworth :bouquet:

[2015-12-22 00:34] #1149 closed

[2015-12-22 00:35] #1133 closed

[2015-12-22 02:01] alicoding commented on #1147
https://github.com/mozilla/donate.mozilla.org/blob/master/locales/fr/snippet.properties
https://github.com/mozilla/donate.mozilla.org/blob/master/locales/it/snippet.properties
https://github.com/mozilla/donate.mozilla.org/blob/master/locales/pt-BR/snippet.properties (partially translated)
https://github.com/mozilla/donate.mozilla.org/blob/master/locales/de/snippet.properties
https://github.com/moz

[2015-12-22 02:02] alicoding commented on #1147
So we have 2 that's not 100% completed. I'm not sure if it is good to close or what we do here?

[2015-12-22 03:43] lovegushwa commented on #1096
@ScottDowne @natalieworth  when the copy get's really long, for all the snippet variation above, it's better if we left align, ragged right rather then center the text. I realize it might be too late to fix this.

[2015-12-22 05:07] ScottDowne commented on #1096
@lovegushwa I'm seeing if I can get in a configurable variable to change alignment between left and center as we see fit, with center as the default.

@edrushka So to confirm, we're using the giggle when hovering over donate, and that hat flip/tip on a timer, or somewhere else. Or, we're ONLY using the giggle on hover over donate, and not using the hat flip/tip, at all, anywhere, ever, and I only

[2015-12-22 06:48] valianttry commented on #646
Appeal #3 is now ready for a very quick review. It's simply a re-send of message #2 with a "lift note" at the top from Mark:
https://docs.google.com/document/d/18eaF4c0eFR-5kyMGNIAQXRhCTIzprDWooWuoXYfRQO0/edit#

@KevZawacki and @edrushka please take a look (will take you <5 min)

[2015-12-22 06:50] valianttry commented on #646
Message #4 of 4 has been sent to Mitchell Baker for review, feedback, and approval:
https://docs.google.com/document/d/1p27IfSHqZK1UF_mYGdmv00PiVm04Sji5ai6Btwks534/edit#heading=h.bqq6qadsyguv

Mark reviewed and I incorporated his suggested edits before sending to Mitchell. Thank you @KevZawacki for the awesome research! That helped a LOT.

[2015-12-22 07:50] flodolo commented on #1149
They look great, thanks :smile:

[2015-12-22 09:38] adamlofting commented on #1106
:crying_cat_face:

This is the weird quirk with how React and Optimizely work together.

It was only applying the test to people who landed directly on (or refreshed) the share page. Most people don't do this, and our site silently moves them to the share page without Optimizely knowing. This is a quirk of React, but good for the user experience generally. It just makes the test setup more tricky.

[2015-12-22 10:08] adamlofting commented on #1106
This is now working for traffic from en-us, en-gb and en-ca - redirecting 50% of traffic from the Share page.

[2015-12-22 11:05] adamlofting commented on #1079
We can't do a perfect test in this case because the `mobile-snippet` traffic is pointing to https://donate.mozilla.org/en-US/about/ and the reduced address fields is being testing on the `non-additional-info` version of the form https://donate.mozilla.org/en-US/partial-page/

But I've started up an A/B test comparing those two pages anyway. If there's a winner, we won't know if it's due to the add

[2015-12-22 13:30] KevZawacki commented on #646
@valianttry Just reviewed Mark's preface to appeal 3 -- looks great! Left a few minor suggestions.

[2015-12-22 15:11] stephaniemcv opened #1162 "Quality Assurance for EOY Fundraising Appeal #2"
@valianttry @edrushka @KevZawacki @adamlofting

Please review the attached emails and either fill out your column in the linked spreadsheet or put comments here in GH by **EOD 12/22. This sends tomorrow.**

https://docs.google.com/a/mozilla.com/spreadsheets/d/1kGBSOuMGSP1CNh310XypZFEynDLigRtScCywpAOWbnc/edit?usp=sharing

Thanks in advance for your patience, I'm still trying to figure out a solid r

[2015-12-22 15:53] ScottDowne commented on #1096
@lovegushwa the left and center alignment landed this morning, so we can configure it. It's not dynamic.

[2015-12-22 15:56] adamlofting commented on #1002
I'm not going to have time to work on this. Also, I'm not sure where the fmo codebase lives.

@jbuck could you add a note in this bug pointing to the repo for fmo homepage?

[2015-12-22 16:35] edrushka commented on #1147
Oh darn. I thought those were 100%. Let's leave this ticket open until they are done.

[2015-12-22 16:39] edrushka commented on #646
I've reviewed appeal 3.

[2015-12-22 16:41] edrushka commented on #1096
@ScottDowne we're only using to giggle on hover over donate. You do NOT need to build hat flip or tip.

[2015-12-22 17:30] alicoding commented on #1147
Just assigning this to @valianttry to email Kontextore to get the other 2 locales done :)

[2015-12-22 17:48] edrushka commented on #1108
Making this a P1 for the first week back in Jan.

[2015-12-22 17:51] #960 closed

[2015-12-22 17:51] edrushka opened #1164 "Build new 'standard' Mozilla email template"
@lovegushwa is finishing the design in #1108. Once design is locked, we'll need to build.

Putting this in the Jan 15 milestone, but hopefully this can done a bit sooner so we can actually *send* the January Thank You email by the 15th.

cc @stephaniemcv

[2015-12-22 17:54] edrushka opened #1165 "Send January Thank You email"
Copy is here: #1026
Design for new template is here: #1108
Building new template is here: #1164

Send date is ~ Jan 15.

[2015-12-22 17:56] KevZawacki commented on #1162
@stephaniemcv, thanks for sharing! My notes:

**Donor21 email**

+ em dash missing in the first graf. It should read: "We—you, me, the millions who are part of this movement—see..."

+ It looks like some of the text is black (first three paragraphs), and some dark purple (fourth and fifth paragraphs). Maybe that's just me.

**Donor10 email**

+ em dash missing in the first graf. It should read: "W

[2015-12-22 18:05] natalieworth commented on #1062
Hi @edrushka @valianttry  , I've got the most recent 3 thank-you snippet versions up with the image adjusted to fit within 64 x 64px. I don't know Jean's handle on Github (so feel free to cc her on this if she has one). I'll work on the fox hat-tip gif animation this morning and upload hopefully by later today. Thanks!
1. https://redpen.io/nu8fbf61e79135db26
2. https://redpen.io/ov1c02fba53af3240f

[2015-12-22 18:08] lovegushwa commented on #1062
@natalieworth looks good. I like options 1 best.

[2015-12-22 18:09] edrushka commented on #1162
I reviewed the samples you forwarded. Copy looks good. All links worked and were consistent (in each email). R+ :ok_hand:

[2015-12-22 18:21] jbuck commented on #1002
@adamlofting https://github.com/mozilla/eoy-fundraising

[2015-12-22 18:23] edrushka commented on #1062
Thanks! I sent to Jean for her review.

[2015-12-22 18:34] valianttry commented on #1162
@KevZawacki the text color is a function of Gmail Inbox recognizing copy that you've received before. It will all revert to black for our audience that haven't received the email copy ever.
@stephaniemcv this was one of the CLEANEST sample emails i have EVER seen. Ever. Really well done. I found nothing else that wasn't already caught by @KevZawacki

I'll give the text versions a super quick look,

[2015-12-22 18:37] valianttry commented on #1162
@stephaniemcv Q about the text-only versions (here's what i see in your FW message):
![fwd__it s_up_to_us_-_andrea_mozillafoundation_org_-_mozilla_mail](https://cloud.githubusercontent.com/assets/9830371/11962868/e1c319f6-a897-11e5-9d22-0fad5f27543a.png)

* Is there a reason we don't just use "https://donate.mozilla.org" as the URL? That link is a bit weird... is that a function of ExactTarget?
*

[2015-12-22 18:52] stephaniemcv commented on #1162
the lack of https://donate.mozilla.org in the email is my fault. I forgot to uncheck Multipart MIME to the test send so ET added tracking code

The double spacing is Gmail's fault because it's adding <p> but there's not styling css to control spacing.

[2015-12-22 19:17] jbuck opened #1166 "See if we're eligible for Paypal International Payments non-profit > 100k rate"
While working on micro payments, I discovered that we're currently using the Paypal International Payments non-profit < 100k rate (see [table 8.4c](https://www.paypal.com/us/webapps/mpp/ua/useragreement-full?locale.x=en_US#8)). Andrea will check with Ann and see if we're eligible to get that lower rate, and if not, what we'd need to do to be eligible for it.

[2015-12-22 19:17] valianttry commented on #1162
@stephaniemcv seems good to go then with the URL change! whoohoo!

[2015-12-22 19:46] edrushka commented on #1062
Response from Jean:

Can you please export those 2 files @natalieworth

[2015-12-22 20:21] adamlofting commented on #1162
I'm happy that the current links are fine for tracking - but wanted to make a really minor suggestiong for future emails - it's not a blocker for this.

Could we change the utm_content parameter so that it doesn't use the term 'higher' or 'lower' to categorize a donor's prior gift amount. That language is useful to us internally to simplify our conversations, but might feel weird to an observant r

[2015-12-22 20:25] jbuck commented on #1159
I spoke to Pamela really quickly and she said that estimates are also a-okay. Also, it's 4 states (Oregon, Ohio, Indiana, and one other) that require this information, not all of them, thankfully enough.

[2015-12-22 20:31] adamlofting commented on #1159
@jbuck do you know if we can get 'State' from the PayPal API? When I looked at [these docs](https://developer.paypal.com/docs/classic/api/merchant/GetTransactionDetails_API_Operation_NVP/) I couldn't see it (as we're not collecting a shipping address).

[2015-12-22 20:55] natalieworth commented on #1062
@edrushka Here is the link to the Illustrator file for the thank-you snippet designs (V1 and V2). I'll upload the gif here for V1 hopefully by this afternoon or tomorrow morning. I adjusted the width of the text and aligned the image to the search bar based on the feedback above for snippet UI:
https://drive.google.com/a/mozillafoundation.org/file/d/0B20-0lpP23c0cE14Y216c0ROOU0/view
I'm not sure w

[2015-12-22 20:55] valianttry commented on #1159
@jbuck it's likely she'll want other states in the future. It really helps to have one spreadsheet so we don't have to go digging for future one-off requests by state.

[2015-12-22 20:56] jbuck commented on #1159
@adamlofting damn, I think you're right. I could've sworn the state was
available in the API, but yeah, it totally isn't...

On Tue, Dec 22, 2015 at 3:31 PM, Adam Lofting <notifications@github.com>
wrote:

[2015-12-22 20:58] valianttry commented on #646
Mitchell reviewed and approved appeal #4 with NO CHANGES!

That means all email copy has been reviewed and approved. We are sending 4 appeals total (down from 6).

[2015-12-22 21:04] adamlofting commented on #1159
One option would be to get the % of US donations in those States via Stripe, and use those %s to estimate the income from those states in PayPal.

[2015-12-22 21:30] valianttry commented on #1162
@adamlofting great point re: donor levels.

[2015-12-22 21:33] adamlofting opened #1167 "Replace privacy policy checkbox with a statement about 3rd party providers"
Once we've completed legal sign-off on the language, we plan to replace the current privacy policy checkbox with a statement about Stripe and Paypal as the processor of our payments.

Link to legal bug for @valianttry https://bugzilla.mozilla.org/show_bug.cgi?id=1210332

This language will need localization, and we'll want to A/B test a short and long version in `en`.

#### Current rationale (lang

[2015-12-22 21:37] adamlofting commented on #1167
cc @valianttry @edrushka @alicoding @ScottDowne

There might not be time to ship this this year, but thought I'd flag it, as it could be high impact.

[2015-12-22 21:48] adamlofting commented on #944
For the sake of this initial test and managing the scope of work, we should only present the pop-up to:

* People making one one-off donation > $5 and < $50 paying in USD.
* Also to manage the scope, let's just start with Variant A "short"

If it's not too much work, we could aslo extend this to CAD and GBP (>5 && <50)

[2015-12-22 21:58] adamlofting commented on #1167
Sign-off is complete with slightly improved text:

*Option 1*

*Option 2*

We should

1. Localize both strings.
2. Launch with option 1 for all locales
3. Then A/B test both variants in en before choosing which version to use for all locales

[2015-12-22 22:08] edrushka commented on #1062
This is great @natalieworth. Can I get just the static icons themselves at 64x64? Thanks!

[2015-12-22 22:11] edrushka commented on #1167
In the options above, where do we link to *out* privacy policy?

[2015-12-22 23:54] natalieworth commented on #1062
@edrushka I've exported an Illustrator file and svg's for the 2 smaller images here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0NVlaUHFva2Qxckk&usp=drive_web&ddrp=1#

[2015-12-23 08:24] mmmavis commented on #1108
I'd like to advocate strongly for single column design + avoid using background images. :bowtie:

[2015-12-23 10:28] ScottDowne commented on #1096
@flukeout @edrushka @valianttry Demos for the giggle when hover on donate.

http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-2/
http://scottdowne.github.io/eoy-snippets/2015-spectacular-snippet-3/

@flukeout There were a few tricky bits, but, I think I was able to integrate it, without breaking the animation.

There is a pull request under review to land it in the snippet service.

[2015-12-23 15:35] edrushka commented on #1096
Just clarifying that we will only  use version 2 (plain background). No giggle on the heart background.

[2015-12-23 15:39] ScottDowne commented on #1096
The giggle is optional in both so let's just not turn it on in the heart
snippet. Also the animations got merged this morning. So Jean should have
what she needs to turn on the animate.

[2015-12-23 15:41] alicoding commented on #944
Landed here https://github.com/mozilla/donate.mozilla.org/commit/0ba9c6c3066106db6a43e75514491a0d43c2268d staging URL https://donate.mofostaging.net/en-US/one-page-monthly/ and once @jbuck pushed this to prod @adamlofting can enable this test \o/

[2015-12-23 16:37] edrushka commented on #944
Woooo! Yay @alicoding :star: :star: :star:

[2015-12-23 17:47] alicoding opened #1174 "3 Paypal donation failed on December 23 2015"
[code]

[2015-12-23 17:58] jbuck commented on #944
Landed on production https://donate.mozilla.org/en-US/one-page-monthly/

[2015-12-23 17:59] jbuck commented on #166
I've started the Optimizely test (thanks @adamlofting!) and I'm just waiting for people to start appearing in my GA dashboard to confirm that everything is hunky-dory

[2015-12-23 18:04] jbuck commented on #166
I've started seeing people donating in GA and Optimizely, so I think we're golden. Here's hoping we have a winning test for once! :P

[2015-12-23 18:15] jbuck commented on #1147
Looks like es is done 100% and pt-BR needs review

[2015-12-23 18:18] ScottDowne commented on #1096
Closing this!

Feel free to re-open if I missed something.

[2015-12-23 18:18] #1096 closed

[2015-12-23 18:20] jbuck commented on #1162
This was :ship: 'd

[2015-12-23 18:20] #1162 closed

[2015-12-23 18:23] #646 closed

[2015-12-23 18:24] jbuck commented on #670
It'd to be to complete this page for any 2016 campaigns, but it's not a priority for the EOY

[2015-12-23 18:25] ScottDowne commented on #944
Test is running now.

[2015-12-23 18:25] #944 closed

[2015-12-23 18:26] #984 closed

[2015-12-23 18:27] #822 closed

[2015-12-23 18:27] #992 closed

[2015-12-23 18:37] jbuck commented on #1062
@alicoding we should put these strings in Pontoon

[2015-12-23 18:37] ScottDowne commented on #816
This strikes me as the last snag on IT.

![italian](https://cloud.githubusercontent.com/assets/197334/11982483/91fdbfe2-a979-11e5-9ccd-88ac504a0767.png)

Not sure at all which string we want in this button. It's never been explicitly localized for that button, but I still think we have button sizing issues here. In general we have very little space for this. Amount buttons are an issue too, but th

[2015-12-23 18:48] alicoding commented on #1062
I'm going to put these up on Pontoon:

* To our {numberOfDonors} donors from over 200 countries and territories around the world — thank you for supporting Mozilla's mission!
* You made our year! Thanks to your generous donations, Mozilla can work even harder to ensure the Internet is a global public resource, open and accessible to all.
* Thank you for your generous donations to Mozilla. You made

[2015-12-23 18:58] jbuck commented on #1117
I did a PR for this but I think we need to do some work around how we run tests requiring credentials. We could mock responses from Paypal/Stripe or encrypt credentials somehow, but we need to do something

[2015-12-23 19:13] flodolo commented on #816
`Dona subito` is a good alternative here too if we don't have space to fit `Fai una donazione`

[2015-12-23 19:22] valianttry commented on #1167
@edrushka good Q. The first stop in the donation flow includes the standard footer on all Mozilla pages, which links to Mozilla's Privacy Policy. Legal cleared the above copy, and I am assuming the footer link is sufficient.

![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11983331/7d773826-a967-11e5-8952-523137780cd6.png)

[2015-12-23 19:37] jbuck commented on #1062
@alicoding's PR has landed in #1175 and the design is done so marking this as completed!

[2015-12-23 19:37] #1062 closed

[2015-12-23 19:41] jbuck commented on #1033
@adamlofting if you're not running this test then feel free to Bluesky it!

[2015-12-23 19:44] jbuck commented on #617
@adamlofting Same with this test, if it's not being run feel free to bluesky it!

[2015-12-23 19:48] valianttry commented on #1026
This still has some review and approvals to complete (e.g. I haven't seen it yet) so re-opening.

[2015-12-23 19:57] valianttry commented on #1167
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/11983933/4b0cc02c-a96c-11e5-98b7-44158acb6cdf.png)

[2015-12-23 19:57] #804 closed

[2015-12-23 20:11] ScottDowne commented on #816
Putting this into bluesky (which is where next year's plan is going to be built from)

[2015-12-23 21:05] jbuck commented on #870
I am not going to be able to get this done before the holidays begin, but I wanted to document what I learned.

First of all, we currently have two rates with our existing (I'll call it "macro") account:

* Domestic Payments Rate: Nonprofit 2.2% + $0.30 USD
  * This only applies when the sender's account is registered in the US and they send a payment in USD
* International Payments Rate: Nonprofi

[2015-12-23 21:16] stephaniemcv opened #1178 "Quality Assurance for EOY Fundraising Appeal #3"
@valianttry

Please review the attached images and emails that I will forward to you. Please comment by EOB 12/28. This email is scheduled to send 12/28.

 **Notes:**
* Donor group is in top left:
       * donor21 = higher donor
       * donor10 = lower donor
       * notdonor = have no donated before

* Purple colored text is due to Gmail "quoting" or seeing the text before.

![eoy3-higher-donor]

[2015-12-23 21:17] natalieworth commented on #1062
Gif options for the fox svg are up on the google drive here: https://drive.google.com/a/mozillafoundation.org/folderview?id=0B20-0lpP23c0N0RMSzd1S1laWlE&usp=drive_web&ddrp=1# For the gif, I've also exported one @2x for retina display (so 128 x 128px, instead of 64px x 64px) since it's not in svg format. Let me know if these work or if we'd prefer static.
cc @edrushka @valianttry @lovegushwa

[2015-12-23 21:21] jbuck commented on #870
Okay, so, implementation. For non-USD currencies this is actually pretty easy: calculate the fee amount for the International Macro Payments and International Micro Payments and route the payment through whichever one is lower. For USD this is not as easy because we don't know whether we'll be paying the domestic rate or the international rate until we've actually completed the payment. I don't ye

[2015-12-23 21:28] jbuck commented on #1105
Lets implement this in donate.mozilla.org.

Implementation steps:

1. Listen for the [charge.dispute.created event](https://stripe.com/docs/api/node#event_types-charge.dispute.created)
2. [Retrieve](https://stripe.com/docs/api/node#retrieve_dispute) the dispute from the API
3. If the charge is refundable (check the is_charge_refundable key on the dispute object) then refund the original charge. Ma

[2015-12-23 21:37] #74 closed

[2015-12-23 21:37] #298 closed

[2015-12-23 21:37] #1000 closed

[2015-12-23 21:51] jbuck commented on #1167
PR in #1179

[2015-12-23 22:15] jbuck opened #1181 "Test privacy policy language"
We need to run a test on our privacy policy language, which was implemented in #1167.

URLs:
* https://donate.mozilla.org/en-US/one-page-policy-a/
* https://donate.mozilla.org/en-US/one-page-policy-b/

@adamlofting we didn't do any locale-specific checks, so you could run this for other en locales too. And as translations roll in we could push the translations to production and run tests on those

[2015-12-23 22:29] #1167 closed

[2015-12-23 22:42] ScottDowne commented on #1167
For context, you can test this via these urls:

https://donate.mozilla.org/en-US/one-page-policy-a/
https://donate.mozilla.org/en-US/one-page-policy-b/

[2015-12-23 22:57] valianttry commented on #1167
@ScottDowne the words "stripe" and "paypal" should be hotlinked to their respective privacy policies.

PayPal: https://www.paypal.com/us/webapps/mpp/ua/privacy-full
Stripe: https://stripe.com/privacy/

[2015-12-23 23:17] ScottDowne commented on #1167
Oops forgot. Another good catch. Not too hard. I'll do it in a quick
follow-up and update this ticket when done.

[2015-12-24 03:09] valianttry commented on #801
@adamlofting we're seeing very appreciative emails in response to the auto-reply! This guy wanted our mailing address and had this reply after getting the automated msg including our address:

![_2332__robert_tin](https://cloud.githubusercontent.com/assets/9830371/11988689/97029f2e-a9a8-11e5-8f9b-4b6938e1d0e5.png)

Yay for saving work and making people happy :tada:

[2015-12-24 06:15] jbuck opened #1184 "Excessive fraud attempts on our Stripe account"
I got an email from Stripe:

I responded:

[2015-12-24 06:18] jbuck commented on #1167
Scott did the fix in #1183 and I just deployed to production

[2015-12-24 06:22] jbuck commented on #1184
@valianttry :sob:

[2015-12-24 07:40] valianttry commented on #1184
@jbuck that seems like super high fraud rate! yeesh. I'm really confused about where the controls come from -- she seems to indicate we build that into the form vs. Stripe's own filtering? By "controls" i'm curious what she means? Like CAPTCHA or something? I'm interested to see how she responds!

[2015-12-24 19:49] jbuck commented on #1147
pt-BR has been reviewed. This is all done! \o/

[2015-12-24 19:49] #1147 closed

[2015-12-24 19:50] jbuck commented on #1184
@valianttry yeah, sounds like something we need to build into our form or server backend. Good timing too! :weary:

[2015-12-24 20:09] valianttry commented on #1184
I sent an urgent email to Eric and to support. Not sure what more to do at this point. :worried:

[2015-12-26 19:29] valianttry commented on #1184
our account rep. Eric Lasker's response:

Hi Andrea,

I just got word from our team about the situation.

It looks like we received notice from our partners that
Mozillafoundation is being targeted with a fair bit of card testing.
While the vast majority of this is being declined, their is likely a
small amount that is slipping through our system—primarily just due to
the quantity that we're talki

[2015-12-28 10:47] adamlofting commented on #166
This test hasn't found statistical significance yet, but as we're about to start the finale of the campaign I've paused this to keep everything else running as simply as possible.

We can carry on exploring this upgrade ask during year round fundraising work in 2016.

<img width="1162" alt="screenshot 2015-12-28 10 45 32" src="https://cloud.githubusercontent.com/assets/1901816/12017556/2b1f7c7c-ad

[2015-12-28 16:20] stephaniemcv opened #1192 "Quality Assurance for EOY Fundraising Appeal #4"
@valianttry @HPaulJohnson @KevZawacki

Please review the attached image and check the links in the emails (the link presets are the only things that change based on donor group) that I will forward to you. Please comment by EOB 12/29 This email is scheduled to send 12/30.

**Notes:**
* Donor group is in top left:
     * donor21 = higher donor (higher default gift amounts 100,50,*25,15 + other)

[2015-12-28 18:20] stephaniemcv commented on #1120
Got an an email from @bniolet1 that Sean from IT, a monthly donor, got another EOY email even though Erika did not.

[2015-12-28 18:32] ScottDowne commented on #1120
This was apparently fixed in https://github.com/mozilla/donate.mozilla.org/issues/1123

@jbuck thoughts?

[2015-12-28 18:37] ScottDowne commented on #1120
@stephaniemcv question, we have not sent an email today, right?

When did Sean get the email? Because maybe it was an email from a previous campaign email after the fix?

[2015-12-28 18:39] stephaniemcv commented on #1120
We have not sent an email today.
Sean got the email 12/23 we sent EOY #2.

[2015-12-28 18:40] bniolet1 commented on #1120
@ScottDowne good thought but I don't think so:

Sean's email came: Date: Dec 23, 2015 9:28 AM

Is it possible that the bug was fixed, but we just didn't manually add the missed subscribers to the exclusion?

[2015-12-28 18:41] ScottDowne commented on #1120
@bniolet1

According to the bug it was fixed in https://github.com/mozilla/donate.mozilla.org/issues/1123, they get added. "I'm re-running this against the old data now"

[2015-12-28 19:26] ScottDowne commented on #1120
We've exported a list of customers and we're using that in exact target to filter out the emails so they don't get sent to existing monthly donors.

[2015-12-29 00:23] jbuck commented on #1120
My current working theory is that new donors who donated via Stripe are not being added to the donor history list, because the SQL code has a bug.

[2015-12-29 01:43] jbuck commented on #1120
Patch in https://github.com/mozilla/mofo-transaction-storage/pull/12

[2015-12-29 02:18] jbuck commented on #1120
Landed, and we added another 72k donors to the suppression list. I also tested a bunch of well-known email addresses and they're all on the suppression list: https://bugzilla.mozilla.org/show_bug.cgi?id=1235428#c5

[2015-12-29 02:48] #1120 closed

[2015-12-29 06:46] valianttry commented on #1192
@stephaniemcv these proofs look really great! :clap:

I only have two pieces of feedback:
1. all versions:
Remove extra period at the end of this URL: "Donate before our year-end fundraiser ends at midnight on December 31st.."

2. I worry about saying "only hours left" when it's going to actually be a full day.  In retrospect I chose the wrong callout for this email. I could see Mitchell being con

[2015-12-29 07:00] valianttry commented on #1108
Wow the design above for Teach a level up and makes me excited about what's possible!

In the new year let's huddle to look at past emails together. Then, we can also talk about projected needs. I can also offer some best practices for improving response that are tried-and-true that may influence our design choices. I think we may need something versatile, or perhaps a couple of variants for advoc

[2015-12-29 17:19] KevZawacki commented on #1192
@stephaniemcv Email looks great! One small note: we should capitalize "internet" in the first sentence of the second paragraph.

And all the links in the test emails are working fine for me.

Let me know if I can help further.

[2015-12-29 20:53] HPaulJohnson commented on #1192
@stephaniemcv looks good to me, nice work.

[2015-12-30 09:44] Archaeopteryx opened #1198 "Explain what the CVC is"
The card verification code, abbreviated as CVC, is requested in the form with the credit card details, but unfortunately, not all people are aware what it is. On my German CC, it has no label. Furthermore, the space available in the form is quite restricted.

[2015-12-30 18:24] jbuck opened #1200 "Add PKR currency support"
Got a request from a donor to add PKR currency support. Stripe is capable of processing it.

[2015-12-31 00:30] valianttry opened #1202 ""Submitting" donation cycles without resolution"
Problem reported by user:

Well This is my problem

1. I have tried the donate.mozilla.org 5 times
2. It has no idea what card I want to enter because no place for entering the card has come up what I get is a form which allows me to select between paypal and credit debit card. I indicate credit debit card and it says it is submitting, I have no idea what is submitting however no place to enter a

[2015-12-31 00:33] alicoding commented on #1202
Ouch! That looks like a broken form. I wonder if disabling JavaScript can cause this?

[2015-12-31 00:34] valianttry opened #1203 "Reports that "X" Optout doesn't seem to be working for Spectacular snippet"
![_2653__phil](https://cloud.githubusercontent.com/assets/9830371/12059592/1ca88c82-af13-11e5-82c5-245574dc3ef1.png)

[2015-12-31 06:47] ScottDowne commented on #1203
I'm not sure what this could be but let's keep our eyes opened for new
reports. Maybe if we get more info we can narrow it down. Did you get any
more reports? You mentioned two in irc but I may have read it wrong.

[2015-12-31 07:45] valianttry commented on #1203
12 people have emailed about the promo's persistence. I replied to each with instructions to close the promo. I have only seen two replies from those 12 that the "X" did nothing when clicked so far. Hope that helps. I'll drop more in here if they come up.

[2015-12-31 07:51] valianttry commented on #1203
I am going through Firefox feedback:
https://input.mozilla.org/en-US/?q=donate&date_end=2015-12-30&date_start=2015-12-23&page=3

So far I found one other person reporting the "X" is not working:

![welcome____firefox_input](https://cloud.githubusercontent.com/assets/9830371/12062361/1b7fc144-af50-11e5-9040-01d6251899a1.png)

Still reviewing...

[2015-12-31 07:56] valianttry opened #1204 "We need to insure tax receipting for every check donation"
See complaint here:

![welcome____firefox_input](https://cloud.githubusercontent.com/assets/9830371/12062403/d5cf8df4-af50-11e5-9ba1-c1f1cd5a0692.png)

[2015-12-31 07:59] valianttry opened #1205 "Analyze and report on donation feedback"
See:
https://input.mozilla.org/en-US/?q=donate&date_end=2015-12-30&date_start=2015-12-23

This isn't urgent, but we should spend time analyzing this feedback. We should try to categorize the input as positive / negative and try to be as granular as possible so we can track this in future campaigns.

@stephaniemcv this might be a good project for you in the New Year!

[2015-12-31 08:05] valianttry commented on #1205
cc @davidascher

[2015-12-31 08:46] alicoding commented on #1204
Should we CC someone here?

[2015-12-31 08:46] valianttry commented on #1204
I would like to, but Pamela and Alexei do not appear to be in Github. :(

[2015-12-31 09:40] valianttry opened #1206 "Generate a list of donors who gave over $499 for special Thank You"
@jbuck is it possible to generate a list of donors who gave over $499? We need first name, last name, donation amount, and email address.

I want to set Mark up to send some personal thank you messages.

[2015-12-31 16:28] jbuck opened #1207 "Implement winning privacy policy variant"
Follow-up on https://github.com/mozilla/donate.mozilla.org/issues/1181, we need to implement the winning variant in our main page.

[2015-12-31 16:28] jbuck commented on #1181
Optimizely test: https://app.optimizely.com/results2?experiment_id=4408174550&token=dec8b9dc8e0b80f3955e#view=2

Adam has noted that this test succeeded and is currently redirecting 100% of en-US traffic to https://donate.mozilla.org/en-US/one-page-policy-b/ .

[2015-12-31 16:28] #1181 closed

[2015-12-31 16:28] #1178 closed

[2015-12-31 16:28] #1192 closed

[2015-12-31 16:32] jbuck commented on #1206
I'll be away until Jan 25, so gonna ask Adam to do this

[2015-12-31 18:02] ScottDowne commented on #1202
@alicoding just tried that, with js disabled, we get a white empty screen.

That screenshot is sooo weird.

[2015-12-31 18:04] ScottDowne commented on #1202
I'm betting whatever is causing the screen to look weird, is what's causing stripe to fail.

Part of me thinks stripe IS displayed, but the weird display is hiding it or moving it or making it all white?

I dunno, but when it looks like that, I would be surprised if things work.

[2015-12-31 18:05] ScottDowne commented on #1202
Some css is working, so it's not as simple as that. It seems to be selective.

[2015-12-31 18:13] ScottDowne commented on #1200
I agree with this being in bluesky because.

There are many many more.

Full list: https://support.stripe.com/questions/which-currencies-does-stripe-support#currencygroup1

We probably don't want a single drop down with a hundred plus items, it would make finding anything in it pretty hard, so we picked a handful we thought would be best.

Not saying we don't add PKR, we just shouldn't be adding o

[2015-12-31 18:16] ScottDowne commented on #1198
Interesting. Can you elaborate on what you mean by restrictive? It accepts only numbers, and you need it to accept other characters or letters?

Also, sadly, probably not much we could do about it given that the form is actually a stripe widget and not something we currently maintain, but we could file a bug report with stripe, but I would leave the restrictive bit out without a bit more info as t

[2015-12-31 18:26] ScottDowne commented on #1207
@jbuck https://github.com/mozilla/donate.mozilla.org/pull/1208

One note, probably turn off the tests 100% redirect before shipping this, or we'll be sending people to a broken page, which would redirect to where we want, but would lose the query string data.

[2015-12-31 19:08] valianttry commented on #1202
It's an extreme edge case. Who knows what browser, OS; etc they are trying to use.

[2015-12-31 19:08] #1202 closed

[2015-12-31 19:28] Archaeopteryx commented on #1198
With 'restricted' I meant that I can't put a longer, more descriptive term into the form (at least as placeholder).

[2015-12-31 19:34] valianttry commented on #1198
@Archaeopteryx on the form we designed (before implementing Stripe's form) we included a help "?" for CVC. When you clicked it, there was text and an image of where the CVC number was located on a card, which we also localized (see below). Do you think that would help?
![donate_mozilla_org___give_to_mozilla_today](https://cloud.githubusercontent.com/assets/9830371/12067646/6aa3ade6-afb2-11e5-94a5-

[2015-12-31 20:15] valianttry opened #1209 "Explore resolving mismatch bank<> donor problems"
This may be completely out of our hands and dependent upon Stripe, but we get many complaints like the one below about a mismatch in bank country vs. donor country. That seems to cause hangups in the transaction

![_2672__palffy_pista](https://cloud.githubusercontent.com/assets/9830371/12067942/0aea8a90-afb8-11e5-987f-670b2837d524.png)

[2015-12-31 20:18] valianttry commented on #1203
Just got another one in desk.com:

![_2649__ken___karen_parker](https://cloud.githubusercontent.com/assets/9830371/12067969/8c9a90da-afb8-11e5-9f77-83b9727864a7.png)

[2015-12-31 20:24] valianttry commented on #1203
Another:
---------
Ms. Wood - Thank you for your reply. Yes, I know that I can turn off the message. It does come back immediately, though.
----------

[2015-12-31 21:07] ScottDowne commented on #1203
It's Windows 7, 8, and 8.1.

I filed this with bugzilla here: https://bugzilla.mozilla.org/show_bug.cgi?id=1236090

[2015-12-31 21:40] jbuck commented on #1209
It's probably because we've gotten a bunch of fraud with country mis-matches that like. What we can do is whitelist the transaction in the Stripe dashboard, but we'd need people to contact us directly to do that

[2015-12-31 22:33] valianttry commented on #1203
Another:
![_3779__judy_wood](https://cloud.githubusercontent.com/assets/9830371/12068833/7dd023cc-afcb-11e5-9a30-1d12866398cf.png)

[2016-01-01 12:56] Archaeopteryx commented on #1198
Yes, this explanation would help.

[2016-01-04 03:50] valianttry opened #1218 "Small Dollar Fundraising Report & Analysis 2015"
@adamlofting do you have capacity to work together on some analysis now that the campaign is over?

Reference report from Wikipedia:
https://wikimediafoundation.org/wiki/2014-2015_Fundraising_Report

Goals:
-- Report back on the Key Objectives for EOY and 2015 small dollar fundraising overall. See:
https://docs.google.com/document/d/1PCrDa-vC0KlvYIuGgqKuidTijJ-90VrEOCdHM2FPVW4/edit

-- Measure + r

[2016-01-04 14:26] cassiemc commented on #1108
Exciting, thanks for the input @valianttry. FYI, I wanted to point you to a ticket we have open for templatizing many of our shared needs – I'll likely be reaching out to you for input around this topic eventually. #https://github.com/MozillaFoundation/plan/issues/644

[2016-01-04 17:56] edrushka commented on #670
I'm going to re-assign this to @alicoding to finish through Pontoon.

[2016-01-05 00:28] edrushka commented on #553
Bumping this for January. cc @stephaniemcv

[2016-01-05 00:43] alicoding commented on #670
This is not a priority, but just want to flag @bennychandra @kelimuttu @rodin about this.

English strings:

[code]

Thanks.

[2016-01-05 03:10] kelimuttu commented on #670
hi @alicoding

tell_your_friends=Sebarkan ke teman-teman
help_spread_the_word=Kami perlu bantuanmu untuk menyebarkan  ke teman-teman

[2016-01-05 18:07] ScottDowne opened #1224 "reports of stripe checkout not loading"
I'm trying to find more info about this, but right now, all I know is they click credit card, and the form just spins and nothing happens. (the stripe widget never pops up)

I suspect the stripe script has not loaded. Our answer is probably in the console of one of these users...

[2016-01-05 21:25] alicoding commented on #670
@kelimuttu Thank you very much :D

[2016-01-05 21:30] stephaniemcv opened #1226 "report of virus scanner blocking donation"
Donor has Kapersky and says it won't allow the donation to complete.

Case # 3135

[2016-01-05 21:35] stephaniemcv opened #1227 "2 reports that donation amounts on form are blank"
Donor is using Firefox 43.0 On Galaxy Note Pro. Tried mobile and desktop views. Buttons for amounts are blank, PayPal button does nothing.

Desk Case #: 3277

[2016-01-05 21:39] stephaniemcv opened #1228 "Report of PayPal 400 error when trying to donate"
Donor clicked to complete the transaction and gets error
{"statusCode":400,"error":"Bad Request","message":"donation failed"}

Currency is Euro, OS is Windows 8.1 (all updates) x64 bit. Firefox 43.0.3.

Tried to use credit card and form only spun after hitting submit. Donor confirmed no money taken from account.

Have seen several reports on this.
Desk case: 3636

[2016-01-05 21:54] stephaniemcv commented on #1228
Also Desk Case: 3662

[2016-01-05 21:57] alicoding commented on #1204
I just emailed Pamela and hopefully the team will look into this.

[2016-01-05 22:11] alicoding commented on #1204
Cc @HolaHewitt

[2016-01-05 22:14] HolaHewitt commented on #1204
I am here.
As we are a US based non profit, donations are unable to be claimed in Canada for tax purposes.  Therefore, we don't issues charitable donation receipts.  They were given incorrect information.   For the US donors we also have a cap before we issue receipts.  I think it's $500 but I may be wrong.

[2016-01-06 00:30] #670 closed

[2016-01-06 02:14] kelimuttu commented on #670
Pleasure! (;

[2016-01-07 17:46] stephaniemcv commented on #1227
Desk Case #: 1968

[2016-01-07 17:47] stephaniemcv commented on #1228
Desk Case: 3199

[2016-01-07 17:53] stephaniemcv commented on #1226
Desk Case #2993

[2016-01-07 17:56] stephaniemcv commented on #1226
Desk Case #3326
[donation_attempt_FF_please_fix_your_checkout.pdf](https://github.com/mozilla/donate.mozilla.org/files/81532/donation_attempt_FF_please_fix_your_checkout.pdf)

[2016-01-07 17:59] stephaniemcv commented on #1228
Desk case #3462

[2016-01-07 20:58] stephaniemcv commented on #1226
@ScottDowne and @alicoding
Just an FYI, I've advised the donors on other ways to give

[2016-01-07 23:15] stephaniemcv opened #1238 "Please add Steph to Stripe alerts for large donation amounts"

[2016-01-08 22:01] #973 closed

[2016-01-08 22:01] #572 closed

[2016-01-10 23:30] valianttry commented on #1026
@KevZawacki the email is solid! I made a few edits, and i also added a special paragraph for the segment of donors who we emailed even after they donated  because of a technical error. @stephaniemcv I think this is ready to send to Mark for review and approval. Make sure to paste it directly into an email to him vs. sending a link to the doc. Give Mark a specific deadline for getting back to you w

[2016-01-11 11:51] #166 closed

[2016-01-11 13:47] adamlofting commented on #1207
I've turned off all remaining Optimizely tests today. So we're safe to implement without complications from re-directs. :+1:

[2016-01-11 13:51] adamlofting commented on #1218
I'm just working out my P1s for Jan, but have put this on the radar.

[2016-01-11 14:24] adamlofting commented on #1206
Done, and shared via another channel. :+1:

[2016-01-11 14:24] #1206 closed

[2016-01-11 23:05] valianttry commented on #1206
@adamlofting some of these appear to be fraudulent, would someone need to check each one in Stripe or PayPal to confirm fraud or is there a way to export that information as well?

e.g. several people donated thousands of dollars across several transactions, which usually indicates fraud.

[2016-01-12 08:57] adamlofting commented on #1206
I thought that too, so quickly checked a few of the Stripe examples that looked suspicious and of those I checked none had been reversed/cancelled/refunded/etc so I assume those are legit. It would be good to check a few of the Paypal examples too (I don't have login details to hand).

Some of the email addresses are clearly made by people who want to remain anonymous (e.g. the ...@mailinator.com

[2016-01-12 16:47] #600 closed

[2016-01-14 10:25] adamlofting commented on #1106
This was done. I'll write up the results asap.

[2016-01-14 10:25] #1106 closed

[2016-01-14 10:26] #1079 closed

[2016-01-16 16:06] ftbastler opened #1253 "Overlay bug with German language"
![bug](https://cloud.githubusercontent.com/assets/1853742/12373247/85873d80-bc73-11e5-974e-8e82d40f0e69.PNG)

Using the latest version of Firefox as of 01/16/2016 on Windows 10.

[2016-01-18 13:19] adamlofting commented on #1207
- [ ] We have a small tweak to make to the language from legal:

^ Note the slightly different text and the addition of a link to the Mozilla Privacy Policy.

- [ ] We can now also the footer text "We use Stripe for credit card processing. For more information see their Privacy Policy."

[2016-01-19 21:24] lovegushwa commented on #1108
Much of this work is now happening over here:
https://github.com/MozillaFoundation/encryption_campaign/issues/39

We're building 4 templates, but starting with video first since video is crucial to launching beat 1.

[2016-01-21 22:42] #1165 closed

[2016-01-22 18:54] lovegushwa commented on #1108
Now moved to MozillaFoundation/encryption_campaign#39

[2016-01-22 18:54] #1108 closed

[2016-01-25 15:46] #1026 closed

[2016-01-25 22:46] jbuck commented on #1207
@ScottDowne looks like we need to make some changes

[2016-01-25 22:56] jbuck commented on #1253
@ftbastler Thanks for filing this bug!

@ScottDowne I think this is a bug that exists with other locales too - Can we add this to the list?

[2016-01-28 19:48] edrushka opened #1280 "Write copy for Thunderbird 'Standard' and 'With Context' flows"

[2016-01-28 19:56] edrushka opened #1281 "Create Thunderbird 'Standard' flow"
Create a version of the 'Standard' donation flow https://donate.mozilla.org/en-US/ for Thunderbird.

Copy being finalized in #1280

Assigning @alicoding but tagging @ScottDowne to provide support

[2016-01-28 19:56] edrushka commented on #1281
@davidascher do you want metrics for this?

[2016-01-28 20:00] edrushka opened #1282 "Create Thunderbird 'With Context' flow"
Create a version of the 'With Context' donation flow https://donate.mozilla.org/en-US/about/ for Thunderbird.

Copy being finalized in #1280

Assigning @alicoding but tagging @ScottDowne to provide support.

[2016-01-28 20:09] edrushka opened #1283 "Brand Thunderbird 'Standard' flow"
We're creating a version of the 'Standard' donation form https://donate.mozilla.org/en-US/ for Thunderbird. We need to brand this with a Thunderbird logo and colours.

Dev ticket is #1281
Copy ticket is #1280

cc-ing Cassie to assign once we have final copy.

[2016-01-28 20:24] edrushka opened #1285 "Brand Thunderbird 'With Context' flow"
We're creating a version of the 'With Context' donation form https://donate.mozilla.org/en-US/about/ for Thunderbird. We need to brand this with a Thunderbird logo and colours.

Dev ticket is #1282
Copy ticket is #1280

cc-ing Cassie to assign once we have final copy.

[2016-01-28 23:05] edrushka commented on #1280
Please try to keep close to the original wordcounts, if possible. We should also add a "Interested in making a major gift? Please Contact [email])

[2016-01-29 16:47] edrushka opened #1289 "Set up Exact Target list for Thunderbird donors"
We're creating some donation flows specifically for Thunderbird donations (see more [here.] (https://github.com/mozilla/donate.mozilla.org/issues?q=is%3Aopen+is%3Aissue+label%3AThunderbird)) We need to create an Exact Target group specifically for these people.

MoFo will relay messages from the Thunderbird point person so we don't need to set up any new accounts. These messages will be low freque

[2016-01-30 03:43] stephaniemcv commented on #1289
Unfortunately I don't think I can lead. If we're pulling people out of Stripe and PayPal then they need a Token from Basket before getting into ET, and I don't have the access or authorization to handle Basket yet.

[2016-02-01 18:59] edrushka commented on #1289
Do you know who has access?

[2016-02-01 19:11] valianttry commented on #1289
@edrushka when you say "MoFo will relay messages from the Thunderbird point person so we don't need to set up any new accounts. These messages will be low frequency." Does that mean we will be responsible for setting up and sending content provided by Thunderbird staff? And can you define "low frequency"? 1x a month or 3 x a year; etc?

[2016-02-01 19:18] edrushka commented on #1289
Yes, that's the plan at the moment. @davidascher may be able to estimate frequency.

[2016-02-01 19:31] valianttry commented on #1289
A couple of important things:
* The number of admins greatly increases risk to the list data, so Steph is working on protocols that will likely lead to a very tiny # of people with the ability to set up, test, and launch emails. This also means she takes on added responsibility for email launching by necessity.
* Small lists in the future with rare send frequency will likely NOT live in ExactTarge

[2016-02-02 16:43] davidascher commented on #1289
I'm open to other alternatives besides ET. We'd want some process to review
emails but that can be done out of band.

[2016-02-02 16:50] stephaniemcv commented on #1289
Knight Mozilla Open-News is now using MailChimp, just FYI

@edrushka The only two people I know who have access is Ben N. and Jess D. Both are probably going to be out of pocket for awhile, Ben's on a durable team and Jess is working on the CRM.

[2016-02-02 18:22] edrushka commented on #1283
Here's some Thunderbird assets: https://events.mozilla.org/portal/events/#category/1067

[2016-02-02 20:04] edrushka commented on #1289
@valianttry with our existing donation flow we could simply export a list of names and email addresses from Stripe for the Thunderbird team, correct?

@davidascher assuming that's possible, does it make sense for the Thunderbird team to own the emailing? They can choose which software they want to use (e.g. MailChimp), and put it through security review.

[2016-02-02 20:06] edrushka commented on #1281
@alicoding or @ScottDowne can you please give me a general idea of where this is at? When we get final copy from Gerv, how long will it take to set this up (not including the styling tweaks that Ricardo will suggest)?

@davidascher what sort of metrics do we need here?

[2016-02-02 20:48] ScottDowne commented on #1281
@edrushka I initially gave an estimate of a week to get this up, after design is done.

It'll take less than that if it's solid work, but I highly doubt we'll get solid time.

Also, I won't be the one doing the actual work, as I'll be on PTO during this.

[2016-02-02 20:56] alicoding commented on #1281
I don't know about the timing yet, but I have put some thought about this
and discussed with @jbuck briefly about the solution to this Thunderbird
donation flow. I'm not sure if it will be straightforward to just create
another page on the same repo since all of our API endpoints were made
specifically for EOY campaign, so about a week is reasonable for tech work,
but I would assume we will have t

[2016-02-02 21:54] edrushka commented on #1281
Thanks guys. Who is able to setup the Paypal Accounts, Stripe and ET basket?  @Jbuck? That seems like a distinct chunk of work we can do soonish.

[2016-02-02 23:54] rkent commented on #1280
Do I understand correctly that this is the original content that you would like the Thunderbird content to match:
"We are proudly non-profit, non-corporate and non-compromised. Thousands of people like you help us stand up for an open Web for all. We rely on donations to carry out our mission to keep the Web open and free. Will you give today?"

[2016-02-02 23:57] rkent commented on #1289
If Knight Mozilla Open-News currently uses MailChimp, I assume it passes security review once. What more is needed?

I would really like to avoid situations where we are asked to use some locked-down system that we have no real access to. That is a problem Thunderbird has throughout Mozilla at the moment, and it create enormous friction to getting things done. So if we could own the emailing that

[2016-02-03 00:03] edrushka commented on #1280
@rkent Yes. For the "with context" version (which is the version [here] (https://donate.mozilla.org/en-US/about/) that has the additional text on the side), it be great if the copy is close to that character count. That was we won't have to adjust the design too much to accommodate the new text.

Keep in mind that you can also tweak the text in the automatic "Thank You" email message that donors r

[2016-02-03 00:12] edrushka opened #1293 "Write copy for Thunderbird "Thank You" email"
People who make successful donations and provide their email address automatically receive a Thank You email receipt (image below).  Please provide the copy you'd like in this email.
cc @gerv @rkent

![thank you message](https://cloud.githubusercontent.com/assets/4515662/12768832/8be92b64-c9c7-11e5-9679-3dbce1aa786e.png)

[2016-02-03 01:04] rkent commented on #1293
What system is used to create this email?

[2016-02-03 03:38] davidascher commented on #1281
I don't think we need separate accounts as we're doing the accounting based
on URLs or campaign IDs.
On Feb 3, 2016 3:24 AM, "Erika Drushka" <notifications@github.com> wrote:

[2016-02-03 20:21] edrushka commented on #1293
@ScottDowne is this thank you email generated through Stripe?

[2016-02-03 20:24] edrushka commented on #1281
OK thanks for clarifying - I'm still trying to get my head around what needs to happen first.

If we're not setting up new accounts, @alicoding are there any blockers preventing you from getting started on this?

[2016-02-03 20:37] edrushka commented on #1289
@stephaniemcv @valianttry @davidascher  Does this seem like a reasonable solution: when the Thunderbird team wants to send an email, we generate a list of First Name, Last Name, Email address and Donation amount from Stripe and Paypal for them, and they handle the rest? (Note: I'm not familiar with how labour-intensive this exporting would be for our devs, so the frequency would have to be negotia

[2016-02-03 20:40] ScottDowne commented on #1293
@edrushka Not Stripe, it's our own thing.

Adding @jbuck

[2016-02-03 20:52] rkent commented on #1289
@edrushka: So if I understand correctly, Mozilla currently collects contact information from people who have donated (which is available from the payment providers, Paypal and Stripe) and then periodically sends emails to those people. Then you use an email marketing provider (Exact Target) that gets its data from, what, Salesforce? Mozilla must have some process in place to transfer data from Str

[2016-02-03 20:53] rkent commented on #1293
So what is the existing data flow from (Stripe, Paypal) into "our own thing" that generates the thank you email?

[2016-02-03 20:55] edrushka commented on #1289
^ I'll let @valianttry and @stephaniemcv clarify!

[2016-02-03 23:08] jbuck commented on #1293
@rkent I'll lay it out here:

1. Donor completes a donation via Stripe (we don't send customized emails for Paypal, which is something that I'd like to fix)
2. Stripe sends a webhook for the `charge.succeeded` event to [Sawmill](https://github.com/mozilla/sawmill/)
3. [Sawmill server](https://github.com/mozilla/sawmill/blob/4d18b661dc8deb30ce95ecf105835fbd0cb0e9e1/web/server.js#L79-L110) sends the

[2016-02-03 23:10] jbuck commented on #1281
We need to talk to Alex about how he currently splits out the Firebug donations for Paypal, and see if we can do the same for Stripe.

[2016-02-03 23:22] rkent commented on #1293
@jbuck That sounds like a one-time process. How then does the user contact information from Stripe and Paypal populate a database that can be used for contact with donors later (using some combination of Salesforce and ET)?

[2016-02-03 23:27] jbuck commented on #1293
We send a newsletter subscription to ET via [basket](http://basket.readthedocs.org/en/latest/newsletter_api.html#news-subscribe)

[2016-02-03 23:36] rkent commented on #1293
How is the basket message triggered? Somehow the data has to get from
Stripe/Paypal into basket. Since basket is a web service, something is
sending it a web request. What is that something?

On 2/3/2016 3:27 PM, Jon Buckley wrote:

[2016-02-04 09:09] gerv commented on #1293
Is the underlying confusion here that rkent thinks that everyone who makes a donation will get signed up to a mailing list, when in fact the sign-up-to-a-mailing-list part is a separate, optional form managed by Exact Target?

[2016-02-04 15:53] jbuck commented on #1293
Ah right, sorry. After the user makes the donation, they get redirected to https://donate.mozilla.org/thank-you/ where they can sign up for the newsletter via Basket

[2016-02-04 16:01] gerv commented on #1293
jbuck: We'd need a separate list for this one (people specifically interested in Thunderbird stuff). Will that be a problem?

Gerv

[2016-02-04 17:25] rkent commented on #1293
OK thanks, that clarifies things. I'm trying to understand all of the pieces, so that as we prepare text we understand what they will be used for.

[2016-02-04 18:10] edrushka commented on #1293
@rkent you may find the PDF's in the last comment helpful: https://github.com/MozillaFoundation/2015-fundraising/issues/23#issuecomment-123630737

Note that these are from 2014, but from a user perspective, it's still more or less the same. I'd be happy to meet and walk you through this if it would be helpful.

[2016-02-04 18:18] rkent commented on #1293
That's not a valid link (or it is hidden from me). Could you try to find
one that I can view, or email the PDF to me directly?

On 2/4/2016 10:10 AM, Erika Drushka wrote:

[2016-02-04 18:29] edrushka commented on #1293
Sure thing. Just emailed to the address associated with your GH account. You can reach me at erikad@mozillafoundation.org if that didn't work (I couldn't find you in the Moz phone book).

[2016-02-04 18:49] valianttry commented on #1293
FYI @rkent out-of-the box Stripe sends an automatic receipt to donors with the amount they donated -- but it was built primarily for carts / purchases. Stripe limits your ability to customize that email. We opted to build a separate flow in order to include legally required information about tax status; donor email for Qs etc.

[2016-02-04 19:01] rkent commented on #1293
So with your separate flow, does the donor also get the automatic
receipt from Stripe or did you suppress that?

BTW I've used Fastspring for my own purposes as a payment processor and
have been very satisfied with them, so I have a little experience myself
here (but of course with a volume a couple of orders of magnitude lower).

On 2/4/2016 10:49 AM, Andrea Wood wrote:

[2016-02-04 19:09] jbuck commented on #1293
We disabled the automatic Stripe receipt

On Thu, Feb 4, 2016 at 2:01 PM, R Kent James <notifications@github.com>
wrote:

[2016-02-04 23:41] adamlofting commented on #1205
If we get to this one day, let's keep it in context of this feedback too:
https://fundraising.mozilla.org/why-did-you-decide-to-donate-today/

[2016-02-09 17:34] gerv commented on #1280
@rkent: are you going to draft something up here?

[2016-02-09 18:10] rkent commented on #1280
Yes I will work on the details of the donation flow, including the
wording, this week.

On 2/9/2016 9:34 AM, Gervase Markham wrote:

[2016-02-11 04:56] davenz commented on #1280
I'll take a stab at the "With Context" wording for starters – 223 characters (230 for the original):

We're the leading open source cross-platform email and calendaring client, free for business and personal use. By donating you'll help ensure it stays that way and contribute towards future development. Will you give today?

[2016-02-11 19:07] edrushka commented on #1280
Thanks @davenz. @rkent @gerv are you both good to ship this copy? I'm a little unclear on who the final decision-maker is on your end.

[2016-02-11 19:08] rkent commented on #1280
No, we are not ready to ship this copy. I (rkent) am the decision maker.
I'm going to focus on these issue the rest of today.

On 2/11/2016 11:07 AM, Erika Drushka wrote:

[2016-02-11 22:41] rkent commented on #1281
I'm trying to understand all of these pieces, and see what I can do to move things forward.

As I understand it, this "Standard" flow starts from a site/snippet that has content that encourages the user to give. For Thunderbird, this would be the in-product start page https://www.mozilla.org/en-US/thunderbird/release/start/ (or the localized, version-specific version) which is a bedrock-hosted pag

[2016-02-11 23:30] rkent commented on #1280
![mozilladonatestandardflow](https://cloud.githubusercontent.com/assets/1297827/12994121/183bde9c-d0d3-11e5-9fc3-06ec23cc4d48.png)

Here are my notes of changes needed from the Mozilla standard flow.
1. We should use a Thunderbird-specific logo rather than the generic Mozilla logo. How about this: https://assets.mozilla.org/portal/assets/#asset/284
2. We should have a custom FAQ for the Thunderbir

[2016-02-11 23:31] rkent commented on #1280
Assuming that these comments are accepted, then we need tasks to deal with each of these specific issues. What else can I do to move this particular page forward?

[2016-02-11 23:38] rkent commented on #1281
See my comments on #1280 where I proposed specific changes to this page.

[2016-02-11 23:51] rkent commented on #1280
Thanks @davenz for the suggested wording. It makes me realize that we need to think through more carefully what we are trying to say. I assume that this page, the "with context", would be where someone would land if there was a simple link on another page, that said something simple like "donate to Thunderbird".

We need to make clear in the text:

1. The donation will be to a designated fund in M

[2016-02-12 00:24] rkent commented on #1280
Here's my first draft of the With Context text. Comments?

"Thunderbird is Free Software, but we still have costs. We'll use donations will help maintain and improve Thunderbird. If you subscribe to our donors list, you can help guide priorities for the future. Will you give today?"

[2016-02-12 00:50] rkent commented on #1280
More on Note 2: I copied the Mozilla donate FAQ page in the wiki to a new link: https://wiki.mozilla.org/Thunderbird/Donate  Is it OK if we modify that page as a Thunderbird customized donate FAQ, and use it as the target of the FAQ in the donate.mozilla.org page for Thunderbird?

[2016-02-12 01:10] edrushka commented on #1280
Agree. We have a designer on hand who can give these pages a more Thunderbird feel. It's important donors understand they are giving to TB and not Mozilla. Tickets already filed: #1283 and #1285

Agree - there should be a separate TB FAQ. Customizing the Donate FAQ works for me. We can link to the TB-specific FAQ from the Donate FAQ as you suggested.

Yes, we can have a separate email but the TB t

[2016-02-12 01:50] edrushka commented on #1281
@davidascher - can you please respond to @rkent's question about a donate campaign bedrock page.

Yes, @rkent you are correct that anyone redirected from a source with context will go to the standard flow and links without context go to the "with context" flow that has the additional text.

This task, what we call the "flow", is the donate page and automatic Stripe & Paypal messages:
- a [donate f

[2016-02-12 01:50] edrushka commented on #1289
@valianttry and @stephaniemcv - pinging again as we'll have to clarify this in order for the TB team to set up their own solution.

[2016-02-12 02:26] valianttry commented on #1289
Your description isn't quite correct.

We do not automatically opt all donors into our email list (that violates our privacy policy). Instead, we redirect donors to a Thank You page that invites them to sign up immediately after they submit their donation information. Here is what that page looks like: https://donate.mozilla.org/en-US/thank-you/

On average, 18% of people who donate also opt in to

[2016-02-12 17:09] rkent commented on #1289
@valianttry Right I understood that there is an opt-in step, but my description was not very clear.

[2016-02-12 22:13] rkent commented on #1280
Bug for address thunderbird-donate@mozilla.org for use with "Send us an email": 1248060

[2016-02-12 22:23] rkent commented on #1280
@edrushka re "Yes. Please go ahead and file a ticket with legal. We'll swap in whatever wording they suggest." I could not figure out a way to do this. Would you mind doing this? (Even a Mozilla directory is above my pay grade :( )

[2016-02-12 22:26] edrushka commented on #1280
@rkent - I'll see what I can do! :)

[2016-02-12 22:31] edrushka opened #1322 "Clear language with legal for Thunderbird"
Currently, the text on the donate page reads: "Contributions go to the Mozilla Foundation, a 501(c)(3) organization, to be used in its discretion for its charitable purposes."

For the Thunderbird-specific donate pages, this needs to indicate the funds are going to Thunderbird.

@davidascher I'm assigning this to you to flag with legal.

[2016-02-12 22:51] rkent commented on #1293
Here is copy for the text:

Thunderbird is the leading open source cross-platform email and calendaring client, free for business and personal use. By donating you've helped ensure it stays that way and contributed towards future development. Every gift is so important. On behalf of all of us, thank you so much for your donation to Mozilla Thunderbird.

- The Thunderbird Team

Also, changes from t

[2016-02-12 22:52] rkent commented on #1280
@davenz I mostly used your laguage in the Thank You email here: https://github.com/mozilla/donate.mozilla.org/issues/1293#issuecomment-183516898

[2016-02-12 22:54] edrushka commented on #1293
:ok_hand:  I think we're ready to hand this over to the dev, @rkent. Hopefully we can get something up on staging this heartbeat (by Feb 26). Thanks for getting all this copy together!

[2016-02-15 05:20] wsmwk commented on #1293
Suggest modify "By donating you've helped ensure it stays that way and contributed towards future development." to "By donating, you've contributed towards product development, and helped ensure Thunderbird stays free and open."

[2016-02-15 05:34] wsmwk commented on #1281
This, #1280 and others make sense to me. I'll wait to see draft/staging before commenting further, unless kent needs me to check something specific before then.

[2016-02-15 05:39] davenz commented on #1293
That results in a double-up on the words "open" and "free", when all put together.

[2016-02-15 05:48] wsmwk commented on #1293
Agree, the repetition may be substandard writing style.  But I dislike the use of "that way" as a means of emphasis because it is somewhat confusing/non-specific, and the change does emphasize what seems to be important points.  Doesn't seem to overbearing to me. But I defer to Kent.

[2016-02-15 20:49] davidascher commented on #1322
I asked abigail.

[2016-02-15 22:16] edrushka commented on #812
cc-ing @sabrinang for reference

[2016-02-16 00:15] rkent commented on #1293
How's this for a compromise:

Thunderbird is the leading open source cross-platform email and calendaring client. By donating, you've contributed towards product development, and helped ensure Thunderbird stays free and open. Every gift is so important. On behalf of all of us, thank you so much for your donation to Mozilla Thunderbird.

[2016-02-16 04:00] abigailphillips commented on #1322
Is Thunderbird now a project of MoFo? In other words, will MoFo be receiving the Thunderbird funds?

[2016-02-16 04:14] davidascher commented on #1322
Yes, MoFo will be receiving (& disbursing) the Thunderbird funds.

On Mon, Feb 15, 2016 at 8:00 PM abigailphillips <notifications@github.com>
wrote:

[2016-02-16 04:29] abigailphillips commented on #1322
I'd include language along the lines of: "Contributions go to the Mozilla Foundation, a 501(c)(3) organization, to support Thunderbird." Or "Mozilla Thunderbird", or whatever it is officially called. But please send mocks of the flow when you have them in case this should look different in the context. Thanks.

[2016-02-16 16:12] jbuck commented on #362
This is required for the Thunderbird donation flow, since the Thunderbird team doesn't have access to Stripe.

[2016-02-16 16:51] edrushka commented on #1322
Thanks @abigailphillips! I'll ping you when we have something to look at on staging.

@rkent what's the official name? Thunderbird or Mozilla Thunderbird?

[2016-02-16 16:54] davidascher commented on #1322
Legally I believe it's Mozilla Thunderbird.

On Tue, Feb 16, 2016 at 8:51 AM Erika Drushka <notifications@github.com>
wrote:

[2016-02-16 17:58] rkent commented on #1322
Yes I would use Mozilla Thunderbird in any official language such as this.

[2016-02-16 18:33] edrushka commented on #1322
OK. We'll use:

Contributions go to the Mozilla Foundation, a 501(c)(3) organization, to support Mozilla Thunderbird.

[2016-02-16 18:33] #1322 closed

[2016-02-18 16:33] valianttry opened #1334 "Impact of L10N on the fundraising campaign"
Hi @adamlofting --

Theo on the L10N team reached out to me by email. He inquired about how we can celebrate the impact of localization on our EOY fundraising campaign. Have you had any time to do analysis on how adding currencies + localizing testing impacted our revenue? Would this be something you could get to anytime soon? I think it would be an incredibly useful analysis, and prove some of ou

[2016-02-18 16:48] adamlofting commented on #1334
I'm probably not going to spend time on this this heartbeat, but in that email Theo already had the data and was checking it was ok to talk about it. I'll reply to say that's fine.

We can save the rest of this task for the new hire once that role gets approved. It will be a good chance for that person to get up to speed with our data.

[2016-02-18 21:16] alicoding commented on #1281
I just spoke to Alex about how should we do this for PayPal and Stripe and his suggestion was to tag Thunderbird with the description field that we send to PayPal and Stripe which will help us filter out to see the contribution specifically to Thunderbird only and we can use the same account for both current donate.mozilla.org

[2016-02-20 00:49] valianttry commented on #1289
Just checking back in on this. Managing this list for Thunderbird in ExactTarget would be more challenging than if we simply redirected donors to an optin solution that the Thunderbird team manages, such as ConstantContact signup form.

Fundamental question: Are we firm on setting Thunderbird's list up in ExactTarget? That requires another layer of dev and data management pieces (we will need to c

[2016-02-20 00:53] valianttry commented on #1289
Just to clarity @rkent we don't transfer any data from Stripe or PayPal to ExactTarget. When a user submits the optin form data, it is sent directly into ExactTarget.

[2016-02-22 18:41] rkent commented on #1289
My expectation is that "simply redirected donors to an optin solution that the Thunderbird team manages" is what we will do. I have setup a Mailchimp account and maillist for that purpose, as I understand that Mozilla uses Mailchimp for some other groups.

As for details, it looks like your "Thank you" page above also collects the email address for the optin list. Instead of a Mozilla hosted  "Tha

[2016-02-24 00:25] edrushka opened #1345 "File a vendor review for Mail Chimp"
Mail Chimp has not been through a Mozilla vendor security review. Need to do this before the Thunderbird team considers using it. I will file the bug since I'm not sure @rkent has access.

Bug here: https://bugzilla.mozilla.org/show_bug.cgi?id=1250726

Flagging that this may become a blocker to the overall project.

cc @davidascher

[2016-02-24 01:00] rkent commented on #1345
Please cc me on that bug.

On February 23, 2016 4:33:34 PM PST, Erika Drushka <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2016-02-24 17:01] edrushka commented on #1345
Done. Let me know if you can't access it.

[2016-02-24 17:55] rkent commented on #1345
No I still cannot see it. Can you confirm that rkent@caspia.com is the
account that is cc'd?

On 2/24/2016 9:01 AM, Erika Drushka wrote:

[2016-02-24 18:10] edrushka commented on #1345
Try now. I might have done a bad copy/paste.

[2016-02-24 18:14] rkent commented on #1345
Yes that worked. Thanks.

On 2/24/2016 10:10 AM, Erika Drushka wrote:

[2016-02-25 19:09] edrushka commented on #1345
On second thought, this will not block the overall project. The TB team can still accept donations. They simply may not be able to email the list right away (using Mailchimp, anyways).

[2016-02-25 19:11] rkent commented on #1345
If there is anything else that is blocking the project that is waiting
on me, please ping me. I really want this to move forward.

On 2/25/2016 11:09 AM, Erika Drushka wrote:

[2016-02-25 19:13] edrushka commented on #1345
Nope, no blockers at this time @rkent. And in fact, the dev and designer are working on this right this minute :) I hope to post their mockup in the next couple days. Link on staging should hopefully follow shortly after.

[2016-02-26 05:58] davenz commented on #1293
Sorry about the delay – I think the compromise reads fine.

[2016-03-01 17:21] edrushka commented on #1283
![simple](https://cloud.githubusercontent.com/assets/1119821/13359668/6cd90f72-dc83-11e5-8700-cad3ff91948f.png)

@Rkent - how does this look?

[2016-03-01 17:25] edrushka commented on #1285
![k_93bnfx9rke7vack3hjxd5eqbnzxs1rhqf0kgoc6kc](https://cloud.githubusercontent.com/assets/4515662/13435499/813146ec-df8f-11e5-9d94-04b90d1cedc0.png)

@Rkent what do you think?

[2016-03-01 17:45] edrushka opened #1357 "Style the Thank You/Email Signup page for Thunderbird"
Style this page for the Thunderbird flow (this will be used for both the Standard and With Context donate pages).

I suggest:
1) Add the blue background
2) Replace the heart with the TB logo
3) Remove the connected globe graphic
4) Change the header copy to "From the Thunderbird team, Thank You "
5) Change the body copy to "Sign up to receive email updates on Thunderbird."
6) Change privacy notice

[2016-03-01 18:04] rkent commented on #1357
1) The main text should be changed, "open web" is Firefox-speak. To keep it simple, how about "We're working hard to protect your inbox."

2) "the non-profit organization behind Thunderbird" not Firefox.

[2016-03-01 19:26] edrushka commented on #1357
@rkent - how's this for copy:

Header: From the Thunderbird team, Thank You
Body: We're working hard to protect your inbox. Sign up to receive email updates on Thunderbird.
Privacy notice: I'm OK with Thunderbird handling my info as explained in this privacy policy. [link to the TB-specific policy here https://www.mozilla.org/en-US/privacy/thunderbird/]

As for the footer, if we change the footer

[2016-03-01 19:30] edrushka commented on #1357
Also, rkent: confirming that you're ok with donors from *all* locales hitting this page after they donate.

[2016-03-01 20:20] rkent commented on #1357
On locales: How do you usually handle localization? Will any of the flow that we have been talking about be localized?

I'm also not really satisfied with "Sign up to receive email updates on Thunderbird". More so than with Firefox, the intent of the list will be to get non-binding guidance from our donors about the direction of Thunderbird, including how donations are used.

How about this change